{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Codes
{% endblock title %}

{% set MU = 'code' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('code') }}">Code</a>
    <span class="link">Code History</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-list-alt"></i>
    Code History
{% endblock %}

{% block Body %}

    <div class="span">
        <div class="widget stacked ">


            <div class="widget-content">

                <div class="tablediv">
                    <div class="contenttitle">
                        <h4>Code Info</h4>
                    </div>
                    <div class="tab-content">
                        <table style="margin-top: 20px" class="table postsend">
                            <thead>
                            <tr>

                                <th>item</th>
                                <th>type</th>
                                <th>serialNo</th>
                                <th>status</th>
                                <th>Production</th>
                                <th>Expiry</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td style="font-weight: bold" >{{ code.item.itemName }}</td>
                                <td style="font-weight: bold" >{% if code.item.itemType==0 %} Mobile {% elseif code.item.itemType==1 %} Internet {% elseif code.item.itemType==2 %} Tel {% endif %}</td>
                                <td style="font-weight: bold" >{{ code.serialNumber }}</td>
                                <td style="font-weight: bold" >{% if code.status==1 %} Active {% else %} Inactive {% endif %}</td>
                                <td></td>{#<td style="font-weight: bold" >{{ code.input.dateProduction|date('Y/m/d') }}</td>#}
                                <td></td>{#<td style="font-weight: bold" >{{ code.input.dateExpiry|date('Y/m/d') }}</td>#}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>

                    <div class="tablediv" >
                        <div class="contenttitle">
                            <h4>Code History</h4>
                        </div>
                        <div class="tab-content" >
                            <table style="margin-top: 20px" class="table postsend">
                                <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Item Name</th>
                                    <th>serialNumber</th>
                                    <th>PinCode</th>
                                    <th>ExpiryDate</th>
                                    <th>Status</th>
                                    <th>Provider</th>
                                    <th>Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                {#{% for code in pagination %}#}
                                {#<tr>#}
                                {#<td><input type="checkbox"/></td>#}
                                {#<td>{{ code.Item.itemName }}</td>#}
                                {#<td>{{ code.serialNumber }}</td>#}
                                {#<td>{{ code.pin }}</td>#}
                                {#<td>{{ code.Input.dateExpiry|date('Y/m/d') }}</td>#}
                                {#<td>{{ code.status }}</td>#}
                                {#<td>{{ code.Input.Account.accName }}</td>#}
                                {#<td>#}
                                {#<a href="#" class="btn btn-warning">History</a>#}
                                {#</td>#}
                                {#</tr>#}
                                {#{% endfor %}#}
                                </tbody>
                            </table>
                        </div>

                    </div>
                <div class="navigation" style="text-align: center">
                    {#{{ knp_pagination_render(pagination) }}#}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
