{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Codes
{% endblock title %}

{% set MU = 'code' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Code</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-list-alt"></i>
    Code Management
{% endblock %}

{% block Body %}

    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">

                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search"></p>
                        </span>
                    </h5>

                    <form class="form-horizontal SearchForm" action="#" method="post" {{ form_enctype(form) }}>
                        <fieldset>
                            <div class="control-group">
                                {{ form_label(form.provider) }}
                                <div class="controls">
                                    {{ form_widget(form.provider) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(form.item) }}
                                <div class="controls">
                                    {{ form_widget(form.item) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(form.inputFileName) }}
                                <div class="controls">
                                    {{ form_widget(form.inputFileName) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(form.fromserial) }}
                                {{ form_widget(form.fromserial,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'} }) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.toserial) }}
                                {{ form_widget(form.toserial,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'} }) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.status) }}
                                <div class="controls">
                                    {{ form_widget(form.status) }}
                                </div>
                            </div>
                            <div class="control-group datepicker1">
                                {{ form_label(form.frominsertdate) }}

                                    {{ form_widget(form.frominsertdate) }}

                            </div>
                            <div class="control-group datepicker3">
                                {{ form_label(form.toinsertdate) }}

                                {{ form_widget(form.toinsertdate) }}

                            </div>
                            <div class="control-group datepicker2">
                                {{ form_label(form.fromexpiredate) }}

                                    {{ form_widget(form.fromexpiredate) }}

                            </div>
                            <div class="control-group datepicker4">
                                {{ form_label(form.toexpiredate) }}

                                {{ form_widget(form.toexpiredate) }}

                            </div>
                            {{ form_rest(form) }}
                            <hr>
                            <input type="hidden" name="page" id="search_page" value="1"/>
                            <input class="btn btn-primary" type="submit" value="Search">
                        </fieldset>
                    </form>
                    <script type="text/javascript">
                        $(function () {

                            Form_Search({{ first }},"Search Code");

                        });
                    </script>

                </div>
                <div class="tablediv">

                    <div class="contenttitle">
                        <h4>Codes (Quantity: {{ count }})</h4>
                    </div>
                        <div class="tab-content">
                            <table style="margin-top: 20px"
                                   class="table table-bordered table-striped table-highlight postsend">
                                <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>serialNumber</th>
                                    <th>ExpiryDate</th>
                                    <th>Status</th>
                                    <th>Provider</th>
                                    <th>Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if  not first %}
                                {% for code in pagination %}
                                    <tr>
                                        <td>{{ code.Item.itemName }}</td>
                                        <td>{{ code.serialNumber }}</td>
                                        <td>{{ code.Input.dateExpiry|date('Y/m/d') }}</td>
                                        <td>{% if code.status==1 %}Available{% elseif code.status==0 %}Not Available{% else %}Removed{% endif %}</td>
                                        <td>{{ code.Input.Account.accName }}</td>
                                        <td>
                                            <a href="{{ path('code_history',{'id':code.id}) }}" class="btn_actions">History</a>
                                            <br/>
                                            {% if code.status==0 %}
                                                <a href="{{ path('code_creditnote',{'id':code.id}) }}" header="Alert" message="Are you sure to Credit Node the code?" class="YesNoMessage btn_actions">Credit Note</a>
                                            {% elseif code.status==1 %}
                                                <a href="{{ path('code_deadbeat',{'id':code.id}) }}" header="Alert" message="Are you sure to Dead Beat the code?" class="YesNoMessage btn_actions">Dead Beat</a>
                                            {% endif %}
                                            <br/>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                </div>
                <div class="navigation" style="text-align: center">
                    {% if  not first %}
                    {{ knp_pagination_render(pagination) }}
                    {% endif %}
                </div>
                <br/>
            </div>
        </div>
    </div>


{% endblock %}
