{% extends "HelloDiCoreBundle::Main0.html.twig" %}

{% block title %}Error{% endblock title %}

{% block bodywidth %}login{% endblock %}

{% block header %}Error{% endblock %}

{% block MoreMenu %}
    <li class="dropdown">
        <a style="font-size: 16px" href="{{ path('hellodi_index_page') }}" id="user_info" class="dropdown-toggle">
            <span id="user_title_menu" style="display: block">
               {{ 'Home'|trans({}, 'menu') }}
            </span>
        </a>
    </li>
{% endblock %}

{% block fos_user_content %}
    <div style="vertical-align: middle">
        <img style="margin: 10px" alt="Exception detected!" src="{{ asset('bundles/hellodi/img/notifications/alert-48.png') }}"/>
        <span style="font-weight: bold;font-size: 18px">{{ 'Oops!_An_Error_Occurred'|trans({},'exception') }}. 404</span>
    </div>
    <div style="font-size: 16px; margin: 20px 0">
        {{ 'Something_is_broken._Please_email_us_at_[email]_and_let_us_know_what_you_were_doing_when_this_error_occurred._We_will_fix_it_as_soon_as_possible._Sorry_for_any_inconvenience_caused'|trans({},'exception') }}
        .
    </div>
    <div class="login_remind">
        <a href="javascript:history.go(-1)" class="btn btn-info">Back</a>
    </div>
{% endblock fos_user_content %}