<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body{
            margin:0;
            font-size:14px;
        }
        .table{
            width:100%;
            border-spacing:0;
        }
        .table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{
            border-top:0
        }
        .table th,.table td{
            padding:8px;
            line-height:20px;
            text-align:left;
            vertical-align:top;
            border-top:1px solid #999;
            page-break-inside: avoid;
        }
        .table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{
            background-color:#f9f9f9
        }

        .table-bordered {
            border: 1px solid #999;
            border-collapse: separate;
            *border-collapse: collapse;
            border-left: 0;
        }

        .table-bordered th,
        .table-bordered td {
            border-left: 1px solid #999;
        }

        .table-bordered caption + thead tr:first-child th,
        .table-bordered caption + tbody tr:first-child th,
        .table-bordered caption + tbody tr:first-child td,
        .table-bordered colgroup + thead tr:first-child th,
        .table-bordered colgroup + tbody tr:first-child th,
        .table-bordered colgroup + tbody tr:first-child td,
        .table-bordered thead:first-child tr:first-child th,
        .table-bordered tbody:first-child tr:first-child th,
        .table-bordered tbody:first-child tr:first-child td {
            border-top: 0;
        }
    </style>

</head>
<body>
{% for ret in retailers %}
    <div style='font-size:14px;float:right;border:1px solid #999;width:7cm;padding:3px'>
        <b>{{ 'Retailer_Details' | trans ({}, "print") }}</b><br/>
        {{ 'AccountName' | trans ({}, "accounts") }}: {{ ret.AccName }}<br/>
        {{ 'Balance' | trans ({}, "accounts") }}: {{ ret.AccBalance }}<br/>
        {{ 'Currency' | trans ({}, "accounts") }}: {{ ret.AccCurrency }}<br/>
    </div>
    <div style="clear: both"></div>
    <table class="table table-striped" style="margin: 1cm 0">

        <thead>
        <tr>
            <th>Item Code</th>
            <th>{{ 'Item' | trans ({}, "item") }} ({{ 'Name' | trans ({}, "common") }} &{{ 'FaceValue' | trans ({}, "item") }} )</th>
            <th>{{ 'Quantity' | trans ({}, "transaction") }}</th>
            <th>{{ 'Vat' | trans ({}, "vat") }}</th>
            <th>{{ 'BuyingPrice' | trans ({}, "price") }}</th>
            <th>{{ 'Discount' | trans ({}, "print") }}</th>
            <th>{{ 'Total' | trans ({}, "print") }}</th>
        </tr>
        </thead>

        <tbody>
        {% set sumprice=0 %}
        {% for Tr in pagination %}
            {% if Tr.TR.Account.id == ret.id %}
            <tr>
                <td>{{ Tr.TR.Code.Item.itemCode }}</td>
                <td>{{ Tr.TR.Code.Item.itemName }} {{ Tr.TR.Code.Item.itemFaceValue }}</td>
                <td>{{ Tr.Quantity }}</td>
                <td>{{ Tr.TR.TaxHistory.id}}</td>
                <td>{{ Tr.TR.tranAmount|abs }}
                    {% set sumprice=sumprice+( Tr.TR.tranAmount|abs) %}
                </td>
                <td>
                    {% set com=render(controller('HelloDiDiDistributorsBundle:Account:GetCom', { 'id':Tr.TR.id  }))   %}
                    {{ com }}
                </td>
                <td>{{ (Tr.TR.tranAmount * Tr.Quantity)|abs }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>

    </table>
    <table class="table table-bordered" style='font-size:14px;float:right;width:7cm'>
        <tbody>
        <tr>
            <td style="width: 3cm">{{ 'Nett' | trans ({}, "print") }}</td>
            <td>{{ sumprice }} {{  pagination[0].TR.Account.accCurrency  }}</td>
        </tr>
        <tr>
            <td>{{ 'VAT_@_0.00' | trans ({}, "print") }}%</td>
            <td>
                {% set a=[] %}{% set sumvat=0 %}
                {% for Tr in pagination %}
                    {% set a=[Tr.TR.TaxHistory.id] %}
                    {% set sumvat=sumvat+CalcVatFormula.Calc(Tr.TR.tranAmount|abs,Tr.TR.TaxHistory.vat) %}
                {% endfor %}
                {{ sumvat }} {{  pagination[0].TR.Account.accCurrency  }}
            </td>
        </tr>
        <tr>
            <td>{{ 'Total_to_Pay' | trans ({}, "print") }}</td>
            <td>
                {{ sumprice-sumvat }} {{  pagination[0].TR.Account.accCurrency  }}
            </td>
        </tr>
        </tbody>
    </table>
    <div style='font-size:14px;float:left;border:1px solid #999;width:6.5cm;padding:.25cm;margin-bottom: .5cm'>
        {{ 'Condition' | trans ({}, "print") }}: <br/>
        {{ 'Printed' | trans ({}, "print") }}: {{ "now"|date("Y/m/d") }}
    </div>
    <div style="clear: left"></div>
    <table class="table table-bordered" style='font-size:14px;float:left;width:7cm;'>
        <thead>
        <tr>
            <th>{{ 'VATCode' | trans ({}, "print") }}</th>
            <th>{{ 'VAT' | trans ({}, "vat") }} %</th>
        </tr>
        </thead>
        <tbody>
        {% set a=[] %}
        {% for Tr in pagination %}
            {% if Tr.TR.TaxHistory.id not in a %}
            <tr>
                <td>{{ Tr.TR.TaxHistory.id}}</td>
                  {% set a=[Tr.TR.TaxHistory.id] %}
                <td>{{ Tr.TR.TaxHistory.vat}}</td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <div style="clear: both;page-break-after: always"></div>
{% endfor %}
</body>
</html>