<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body{
            margin:0;
            font-size:14px;
        }
        .table{
            width:100%;
            border-spacing:0;
        }
        .table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{
            border-top:0
        }
        .table th,.table td{
            padding:8px;
            line-height:20px;
            text-align:left;
            vertical-align:top;
            border-top:1px solid #ddd;
        }
        .table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{
            background-color:#f9f9f9
        }
        table tr{
            page-break-inside: avoid;
            page-break-after: auto;
        }
    </style>

</head>
<body>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>{{ 'Account_ID' | trans ({}, "print") }}</th>
                <th>{{ 'Retailer' | trans ({}, "accounts") }}({{ 'Entity' | trans ({}, "entity") }})</th>
                <th>{{ 'TotalPurchase' | trans ({}, "print") }}</th>
                <th>{{ 'VAT' | trans ({}, "vat") }}</th>
                <th>{{ 'Revenues' | trans ({}, "print") }}</th>
            </tr>
        </thead>

        <tbody>
        {% for Tr in pagination %}
            <tr>
                <td>{{ Tr.TR.Account.id }}</td>
                <td>{{ Tr.TR.Account.accName}}({{ Tr.TR.Account.Entiti.entName }})</td>
                <td>{{ (Tr.TR.tranAmount * Tr.Quantity)|abs }}</td>
                <td>

                    {% set vat=Tr.TR.TaxHistory.vat %}
                    {% set x=Tr.TR.tranAmount|abs %}

                    {{ (x/(100+vat)*vat) }}

                </td>
                <td>{{ Tr.TR.Code.Item.itemFaceValue * Tr.Quantity}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</body>
</html>