
<a href="#{#{{ path('') }}#}">Recharge</a>
<form action="{{ path('DistSale') }}" method="POST">


    <div class="control-group">
        {{ form_label(form.DateStart) }}
        {{ form_widget(form.DateStart) }}
    </div>
    <div class="control-group">
        {{ form_label(form.DateEnd) }}
        {{ form_widget(form.DateEnd) }}
    </div>

    <div class="control-group">
        {{ form_label(form.ItemType) }}
        {{ form_widget(form.ItemType) }}
    </div>
    <div class="control-group">
        {{ form_label(form.ItemName) }}
        {{ form_widget(form.ItemName) }}
    </div>

    <div class="control-group">
        {{ form_label(form.Account) }}
        {{ form_widget(form.Account) }}
    </div>


    <div class="form-actions" style="margin-bottom: 0" >
        <input class="btn btn-primary" type="submit"  value="Search">
    </div>
</form>
                <form>
                    <div class="tab-content">
                        <table style="margin-top: 20px" class="table postsend">
                            <thead>
                                <tr>
                                    <th>{{ 'Transaction.Date' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Item' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.FaceValue' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Buying Price' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Retailers' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Serial Number' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Seller' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Vat' | trans ({}, "account") }}</th>

                                </tr>
                            </thead>
                            <tbody>

                            {% for co in pagination %}

                                <tr>

                                    <td>{{ co.Transactions[0].tranDate|date('y-M-d') }}</td>
                                    <td>{{ co.Item.itemName}}</td>
                                    <td>{{ co.Item.itemFaceValue}}</td>
                                    <td>{{ co.Item.Prices[0].price }}</td>
                                    <td>{{ co.Transactions[0].Account.accName }}</td>
                                   {#// <td>{{ co.Transactions[0].Prices[0].price }}</td>#}
                                    <td>{{ co.serialNumber }}</td>
                                    <td>{{ co.Transactions[0].User.username }}</td>
                                    <td>{{ co.Transactions[0].User.Entiti.entVatNumber }}</td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        {#{button pagination}#}
                    </div>
                </form>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
