{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailerMaster.html.twig' %}

{% set tab2 = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributor</a>
    <a class="link" href="{{ path('ManageDistChildren',{'id':Account.id}) }}">Retailer</a>
    <a class="link" href="">Users</a>
    <span class="link">Add User</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>Add User</h3>
    </div> <!-- /widget-header -->
    <br>



    <form class="form-horizontal" action="{{ path('Master_RetailerUserAdd',{'id':retailerAccount.id}) }}" method="post" >

        <div class="control-group">
            {{ form_errors(form.firstname) }}
            {{ form_label(form.firstname) }}
            <div class="controls money">
                {{ form_widget(form.firstname) }}
                <span class="icon-certificate"></span>
            </div>
        </div>

        <div class="control-group">
            {{ form_errors(form.lastname) }}
            {{ form_label(form.lastname) }}
            <div class="controls money">
                {{ form_widget(form.lastname) }}
                <span class="icon-certificate"></span>
            </div>
        </div>
        <div class="control-group">
            {{ form_errors(form.username) }}
            {{ form_label(form.username) }}
            <div class="controls money">
                {{ form_widget(form.username) }}

            </div>
        </div>

        <div class="control-group">
            {{ form_errors(form.mobile) }}
            {{ form_label(form.mobile) }}
            {{ form_widget(form.mobile) }}
        </div>

        <div class="control-group">
            {{ form_errors(form.email) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div class="control-group">
            {{ form_errors(form.enabled) }}
            {{ form_label(form.enabled) }}
            <div class="controls money">
                {{ form_widget(form.enabled) }}
                <span class="icon-certificate"></span>
            </div>
        </div>

        <div class="control-group">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_label(form.plainPassword.first) }}
            <div class="controls money">
                {{ form_widget(form.plainPassword.first) }}
                <span class="icon-certificate"></span>
            </div>
        </div>

        <div class="control-group">
            {{ form_errors(form.plainPassword.second) }}
            {{ form_label(form.plainPassword.second) }}
            <div class="controls money">
                {{ form_widget(form.plainPassword.second) }}
                <span class="icon-certificate"></span>
            </div>
        </div>

        <div class="control-group">
            {{ form_errors(form.language) }}
            {{ form_label(form.language) }}
            <div class="controls money">
                {{ form_widget(form.language) }}
                <span class="icon-certificate"></span>
            </div>
        </div>
        <div class="control-group">
            {{ form_errors(form.roles[0]) }}
            {{ form_label(form.roles[0]) }}


            <div class="controls money">
                <div class="controls money">
                    {{ form_widget(form.roles[0]) }}
                </div>
                <span class="icon-certificate"></span>
            </div>
        </div>


        {{ form_widget(form._token) }}

        <div class="form-actions" style="margin-bottom: 0" >
            <input class="btn btn-primary" type="submit"  value="Create">
            <a href="javascript:history.go(-1)" class="btn">Cancel</a>
        </div>

    </form>


{% endblock %}