{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailerMaster.html.twig' %}
{% set tab2 = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributor</a>
    <a class="link" href="{{ path('ManageDistChildren',{'id':Account.id}) }}">Retailer</a>

    <span class="link">Items</span>
{% endblock Site_Map %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}


{% block Tab %}
    <div class="widget-header">
        <h3>Items</h3>
    </div> <!-- /widget-header -->
    <br>
    <a class="button btn btn-primary btn-large" href="{{ path('Master_RetailerItemAdd',{'id':retailerAccount.id}) }}"
            >Add New Item</a>
    <div style="margin-top: 5px" class="tablediv">
        <form method="post">
            <div class="tab-content datatable">
                <table id="example" class="table postsend">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>faceValue</th>
                        <th>type</th>
                        <th>Price(Currency)</th>
                        <th>Manage</th>
                    </tr>

                    <tr class="input" >
                        <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                        <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
                        <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                        <td><input type="text" name="search_Type" value="Search Type" class="search_init" /></td>
                        <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                        <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                    </tr>

                    </thead>
                    <tbody>
                    {% for price in prices %}
                        <tr>
                            <td>{{ price.item.id }}</td>
                            <td>{{ price.item.itemName }}</td>
                            <td>{{ price.item.itemFaceValue }}</td>
                            <td>{% if price.item.itemType==0 %}Mobile{% elseif price.item.itemType==1 %}Internet{% else %}Tel{% endif %}</td>
                            <td>{{ price.price }}
                                {{ price.priceCurrency }}</td>
                            <td>
                                <a class="btn_actions" href="{{ path('Master_RetailerItemEdit',{'id':retailerAccount.id,'priceid':price.id}) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>


{% endblock %}