{% set parent = '' %}
{% if is_granted('ROLE_RETAILER') %}
    {% set parent = 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}
{% elseif is_granted('ROLE_DISTRIBUTOR') %}
    {% set parent = 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}
{% elseif is_granted('ROLE_MASTER') %}
    {% set parent = 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}
{% endif %}

{% extends parent %}

{% block title %}
      {{ 'Profile'|trans({},'user') }}
{% endblock title %}

{% set MU = 'home' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home'|trans({},'menu') }}</a>
    <span class="link"> {{ 'Profile'|trans({},'user') }}</span>
{% endblock Site_Map %}


{% block PageTitle %}
    <i class="icon-user"></i>
    {{ 'Profile'|trans({},'user') }}
{% endblock %}


{% block Body %}

    <div class="span">
        <div class="widget stacked ">

            <div class="widget-content">
                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
                      id="edit-profile" class="form-horizontal">
                    <fieldset>

                        <div class="control-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(form.current_password) }}
                            {{ form_widget(form.current_password) }}
                            {{ form_errors(form.current_password) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname) }}
                            {{ form_errors(form.firstname) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname) }}
                            {{ form_errors(form.lastname) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(form.mobile) }}
                            {{ form_widget(form.mobile) }}
                            {{ form_errors(form.mobile) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(form.language) }}
                            <div class="controls">
                                {{ form_widget(form.language) }}
                            </div>
                            {{ form_errors(form.language) }}
                        </div>

                        {{ form_rest(form) }}

                        <div class="form-actions">
                            <input class="btn btn-primary" type="submit"
                                   value="{{ 'Save'|trans({}, 'common') }}"/>
                            <a href="javascript:history.go(-1)" class="btn" >{{ 'Cancel'|trans({},'common') }}</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('* #fos_user_profile_form>div').attr('class','control-group');
        });
    </script>

{% endblock %}

