{% extends 'HelloDiDiDistributorsBundle:Step:ProvMasterAdd.html.twig' %}

{% set step = '2' %}

{% block step1 %}
    <div class="widget-header">
        <h3>Account Info</h3>
    </div> <!-- /widget-header -->
<form action="{{ path('AddAccountProvMasterOk', { 'id': entity.id }) }}" method="post" class="form-horizontal" >

    <div class="control-group">
        {{ form_label(form.accName) }}
        {{ form_widget(form.accName) }}
        {{ form_errors(form.accName) }}
    </div>

    <div class="control-group">
        {{ form_label(form.accCurrency) }}

        <div class="controls">
            {{ form_widget(form.accCurrency) }}
        </div>

        {{ form_errors(form.accCurrency) }}
    </div>
         {{ form_widget(form._token) }}

    <div class="form-actions" style="margin-bottom: 0" >
        <input type="submit" class="btn btn-primary" value="Add" />
        <button type="reset" class="btn">Cancel</button>
    </div>

</form>

    {% endblock step1 %}
