{% extends 'HelloDiDiDistributorsBundle:Step:ProvMasterAdd2.html.twig' %}

{% block steps %}

        <!-- Entity -->
        <div style="display: block;position: absolute;z-index: 10" class="content" id="step-1">
            <div class="widget-header">
                <h3>Create Entity</h3>
            </div> <!-- /widget-header -->

            <div class="control-group entName">
                {{ form_label(form2step.entName) }}
                {{ form_widget(form2step.entName) }}
                {{ form_errors(form2step.entName) }}
            </div>



            <div class="control-group entVatNumber">
            {{ form_label(form2step.entVatNumber) }}
            {{ form_widget(form2step.entVatNumber) }}
            {{ form_errors(form2step.entVatNumber) }}
            </div>

            <div class="control-group">
            {{ form_label(form2step.entTel1) }}
            {{ form_widget(form2step.entTel1) }}
            {{ form_errors(form2step.entTel1) }}
            </div>

            <div class="control-group">
            {{ form_label(form2step.entTel2) }}
            {{ form_widget(form2step.entTel2) }}
            {{ form_errors(form2step.entTel2) }}
             </div>


            <div class="control-group">
            {{ form_label(form2step.entFax) }}
            {{ form_widget(form2step.entFax) }}
            {{ form_errors(form2step.entFax) }}
            </div>

            <div class="control-group">
            {{ form_label(form2step.entWebsite) }}
            {{ form_widget(form2step.entWebsite) }}
            {{ form_errors(form2step.entWebsite) }}
            </div>

            <div class="control-group entRegistrationNumber">
            {{ form_label(form2step.entRegistrationNumber) }}
            {{ form_widget(form2step.entRegistrationNumber) }}
            {{ form_errors(form2step.entRegistrationNumber) }}
                </div>


        </div>

        <!-- Account -->
        <div style="display: none;position: absolute;z-index: 11" class="content" id="step-2">
            <div class="widget-header">
                <h3>Create Account</h3>
            </div> <!-- /widget-header -->
            <div class="control-group accName">
            {{ form_label(form2step.Accounts[0].accName) }}
            {{ form_widget(form2step.Accounts[0].accName) }}
            {{ form_errors(form2step.Accounts[0].accName) }}
            </div>

            <div class="control-group">
            {{ form_label(form2step.Accounts[0].accCurrency) }}
            <div class="controls">
                {{ form_widget(form2step.Accounts[0].accCurrency) }}
            </div>
            {{ form_errors(form2step.Accounts[0].accCurrency) }}
             </div>


        </div>

        <!-- Address -->
        <div style="display: none;position: absolute;z-index: 12" class="content" id="step-3">
            <div class="widget-header">
                <h3>Create Address</h3>
            </div> <!-- /widget-header -->

            <div class="control-group adrsNp">
            {{ form_label(form2step.Addresses[0].adrsNp) }}
            {{ form_widget(form2step.Addresses[0].adrsNp) }}
            {{ form_errors(form2step.Addresses[0].adrsNp) }}
            </div>

            <div class="control-group">
            {{ form_label(form2step.Addresses[0].Country) }}
            <div class="controls">
                {{ form_widget(form2step.Addresses[0].Country) }}
            </div>
            {{ form_errors(form2step.Addresses[0].Country) }}
                </div>

            <div class="control-group adrsCity">
            {{ form_label(form2step.Addresses[0].adrsCity) }}
            {{ form_widget(form2step.Addresses[0].adrsCity) }}
            {{ form_errors(form2step.Addresses[0].adrsCity) }}
                </div>

            <div class="control-group">
            {{ form_label(form2step.Addresses[0].adrsType) }}
            <div class="controls" >
                {{ form_widget(form2step.Addresses[0].adrsType) }}
            </div>
            {{ form_errors(form2step.Addresses[0].adrsType) }}
             </div>

            <div class="control-group adrs1">
            {{ form_label(form2step.Addresses[0].adrs1) }}
            {{ form_widget(form2step.Addresses[0].adrs1) }}
            {{ form_errors(form2step.Addresses[0].adrs1) }}
             </div>

             <div class="control-group">
            {{ form_label(form2step.Addresses[0].adrs2) }}
            {{ form_widget(form2step.Addresses[0].adrs2) }}
            {{ form_errors(form2step.Addresses[0].adrs2) }}
            </div>

            <div class="control-group">
            {{ form_label(form2step.Addresses[0].adrs3) }}
            {{ form_widget(form2step.Addresses[0].adrs3) }}
            {{ form_errors(form2step.Addresses[0].adrs3) }}
            </div>

            {{form_widget(form2step._token)}}
        </div>



{% endblock %}

