{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '6' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributor</a>
    <a class="link" href="#">{{ Account.accName }}</a>
    <span class="link">Items</span>
{% endblock Site_Map %}

{% block Tab %}

    <h1 class="TitleShow">Add new Item</h1>

    <div class="tab-content">
        <form action="{{ path('AddItemDistSubmit') }}" method="post" class="form-horizontal">

            <div class="control-group">
                {{ form_label(form.Item) }}
                {{ form_widget(form.Item) }}
                {{ form_errors(form.Item) }}
            </div>

            <div class="control-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }} {% if Account.accCurrency==0  %}USD {% else %}CHF {% endif %}
                {{ form_errors(form.price) }}
            </div>

            {{form_widget(form._token)}}

            <input type="hidden" name="accountid" value="{{  Account.id }}" />

            <div class="form-actions" style="margin-bottom: 0" >
                <input type="submit" class="btn btn-primary" value="Add" />
            </div>

        </form>
    </div>
{% endblock Tab %}
