{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccount') }}">Provider</a>
    <a class="link" href="#">{{ Account.accName }}</a>
    <span class="link">Items</span>
{% endblock Site_Map %}

{% block Tab %}


    <div class="widget-header">
        <h3>Add new Item</h3>
    </div> <!-- /widget-header -->

    <div class="tab-content">
        <form id="addprice" action="{{ path('AddItemProvSubmit') }}" method="post" class="form-horizontal">

            <div class="control-group">
                {{ form_label(form.Item) }}
                <div class="controls">
                    {{ form_widget(form.Item) }}
                </div>
                {{ form_errors(form.Item) }}
            </div>

            <div class="control-group">
                {{ form_label(form.price) }}
                <div class="controls" >{{ form_widget(form.price) }} {{ Account.accCurrency }}</div>
                {{ form_errors(form.price) }}
            </div>

            {{form_widget(form._token)}}

            <input type="hidden" name="accountid" value="{{  Account.id }}" />

            <div class="form-actions" style="margin-bottom: 0" >
                <input type="submit" class="btn btn-primary btn-medium" onclick="$('#gowhere').val('0')" value="Add" />
                <input type="submit" class="btn " onclick="$('#gowhere').val('1')" value="Back" />
                <input type="hidden" id="gowhere" value="0" />
                <script type="text/javascript">
                    $(function(){
                        $('form#addprice').submit(function(e){
                            if($('#gowhere').val() == '1')
                            {
                                e.preventDefault();
                                $('form#Item').submit();
                            }
                        })
                    });
                </script>
            </div>


        </form>
    </div>
{% endblock Tab %}
