{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Provider</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Items</span>
{% endblock Site_Map %}

{% block Tab %}


    <div class="widget-header">
        <h3>Add new Item</h3>
    </div> <!-- /widget-header -->

    <div class="tab-content">
        <form id="addprice" action="{{ path('AddItemProvSubmit') }}" method="post" class="form-horizontal">

            <div class="control-group">
                {{ form_label(form.Item) }}
                <div class="controls">
                    {{ form_widget(form.Item) }}
                </div>
                {{ form_errors(form.Item) }}
            </div>

            <div class="control-group price">
                {{ form_label(form.price) }}
                <div class="controls" >{{ form_widget(form.price) }} {{ Account.accCurrency }}</div>
                {{ form_errors(form.price) }}
            </div>

            {{form_widget(form._token)}}

            <input type="hidden" name="accountid" value="{{  Account.id }}" />

            <div class="form-actions" style="margin-bottom: 0" >
                <a class="btn btn-primary btn-medium" onclick="GoWhere(0)"  >Add</a>
                <a class="btn" onclick="GoWhere(1)"  >Back</a>
                <script type="text/javascript">
                    function GoWhere(x)
                    {
                        if(x == 1)
                            $('form#Item').submit();
                        else
                        {
                            if(CheckData('.price input'))
                                $('#addprice').submit();
                        }
                    }
                </script>
            </div>


        </form>
    </div>
{% endblock Tab %}
