{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Provider</a>
    <a class="link" href="">Items</a>
    <span class="link">Add New Items</span>
{% endblock Site_Map %}

{% block Tab %}


    <div class="widget-header">
        <h3>Add new Item</h3>
    </div> <!-- /widget-header -->

    <div class="tab-content">
        <form name="addprice" action="#" method="post" class="form-horizontal">




            <div class="Fields" >
                <div class="control-group">
                    {{ form_label(form.Item) }}
                    <div class="controls money">
                        {{ form_widget(form.Item) }} <span class="icon-certificate"></span>
                    </div>
                    {{ form_errors(form.Item) }}
                </div>

                <div class="control-group price">
                    {{ form_label(form.price) }}
                    <div class="controls money" >{{ form_widget(form.price) }} | {{ Account.accCurrency }} <span class="icon-certificate"></span> </div>
                    {{ form_errors(form.price) }}
                </div>

                {{form_widget(form._token)}}
            </div>

            <div class="form-actions" style="margin-bottom: 0" >
                <input class="btn btn-primary btn-medium" type="submit" value="Add" >
                <a class="btn" onclick="GoWhere()"  >Back</a>
                <script type="text/javascript">
                    function GoWhere()
                    {

                    }
                </script>
            </div>


        </form>
    </div>
{% endblock Tab %}
