
    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">
                <a class="btn-large button btn btn-primary " href="#">
                    Recharge
                </a>

                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
                    </h5>
                                  </div>

                <div class="tablediv">

                    <div class="contenttitle">
                        <h4>History</h4>
                    </div>
                    <form>
                        <div class="tab-content">
                            <table style="margin-top: 20px"
                                   class="table table-bordered table-striped table-highlight postsend">
                                <thead>
                                <tr>
                                    <th>{{ 'Transaction.id' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Date' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Description' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Amount' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Balance' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Action' | trans ({}, "account") }}</th>

                                    <th>{{ 'Transaction.User' | trans ({}, "account") }}</th>
                                    <td>{{ 'Transaction.ItemName' | trans ({}, "account") }}</td>
                                    <td>{{ 'Transaction.Accountname' | trans ({}, "account") }} </td>

                                </tr>
                                </thead>
                                <tbody>

                                {% for tran in pagination %}
                                    <tr>
                                        <td>{{ tran.id}}</td>
                                        <td>{{ tran.tranDate|date('y-M-d') }}</td>
                                        <td>{{ tran.tranDescription}}</td>
                                        <td>{{ tran.tarnAmount}}</td>
                                        <td>{{ tran.Account.accBalance }}</td>
                                        <td>
                                            {% if tran.tranAction=='Sale' %}Sale
                                            {% elseif tran.tranAction=='Transfer' %}Transfer
                                            {% elseif tran.tranAction=='Payment' %}Payment
                                            {% elseif tran.tranAction=='CreditNote' %}CreditNote
                                            {% endif %}
                                        </td>

                                        <td> {{ tran.User.username }} </td>
                                        <td> {{ tran.Code.Item.itemName }} </td>
                                        <td> {{ tran.Account.accName }} </td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
