{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccount') }}">Distributor</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Transaction</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>
           Transaction Derails
        </h3>
    </div> <!-- /widget-header -->
    <br>
    <a class="btn-large button btn btn-primary " href="#">
        Recharge
    </a>




    <div class="tablediv">

        <div class="contenttitle">
            <h4>History</h4>
        </div>
        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>
                        <th>{{ 'Transaction.id' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Date' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.User' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.ItemName' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Accountname' | trans ({}, "account") }} </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ tran.id}}</td>
                            <td>{{ tran.tranDate|date('y-M-d') }}</td>

                            <td> {{ tran.User.username }} </td>

                            <td> {{ tran.Code.Item.itemName }} </td>
                            <td> {{ tran.Account.accName }} </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock %}