{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Distributor</a>
    <span class="link">Transaction</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>
           Transaction Derails
        </h3>
    </div> <!-- /widget-header -->
    <br>





    <div class="tablediv">

        <div class="contenttitle">
            <h4>History</h4>
        </div>
        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>
                        <th>{{ 'id' | trans ({}, "account") }}</th>
                        <th>{{ 'Date' | trans ({}, "account") }}</th>
                        <th>{{ 'function' | trans ({}, "account") }}</th>
                        <th>{{ 'Account name' | trans ({}, "account") }} </th>
                        <th>{{ 'Balance' | trans ({}, "account") }}</th>
                        <th>{{ 'User' | trans ({}, "account") }}</th>
                        <th>{{ 'Item Name' | trans ({}, "account") }}</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ tran.id}}</td>
                            <td>{{ tran.tranDate|date('y-M-d') }}</td>
                            <td>

                                Function


                            </td>

                            <td> {{ tran.Account.accName }} </td>
                            <td>

                                {% set balance=tran.tranBalance+tran.tranAmount %}


                                {{ balance }}


                            </td>

                            <td> {{ tran.User.username }} </td>

                            <td>
                                {% if tran.Code is not null  %}
                                {{ tran.Code.Item.itemName }}
                               {% else %}
                                    not have code
                                  {% endif %}
                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock %}