{% if (privilege==0) %}
 {% set privilege='Seller' %}
{% else %}
   {% set privilege='Admin' %}
{% endif %}

<form action="{{ path('DistUserPrivilege',{'idacc':Account.id,'iduser':User.id}) }}" method="post">



                {{ form_label(form_distuserprivilege.username) }}
                {{ form_widget(form_distuserprivilege.username,{value :User.username } ) }}</br></br>


                {{ form_label(form_distuserprivilege.privilege) }}
                {{ form_widget(form_distuserprivilege.privilege,{value :privilege})}}</br></br>

            {{ form_rest(form_distuserprivilege) }}

            <input  type="submit" value="Edit">

    </form>
