{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccount') }}">Distributor</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Transaction</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>
            Account Transactions
        </h3>
    </div> <!-- /widget-header -->
<br>
    <a class="btn-large button btn btn-primary " href="{{ path('MasterDistFunding',{'id':Account.id}) }}">
        Fund Distributors
    </a>

    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
        </h5>

        <form class="form-horizontal SearchForm" action="{{ path('RetailerTransaction') }}" method="POST" >


            <div class="control-group">
                <label class="control-label" >Trade Date
                </label>
                <div class="controls">
                    {{ form_widget(form.TypeDate[0]) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >Looking Date
                </label>
                <div class="controls">
                    {{ form_widget(form.TypeDate[1]) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.Type) }}
                <div class="controls">
                    {{ form_widget(form.Type) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.DateStart) }}
                <div class="controls">
                    {{ form_widget(form.DateStart) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_label(form.DateEnd) }}
                <div class="controls">
                    {{ form_widget(form.DateEnd) }}
                </div>
            </div>

            <hr>
            <input class="btn btn-primary" type="submit" value="Search">

        </form>
        <script type="text/javascript">
            $(function () {
                $(".SearchForm").hide();
                $('.TitleShow1').click(function () {
                    $('.SearchForm').slideToggle();
                    $('#search_logo').removeAttr('class');

                    if ($('.title_search').html() == 'Filter List') {
                        $('.title_search').html('Close Search');
                        $('#search_logo').attr('class', 'icon-remove');
                    }
                    else {
                        $('.title_search').html('Filter List');
                        $('#search_logo').attr('class', 'icon-search');
                    }

                    var x = $('.form_search').offset().top - 20;
                    $('body,html').animate({
                        scrollTop: x
                    }, 800);
                });

            });
        </script>
    </div>

    <div class="tablediv">

        <div class="contenttitle">
            <h4>History</h4>
        </div>
        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>
                        <th>{{ 'Transaction.Date' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Description' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Amount' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Balance' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Action' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Manage' | trans ({}, "account") }}</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for tran in pagination %}
                        <tr>
                            <td>{{ tran.tranDate|date('y-M-d') }}</td>

                            <td>{{ tran.tranDescription}}</td>
                            <td>{{ tran.tranAmount}}</td>
                            <td>{{ tran.Account.accBalance }}</td>

                            <td>
                                {% if tran.tranAction=='Sale' %}Sale
                                {% elseif tran.tranAction=='Tras' %}Transfer
                                {% elseif tran.tranAction=='Paym' %}Payment
                                {% elseif tran.tranAction=='Cred' %}CreditNote
                                {% elseif tran.tranAction=='Add' %}Add
                                {% endif %}</td>

                            <td class="td-actions">


                            <a class="btn_actions" href="{{ path('DetailsMasterDistTransaction',{'id':tran.id}) }}">Details</a>

                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}