{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccount') }}">Provider</a>
    <a class="link" href="#">{{ Account.accName }}</a>
    <span class="link">Items</span>
{% endblock Site_Map %}

{% block Tab %}

    <h1 class="TitleShow">Edit Item</h1>

    <div class="tab-content">
        <form action="{{ path('EditItemProvSubmit') }}" method="post" class="form-horizontal">

            name: {{ price.item.itemName }}
            <br/>
            face value: {{ price.item.itemFaceValue }}
            <br/>
            operator: {{ price.item.operator }}

            <div class="control-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
            </div>

            <div class="control-group">
                {% for state in form.priceStatus %}
                    {{ form_widget(state) }}
                    {{ form_label(state) }}
                {% endfor %}
            </div>

            {{form_widget(form._token)}}

            <input type="hidden" name="accountid" value="{{ Account.id }}" />
            <input type="hidden" name="priceid" value="{{ price.id }}" />

            <div class="form-actions" style="margin-bottom: 0" >
                <input type="submit" class="btn btn-primary" value="Edit" />
            </div>
        </form>

        <table style="margin-top: 20px" class="table table-bordered table-striped table-highlight">
            <thead>
            <tr>
                <th>from</th>
                <th>to</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>
            {% for ph in price.PricesHistory %}
                <tr>
                    <td>{{ ph.date|date('Y/m/d') }}</td>
                    <td>
                        {% if not loop.last %}
                            {{ price.PricesHistory[loop.index0+1].date|date('Y/m/d') }}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td>{{ ph.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock Tab %}
