{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '6' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributor</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Edit Items</span>
{% endblock Site_Map %}

{% block Tab %}

    <div class="widget-header">
        <h3>Edit Item</h3>
    </div> <!-- /widget-header -->


        <form id="editprice" action="{{ path('EditItemDistSubmit') }}" method="post" class="form-horizontal">

            <div class="control-group">
                <label class="control-label">
                    Name
                </label>
                <div class="controls">
                    <input class="input-large" type="text" disabled="" value="{{ price.item.itemName }}" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Face Value
                </label>
                <div class="controls">
                    <input class="input-large" type="text" disabled="" value="{{ price.item.itemFaceValue }}" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Operator
                </label>
                <div class="controls">
                    <input class="input-large" type="text" disabled="" value="{{ price.item.operator }}" >
                </div>
            </div>


            <div class="control-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
            </div>

            {% for state in form.priceStatus %}
                <div class="control-group">
                    <label class="control-label">{{ form_label(state) }}</label>
                    <div class="controls">
                        {{ form_widget(state) }}
                    </div>
                </div>

            {% endfor %}


            {{form_widget(form._token)}}

            <input type="hidden" name="accountid" value="{{ Account.id }}" />
            <input type="hidden" name="priceid" value="{{ price.id }}" />

            <div class="form-actions" style="margin-bottom: 0" >
                <input type="submit" class="btn btn-primary" onclick="$('#gowhere').val('0')" value="Edit" />
                <input type="submit" class="btn" onclick="$('#gowhere').val('1')" value="Back" />
                <input type="hidden" id="gowhere" value="0" />
                <script type="text/javascript">
                    $(function(){
                        $('form#editprice').submit(function(e){
                            if($('#gowhere').val() == '1')
                            {
                                e.preventDefault();
                                $('form#Item').submit();
                            }
                        })
                    });
                </script>
            </div>
        </form>

        <div class="tablediv" >
            <div class="contenttitle">
                <h4>Price History</h4>
            </div>
            <div class="tab-content" >
                <table style="margin-top: 20px" class="table postsend">
                    <thead>
                    <tr>
                        <th>from</th>
                        <th>to</th>
                        <th>price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ph in price.PricesHistory %}
                        <tr>
                            <td>{{ ph.date|date('Y/m/d') }}</td>
                            <td>
                                {% if not loop.last %}
                                    {{ price.PricesHistory[loop.index0+1].date|date('Y/m/d') }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>{{ ph.price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock Tab %}
