{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccount') }}">Distributor</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Transaction</span>
{% endblock Site_Map %}


{% block Tab %}
<div class="row">
    <div class="span5">
        <div class="widget-header">
            <h3>
                Fund distributors balance
            </h3>
            Current Distributors Balance:{{ Account.accBalance }}
        </div> <!-- /widget-header -->
        <br>
        <form style="margin-top: 20px" action="{{ path('MasterDistApplayFunding',{'id':Account.id}) }}" method="post" class="form-horizontal" >

            <fieldset>

                <div class="control-group">

                    {{ form_label(formapplay.Amount) }}


                    {{ form_widget(formapplay.Amount)  }}


                </div>

                <div class="control-group ">
                    {{ form_label(formapplay.As) }}
                    <div class="controls">
                        {{ form_widget(formapplay.As)  }}
                    </div>
                </div>

                <div class="control-group ">
                    {{ form_label(formapplay.Description ) }}
                    <div class="controls">
                        {{ form_widget(formapplay.Description )  }}
                    </div>
                </div>


                <div class="form-actions" style="margin-bottom: 0" >
                    <button class="btn btn-primary" type="submit">Applay</button>
                </div>


            </fieldset>

        </form>
    </div>
    <div class="span5 LeftSpan">
        {#//----Form update----//#}
        <div class="widget-header">
            <h3>
                Update distributors Credit Limit
            </h3>
            Current Distributors Credit limit:{{ Account.accCreditlimit }}
        </div> <!-- /widget-header -->
        <form style="margin-top: 20px" action="{{ path('MasterDistUpdateFunding',{'id':Account.id}) }}" method="post" class="form-horizontal" >

            <fieldset>

                <div class="control-group">

                    {{ form_label(formupdate.Amount) }}


                    {{ form_widget(formupdate.Amount)  }}


                </div>

                <div class="control-group">
                    {{ form_label(formupdate.As) }}
                    <div class="controls">
                        {{ form_widget(formupdate.As)  }}
                    </div>
                </div>

                <div class="form-actions" style="margin-bottom: 0" >
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>


            </fieldset>

        </form>
    </div>
</div>
{% endblock %}