{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Distributor</a>
    <span class="link">Transaction</span>
{% endblock Site_Map %}


{% block Tab %}
<div class="row">
    <div class="span5">
        <div class="widget-header">
            <h3>
                Fund distributors balance
            </h3>
            <br>

            Current Distributors Balance : {{ Account.accBalance }} {{ Account.accCurrency }}

            <br>
        </div> <!-- /widget-header -->

        <form style="margin-top: 20px" action="{{ path('MasterDistApplayFunding',{'id':Account.id}) }}" method="post" class="form-horizontal" >

            <fieldset>

                <div class="control-group">

                    {{ form_label(formapplay.Amount) }}


                    <div class="controls money">
                        {{ form_widget(formapplay.Amount,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'} })  }} | {{ Account.accCurrency }}
                    </div>


                </div>

                <div class="control-group ">
                    {{ form_label(formapplay.As) }}
                    <div class="controls">
                        {{ form_widget(formapplay.As)  }}
                    </div>
                </div>

                <div class="control-group ">
                    {{ form_label(formapplay.Description ) }}
                    <div class="controls">
                        {{ form_widget(formapplay.Description )  }}
                    </div>
                </div>


                <div class="form-actions" style="margin-bottom: 0" >
                    <button class="btn btn-primary" type="submit">Applay</button>
                    <a class="btn" href="{{ path('MasterDistTransaction',{'id':Account.id}) }}">Cancel</a>
                </div>


            </fieldset>

        </form>
    </div>
    {% if is_granted('ROLE_MASTER_ADMIN') %}
    <div class="span5 LeftSpan">
        {#//----Form update----//#}
        <div class="widget-header">
            <h3>
                Update distributors Credit Limit
            </h3>
            <br>
            Current Distributors Credit limit : {{ Account.accCreditlimit }} {{ Account.accCurrency }}
            <br>
        </div> <!-- /widget-header -->

        <form style="margin-top: 20px" action="{{ path('MasterDistUpdateFunding',{'id':Account.id}) }}" method="post" class="form-horizontal" >

            <fieldset>

                <div class="control-group">

                    {{ form_label(formupdate.Amount) }}


                    <div class="controls money">
                        {{ form_widget(formupdate.Amount,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'} })  }} | {{ Account.accCurrency }}
                    </div>


                </div>

                <div class="control-group">
                    {{ form_label(formupdate.As) }}
                    <div class="controls">
                        {{ form_widget(formupdate.As)  }}
                    </div>
                </div>

                <div class="form-actions" style="margin-bottom: 0" >
                    <button class="btn btn-primary" type="submit">Update</button>
                    <a class="btn" href="{{ path('MasterDistTransaction',{'id':Account.id}) }}">Cancel</a>
                </div>


            </fieldset>

        </form>
    </div>

        {% endif %}
        </div>
{% endblock %}