{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '6' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributor</a>
    <span class="link">Items</span>
{% endblock Site_Map %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Tab %}

    <div class="widget-header">
        <h3>Distributor Items</h3>
    </div> <!-- /widget-header -->
<br>
    <a class=" btn btn-primary btn-large" href="{{ path('AddItemDist',{'id':Account.id}) }}">
        Add new Item
    </a>
    <br><br>
    <div style="margin-top: 5px" class="tablediv">

        <div class="tab-content datatable">
            <table id="example" class="table postsend">

                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Face Value (Currency)</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Price (Currency)</th>
                    <th>Status</th>
                    <th>Management</th>
                </tr>

                <tr class="input" >
                    <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                    <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                    <td><input type="text" name="search_Code" value="Search Code" class="search_init" /></td>
                    <td><input type="text" name="search_Type" value="Search Type" class="search_init" /></td>
                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                    <td><input type="text" name="search_Status" value="Search Status" class="search_init" /></td>
                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>

                </tr>
                </thead>

                <tbody>
                {% for price in prices %}
                    <tr>
                        <td>{{ price.item.id }}</td>
                        <td>{{ price.item.itemName }}</td>
                        <td>{{ price.item.itemFaceValue }} {{ price.item.itemCurrency }}</td>
                        <td>{{ price.item.itemCode }}</td>
                        <td>{% if price.item.itemType==0 %}Mobile{% elseif price.item.itemType==1 %}Internet{% else %}Tel{% endif %}</td>
                        <td>{{ price.price }} {{ price.priceCurrency }}</td>
                        <td>{% if price.priceStatus == 1 %}Active{% else %}Inactive{% endif %}</td>
                        <td class="td-actions" >
                            <a class="btn_actions" href="{{ path('EditItemDist',{'id':Account.id,'itemid':price.id}) }}">Manage</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock Tab %}
