{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Distributor</a>
    <span class="link">Sub Accounts</span>
{% endblock Site_Map %}




{% block Tab %}
    <div class="widget-header">
        <h3>
            Sub Accounts List
        </h3>
    </div> <!-- /widget-header -->

<div class="form_search">
    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search" ></i>
                            <p class="title_search" ></p>
                        </span>
    </h5>
    <form class="form-horizontal SearchForm" action="{{ path('ManageDistChildren',{'id':Account.id}) }}" method="post">
        <fieldset>

            <div class="control-group">
                {{ form_label(form.accName) }}
                {{ form_widget(form.accName) }}
            </div>

            <div class="control-group">
                {{ form_label(form.accCreditLimit) }}
                <div class="controls">
                    {{ form_widget(form.accCreditLimit) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.accBalance) }}
                    <div class="controls">
                        {{ form_widget(form.accBalance) }}
                    </div>
            </div>





            <div class="control-group">
                {{ form_label(form.accBalanceValue) }}

                    {{ form_widget(form.accBalanceValue) }}

            </div>
            {{ form_rest(form) }}
            <hr>
            <input type="hidden" value="1" name="page" id="search_page" >
            <input class="btn btn-primary" type="submit" value="Search">
    </form>

            <a href="{{ path('ManageDistChildren',{'id': Account.id}) }}" class="btn btn-mini">Reset</a>




        </fieldset>

    <script type="text/javascript">
        $(function () {

            Form_Search(0,"Search Sub Accounts");

        });
    </script>
</div>




<div class="tablediv">
    <div class="contenttitle">
        <h4>Sub Accounts</h4>
    </div>
    <form>



        <div class="tab-content">
        <table style="margin-top: 20px" class="table postsend">
            <thead>
            <tr>

                <th>Id</th>
                <th>Operation</th>
                <th>Name</th>
                <th>Entity Name</th>
                <th>Type</th>
                <th>Balance</th>
                <th>CreditLimit</th>


            </tr>
            </thead>
            <tbody>
            {% for childaccount in pagination %}
                <tr>

                    <td >{{ childaccount.id }}</td>
                    <td  class="td-actions" >

                        <a class="btn_actions" href="{{ path('Master_Retailer_Transaction',{'id':childaccount.id}) }}" >ShowTranscation</a>

                    </td>

                    <td>
                        {%  if childaccount.accName=='' %}
                            Null
                        {% else %}
                            {{ childaccount.accName }}
                        {% endif %}

                   </td>
                    <td>


                            {{ childaccount.Entiti.entName }}


                    </td>
                    <td>{% if childaccount.accType==0  %}
                       Distributors
                        {% elseif childaccount.accType==2  %}
                       Retailes
                        {% elseif childaccount.accType==1  %}
                       Provider
                        {% endif %}
                    </td>

                    <td>

                            {{ childaccount.accBalance }}


                 </td>

                    <td>


                        {{ childaccount.accCreditLimit }}


                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#{button pagination}#}

        <input type="hidden" name="id" class="accountid" value=""/>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </form>
</div>



{% endblock %}



