{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '8' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributors</a>
    <span class="link">Entity</span>
{% endblock Site_Map %}

{% block Tab %}





    <div class="widget-header">
        <h3>Entity Info</h3>

    </div> <!-- /widget-header -->





    <form class="form-horizontal">

        <div class="control-group">
            <label class="control-label">
                Name
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entName }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                VatNumber
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entVatNumber }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                NP
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entNp}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Tel1
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entTel1 }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Fax
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entFax }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                City
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entCity }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Address
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entAdrs1 }}/{{ entiti.entAdrs2 }}/{{ entiti.entAdrs3}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Country
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.Country.name}}({{ entiti.Country.iso }})">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Website
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entWebsite }}">
            </div>
        </div>
    </form>

    <hr>
    </div>
    </div>
{% endblock Tab %}