{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '8' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributors</a>
    <span class="link">Entity</span>
{% endblock Site_Map %}

{% block Tab %}


    <div class="tablediv">
        <div class="contenttitle">
            <h4>Entity Info</h4>
        </div>
        <div class="tab-content">
            <table style="margin-top: 20px" class="table postsend">
                <thead>
                <tr>

                    <th>Name</th>
                    <th>VatNumber</th>
                    <th>NP</th>
                    <th>Tel1</th>
                    <th>Fax</th>
                    <th>City</th>

                    <th>Address</th>
                    <th>Country</th>
                    <th>Website</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ entiti.entName }}</td>
                    <td>{{ entiti.entVatNumber }}</td>
                    <td>{{ entiti.entNp}}</td>
                    <td>{{ entiti.entTel1 }}</td>
                    <td>{{ entiti.entFax }}</td>
                    <td>{{ entiti.entCity }}</td>
                    <td>{{ entiti.entAdrs1 }}/{{ entiti.entAdrs2 }}/{{ entiti.entAdrs3}}</td>
                    <td>{{ entiti.Country.iso }}</td>
                    <td>{{ entiti.entWebsite }}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>
    </div>
    </div>
{% endblock Tab %}