{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '8' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">{{ 'Distributors' | trans ({}, "accounts") }}</a>
    <span class="link">{{ 'Entity' | trans ({}, "entity") }}</span>
{% endblock Site_Map %}

{% block Tab %}





    <div class="widget-header">
        <h3>
            {{ 'Info' | trans ({}, "entity") }}

        </h3>

    </div> <!-- /widget-header -->





    <form class="form-horizontal">

        <div class="control-group">
            <label class="control-label">
                {{ 'Name' | trans ({}, "common") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entName }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'VatNumber' | trans ({}, "entity") }}

            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entVatNumber }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'NP' | trans ({}, "entity") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entNp}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'Tel1' | trans ({}, "entity") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entTel1 }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                {{ 'Tel2' | trans ({}, "entity") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entTel2 }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                {{ 'Fax' | trans ({}, "entity") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entFax }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'City' | trans ({}, "entity") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entCity }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'Address' | trans ({}, "entity") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entAdrs1 }}&nbsp;/&nbsp;{{ entiti.entAdrs2 }}&nbsp;/&nbsp;{{ entiti.entAdrs3}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'Country' | trans ({}, "entity") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.Country.name}}({{ entiti.Country.iso }})">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'WebSite' | trans ({}, "entity") }}
            </label>
            <div class="controls">
                <input type="text" disabled=""  value="{{ entiti.entWebsite }}">
            </div>
        </div>
    </form>

    <hr>
    </div>
    </div>
{% endblock Tab %}