{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Provider</a>
    <span class="link">Input</span>
{% endblock Site_Map %}



{% block Tab %}

    <div class="widget-header">
        <h3>Input List</h3>

    </div> <!-- /widget-header -->


    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
            <span>
                <i id="search_logo" class="icon-search"></i>
                <p class="title_search">Search Input File</p>
            </span>
        </h5>
        <form class="form-horizontal SearchForm" action="#" method="post">
            <fieldset>
                <div class="control-group datepicker1">
                    {{ form_label(form.From) }}

                        {{ form_widget(form.From) }}

                </div>
                <div class="control-group datepicker2">
                    {{ form_label(form.To) }}

                        {{ form_widget(form.To) }}

                </div>
                <div class="control-group">
                    {{ form_label(form.item) }}
                    <div class="controls">
                        {{ form_widget(form.item) }}
                    </div>
                </div>

                {{ form_rest(form) }}
                <hr>
                <input class="btn btn-large btn-primary" type="submit" value="Search">
            </fieldset>
        </form>
        <script type="text/javascript">
            $(function () {
                $(".SearchForm").hide();
                $('.TitleShow1').click(function () {
                    $('.SearchForm').slideToggle();
                    $('#search_logo').removeAttr('class') ;

                    if($('.title_search').html() == 'Search Input File')
                    {
                        $('.title_search').html('Close Search') ;
                        $('#search_logo').attr('class','icon-remove') ;
                    }
                    else{
                        $('.title_search').html('Search Input File') ;
                        $('#search_logo').attr('class','icon-search') ;
                    }

                    var x = $('.form_search').offset().top - 20;
                    $('body,html').animate({
                        scrollTop: x
                    }, 800);
                });

            });
        </script>
    </div>





    <div class="tablediv" >
        <div class="contenttitle">
            <h4>Input List</h4>
        </div>
        <form>
            <div class="tab-content" >
                <table style="margin-top: 20px" class="table postsend">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Batch</th>
                        <th>Dateproduction</th>
                        <th>Dateexpiry</th>
                        <th>Quantity</th>
                        <th>Value</th>
                        <th>Management</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for input in inputs %}
                        <tr>
                            <td>{{ input.Item.itemName }}</td>
                            <td>{{ input.batch }}</td>
                            <td>{{ input.dateProduction|date('Y/m/d') }}</td>
                            <td>{{ input.dateExpiry|date('Y/m/d') }}</td>
                            <td>{{ input.Codes.count }}</td>
                            <td>{{ render(controller('HelloDiDiDistributorsBundle:Account:CalcPrice', { 'account': Account , 'item': input.Item , 'count' : input.Codes.count })) }}</td>
                            <td class="td-actions" >
                                <a href="#" class="btn_actions" >Show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>

{% endblock %}
