{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '4' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributor</a>
    <span class="link">Users</span>
{% endblock Site_Map %}


{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Tab %}



    <div class="widget-header">
        <h3>Users</h3>
    </div> <!-- /widget-header -->
    <br>
    <a  class="button btn btn-primary btn-large" href="{{ path('MasterDistUserAdd',{'id':Account.id}) }}">Add New User</a>





    <div style="margin-top: 5px" class="tablediv">


            <div class="tab-content datatable">
                <table id="example" class="table postsend">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Role</th>
                    <th>Modify</th>


                </tr>

                <tr class="input" >
                    <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
                    <td><input type="text" name="search_UserName" value="Search UserName" class="search_init" /></td>
                    <td><input type="text" name="search_Role" value="Search Role" class="search_init" /></td>
                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                </tr>

                </thead>
                <tbody>
                {% for u in pagination %}
                    <tr>

                        <td>{{ u.firstname }}</td>
                        <td>{{ u.username }}</td>
                        <td>
                            {% if u.roles[0]=='ROLE_DISTRIBUTOR' %}
                                     ROLE_DISTRIBUTOR
                           {% else %}
                                    ROLE_DISTRIBUTOR_ADMIN
                            {% endif %}
                        </td>

                        <td class="td-actions">
                            <a class="btn_actions" href="{{path('MasterDistUserEdit',{'id':Account.id,'userid':u.id})  }}"> Manage</a>
                        </td>



                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




{% endblock %}