{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">{{ 'Distributors' | trans ({}, "accounts") }}</a>
    <span class="link">{{ 'SubAccounts' | trans ({}, "accounts") }}</span>
{% endblock Site_Map %}


{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            Fix_Size();
        });

    </script>

{% endblock %}


{% block Tab %}
    <div class="widget-header">
        <h3>
            {{ 'SubAccounts' | trans ({}, "accounts") }}

        </h3>
    </div> <!-- /widget-header -->







        <div style="margin-top: 5px" class="tablediv">
            <form>
                <div class="tab-content datatable">
                    <table id="example" class="table postsend">
                        <thead>
                        <tr>

                            <th> {{ 'Id' | trans ({}, "common") }}</th>
                            <th> {{ 'AccountName' | trans ({}, "accounts") }}</th>
                            <th> {{ 'EntityName' | trans ({}, "entity") }}</th>
                            <th> {{ 'Type' | trans ({}, "common") }}</th>
                            <th> {{ 'Balance' | trans ({}, "accounts") }}</th>
                            <th> {{ 'CreditLimit' | trans ({}, "accounts") }}</th>
                            <th> {{ 'Operation' | trans ({}, "common") }}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for childaccount in pagination %}
                            <tr>

                                <td>{{ childaccount.id }}</td>


                                <td>
                                    {% if childaccount.accName=='' %}
                                        Null
                                    {% else %}
                                        {{ childaccount.accName }}
                                    {% endif %}

                                </td>
                                <td>


                                    {{ childaccount.Entiti.entName }}


                                </td>
                                <td>

                                    {{ 'Retailers' | trans ({}, "accounts") }}


                                </td>

                                <td>

                                    {{ childaccount.accBalance }}


                                </td>

                                <td>


                                    {{ childaccount.accCreditLimit }}


                                </td>

                                <td class="td-actions">

                                    <a class="btn_actions"
                                       href="{{ path('Master_Retailer_Transaction',{'id':childaccount.id}) }}"> {{ 'Manage' | trans ({}, "common") }}</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {#{button pagination}#}

                    <input type="hidden" name="id" class="accountid" value=""/>
                </div>

            </form>
        </div>
    </div>



{% endblock %}



