{#{{ form_widget(form.accName,{value : 'Default title'})  }}#}
{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributor</a>
    <span class="link">Info</span>
{% endblock Site_Map %}

{% block Tab %}

    <div class="widget-header">
        <h3>Distributor Info</h3>
    </div> <!-- /widget-header -->

{#Account Name : {{ Account.accName }}#}
{#Account Id : {{ Account.accId }}#}
{#Account Type : Dist#}
{#Account Creat : {{ Account.accCreateLimit }}#}
{#Account TimeZone : {{ Account.accTimeZone }}#}
    <form style="margin-top: 20px" action="{{ path('ManageDistInfoEdit') }}" method="post" class="form-horizontal" >

        <fieldset>

            <div class="control-group">
                {{ form_label(edit_form.accBalance) }}

                    {{ form_widget(edit_form.accBalance,{'attr':{'disabled':'true'}})  }}

                {{ form_errors(edit_form.accBalance) }}
            </div>

            <div class="control-group">
                {{ form_label(edit_form.accCurrency) }}
                <div class="controls">
                    {{ form_widget(edit_form.accCurrency,{'attr':{'disabled':'true'}})  }}
                </div>
                {{ form_errors(edit_form.accCurrency) }}
            </div>

            <div class="control-group">
                {{ form_label(edit_form.accTimeZone) }}
                <div class="controls">
                    {{ form_widget(edit_form.accTimeZone)  }}
                </div>
                {{ form_errors(edit_form.accTimeZone) }}
            </div>

            {{form_widget(edit_form._token)}}
            <input type="hidden" name="id" value="{{ Account.id }}">

            <div class="form-actions" style="margin-bottom: 0" >
                <button class="btn btn-primary" type="submit">Edit</button>
                <button type="reset" class="btn">Reset</button>
            </div>


        </fieldset>

    </form>

{% endblock Tab %}



