{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '6' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Provider</a>
    <span class="link">Removed</span>
{% endblock Site_Map %}



{% block Tab %}

    <div class="widget-header">
        <h3>Removed List</h3>

    </div> <!-- /widget-header -->



    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
            <span>
                <i id="search_logo" class="icon-search"></i>
                <p class="title_search"></p>
            </span>
        </h5>
        <form class="form-horizontal SearchForm" action="{{ path('MasterProvRemoved',{ 'id':id }) }}" method="post">
            <fieldset>
                <div class="control-group datepicker1">
                    {{ form_label(form.FromDate) }}

                        {{ form_widget(form.FromDate) }}

                </div>
                <div class="control-group datepicker2">
                    {{ form_label(form.ToDate) }}

                        {{ form_widget(form.ToDate) }}

                </div>


                <input type="hidden" name="accountid" value="{{ Account.id }}">

                <div class="control-group">
                    {{ form_label(form.item) }}
                    <div class="controls">
                        {{ form_widget(form.item) }}
                    </div>
                </div>

                {{ form_rest(form) }}
                <hr>
                <input class="btn btn-primary" type="submit" value="Search">
            </fieldset>
        </form>
        <script type="text/javascript">
            $(function () {

                Form_Search(0,"Search Removed File");

            });
        </script>
    </div>





    <div class="tablediv" >
        <div class="contenttitle">
            <h4>Removed List</h4>
        </div>
        <form>
            <div class="tab-content" >
                <table style="margin-top: 20px" class="table postsend">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Serial Number</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Management</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trans in accProv %}
                        <tr>
                            <td>{{ trans.Code.Item.itemName }}</td>
                            <td>{{ trans.Code.serialNumber }}</td>
                            <td>{{ trans.tranDescription }}</td>
                            <td>{{ trans.tranDate|date('Y/m/d') }}</td>
                            <td class="td-actions" >
                                <a href="{{ path('code_history',{id:trans.Code.id}) }}" class="btn_actions" >History</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(accProv) }}
                </div>
            </div>
        </form>
    </div>

{% endblock %}
