{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Provider</a>
    <span class="link">Transactions</span>
{% endblock Site_Map %}



{% block Tab %}

    <div class="widget-header">
        <h3>Provider Transactions</h3>
    </div> <!-- /widget-header -->
    <br>
    <a class="button btn btn-large btn-primary" href="{{ path('ProvRegister',{'id':Account.id}) }}">Register transaction</a>
    <a class="button btn btn-large btn-primary" href="{{ path('ProvTransfer',{'id':Account.id}) }}">Make Transfer</a>

    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
            <span>
                <i id="search_logo" class="icon-search"></i>
                <p class="title_search">Search Transactions</p>
            </span>
        </h5>
        <form class="form-horizontal SearchForm" action="{{ path('MasterProvTransaction',{'id':Account.id}) }}"
              method="post">
            <fieldset>


                <div class="control-group">
                    <label class="control-label" >
                    </label>
                    <div class="controls">
                        {{ form_label(form.TypeDate[0]) }}
                        {{ form_widget(form.TypeDate[0],{'attr':{'checked':'checked'}}) }}
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" >
                    </label>
                    <div class="controls">
                        {{ form_label(form.TypeDate[1]) }}
                        {{ form_widget(form.TypeDate[1]) }}
                    </div>
                </div>

                <div class="control-group datepicker1">
                    {{ form_label(form.FromDate,'From:') }}

                        {{ form_widget(form.FromDate ) }}

                </div>



                <div class="control-group datepicker2">
                    {{ form_label(form.ToDate,'To:') }}

                        {{ form_widget(form.ToDate ) }}
                </div>


                <div class="control-group">
                    {{ form_label(form.type) }}
                    <div class="controls">
                        {{ form_widget(form.type) }}
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(form.Action) }}
                    <div class="controls">
                        {{ form_widget(form.Action) }}
                    </div>
                </div>
                <input type="hidden" value="1" name="page" id="search_page" >

                <hr>
                <input class="btn btn-primary" type="submit" value="Search">
            </fieldset>
        </form>
        <script type="text/javascript">



                    $("#form_type").change(function(){
                        val= $("#form_type").val();
                        $("#form_Action").html('<option value="All">Please wait ...</option>');
                        $.post('{{ path("LoadActionProv") }}',{id: val},function(result){

                            $("#form_Action").html(result);
                        })
                    });






            $(function () {


                    val= $("#form_type").val();
                    $("#form_Action").html('<option value="All">Please wait ...</option>');
                    $.post('{{ path("LoadActionProv") }}',{id: val},function(result){

                        $("#form_Action").html(result);
                    });


                $(".SearchForm").hide();
                $('.TitleShow1').click(function () {
                    $('.SearchForm').slideToggle();
                    $('#search_logo').removeAttr('class');

                    if ($('.title_search').html() == 'Search Transactions') {
                        $('.title_search').html('Close Search');
                        $('#search_logo').attr('class', 'icon-remove');
                    }
                    else {
                        $('.title_search').html('Search Transactions');
                        $('#search_logo').attr('class', 'icon-search');
                    }

                    var x = $('.form_search').offset().top - 20;
                    $('body,html').animate({
                        scrollTop: x
                    }, 800);
                });

            });
        </script>
    </div>


    <div class="tablediv">
        <div class="contenttitle">
            <h4>History</h4>
        </div>
        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>

                        <th>Date</th>
                        <th>{{ 'Description' | trans ({}, "account") }}</th>
                        <th>{{ 'Credit' | trans ({}, "account") }}</th>
                        <th>{{ 'Debit' | trans ({}, "account") }}</th>
                        <th>{{ 'Balance' | trans ({}, "account") }}</th>
                        <th>{{ 'Manage' | trans ({}, "account") }}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for tran in Trans %}
                        <tr>
                            <td>
                                {% if datetype==0 %}
                                {{ tran.tranDate|date('y-M-d') }}
                                   {% else %}
                                    {{ tran.tranInsert|date('y-M-d H:m:s') }}
                                    {% endif %}
                             </td>
                            <td>{{ tran.tranDescription }}</td>

                        {% if tran.tranAmount >= 0 %}
                            <td>
                            {{ tran.tranAmount}}

                            </td>

                            <td>

                               -----------
                            </td>

                            {% else  %}

                                <td>
                                    ------------
                                </td>

                                <td>
                                    {{ -tran.tranAmount }}

                                </td>

                             {% endif %}

                            <td>
                                {% set balance=tran.tranBalance+tran.tranAmount %}


                            {{ balance }}
                            </td>
                            <td class="td-actions">
<a class="btn_actions" href="{{ path('MasterProvTransactionDetails',{'id':tran.id}) }}">Details</a> |

<a class="btn_actions" href="{{ path('MasterProvTransactionDelete',{'id':tran.id}) }}">Delete</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
                <div class="navigation" style="text-align: center" >
                    {{ knp_pagination_render(Trans) }}
                </div>


{% endblock %}