{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">{{ 'Providers' | trans ({}, "accounts") }}</a>
    <span class="link">{{ 'Transactions' | trans ({}, "transaction") }}</span>
{% endblock Site_Map %}



{% block Tab %}

    <div class="widget-header">
        <h3>
            {{ 'Transactions' | trans ({}, "transaction") }}
            </h3>
    </div> <!-- /widget-header -->
    <br>

    <a class="button btn btn-large btn-primary" href="{{ path('ProvRegister',{'id':Account.id}) }}"> {{ 'RegisterTransaction' | trans ({}, "transaction") }}</a>
    <a class="button btn btn-large btn-primary" href="{{ path('ProvTransfer',{'id':Account.id}) }}">{{ 'MakeTransfer' | trans ({}, "transaction") }}</a>

    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
            <span>
                <i id="search_logo" class="icon-search"></i>
                <p class="title_search"></p>
            </span>
        </h5>
        <form class="form-horizontal SearchForm" action="{{ path('MasterProvTransaction',{'id':Account.id}) }}"
              method="post">
            <fieldset>


                <div class="control-group">
                    <label class="control-label" >
                        {{ 'TradeDate' | trans ({}, "transaction") }}
                    </label>
                    <div class="controls">

                        {{ form_widget(form.TypeDate[0]) }}
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" >
                        {{ 'BookingDate' | trans ({}, "transaction") }}
                    </label>
                    <div class="controls">

                        {{ form_widget(form.TypeDate[1]) }}
                    </div>
                </div>

                <div class="control-group datepicker1">
                    {{ form_label(form.FromDate) }}

                        {{ form_widget(form.FromDate ) }}

                </div>



                <div class="control-group datepicker2">
                    {{ form_label(form.ToDate) }}

                        {{ form_widget(form.ToDate ) }}
                </div>


                <div class="control-group">
                    {{ form_label(form.type) }}
                    <div class="controls">
                        {{ form_widget(form.type) }}
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(form.Action) }}
                    <div class="controls">
                        {{ form_widget(form.Action) }}
                    </div>
                </div>
                <input type="hidden" value="1" name="page" id="search_page" >

                <hr>
                <input class="btn btn-primary" type="submit" value="{{ 'Search' | trans ({}, "common") }}">
            </fieldset>
        </form>
        <script type="text/javascript">



                    $("#form_type").change(function(){
                        val= $("#form_type").val();
                        $("#form_Action").html('<option value="All"> {{'Pleasewait' | trans ({}, "common")}}</option>');
                        $.post('{{ path("LoadActionProv") }}',{id: val},function(result){

                            $("#form_Action").html(result);
                        })
                    });






            $(function () {

                Form_Search(1,"{{'Filter_List'|trans({},'js')  }}");

                    val= $("#form_type").val();
                    $("#form_Action").html('<option value="All"> {{'Pleasewait' | trans ({}, "common")}}</option>');
                    $.post('{{ path("LoadActionProv") }}',{id: val},function(result){

                        $("#form_Action").html(result);
                    });




            });
        </script>
    </div>


    <div class="tablediv">
        <div class="contenttitle">
            <h4>{{ 'History' | trans ({}, "transaction") }}</h4>
        </div>
        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>

                        <th>{{ 'Date' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Description' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Credit' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Debit' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Balance' | trans ({}, "accounts") }}</th>
                        <th>{{ 'Operation' | trans ({}, "common") }}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for tran in Trans %}
                        <tr>
                            <td>
                                {% if datetype==0 %}
                                {{ tran.tranDate|date('Y/m/d') }}
                                   {% else %}
                                    {{ tran.tranInsert|date('Y/m/d H:m:s') }}
                                    {% endif %}
                             </td>
                            <td>{{ tran.tranDescription }}</td>

                        {% if tran.tranAmount >= 0 %}
                            <td>
                            {{ tran.tranAmount}}

                            </td>

                            <td>

                               -----------
                            </td>

                            {% else  %}

                                <td>
                                    ------------
                                </td>

                                <td>
                                    {{ tran.tranAmount|abs }}

                                </td>

                             {% endif %}

                            <td>

                                {% set balance=tran.tranBalance+tran.tranAmount %}

                                 {{ balance }}
                            </td>
                            <td class="td-actions">
{#detail#}


                                <a class="btn_actions showDetails">
                                    {{ 'Details' | trans ({}, "common") }}
                                <span>


                                           <fieldset>
                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'Id' | trans ({}, "common") }}

                                                   </label>
                                                   <div class="controls">
                                                       <input type="text" value="{{ tran.id}}" disabled="" >
                                                   </div>
                                               </div>

                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'DateInsert' | trans ({}, "transaction") }}
                                                   </label>
                                                   <div class="controls">
                                                       <input type="text" value="{{ tran.tranInsert|date('Y/m/d H:m:s') }}" disabled="" >
                                                   </div>
                                               </div>

                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'Credit' | trans ({}, "transaction") }}
                                                   </label>
                                                   <div class="controls">
                                                       <input type="text"
                                                       {% if tran.tranAmount > 0 %}
                                                            value="{{ tran.tranAmount }}"
                                                         {% else %}
                                                             value="---------------"
                                                          {% endif %}
                                                          disabled="" >
                                                   </div>
                                               </div>

                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'Debit' | trans ({}, "transaction") }}
                                                   </label>
                                                   <div class="controls">
                                                       <input type="text"
                                                       {% if tran.tranAmount < 0 %}
                                                           value="{{ tran.tranAmount|abs }}"
                                                         {% else %}
                                                             value="---------------"
                                                          {% endif %}
                                                         disabled="" >
                                                   </div>
                                               </div>

                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'Description' | trans ({}, "transaction") }}
                                                   </label>
                                                   <div class="controls">
                                                       <input type="text" value="{{ tran.tranDescription }}" disabled="" >
                                                   </div>
                                               </div>

                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'Balance' | trans ({}, "accounts") }}
                                                   </label>
                                                   <div class="controls">
                                                       <input type="text" value=" {{ balance }}" disabled="" >
                                                   </div>
                                               </div>

                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'User' | trans ({}, "user") }}
                                                   </label>
                                                   <div class="controls">
                                                       <input type="text" value="{{ tran.User.username }}" disabled="" >
                                                   </div>
                                               </div>
                                               {% if tran.Code is not null %}
                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'Item' | trans ({}, "item") }}
                                                   </label>
                                                   <div class="controls">
                                                       <input type="text"

                                                                   value=" {{ tran.Code.Item.itemName }}"


                                                              disabled="" >
                                                   </div>
                                               </div>

                                               <div class="control-group">
                                                   <label class="control-label">
                                                       {{ 'Code' | trans ({}, "code") }}
                                                   </label>
                                                   <div class="controls">
                                                       <input type="text"

                                                              value=" {{ tran.Code.id }}"



                                                        disabled="" >
                                                   </div>
                                               </div>

                                               {% endif %}
                                           </fieldset>



                                    </span>
                                </a>

 {#enddetails#}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
                <div class="navigation" style="text-align: center" >
                    {{ knp_pagination_render(Trans) }}
                </div>


{% endblock %}