{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Provider</a>
    <a class="link" href="">Transactions</a>
    <span class="link">Transaction Details</span>
{% endblock Site_Map %}



{% block Tab %}



    <div class="widget-header">
        <h3>Transaction Details</h3>
    </div> <!-- /widget-header -->



   <form method="post" class="form-horizontal">
      <fieldset>
          <div class="control-group">
              <label class="control-label">
                  ID
              </label>
              <div class="controls">
                  <input type="text" value="{{ Trans.id}}" disabled="" >
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">
                  Date
              </label>
              <div class="controls">
                  <input type="text" value="{{ Trans.tranInsert|date('y-M-d H:m:s') }}" disabled="" >
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">
                  {{ 'Transaction.Credit' | trans ({}, "account") }}
              </label>
              <div class="controls">
                  <input type="text" value="{% if Trans.tranAmount > 0 %}  {{ Trans.tranAmount }} {% else %} ---------------  {% endif %}" disabled="" >
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">
                  {{ 'Transaction.Debit' | trans ({}, "account") }}
              </label>
              <div class="controls">
                  <input type="text" value="{% if Trans.tranAmount > 0 %}  --------------- {% else %} {{ -Trans.tranAmount }}  {% endif %}" disabled="" >
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">
                  {{ 'Transaction.Description' | trans ({}, "account") }}
              </label>
              <div class="controls">
                  <input type="text" value="{{ Trans.tranDescription }}" disabled="" >
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">
                  {{ 'Transaction.Balance' | trans ({}, "account") }}
              </label>
              <div class="controls">
                  <input type="text" value="{% set balance=Trans.tranBalance+Trans.tranAmount %}{{ balance }}" disabled="" >
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">
                  {{ 'Transaction.User' | trans ({}, "account") }}
              </label>
              <div class="controls">
                  <input type="text" value="{{ Trans.User.username }}" disabled="" >
              </div>
          </div>
      </fieldset>
   </form>



{% endblock %}
