{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">Distributor</a>
    <span class="link">Sales</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>
            Account Sales
        </h3>
    </div> <!-- /widget-header -->
    <br>


    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
        </h5>

        <form class="form-horizontal SearchForm" action="{{ path('MasterDistSale',{'id':Account.id}) }}" method="POST" >


            <div class="control-group datepicker1">
                {{ form_label(form.DateStart) }}
                {{ form_widget(form.DateStart) }}
            </div>
            <div class="control-group datepicker2">
                {{ form_label(form.DateEnd) }}
                {{ form_widget(form.DateEnd) }}
            </div>


            <div class="control-group">
                {{ form_label(form.ItemName) }}
                <div class="controls">
                    {{ form_widget(form.ItemName) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.ItemType) }}
                <div class="controls">
                    {{ form_widget(form.ItemType) }}
                </div>
            </div>


            <div class="control-group">
                {{ form_label(form.Account) }}
                <div class="controls">
                    {{ form_widget(form.Account) }}
                </div>
            </div>



    {% for group in form.GroupBy %}
        <div class="control-group">
            <label class="control-label">{{ form_label(group) }}</label>
            <div class="controls">
                {{ form_widget(group) }}
            </div>
        </div>
     {% endfor %}
            <input type="hidden" value="1" name="page" id="search_page" >
            <hr>
            <input class="btn btn-primary" type="submit" value="Search">

        </form>

    </div>

    <form action="#" method="POST" class="form-horizontal" style="padding: 10px;border: 1px solid rgb(221, 221,221);background: none repeat scroll 0% 0% rgb(252, 252, 252);">
        {% for state in formprint.print %}
            <div class="control-group">
                <label class="control-label">{{ form_label(state) }}</label>
                <div class="controls">
                    {{ form_widget(state) }}
                </div>
            </div>
        {% endfor %}
        {{ form_rest(formprint) }}
        <input type="submit" value="Print To PDF" class="btn btn-primary">
    </form>

    <div class="tablediv">

        <div class="contenttitle">
            <h4>History</h4>
        </div>



        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>{{ 'Date' | trans ({}, "account") }}</th>
                        <th>{{ 'Item' | trans ({}, "account") }}</th>
                        <th>{{ 'Quantity' | trans ({}, "account") }}</th>
                        <th>{{ 'Retailers' | trans ({}, "account") }}</th>
                        <th>{{ 'Selling Price' | trans ({}, "account") }}</th>
                        <th>{{ 'Vat' | trans ({}, "account") }}</th>
                        <th>{{ 'Manage' | trans ({}, "account") }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for Tr in pagination %}

                        <tr>
                            <td>
                                {% if group==0 %}{{ Tr.TR.id}}{% else %}----{% endif %}
                            </td>
                            <td>
                                {{ Tr.TR.tranDate|date('y-M-d') }}
                            </td>
                            <td>
                                {{ Tr.TR.Code.Item.itemName}}
                            </td>
                            <td>
                            {% if group==0 %}1{% else %}{{ Tr.Quantity }}{% endif %}
                            </td>
                            <td>
                                {% if group==0 %}{{ Tr.TR.Account.Entiti.entName }}{% else %}----{% endif %}
                            </td>
                            <td>

                                <script type="text/javascript">

                                    document.write(Math.abs({{  Tr.TR.tranAmount }}));

                                </script>

                                |
                                {{Account.accCurrency}}
                            </td>
                            <td>{% if group==0 %}
                                {%  set vat= -Tr.TR.tranAmount+(Tr.TR.tranAmount/(1+tax/100)) %}
                                {{  vat | number_format(2) }}
                        {% else %}
                            ------
                            {% endif %}
                            </td>

                            <td class="td-actions" >

                                {% if group==0 %}

                                <a class="btn_actions showDetails">
                                    Details
                                <span>

                                    <fieldset>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'id' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.id}}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Date' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.tranInsert|date('y-M-d H:m:s') }}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Buying Price' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text"

                                    {% set com=render(controller('HelloDiDiDistributorsBundle:Account:GetCom', { 'id':Tr.TR.id  }))   %}

                                       {% set Buying=-Tr.TR.tranAmount-com %}
                                            value="{{ Buying }}"
                                            disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Selling Price' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">

                                                <input type="text" value="{{ -Tr.TR.tranAmount}}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Benefit' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">

                                                <input type="text" value="{{ com }}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Retailer Account' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.Account.accName }}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Retailer User' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.User.username }}" disabled="" >
                                            </div>
                                        </div>


                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Code' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.Code.id }}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Item Name' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.Code.Item.itemName }}" disabled="" >
                                            </div>
                                        </div>

                                    </fieldset>

                                   </span>

                               </a>


                                {% else %}
                                    ----
                                {% endif %}

                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="navigation">
    {% if group==0 %}{{ knp_pagination_render(pagination) }}{% endif %}
    </div>


{% endblock %}