{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccount') }}">Distributor</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Sales</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>
            Account Sales
        </h3>
    </div> <!-- /widget-header -->
    <br>
    <a class="btn-large button btn btn-primary " href="#">
        Recharge
    </a>

    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
        </h5>

        <form class="form-horizontal SearchForm" action="{{ path('MasterDistSale',{'id':Account.id}) }}" method="POST" >


            <div class="control-group">
                {{ form_label(form.DateStart) }}
                {{ form_widget(form.DateStart) }}
            </div>
            <div class="control-group">
                {{ form_label(form.DateEnd) }}
                {{ form_widget(form.DateEnd) }}
            </div>

            <div class="control-group">
                {{ form_label(form.ItemType) }}
                {{ form_widget(form.ItemType) }}
            </div>
            <div class="control-group">
                {{ form_label(form.ItemName) }}
                {{ form_widget(form.ItemName) }}
            </div>

            <div class="control-group">
                {{ form_label(form.Account) }}
                {{ form_widget(form.Account) }}
            </div>

            <div class="control-group">
                {{ form_label(form.GroupBy) }}
                {{ form_widget(form.GroupBy) }}
            </div>

            <hr>
            <input class="btn btn-primary" type="submit" value="Search">

        </form>
        <script type="text/javascript">
            $(function () {
                $(".SearchForm").hide();
                $('.TitleShow1').click(function () {
                    $('.SearchForm').slideToggle();
                    $('#search_logo').removeAttr('class');

                    if ($('.title_search').html() == 'Filter List') {
                        $('.title_search').html('Close Search');
                        $('#search_logo').attr('class', 'icon-remove');
                    }
                    else {
                        $('.title_search').html('Filter List');
                        $('#search_logo').attr('class', 'icon-search');
                    }

                    var x = $('.form_search').offset().top - 20;
                    $('body,html').animate({
                        scrollTop: x
                    }, 800);
                });

            });
        </script>
    </div>

    <div class="tablediv">

        <div class="contenttitle">
            <h4>History</h4>
        </div>
        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>{{ 'Transaction.Date' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Item' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Amount' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Retailers' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Vat' | trans ({}, "account") }}</th>
                        <th>{{ 'Transaction.Manage' | trans ({}, "account") }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for Tr in pagination %}

                        <tr>
                            <td>{{ Tr.id}}</td>
                            <td>{{ Tr.tranDate|date('y-M-d') }}</td>
                            <td>{{ Tr.Code.Item.itemName}}</td>
                            <td>{{ Tr.tranAmount}}|{{Account.accCurrency}}</td>
                            <td>{{ Tr.User.username }}</td>
                            <td>{{ Tr.User.Entiti.entVatNumber }}</td>
                            <td class="tab-actions" ><a class="btn_actions" href="{{ path('MasterDistDetailsSale',{'id':Tr.id}) }}">Details</a></td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}