{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowDistMaster.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('ShowMyAccountDist') }}">{{ 'Distributors' | trans ({}, "accounts") }}</a>
    <span class="link">{{ 'Sales' | trans ({}, "code") }}</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>
            {{ 'SalesReport' | trans ({}, "transaction") }}

        </h3>
    </div> <!-- /widget-header -->
    <br>


    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
        </h5>

        <form id='searchsale' class="form-horizontal SearchForm" action="{{ path('MasterDistSale',{'id':Account.id}) }}" method="POST" >


            <div class="control-group datepicker1">
                {{ form_label(form.DateStart) }}
                {{ form_widget(form.DateStart) }}
            </div>
            <div class="control-group datepicker2">
                {{ form_label(form.DateEnd) }}
                {{ form_widget(form.DateEnd) }}
            </div>

            <div class="control-group">
                {{ form_label(form.Account) }}
                <div class="controls">
                    {{ form_widget(form.Account) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.ItemName) }}
                <div class="controls">
                    {{ form_widget(form.ItemName) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.ItemType) }}
                <div class="controls">
                    {{ form_widget(form.ItemType) }}
                </div>
            </div>





    {% for group in form.GroupBy %}
        <div class="control-group">
            {{ form_label(group) }}<br>
            <div class="controls">

                {{ form_widget(group) }}
            </div>
        </div>
     {% endfor %}
            <input type="hidden" value="1" name="page" id="search_page" >
            <hr>
            <input class="btn btn-primary" type="submit" value="{{'Search' | trans ({}, "common")  }}">

        </form>

    </div>

    <script type="text/javascript">
        $(function () {

            Form_Search(1,"{{'Filter_List'|trans({},'js')  }}");

        });
    </script>

    {% if pagination|length != 0 and group == 1 %}
        <form id="printsale" action="#" method="POST" class="form-horizontal" target="_blank" style="padding: 10px;border: 1px solid rgb(221, 221,221);background: none repeat scroll 0% 0% rgb(252, 252, 252);">

            <div class="control-group">
                <label class="control-label" for="print_1">
                 {{ 'RetailerRevenues' | trans ({}, "accounts") }}
                </label>
                <div class="controls">
                    <input type="radio" id="print_1" name="print" value="0" checked />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="print_2">
                    {{ 'RetailerStatements' | trans ({}, "accounts") }}

                </label>
                <div class="controls">
                    <input type="radio" id="print_2" name="print" value="1" />
                </div>
            </div>

            <input type="submit" value="{{ 'PrintToPDF' | trans ({}, "accounts") }}" class="btn btn-primary" onclick="copyFormElements()"/>
        </form>
    {% endif %}

    <div class="tablediv">

        <div class="contenttitle">
            <h4>{{ 'History' | trans ({}, "transaction") }}</h4>
        </div>



        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>{{ 'Date' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Item' | trans ({}, "item") }}</th>
                        <th>{{ 'Quantity' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Retailers' | trans ({}, "accounts") }} ({{ 'Entity' | trans ({}, "entity") }})</th>
                        <th>{{ 'SellingPrice' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Vat' | trans ({}, "vat") }}</th>
                        <th>{{ 'Operation' | trans ({}, "common") }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for Tr in pagination %}

                        <tr>
                            <td>
                                {% if group==0 %}{{ Tr.TR.id}}{% else %}----{% endif %}
                            </td>
                            <td>
                                {{ Tr.TR.tranDate|date('Y/m/d') }}
                            </td>
                            <td>
                                {{ Tr.TR.Code.Item.itemName}}
                            </td>
                            <td>
                            {% if group==0 %}1{% else %}{{ Tr.Quantity }}{% endif %}
                            </td>
                            <td>
                                {{ Tr.TR.Account.accName }}({{ Tr.TR.Account.Entiti.entName }})
                            </td>
                            <td>{{  Tr.TR.tranAmount|abs }} | {{Account.accCurrency}}</td>
                            <td>

                                    {{ Tr.TR.TaxHistory.vat}}
                            </td>

                            <td class="td-actions" >

                                {% if group==0 %}

                                <a class="btn_actions showDetails">
                                    {{ 'Details' | trans ({}, "common") }}
                                <span>

                                    <fieldset>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Id' | trans ({}, "common") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.id}}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Date' | trans ({}, "transaction") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.tranInsert|date('Y/m/d H:m:s') }}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'BuyingPrice' | trans ({}, "price") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text"

                                    {% set com=render(controller('HelloDiDiDistributorsBundle:Account:GetCom', { 'id':Tr.TR.id  }))   %}

                                       {% set Buying=-Tr.TR.tranAmount-com %}
                                            value="{{ Buying }}"
                                            disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'SellingPrice' | trans ({}, "transaction") }}
                                            </label>
                                            <div class="controls">

                                                <input type="text" value="{{ -Tr.TR.tranAmount}}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Benefit' | trans ({}, "transaction") }}
                                            </label>
                                            <div class="controls">

                                                <input type="text" value="{{ com }}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'RetailerAccount' | trans ({}, "account") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.Account.accName }}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'User' | trans ({}, "user") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.User.username }}" disabled="" >
                                            </div>
                                        </div>


                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Code' | trans ({}, "code") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.Code.id }}" disabled="" >
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                {{ 'Item' | trans ({}, "item") }}
                                            </label>
                                            <div class="controls">
                                                <input type="text" value="{{ Tr.TR.Code.Item.itemName }}" disabled="" >
                                            </div>
                                        </div>

                                    </fieldset>

                                   </span>

                               </a>


                                {% else %}
                                    ----
                                {% endif %}

                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="navigation">
    {% if group==0 %}{{ knp_pagination_render(pagination) }}{% endif %}
    </div>

    <script type="text/javascript">
        function copyFormElements()
        {
            $("#searchsale :input").each(function(){
                if($(this).attr('name') != undefined)
                {
                    if($(this).attr('type') == 'checkbox')
                        $('#printsale').append('<input type="hidden" name="'+$(this).attr('name')+'" value="'+($(this).is(':checked')?'1':'0')+'" />');
                    else
                        $('#printsale').append('<input type="hidden" name="'+$(this).attr('name')+'" value="'+$(this).val()+'"/>');
                }
            });
        }
    </script>

{% endblock %}