
<a href="#{#{{ path('') }}#}">Recharge</a>
<form action="{{ path('MasterDistSale',{'id':Account.id}) }}" method="POST">


    <div class="control-group">
        {{ form_label(form.DateStart) }}
        {{ form_widget(form.DateStart) }}
    </div>
    <div class="control-group">
        {{ form_label(form.DateEnd) }}
        {{ form_widget(form.DateEnd) }}
    </div>

    <div class="control-group">
        {{ form_label(form.ItemType) }}
        {{ form_widget(form.ItemType) }}
    </div>
    <div class="control-group">
        {{ form_label(form.ItemName) }}
        {{ form_widget(form.ItemName) }}
    </div>

    <div class="control-group">
        {{ form_label(form.Account) }}
        {{ form_widget(form.Account) }}
    </div>

    <div class="control-group">
        {{ form_label(form.GroupBy) }}
        {{ form_widget(form.GroupBy) }}
    </div>


    <div class="form-actions" style="margin-bottom: 0" >
        <input class="btn btn-primary" type="submit"  value="Search">
    </div>
</form>
                <form>
          <a href="#">Print To PDF</a>
                    <div class="tab-content">
                        <table style="margin-top: 20px" class="table postsend">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>{{ 'Transaction.Date' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Item' | trans ({}, "account") }}</th>
                                    {#<th>{{ 'Transaction.Quntity' | trans ({}, "account") }}</th>#}
                                    <th>{{ 'Transaction.Selling Price' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Retailers' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Vat' | trans ({}, "account") }}</th>
                                    <th>{{ 'Transaction.Manage' | trans ({}, "account") }}</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for Tr in pagination %}

                                <tr>
                                    <td>{{ Tr.id}}</td>
                                    <td>{{ Tr.tranDate|date('y-M-d') }}</td>
                                    {#<td>{{ Quantity }}/td>#}
                                    <td>{{ Tr.Code.Item.itemName}}</td>
                                    <td>{{ Tr.tranAmount}}</td>
                                    <td>{{ Tr.User.username }}</td>
                                    <td>Task</td>
                                    <td><a href="{{ path('MasterDistDetailsSale',{'id':Tr.id}) }}">Details</a></td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        {#{button pagination}#}
                    </div>
                </form>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
