




Distributors Details :
<hr>
Seles Statement
<hr>
Period :

<hr>
Retailer Details :
<hr>
All Prices in 'Account Currency'
                    <div class="tab-content">
                        <table style="margin-top: 20px" class="table postsend">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>{{ 'Date' | trans ({}, "account") }}</th>
                                    <th>{{ 'Item' | trans ({}, "account") }}</th>
                                    {#<th>{{ 'Quntity' | trans ({}, "account") }}</th>#}
                                    <th>{{ 'Selling Price' | trans ({}, "account") }}</th>
                                    <th>{{ 'Retailers' | trans ({}, "account") }}</th>
                                    <th>{{ 'Vat' | trans ({}, "account") }}</th>
                                    <th>{{ 'Manage' | trans ({}, "account") }}</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for Tr in pagination %}

                                <tr>
                                    <td>{{ Tr.id}}</td>
                                    <td>{{ Tr.tranDate|date('y-M-d') }}</td>
                                    <td>{{ Tr.Code.Item.itemName}}</td>
                                    {#<td> {{Tr.Code.Item.Codes.count }} </td>#}
                                     <td>{{ Tr.tranAmount}}</td>
                                    <td>{{ Tr.User.username }}</td>
                                    <td>Task</td>
                                    <td><a href="{{ path('MasterDistDetailsSale',{'id':Tr.id}) }}">Details</a></td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        {#{button pagination}#}
                    </div>
                </form>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
