{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'DistributorsAccounts' | trans ({}, "accounts") }}
{% endblock title %}

{% set MU = 'dist' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link" >{{ 'Distributors' | trans ({}, "accounts") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-briefcase"></i>
    {{ 'DistributorsManagement' | trans ({}, "accounts") }}
{% endblock %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}


{% block Body %}

    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">



                <a class="button btn btn-primary btn-large" href="{{ path('AddAccountDistMaster2Step') }}">
                    {{ 'CreateDistWithEntity' | trans ({}, "accounts") }}
                </a>


                <div style="margin-top: 5px" class="tablediv" >
                    <form >
                        <div class="tab-content datatable">
                            <table id="example" class="table postsend">
                                <thead>
                                <tr>
                                    <th>{{ 'Id' | trans ({}, "common") }}</th>
                                    <th>{{ 'Name' | trans ({}, "common") }}</th>
                                    <th>{{ 'EntityName' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Balance' | trans ({}, "accounts") }}</th>
                                    <th>{{ 'CreditLimit' | trans ({}, "accounts") }}</th>
                                    <th>{{ 'SubAccounts' | trans ({}, "accounts") }}</th>
                                    <th>{{ 'Operation' | trans ({}, "common") }}</th>
                                </tr>


                                </thead>

                                <tbody>
                                {% for myAccount in pagination %}
                                    {% set countchild=(myAccount.Childrens)|length %}
                                    <tr>
                                        <td >{{ myAccount.id }}</td>
                                        <td>{{ myAccount.accName }}</td>
                                        <td>{{ myAccount.Entiti.entName }}</td>
                                        <td>{{ myAccount.accBalance }}</td>
                                        <td>
                                            {% if myAccount.accCurrency =='USD' %}
                                                USD|
                                            {% elseif myAccount.accCurrency =='CHF' %}
                                                CHF|
                                            {% endif %}
                                            {%  if myAccount.accCreditLimit=='' %}
                                                0
                                            {% else %}
                                                {{  myAccount.accCreditLimit }}
                                            {% endif %}


                                        </td>

                                        <td>{{ countchild }}</td>
                                        <td class="td-actions" >
                                            <a class="btn_actions" href="{{ path('MasterDistTransaction',{'id':myAccount.id}) }}" >{{ 'Manage' | trans ({}, "common") }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#{button pagination}#}


                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

{% endblock Body %}



