{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Distributor Accounts
{% endblock title %}

{% set MU = 'dist' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Distributor</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-briefcase"></i>
    Distributor Management
{% endblock %}

{% block Body %}

    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">



                <a class="button btn btn-primary btn-large" href="{{ path('Ent_Main') }}">
                    Create Distributor
                </a>


                <div style="margin-top: 5px" class="tablediv" >
                    <form >
                        <div class="tab-content datatable">
                            <table id="example" class="table postsend">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Operation</th>
                                    <th>Name</th>
                                    <th>Entity Name</th>
                                    <th>Balance</th>
                                    <th>CreditLimit</th>


                                    <th>Sub accounts</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for myAccount in pagination %}
                                    {% set countchild=(myAccount.Childrens)|length %}
                                    <tr>
                                        <td >{{ myAccount.id }}</td>
                                        <td class="td-actions" >
                                            <a class="btn_actions" href="{{ path('MasterDistTransaction',{'id':myAccount.id}) }}" >Manage</a>
                                        </td>
                                        <td>{{ myAccount.accName }}</td>
                                        <td>{{ myAccount.Entiti.entName }}</td>
                                        <td>{{ myAccount.accBalance }}</td>
                                        <td>
                                            {% if myAccount.accCurrency =='USD' %}
                                                USD|
                                            {% elseif myAccount.accCurrency =='CHF' %}
                                                CHF|
                                            {% endif %}
                                            {%  if myAccount.accCreditLimit=='' %}
                                                000
                                            {% else %}
                                                {{  myAccount.accCreditLimit }}
                                            {% endif %}


                                        </td>

                                        <td>{{ countchild }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#{button pagination}#}


                        </div>
                    </form>
                </div>
                <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery-1.9.1.min.js') }}"></script>

                <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
                <script type="text/javascript">
                    $(document).ready(function() {
                        Fix_Size();
                    } );
                </script>

            </div>
        </div>
    </div>

{% endblock Body %}



