{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Provider Accounts
{% endblock title %}

{% set MU = 'prov' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Provider</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-th-large"></i>
    Provider Management
{% endblock %}

{% block Link_Footer %}

{% endblock %}

{% block Body %}

    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">


                <a class="button btn btn-primary btn-large" href="{{ path('AddAccountProveMaster2Step') }}">
                    Create a new Provider with new Entity
                </a>


                <div style="margin-top: 5px" class="tablediv">

                    <form method="post">
                        <div class="tab-content datatable">
                            <table id="example" class="table postsend">
                                <thead>
                                <tr>
                                    <th  >Id</th>
                                    <th>Operation</th>
                                    <th>Name</th>
                                    <th>Balance</th>
                                    <th>Entity Name</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for myAccount in pagination %}
                                    <tr>
                                        <td style="font-weight: bold" >{{ myAccount.id }}</td>
                                        <td class="td-actions" >

                                            <a class="btn_actions" href="{{ path('MasterProvTransaction',{'id':myAccount.id}) }}" >Manage</a>
                                        </td>
                                        <td>{{ myAccount.accName }}</td>
                                        <td>{{ myAccount.accBalance }}|{{ myAccount.accCurrency }}</td>
                                        <td>{{ myAccount.entiti.entName }}</td>

                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>

                    </form>
                </div>
                <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery-1.9.1.min.js') }}"></script>

                <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
                <script type="text/javascript">
                    $(document).ready(function() {
                        Fix_Size();
                    } );

                </script>
            </div>
        </div>
    </div>


{% endblock %}
