{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProv1.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('ShowMyAccountProv') }}">Provider</a>
    <span class="link">Upload Input</span>
{% endblock Site_Map %}

{% block Tab %}
    <div class="widget-header">
        <h3>Upload Input</h3>
    </div>


    <form action="{{ path('UploadInputProvSubmitAccepted',{'id':Account.id,'itemid':input.item.id}) }}" method="post"  class="form-horizontal">

        <div class="control-group">
            <label class="control-label">
                Item Name
            </label>
            <div class="controls">
                <input type="text" value="{{ input.item.itemName }}" class="input-large" disabled="" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Face Value
            </label>
            <div class="controls">
                <input type="text" value="{{ input.item.itemFaceValue }}" class="input-large" disabled="" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Quantity
            </label>
            <div class="controls">
                <input type="text" value="{{ count }}" class="input-large" disabled="" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Batch
            </label>
            <div class="controls">
                <input type="text" value="{{ input.batch }}" class="input-large" disabled="" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Production
            </label>
            <div class="controls">
                <input type="text" value="{{ input.dateProduction|date('Y/m/d') }}" class="input-large" disabled="" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Expiry
            </label>
            <div class="controls">
                <input type="text" value="{{ input.dateExpiry|date('Y/m/d') }}" class="input-large" disabled="" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                File Name
            </label>
            <div class="controls">
                <input type="text" value="{{ input.fileName }}" class="input-large" disabled="" >
            </div>
        </div>

        <div class="form-actions" style="margin-bottom: 0">
            <input type="submit" class="btn btn-primary" value="Accept"/>
            <a href="{{ path('UploadInputProvSubmitCanceled',{'id':Account.id,'itemid':input.item.id}) }}" class="btn btn-warning">Cancel</a>
        </div>


        </form>


{% endblock %}