{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'Items' | trans ({}, "item") }}
{% endblock title %}

{% set MU = 'item' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Items' | trans ({}, "item") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-tags"></i>
    {{ 'Items' | trans ({}, "item") }}
{% endblock %}

{% block Body %}
    <table class="table">
        <thead>
        <tr>
            <td>Code</td>
            <td>Name</td>
            <td>DisplayName</td>
            <td>Denomination</td>
            <td>Default</td>
            <td>CountryCode</td>
            <td>CountryName</td>
            <td>CarrierCode</td>
            <td>CarrierName</td>
        </tr>
        </thead>
        <tbody>
        {% for row in array %}
            <tr>
                <td>{{ row.Code }}</td>
                <td>{{ row.Name }}</td>
                <td>{{ row.DisplayName }}</td>
                <td>{{ row.Denomination }}</td>
                <td>{{ row.Default }}</td>
                <td>{{ row.CountryCode }}</td>
                <td>{{ row.CountryName }}</td>
                <td>{{ row.CarrierCode }}</td>
                <td>{{ row.CarrierName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}