{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowItemMaster.html.twig' %}

{% set tab = '2' %}

{% block title %}
    Items Management
{% endblock title %}

{% block Link_Head %}
    <link href='{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.css') }}' rel='stylesheet' type='text/css'>
    <link href='{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.ColorPickerMenu.css') }}' rel='stylesheet' type='text/css'>

{% endblock %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('item') }}">Item</a>
    <span class="link">New Item Descriptions</span>
{% endblock Site_Map %}

{% set MU = 'item' %}

{% block Tab %}
    <div class="widget-header">
        <h3>Item Descriptions</h3>
    </div> <!-- /widget-header -->



        <form action="#" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {{ form_errors(form) }}
            <div class="control-group">
                {{ form_label(form.desclang) }}
                <div class="controls" >
                {{ form_widget(form.desclang) }}
                    </div>
            </div>
            <div class="control-group">
                {{ form_label(form.descdesc) }}
                <div class="controls">
                    {{ form_widget(form.descdesc, { 'id': 'texteditor' }) }}
                </div>
            </div>

            <!---------------------------------------------------------------->





            {{ form_rest(form) }}

            <input type="hidden" name="itemid" value="{{ item.id }}"/>

            <div class="form-actions" style="margin-bottom: 0">
                <input type="submit" class="btn btn-primary" value="Add"/>
                <button type="reset" class="btn">Reset</button>
            </div>

        </form>



    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea-0.7.5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.ColorPickerMenu-0.7.0.js') }}"></script>
    <script type="text/javascript">


        $(function(){
            $('#texteditor').htmlarea({
                toolbar: [
                    "bold", "italic", "underline","strikethrough",
                    "|",
                    "justifyleft","justifycenter","justifyright",
                    "|",
                    "h1", "h2", "h3",
                    "|",
                    "increasefontsize","decreasefontsize",
                    "|",
                    "orderedList  ",
                    "unorderedList  ",
                    "|",
                    "horizontalrule",
                    "superscript",
                    "subscript",
                    "|",
                    "indent","outdent",
                    "|","forecolor"
                ]
            });

            $('.jHtmlArea').removeAttr('style');
            $('.jHtmlArea').attr('style','max-width:470px');
            $('.jHtmlArea .ToolBar').removeAttr('style');
            $('.jHtmlArea > div').attr('style','width:100%');
            $('.jHtmlArea > div > iframe').removeAttr('style');
            $('.jHtmlArea > div > iframe').attr('style','min-height: 57px;width:100%');


            /*var x = $("#editform body").html();
             $("#editform").submit(function(e){
             var x = $(".mce-content-body").html();
             e.preventDefault();
             alert(x);
             });*/
        });
    </script>


{% endblock %}


