{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowItemMaster.html.twig' %}

{% set tab = '2' %}

{% block title %}
    Items Management
{% endblock title %}

{% block Link_Head %}
    <link href='{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.css') }}' rel='stylesheet' type='text/css'>
    <link href='{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.ColorPickerMenu.css') }}' rel='stylesheet' type='text/css'>

{% endblock %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('item') }}">Item</a>
    <a class="link" href="#">Descriptions</a>
    <span class="link">Edit Description</span>
{% endblock Site_Map %}

{% set MU = 'item' %}

{% block Tab %}
    <div class="widget-header">
        <h3>Edit Item Description</h3>
    </div> <!-- /widget-header -->




    <form id="editform" action="#" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_errors(form.desclang) }}
        {{ form_errors(form.descdesc) }}
        <div class="control-group">
            {{ form_label(form.desclang) }}
            <div class="controls" >
                {{ form_widget(form.desclang, {'attr': {'disabled':'disabled'}  } ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.descdesc) }}
            <div class="controls">
                {{ form_widget(form.descdesc, { 'id': 'texteditor', 'required':'' }) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <input type="hidden" name="itemdescid" value="{{ itemdescid }}"/>

        <div class="form-actions" style="margin-bottom: 0">
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a href="{{ path('item_desc',{'id':item.id}) }}" class="btn">Cancel</a>
        </div>


        <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea-0.7.5.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.ColorPickerMenu-0.7.0.js') }}"></script>
        <script type="text/javascript">
            $(function(){
                var x = "{{ form_errors(form.desclang) }}{{ form_errors(form.descdesc) }}";

                if(x != "")
                {
                    messagetop("",x,"error");
                }

                $('#texteditor').htmlarea({
                    toolbar: [
                        ["bold", "italic", "underline","strikethrough"]
                        ,
                        ["justifyleft","justifycenter","justifyright"]
                        ,["h1", "h2", "h3"]
                        ,["increasefontsize","decreasefontsize"]
                        ,["orderedList  ","unorderedList  "]
                        ,["horizontalrule","superscript","subscript"]
                        ,["indent","outdent"]
                        ,["forecolor"],
                        [

                            {
                                css: "BorderButton Button",
                                text: "Add Border Div",
                                action: function() {
                                    var html = this.getRange().htmlText;
                                    this.iframe[0].contentWindow.focus();
                                    var r = this.getRange();
                                    if ($.browser.msie) {
                                        r.pasteHTML('<div style="border:2px solid black">'+html+'</div>');
                                    } else {
                                        var newnode =$(this.iframe[0].contentDocument.createElement("div")).css("border", "2px solid black")[0];
                                        r.surroundContents(newnode);
                                    }
                                    r.collapse(false);
                                    r.select();
                                }
                            },
                            {
                                css: "SpanBorderButton Button",
                                text: "Add Border Span",
                                action: function() {
                                    var html = this.getRange().htmlText;
                                    this.iframe[0].contentWindow.focus();
                                    var r = this.getRange();
                                    if ($.browser.msie) {
                                        r.pasteHTML('<span style="border:2px solid black">'+html+'</span>');
                                    } else {
                                        var newnode =$(this.iframe[0].contentDocument.createElement("span")).css("border", "2px solid black")[0];
                                        r.surroundContents(newnode);
                                    }
                                    r.collapse(false);
                                    r.select();
                                }
                            }
                        ],
                        [
                            {
                                css: "PinButton Button",
                                text: "Add Pin tag",
                                action: function() {
                                    this.pasteHTML('&#123;&#123;pin&#125;&#125;');
                                }
                            },
                            {
                                css: "SerialButton Button",
                                text: "Add Serial tag",
                                action: function() {
                                    this.pasteHTML('&#123;&#123;serial&#125;&#125;');
                                }
                            },
                            {
                                css: "ExpireButton Button",
                                text: "Add Expire tag",
                                action: function() {
                                    this.pasteHTML('&#123;&#123;expire&#125;&#125;');
                                }
                            }
                        ],
                        [
                            {
                                css: "RemoveStyleButton Button",
                                text: "Remove Style",
                                action: function() {
                                    this.iframe[0].contentWindow.focus();
                                    var node = $.browser.msie
                                            ? this.getRange().parentElement()
                                            : this.getRange().startContainer.parentNode;
                                    var highlightedText = node.innerHTML;
                                    if( node.tagName.toLowerCase() != 'body' && node.tagName.toLowerCase() != 'html')
                                    {
                                        var newNode = this.iframe[0].contentDocument.createTextNode(highlightedText);
                                        $(newNode).insertBefore(node);
                                        $(node).remove();
                                    }
                                    node.collapse(false);
                                    node.select();
                                }
                            }
                        ]
                    ]

                });



                $('.jHtmlArea').removeAttr('style');
                $('.jHtmlArea').attr('style','max-width:95%');
                $('.jHtmlArea .ToolBar').removeAttr('style');
                $('.jHtmlArea > div').attr('style','width:100%');
                $('.jHtmlArea > div > iframe').removeAttr('style');
                $('.jHtmlArea > div > iframe').attr('style','min-height: 200px;width:100%');
                $('.jHtmlArea .PinButton').html('Pin');
                $('.jHtmlArea .RemoveStyleButton').html('Remove Border');
                $('.jHtmlArea .BorderButton').html('Border');
                $('.jHtmlArea .SpanBorderButton').html('V Border');
                $('.jHtmlArea .ExpireButton').html('Expire');
                $('.jHtmlArea .SerialButton').html('Serial');

                /*var x = $("#editform body").html();
                 $("#editform").submit(function(e){
                 var x = $(".mce-content-body").html();
                 e.preventDefault();
                 alert(x);
                 });*/
            });



        </script>

    </form>

{% endblock %}
