{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowItemMaster.html.twig' %}

{% set tab = '1' %}

{% block title %}
    Items Management
{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('item') }}">Item</a>
    <a class="link" href="">Details</a>
    <span class="link">Edit</span>
{% endblock Site_Map %}

{% set MU = 'item' %}

{% block Tab %}
    <div class="widget-header">
        <h3>Item Details</h3>
    </div> <!-- /widget-header -->

    <form action="#"  method="post" {{ form_enctype(edit_form) }} class="form-horizontal">

        <div class="control-group">
            {{ form_label(edit_form.itemName) }}
            {{ form_widget(edit_form.itemName) }}
            {{ form_errors(edit_form.itemName) }}
        </div>
        <div class="control-group">
            {{ form_label(edit_form.itemFaceValue) }}
            {{ form_widget(edit_form.itemFaceValue) }}
            {{ form_errors(edit_form.itemFaceValue) }}
        </div>
        <div class="control-group">
            {{ form_label(edit_form.itemCurrency) }}
            <div class="controls">
                {{ form_widget(edit_form.itemCurrency) }}
            </div>
            {{ form_errors(edit_form.itemCurrency) }}
        </div>
        <div class="control-group">
            {{ form_label(edit_form.itemType) }}
            <div class="controls">
                {{ form_widget(edit_form.itemType) }}
            </div>
            {{ form_errors(edit_form.itemType) }}
        </div>
        <div class="control-group">
            {{ form_label(edit_form.alertMinStock) }}
            {{ form_widget(edit_form.alertMinStock) }}
            {{ form_errors(edit_form.alertMinStock) }}
        </div>
        <div class="control-group">
            {{ form_label(edit_form.operator) }}
            <div class="controls">
                {{ form_widget(edit_form.operator) }}
            </div>
            {{ form_errors(edit_form.operator) }}
        </div>

        <div class="control-group">
            {{ form_label(edit_form.itemCode) }}
            {{ form_widget(edit_form.itemCode) }}
            {{ form_errors(edit_form.itemCode) }}
        </div>

        <div class="control-group">
            {{ form_label(edit_form.Country) }}
            <div class="controls">
                {{ form_widget(edit_form.Country) }}
            </div>
            {{ form_errors(edit_form.Country) }}
        </div>

        {{ form_widget(edit_form._token) }}

        <div class="form-actions" style="margin-bottom: 0">
            <input type="submit" class="btn btn-primary" value="Edit"/>
            <button type="reset" class="btn">Reset</button>
        </div>
    </form>
{% endblock %}



