{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'Items' | trans ({}, "item") }}
{% endblock title %}

{% set MU = 'item' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Items' | trans ({}, "item") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-tags"></i>
    {{ 'Items' | trans ({}, "item") }}
{% endblock %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Body %}
    <div class="span">
    <div class="widget stacked">

        <!-- /widget-header -->

        <div class="widget-content">
            <a class=" btn btn-primary btn-large" href="{{ path('item_new') }}">
                {{ 'AddItem' | trans ({}, "item") }}
            </a>


            <div style="margin-top: 5px" class="tablediv">

                    <div class="tab-content datatable">
                        <table id="example" class="table postsend">
                            <thead>
                            <tr>
                                <th>{{ 'Id' | trans ({}, "common") }}</th>
                                <th>{{ 'Operation' | trans ({}, "common") }}</th>
                                <th>{{ 'Name' | trans ({}, "item") }}</th>
                                <th>{{ 'FaceValue' | trans ({}, "item") }} ({{ 'Currency' | trans ({}, "item") }})</th>
                                <th>{{ 'ItemCode' | trans ({}, "item") }}</th>
                                <th>{{ 'ItemType' | trans ({}, "item") }}</th>
                                <th>{{ 'MinStock' | trans ({}, "item") }}</th>
                                <th>{{ 'Stock' | trans ({}, "item") }}</th>
                                <th>{{ 'Country' | trans ({}, "item") }}</th>
                                <th>{{ 'DescriptionLanguages' | trans ({}, "item") }}</th>
                            </tr>

                            <tr class="input" >
                                <td><label><input type="text" name="search_Id" value="Search Id" class="search_init"/></label></td>
                                <td><label><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></label></td>
                                <td><label><input type="text" name="search_Name" value="Search Name" class="search_init" /></label></td>
                                <td><label><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></label></td>
                                <td><label><input type="text" name="search_Code" value="Search Code" class="search_init" /></label></td>
                                <td><label><input type="text" name="search_Type" value="Search Type" class="search_init" /></label></td>
                                <td><label><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></label></td>
                                <td><label><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></label></td>
                                <td><label><input type="text" name="search_Country" value="Search Country" class="search_init" /></label></td>
                                <td><label><input type="text" name="search_language" value="Search Languages" class="search_init" /></label></td>
                            </tr>

                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>

                                    <td >{{ item.id }}</td>
                                    <td class="td-actions" >
                                        <a class="btn_actions" href="{{ path('item_show',{'id':item.id}) }}">{{ 'Manage' | trans ({}, "common") }}</a>
                                    </td>
                                    <td>{{ item.itemName }}</td>
                                    <td>{{ item.itemFaceValue }} {{ item.itemCurrency }}</td>
                                    <td>{{ item.itemCode }}</td>
                                    <td>
                                        {% if item.itemType=='dmtu' %}
                                            {{ 'Mobile' | trans ({}, "item") }}
                                        {% elseif item.itemType=='imtu' %}
                                            {{ 'IMTU' | trans ({}, "item") }}
                                        {% elseif item.itemType=='clcd' %}
                                            {{ 'Calling_Card' | trans ({}, "item") }}
                                        {% else %}
                                            {{ 'E-payment' | trans ({}, "item") }}
                                        {% endif %}
                                    </td>
                                    <td>{{ item.alertMinStock }}</td>
                                    <td>{{ item.Codes.count }}</td>
                                    <td>{{ item.Country.iso }}</td>
                                    <td>
                                        {% for desc in item.ItemDescs %}
                                            {{ desc.desclang }}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
            </div>




        </div>
    </div>
</div>
{% endblock %}