{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'AddItem' | trans ({}, "item") }}
{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('item') }}">{{ 'Items' | trans ({}, "item") }}</a>
    <span class="link">{{ 'AddItem' | trans ({}, "item") }}</span>
{% endblock Site_Map %}
{% block Link_Head %}
    <link href='{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.css') }}' rel='stylesheet' type='text/css'>
    <link href='{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.ColorPickerMenu.css') }}' rel='stylesheet' type='text/css'>

{% endblock %}

{% block PageTitle %}
    <i class="icon-tags"></i>
    <span class="link">{{ 'AddItem' | trans ({}, "item") }}</span>
{% endblock %}


{% set MU = 'item' %}

{% block Body %}
    <div class="span">
        <div class="widget stacked">

            <!-- /widget-header -->

            <div class="widget-content">
                <div class="widget-header">
                    <h3>{{ 'Info' | trans ({}, "item") }}</h3>
                </div>
                <!-- /widget-header -->

                <form action="#" method="post" {{ form_enctype(form) }} class="form-horizontal">
                    <div class="control-group">
                        {{ form_label(form.itemName) }}
                        <div class="controls money">
                            {{ form_widget(form.itemName) }} <span class="icon-certificate"></span>
                        </div>
                        {{ form_errors(form.itemName) }}
                    </div>
                    <div class="control-group">
                        {{ form_label(form.itemFaceValue) }}
                        <div class="controls money">
                            {{ form_widget(form.itemFaceValue,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'} }) }} <span class="icon-certificate"></span>
                        </div>
                        {{ form_errors(form.itemFaceValue) }}
                    </div>
                    <div class="control-group">
                        {{ form_label(form.itemCurrency) }}
                        <div class="controls money">
                            {{ form_widget(form.itemCurrency) }} <span class="icon-certificate"></span>
                        </div>
                        {{ form_errors(form.itemCurrency) }}
                    </div>
                    <div class="control-group">
                        {{ form_label(form.itemType) }}
                        <div class="controls money">
                            {{ form_widget(form.itemType) }} <span class="icon-certificate"></span>
                        </div>
                        {{ form_errors(form.itemType) }}
                    </div>
                    <div class="control-group">
                        {{ form_label(form.alertMinStock) }}
                        <div class="controls money">
                            {{ form_widget(form.alertMinStock,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'} }) }} <span class="icon-certificate"></span>
                        </div>
                        {{ form_errors(form.alertMinStock) }}
                    </div>
                    <div class="control-group">
                        {{ form_label(form.operator) }}
                        <div class="controls money">
                            {{ form_widget(form.operator) }} <span class="icon-certificate"></span>
                        </div>
                        {{ form_errors(form.operator) }}
                    </div>

                    <div class="control-group">
                        {{ form_label(form.Country) }}
                        <div class="controls money">
                            {{ form_widget(form.Country) }} <span class="icon-certificate"></span>
                        </div>
                        {{ form_errors(form.Country) }}
                    </div>

                    <div class="control-group">
                        {{ form_label(form.itemCode) }}
                        <div class="controls money">
                            {{ form_widget(form.itemCode,{ 'attr' : {'onfocus' : 'if($(this).val()=="")updateItemCode()'} }) }}
                            <img src="{{ asset('bundles/hellodi/img/refresh/refresh.png') }}" style="cursor: pointer" id="refresh1" onclick="updateItemCode()">
                            <span class="icon-certificate"></span>
                        </div>
                        {{ form_errors(form.itemCode) }}
                    </div>

                    <div class="control-group">
                        {{ form_label(form.ItemDescs[0].desclang) }}
                        <div class="controls">
                            {{ form_widget(form.ItemDescs[0].desclang) }}
                        </div>
                        {{ form_errors(form.ItemDescs[0].desclang) }}
                    </div>


                    <div class="control-group">
                        {{ form_label(form.ItemDescs[0].descdesc) }}
                        <div class="controls">
                            {{ form_widget(form.ItemDescs[0].descdesc, { 'id': 'texteditor', 'required':'' }) }}
                        </div>
                        {{ form_errors(form.ItemDescs[0].descdesc) }}
                    </div>

                    {{ form_widget(form._token) }}

                    <div class="form-actions" style="margin-bottom: 0">
                        <input type="submit" class="btn btn-primary" value="{{ 'Add' | trans ({}, "common") }}"/>
                        <button type="reset" class="btn">{{ 'Reset' | trans ({}, "common") }}</button>
                    </div>

                </form>


                <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea-0.7.5.js') }}"></script>
                <script type="text/javascript"  src="{{ asset('bundles/hellodi/js/libs/Editor/jHtmlArea.ColorPickerMenu-0.7.0.js') }}"></script>
                <script type="text/javascript">
                    $(function(){
                        var x = "{{ form_errors(form.ItemDescs[0].desclang) }}{{ form_errors(form.ItemDescs[0].descdesc) }}";

                        if(x != "")
                        {
                            messagetop("",x,"error");
                        }

                        $('#texteditor').htmlarea({
                            toolbar: [
                                ["bold", "italic", "underline","strikethrough"]
                                ,
                                ["justifyleft","justifycenter","justifyright"]
                                ,["h1", "h2", "h3"]
                                ,["increasefontsize","decreasefontsize"]
                                ,["orderedList  ","unorderedList  "]
                                ,["horizontalrule","superscript","subscript"]
                                ,["indent","outdent"]
                                ,["forecolor"],
                                [

                                    {
                                        css: "BorderButton Button",
                                        text: "Add Border Div",
                                        action: function() {
                                            var html = this.getRange().htmlText;
                                            this.iframe[0].contentWindow.focus();
                                            var r = this.getRange();
                                            if ($.browser.msie) {
                                                r.pasteHTML('<div style="border:2px solid black">'+html+'</div>');
                                            } else {
                                                var newnode =$(this.iframe[0].contentDocument.createElement("div")).css("border", "2px solid black")[0];
                                                r.surroundContents(newnode);
                                            }
                                            r.collapse(false);
                                            r.select();
                                        }
                                    },
                                    {
                                        css: "SpanBorderButton Button",
                                        text: "Add Border Span",
                                        action: function() {
                                            var html = this.getRange().htmlText;
                                            this.iframe[0].contentWindow.focus();
                                            var r = this.getRange();
                                            if ($.browser.msie) {
                                                r.pasteHTML('<span style="border:2px solid black">'+html+'</span>');
                                            } else {
                                                var newnode =$(this.iframe[0].contentDocument.createElement("span")).css("border", "2px solid black")[0];
                                                r.surroundContents(newnode);
                                            }
                                            r.collapse(false);
                                            r.select();
                                        }
                                    }
                                ],
                                [
                                    {
                                        css: "PinButton Button",
                                        text: "Add Pin tag",
                                        action: function() {
                                            this.pasteHTML('&#123;&#123;pin&#125;&#125;');
                                        }
                                    },
                                    {
                                        css: "SerialButton Button",
                                        text: "Add Serial tag",
                                        action: function() {
                                            this.pasteHTML('&#123;&#123;serial&#125;&#125;');
                                        }
                                    },
                                    {
                                        css: "ExpireButton Button",
                                        text: "Add Expire tag",
                                        action: function() {
                                            this.pasteHTML('&#123;&#123;expire&#125;&#125;');
                                        }
                                    }
                                ],
                                [
                                    {
                                        css: "RemoveStyleButton Button",
                                        text: "Remove Style",
                                        action: function() {
                                            this.iframe[0].contentWindow.focus();
                                            var node = $.browser.msie
                                                    ? this.getRange().parentElement()
                                                    : this.getRange().startContainer.parentNode;
                                            var highlightedText = node.innerHTML;
                                            if( node.tagName.toLowerCase() != 'body' && node.tagName.toLowerCase() != 'html')
                                            {
                                                var newNode = this.iframe[0].contentDocument.createTextNode(highlightedText);
                                                $(newNode).insertBefore(node);
                                                $(node).remove();
                                            }
                                            node.collapse(false);
                                            node.select();
                                        }
                                    }
                                ]
                            ]

                        });



                        $('.jHtmlArea').removeAttr('style');
                        $('.jHtmlArea').attr('style','max-width:95%');
                        $('.jHtmlArea .ToolBar').removeAttr('style');
                        $('.jHtmlArea > div').attr('style','width:100%');
                        $('.jHtmlArea > div > iframe').removeAttr('style');
                        $('.jHtmlArea > div > iframe').attr('style','min-height: 300px;width: 8cm;');
                        $('.jHtmlArea .PinButton').html('Pin');
                        $('.jHtmlArea .RemoveStyleButton').html('Remove Border');
                        $('.jHtmlArea .BorderButton').html('Border');
                        $('.jHtmlArea .SpanBorderButton').html('V Border');
                        $('.jHtmlArea .ExpireButton').html('Expire');
                        $('.jHtmlArea .SerialButton').html('Serial');

                        /*var x = $("#editform body").html();
                         $("#editform").submit(function(e){
                         var x = $(".mce-content-body").html();
                         e.preventDefault();
                         alert(x);
                         });*/
                    });



                    function updateItemCode()
                    {
                        country_id = $("#Item_Country").val();
                        item_type = $("#Item_itemType").val();
                        operator_id = $("#Item_operator").val();
                        item_name = $("#Item_itemName").val();

                        if(country_id != "" && item_type!="" && operator_id!="" && item_name!="")
                        {
                            $("#refresh1").attr('src','{{ asset('bundles/hellodi/img/refresh/loading.gif') }}');
                            $.post('{{ path('item_create_itemCode') }}',{countryid:country_id, itemtype:item_type, operatorid:operator_id, itemname:item_name},function(result){
                                $("#refresh1").attr('src','{{ asset('bundles/hellodi/img/refresh/refresh.png') }}');
                                $("#Item_itemCode").val(result);
                            });
                        }
                    }
                </script>

            </div>
        </div>
    </div>
{% endblock %}