{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowItemMaster.html.twig' %}

{% set tab = '1' %}

{% block title %}
    {{ 'Items' | trans ({}, "item") }}
{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('item') }}">{{ 'Items' | trans ({}, "item") }}</a>
    <span class="link">{{ 'Details' | trans ({}, "item") }}</span>
{% endblock Site_Map %}

{% set MU = 'item' %}

{% block Tab %}
    <div class="widget-header">
        <h3>{{ 'Details' | trans ({}, "item") }}</h3>
    </div> <!-- /widget-header -->

    <form class="form-horizontal">
        <div class="control-group" >
            <label class="control-label">{{ 'DateInsert' | trans ({}, "item") }}</label>
            <div class="controls">
                <input disabled=""  class="input-large" type="text" value="{{ item.itemDateInsert|date('Y/m/d') }}" >
            </div>
        </div>
        <div class="control-group" >
            <label class="control-label">{{ 'Country' | trans ({}, "item") }}</label>
            <div class="controls">
                <input disabled=""  class="input-large" type="text" value="{{ item.Country.name }}" >
            </div>
        </div>
        <div class="control-group" >
            <label class="control-label">{{ 'Name' | trans ({}, "item")}} ({{ 'FaceValue' | trans ({}, "item") }} / {{ 'Currency' | trans ({}, "item") }})</label>
            <div class="controls">
                <input disabled=""  class="input-large" type="text" value="{{ item.itemName }} ( {{ item.itemFaceValue }} / {{ item.itemCurrency }} )" >
            </div>
        </div>

        <div class="control-group" >
            <label class="control-label">{{ 'ItemType' | trans ({}, "item") }}</label>
            <div class="controls">
                <input disabled=""  class="input-large" type="text" value="{% if item.itemType=='dmtu' %}{{ 'Mobile' | trans ({}, "item") }}{% elseif item.itemType=='imtu' %}{{ 'IMTU' | trans ({}, "item") }}{% elseif item.itemType=='clcd' %}{{ 'Calling_Card' | trans ({}, "item") }}{% else %}{{ 'E-payment' | trans ({}, "item") }}{% endif %}" >
            </div>
        </div>

        <div class="control-group" >
            <label class="control-label">{{ 'MinStock' | trans ({}, "item") }}</label>
            <div class="controls">
                <input disabled=""  class="input-large" type="text" value="{{ item.alertMinStock }}" >
            </div>
        </div>

        <div class="control-group" >
            <label class="control-label">{{ 'ItemCode' | trans ({}, "item") }}</label>
            <div class="controls">
                <input  disabled="" class="input-large" type="text" value="{{ item.itemCode }}" >
            </div>
        </div>

        <div class="control-group" >
            <label class="control-label">{{ 'Operator' | trans ({}, "operator") }}</label>
            <div class="controls">
                <input disabled=""  class="input-large" type="text" value="{{ item.operator.NameCarrier }}" >
            </div>
        </div>
    </form>

    <div class="form-actions" >
        <a class="btn btn-primary" href="{{ path('item_edit',{'id':item.id}) }}">{{ 'Edit' | trans ({}, "common") }}</a>
    </div>

{% endblock %}



