<form action="{{ path('item_edit') }}" method="post">
    <input type="hidden" name="itemid" value="{{ itemid }}"/>
    <input type="submit" value="details"/>
</form>

<form action="#" method="post">
    <input type="hidden" name="itemid" value="{{ itemid }}"/>
    <input type="submit" value="description"/>
</form>

<form action="#" method="post">
    <input type="hidden" name="itemid" value="{{ itemid }}"/>
    <input type="submit" value="logo"/>
</form>

<form action="#" method="post">
    <input type="hidden" name="itemid" value="{{ itemid }}"/>
    <input type="submit" value="price setting"/>
</form>