{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Edit Operator
{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('operator') }}">{{ 'Operator' | trans ({}, "operator") }}</a>
    <span class="link">{{ 'EditOperator' | trans ({}, "operator") }}</span>
{% endblock Site_Map %}
{% block Link_Head %}

    <link href="{{ asset('bundles/hellodi/css/smart_wizard.css') }}" rel="stylesheet">
{% endblock %}

{% block PageTitle %}
    <i class="icon-align-justify"></i>
    {{ 'EditOperator' | trans ({}, "operator") }}
{% endblock %}


{% set MU = 'operator' %}

{% block Body %}

<div class="span">
    <div class="widget stacked">

        <!-- /widget-header -->

        <div class="widget-content">
            <form action="#"  method="post" {{ form_enctype(edit_form) }} class="form-horizontal">

                <div class="control-group">
                    {{ form_label(edit_form.name) }}
                    {{ form_widget(edit_form.name) }}
                    {{ form_errors(edit_form.name) }}
                </div>

                <div class="control">
                    <label class="control-label">
                        {{ 'Logo' | trans ({}, "operator") }}
                    </label>
                    <div class="controls">
                        <img src="{{ asset(operator.webPath) }}" style="width: 100px; height: 100px" />
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(edit_form.file) }}
                    {{ form_widget(edit_form.file,{'required':null }) }}
                    {{ form_errors(edit_form.file) }}
                </div>

                {{ form_rest(edit_form) }}

                <div class="form-actions" style="margin-bottom: 0">
                    <input type="submit" class="btn btn-primary" value="{{ 'Update' | trans ({}, "common") }}"/>
                    <a href="{{ path('operator') }}" class="btn">{{ 'Cancel' | trans ({}, "common") }}</a>
                </div>
            </form>
        </div>
       </div>
   </div>



{% endblock %}



