{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Operators
{% endblock title %}

{% set MU = 'operator' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Operator</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-align-justify"></i>
    Operators Management
{% endblock %}


{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Body %}
    <div class="span">
    <div class="widget stacked">

        <!-- /widget-header -->

        <div class="widget-content">
            <a class=" btn btn-primary btn-large" href="{{ path('operator_new') }}">
                Add a new Operator
            </a>

            <div style="margin-top: 5px" class="tablediv">

                    <div class="tab-content datatable">
                        <table id="example" class="table postsend">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Manage</th>
                                <th>Name</th>
                                <th>Logo</th>
                            </tr>
                            <tr class="input" >
                                <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                                <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                                <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
                                <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>

                            </tr>
                            </thead>
                            <tbody>
                            {% for operator in operators %}
                                <tr>

                                    <td >{{ operator.id }}</td>
                                    <td class="td-actions" >
                                        <a class="btn_actions" href="{{ path('operator_edit',{'id':operator.id}) }}">edit</a>
                                    </td>
                                    <td>{{ operator.name }}</td>
                                    <td><img src="{{ asset(operator.webPath) }}" style="width: 50px;height: 50px" /></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}