{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'Logs' | trans ({}, "log") }}
{% endblock title %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link"> {{ 'Logs' | trans ({}, "log") }}</span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-check"></i>
    {{ 'Logs' | trans ({}, "log") }}
{% endblock %}


{% block Link_Footer %}

{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked">
            <div class="widget-content">

                <div class="widget-header">
                    <h3> {{ 'Logs' | trans ({}, "log") }}</h3>
                </div>






                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">{{ 'Search_Logs' | trans ({}, "log") }}</p>
                        </span>
                    </h5>
                    <form class="form-horizontal SearchForm" action="{{ path('TestLog') }}"
                          method="POST">
                        <fieldset>



                            <div class="control-group">
                                {{ form_label(form.username) }}

                                {{ form_widget(form.username) }}

                            </div>
                            <div class="control-group datepicker2">
                                {{ form_label(form.from) }}

                                {{ form_widget(form.from) }}

                            </div>

                            <div class="control-group">
                                {{ form_label(form.to) }}

                                    {{ form_widget(form.to) }}

                            </div>
                            <hr>

                            <input class="btn btn-primary" type="submit"  name='search' value="{{ 'Search' | trans ({}, "common") }}">
       {% if Logs|length>0 and app.session.has('Logs')%}
                            <a href="{{ path('TestLog',{'flag':'DeleteSearch'}) }}" class="btn btn-primary">{{ 'Delete' | trans ({}, "common") }}</a>
        {% endif %}
                        </fieldset>
                    </form>

                   <script type="text/javascript">
                    Form_Search(0,"{{'Filter_List'|trans({},'js')  }}");
                    </script>
          </div>

                   <br>
                {% if Logs|length>0 %}
                <a class="btn btn-primary" href="{{ path('TestLog',{'flag':'DeleteAll'}) }}">{{ 'DeleteAll' | trans ({}, "log") }}</a>
                <a class="btn btn-primary" href="{{ path('TestLog',{'flag':'Export'}) }}">{{  'Export_To_File' | trans ({}, "log") }}</a>
                <br> <br>
                 {% endif %}
                <div class="tablediv">
                    <div class="contenttitle">
                        <h4> {{ 'Logs' | trans ({}, "log") }} (<span id='CountLog' style="color: red">{{ Logs|length }}</span> )</h4>

                    </div>


                    <form>
                        <div class="tab-content">

                            <table style="margin-top: 20px"
                                   class="table table-bordered table-striped table-highlight postsend">

                                <thead>

                                <tr>
                                    <th>{{ 'id' | trans ({}, "common") }}</th>
                                    <th>{{ 'Date' | trans ({}, "transaction") }}</th>
                                    <th>{{ 'Path' | trans ({}, "log") }}</th>
                                    <th>{{ 'UserName' | trans ({}, "user") }}</th>

                                    <th>{{ 'Controller' | trans ({}, "log") }}</th>

                                </tr>

                                </thead>
                                <tbody>

                                {% for Lg in Logs|reverse %}

                                        <tr id='Ext{{ Lg.id }}'>
                                            <td>
                                               {{ Lg.id }}
                                            </td>

                                            <td style="font-size:11px">
                                                {{ Lg.Date|date('Y/m/d H:i:s')}}
                                            </td>

                                            <td>
                                                {{ Lg.Path }}
                                            </td>

                                            <td>
                                                {{ Lg.User }}
                                            </td>

                                            <td>
                                                {{ Lg.Controller }}
                                            </td>


                                        </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>


            </div>
        </div>

        <script type="text/javascript">
            function DeleteExtension(id) {


                $("#Lg" + id).hide('fast', function () {
                    $("#Lg" + id).remove();
                });
                $.post('{{ path("DeleteLog") }}', {id: id}, function (result) {
                $('#CountLog').html(result);
                })
            }

        </script>

    </div>

{% endblock %}