{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('Ent_Main') }}">{{ 'Entities' | trans ({}, "entity") }}</a>
    <span class="link">{{ 'Accounts' | trans ({}, "accounts") }}</span>
{% endblock Site_Map %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Tab %}
    <div class="widget-header">
        <h3>
            {{ 'EntityAccounts' | trans ({}, "account") }}

        </h3>
    </div> <!-- /widget-header --><br>




   {% if  distprov==1 %}
{% if is_granted('ROLE_MASTER_ADMIN') %}
    <a style="margin-bottom: 5px" class="btn btn-primary btn-large" href="{{path('AddDist',{'id':entity.id})  }}">
        {{'CreateANewDistributor' | trans ({}, "accounts")}}
    </a>
{% endif %}

       <a style="margin-bottom: 5px" class=" btn btn-primary btn-large" href="{{ path('AddProv',{'id':entity.id}) }}">
           {{'CreateANewProvider' | trans ({}, "accounts")}}
       </a>
    {% endif %}


<div style="margin-top: 5px" class="tablediv">


    <div class="tab-content datatable">
        <table id="example" class="table postsend">
                <thead>
                <tr>
                    <th>{{'Id' | trans ({}, "common")}}</th>

                    <th>{{'Name' | trans ({}, "common")}}</th>
                    <th>{{'ChildNumber' | trans ({}, "accounts")}}</th>

                    <th>{{'AccountType' | trans ({}, "accounts")}}</th>

                    <th>{{'Balance' | trans ({}, "accounts")}}</th>
                    <th>{{'CreditLimit' | trans ({}, "accounts")}}</th>
                    <th>{{'Operation' | trans ({}, "common")}}</th>
                </tr>

                <tr class="input" >
                    <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                    <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
                    <td><input type="text" name="search_ChildNumber" value="Search ChildNumber" class="search_init" /></td>
                    <td><input type="text" name="search_Type" value="Search Type" class="search_init" /></td>
                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                </tr>

                </thead>
                <tbody>

                {% for account in entity.Accounts %}
                    <tr>
                        <td >{{ account.id }}</td>

                        <td >{{ account.accName }}</td>

                        <td >{{ account.children.count }}</td>
                        <td>
                            {% if account.accType == 1 %}Provider{% elseif account.accType == 0 %}Distributor
                            {% else %}
                                Retailer
                            {% endif %}
                        </td>

                        <td>{{ account.accBalance }}|<b>{{ account.accCurrency }}</b></td>
                        <td>{{account.accCreditLimit}}</td>

                        <td class="td-actions">


                            <a class="btn_actions"
                                    {% if account.accType == 0 %}

                               href="{{ path('MasterDistTransaction',{'id': account.id }) }}"

                                    {% elseif account.accType == 1 %}

                               href="{{ path('MasterProvTransaction',{'id': account.id }) }}"
                                   {% else %}
                                        href="{{ path('Master_Retailer_Transaction',{'id': account.id, 'distid':account.parent.id }) }}"
                                    {% endif %}

                                    >
                                {{'Manage' | trans ({}, "common")}}

                            </a>

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
