{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('Ent_Main') }}">Entities</a>
    <a class="link" href="#">{{ entity.entName }}</a>
    <span class="link">Accounts</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>Entity Accounts</h3>
    </div> <!-- /widget-header --><br>


{%  if (prov =='no') %}

   {%   if  dist==1 %}
    <a style="margin-bottom: 5px" class="btn btn-primary btn-large" href="{{path('AddDist',{'id':entity.id})  }}">
        {{'Account.New.Dist' | trans ({}, "account")}}
    </a>
       <a style="margin-bottom: 5px" class=" btn btn-primary btn-large" href="{{ path('AddProv',{'id':entity.id}) }}">
           {{'Account.New.Prov' | trans ({}, "account")}}
       </a>
    {% endif %}

{% endif %}




    <div class="tablediv" >
        <div class="contenttitle">
            <h4>Accounts</h4>
        </div>
        <div class="tab-content">
            <table style="margin-top: 20px" class="table table-striped table-bordered postsend">
                <thead>
                <tr>
                    <th>{{'Account.Id' | trans ({}, "account")}}</th>

                    <th>{{'Account.Name' | trans ({}, "account")}}</th>
                    <th>{{'Account.ChildNumber' | trans ({}, "account")}}</th>

                    <th>Type</th>

                    <th>{{'Account.Balance' | trans ({}, "account")}}</th>
                    <th>{{'Account.CreditLimit' | trans ({}, "account")}}</th>
                    <th>{{'Account.Manage' | trans ({}, "account")}}</th>
                </tr>

                </thead>
                <tbody>
                {% for account in pagination %}
                    <tr>
                        <td >{{ account.id }}</td>

                        <td >{{ account.accName }}</td>

                        <td >{{ account.Childrens.count }}</td>
                        <td>
                            {% if account.accType == 1 %}Provider{% elseif account.accType == 0 %}Distributor
                            {% else %}
                                Retailer
                            {% endif %}
                        </td>

                        <td>{{ account.accBalance }}|<b>{{ account.accCurrency }}</b></td>
                        <td>{{account.accCreditLimit}}</td>

                        <td class="td-actions">


                            <a class="btn_actions" href="{#{{ path('ProvTransaction',{'id': account.id }) }}#}#">Show</a>

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
