<html>
<body>

ssasdasds

<form action="{{ path('AddNewUserEntiti',{'id':entity.id}) }}" method="post" >

    {{ form_label(form.firstname) }}
    {{ form_widget(form.firstname) }}
    </br>
    {{ form_label(form.lastname) }}
    {{ form_widget(form.lastname) }}
    </br>
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    </br>

    {{ form_label(form.mobile) }}
    {{ form_widget(form.mobile) }}
    </br>
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    </br>

    {{ form_label(form.plainPassword) }}
    {{ form_widget(form.plainPassword) }}
    </br>
    {{ form_label(form.Account) }}
    {{ form_widget(form.Account) }}
     <br>
    {{ form_label(form.language) }}
    {{ form_widget(form.language) }}
    </br>
    {{ form_label(formrole.roles) }}
    {{ form_widget(formrole.roles) }}
    </br>

    {{ form_widget(form._token) }}
    <input type="hidden" value="{{ entity.id }}">

    <input type="submit" value="Search">
</form>

</body>
</html>