{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('Ent_Main') }}">Entities</a>
    <a class="link" href="#">{{ entity.entName }}</a>
    <span class="link">Accounts</span>
{% endblock Site_Map %}

{% block Tab %}

    <div class="widget-header">
        <h3>Add Users</h3>
    </div> <!-- /widget-header --><br>

<form class="form-horizontal" action="{{ path('AddNewUserEntiti',{'id':entity.id}) }}" method="post" >

    <div class="control-group">
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
    </div>

    <div class="control-group">
    {{ form_label(form.lastname) }}
    {{ form_widget(form.lastname) }}
    </div>
    <div class="control-group">
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    </div>

    <div class="control-group">
    {{ form_label(form.mobile) }}
    {{ form_widget(form.mobile) }}
    </div>

    <div class="control-group">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    </div>

    <div class="control-group">
    {{ form_label(form.plainPassword) }}
    {{ form_widget(form.plainPassword) }}
    </div>

    <div class="control-group">
    {{ form_label(form.Account) }}
    <div class="controls">
        {{ form_widget(form.Account) }}
    </div>
     </div>

    <div class="control-group">
        {{ form_label(form.language) }}
        <div class="controls">
            {{ form_widget(form.language) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(formrole.roles) }}
        <div class="controls">
            {{ form_widget(formrole.roles) }}
        </div>
    </div>


    {{ form_widget(form._token) }}
    <input type="hidden" value="{{ entity.id }}">


    <div class="form-actions" style="margin-bottom: 0" >
        <input type="submit" class="btn btn-primary btn-medium" value="Add">
        <a class="btn" onclick="GoWhere(1)"  >Back</a>
        <script type="text/javascript">
            function GoWhere(x)
            {
                if(x == 1)
                    $('form#usertab').submit();
                /*else
                {
                    if(CheckData('.price input'))
                        $('addprice').submit();
                }*/
            }
        </script>
    </div>

</form>
{% endblock %}