{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('Ent_Main') }}">{{ 'Entities' | trans ({}, "entity") }}</a>
    <a class="link" href="{{ path('Ent_Users',{'id':entity.id} ) }}">{{ 'Users' | trans ({}, "user") }}</a>
    <span class="link">{{ 'AddNewUser' | trans ({}, "user") }}</span>
{% endblock Site_Map %}


{% block Tab %}


    <div class="widget-header">
        <h3>{{ 'CreateUser' | trans ({}, "user") }}</h3>
    </div>

        <!-- /widget-header --><br>

<form class="form-horizontal" action="{{ path('AddNewUserEntiti',{'id':entity.id}) }}" method="post" >

    <div class="control-group">
        {{ form_label(form.firstname) }}

        <div class="controls money">
            {{ form_widget(form.firstname ) }} <span class="icon-certificate">
            </span>
            {{ form_errors(form.firstname) }}
        </div>
    </div>

    <div class="control-group">
    {{ form_label(form.lastname) }}

            {{ form_widget(form.lastname ) }}
        {{ form_errors(form.lastname) }}
    </div>

    <div class="control-group">
    {{ form_label(form.username) }}

        <div class="controls money">
            {{ form_widget(form.username ) }} <span class="icon-certificate">
            </span>
            {{ form_errors(form.username) }}
        </div>
    </div>

    <div class="control-group">
    {{ form_label(form.mobile) }}

    {{ form_widget(form.mobile) }}
        {{ form_errors(form.mobile) }}
    </div>

    <div class="control-group">
    {{ form_label(form.email) }}

    {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="control-group">
        {{ form_label(form.plainPassword.first) }}

        <div class="controls money">
            {{ form_widget(form.plainPassword.first ) }} <span class="icon-certificate">
            </span>
            {{ form_errors(form.plainPassword.first ) }}
        </div>
        {#{{ form_widget(form.plainPassword) }}#}
    </div>

    <div class="control-group">
        {{ form_label(form.plainPassword.second) }}

        <div class="controls money">
            {{ form_widget(form.plainPassword.second ) }} <span class="icon-certificate">
            </span>
            {{ form_errors(form.plainPassword.second) }}
        </div>
        {#{{ form_widget(form.plainPassword) }}#}
    </div>


    <div class="control-group">
    {{ form_label(form.Account) }}
    <div class="controls money">
    {% set j=0 %}
    {% for Acc in entity.Accounts %}
                 {% if Acc.AccType==2 %}
                       {% set j=j+1 %}
                 {% endif %}
   {% endfor %}
    {% if j==entity.Accounts|length %}
                  {{ form_widget(form.Account,{'attr':{'readonly':'readonly'}} ) }}
    {% else %}
                   {{ form_widget(form.Account ) }}
      {% endif %}
        <span class="icon-certificate">
            </span>

    </div>
     </div>

    <div class="control-group">
        {{ form_label(form.language) }}
        {{ form_errors(form.language) }}
        <div class="controls money">
            {{ form_widget(form.language) }}<span class="icon-certificate"></span>
            {{ form_errors(form.language) }}
        </div>
    </div>

    <div class="control-group">
        {{ form_label(form.roles[0]) }}

        <div class="controls money">
            {{ form_widget(form.roles[0]) }}<span class="icon-certificate"></span>
            {{ form_errors(form.roles[0]) }}
        </div>
    </div>

    <div class="control-group">
        {{ form_label(form.enabled) }}

        <div class="controls money">
            {{ form_widget(form.enabled) }}<span class="icon-certificate"></span>
            {{ form_errors(form.enabled) }}
        </div>
    </div>

    {{ form_widget(form._token) }}
    <input type="hidden" value="{{ entity.id }}">


    <div class="form-actions" style="margin-bottom: 0" >
        <input type="submit" class="btn btn-primary btn-medium" value="{{ 'Create' | trans ({}, "common") }}">
        <a href="javascript:history.go(-1)" class="btn">{{ 'Cancel' | trans ({}, "common") }}</a>
    </div>

</form>
{% endblock %}