{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('Ent_Main') }}">Entities</a>
    <span class="link">Accounts</span>
{% endblock Site_Map %}

{% block Tab %}
    <div class="widget-header">
        <h3>Add Provider Accounts</h3>
    </div> <!-- /widget-header --><br>

<form id="addprovent" class="form-horizontal" action="{{ path('AddProv',{'id':id}) }}" method="post" >

    <div class="control-group" >
        {{ form_label(form.accName) }}
        {{ form_widget(form.accName ,{ 'attr' : { 'placeholder': 'important'} }) }}
        {{ form_errors(form.accName) }}
    </div>


    <div class="control-group">
        {{ form_label(form.accCurrency) }}
        <div class="controls">
            {{ form_widget(form.accCurrency,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'} }) }}
        </div>
        {{ form_errors(form.accCurrency) }}
    </div>

    <div class="control-group">
        {{ form_label(form.accTerms) }}

            {{ form_widget(form.accTerms,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'} }) }}

        {{ form_errors(form.accTerms) }}
    </div>

    {{ form_widget(form._token) }}

    <input type="hidden" name='id' value="{{ id }}">
    <div class="form-actions" style="margin-bottom: 0" >
        <input class="btn btn-primary" type="submit"  value="Create">

    </div>
</form>
{% endblock %}

