{#{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}#}

{#{% set tab = '3' %}#}

{#{% block Site_Map %}#}
    {#<a class="link" href="{{ path('loginsuccess') }}">Home</a>#}
    {#<a class="link" href="{{ path('Ent_Main') }}">Entities</a>#}
    {#<a class="link" href="#">{{ entity.entName }}</a>#}
    {#<span class="link">Users</span>#}
{#{% endblock Site_Map %}#}

{#{% block Tab %}#}
    <div class="widget-header">
        <h3>Entity Users</h3>
    </div> <!-- /widget-header --><br>




<div class="tab-content">
    <table style="margin-top: 20px" class="table table-striped table-bordered postsend">
        <thead>
        <tr>
            <th>{{ 'Address.adrs1' | trans ({}, "user") }}</th>
            <th>{{ 'Address.adrs2' | trans ({}, "user") }}</th>
            <th>{{ 'Address.adrs3' | trans ({}, "user") }}</th>
            <th>{{ 'Address.adrsNp' | trans ({}, "user") }}</th>
            <th>{{ 'Address.adrsCity' | trans ({}, "user") }}</th>
            <th>{{ 'Address.Country.Iso' | trans ({}, "user") }}</th>
            <th>{{ 'Address.Manage' | trans ({}, "user") }}</th>
        </tr>
        </thead>
        <tbody>


            <tr>
                <td>{{ entity.entadrs1 }}</td>
                <td>{{ entity.entadrs2 }}</td>
                <td>{{ entity.entadrs3 }}</td>
                <td>{{ entity.entNp }}</td>
                <td>{{ entity.entCity }}</td>
                <td>{{ entity.Country.Iso }}|{{ entity.Country.name}}</td>
                <td>
                    <a href="{{ path('Ent_Edit_Address',{'id':entity.id}) }}">Manage</a>
                </td>
            </tr>


        </tbody>
    </table>


<hr>

    <div class="tablediv" >
        <div class="contenttitle">
            <h4>Users</h4>
        </div>
        <div class="tab-content">
            <table style="margin-top: 20px" class="table table-striped table-bordered postsend">
                <thead>
                <tr>
                    <th>{{ 'Address.Id' | trans ({}, "user") }}</th>
                    <th>{{ 'Address.adrsDate' | trans ({}, "user") }}</th>
                    <th>{{ 'Address.adrs1' | trans ({}, "user") }}</th>
                    <th>{{ 'Address.adrs2' | trans ({}, "user") }}</th>
                    <th>{{ 'Address.adrs3' | trans ({}, "user") }}</th>
                    <th>{{ 'Address.adrsNp' | trans ({}, "user") }}</th>
                    <th>{{ 'Address.adrsCity' | trans ({}, "user") }}</th>
                    <th>{{ 'Address.Country.Iso' | trans ({}, "user") }}</th>
                </tr>
                </thead>
                <tbody>

                {% for Address in pagination %}

                        <tr>

                            <td >{{ Address.id }}</td>
                            <td>{{ Address.adrsDate|date('m-Y-d') }}</td>
                            <td>{{ Address.adrs1 }}</td>
                            <td>{{ Address.adrs2 }}</td>
                            <td>{{ Address.adrs3 }}</td>
                            <td>{{ Address.adrsNp }}</td>
                            <td>{{ Address.adrsCity }}</td>
                            <td>{{ Address.Country.Iso }}|{{ Address.Country.name}}</td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
            {#{button pagination}#}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{#{% endblock %}#}