{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('Ent_Main') }}">{{ 'Entities' | trans ({}, "entity") }}</a>
    <span class="link">{{ 'Address' | trans ({}, "entity") }}</span>
{% endblock Site_Map %}


{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Tab %}




<div class="tablediv">
    <div class="contenttitle">
        <h4>{{ 'Address' | trans ({}, "entity") }}</h4>
    </div>
    <div class="tab-content">
        <table style="margin-top: 20px" class="table table-striped table-bordered postsend">
            <thead>
            <tr>
                <th>{{ 'Adrs1' | trans ({}, "entity") }}</th>
                <th>{{ 'Adrs2' | trans ({}, "entity") }}</th>
                <th>{{ 'Adrs3' | trans ({}, "entity") }}</th>
                <th>{{ 'NP' | trans ({}, "entity") }}</th>
                <th>{{ 'City' | trans ({}, "entity") }}</th>
                <th>{{ 'Country' | trans ({}, "entity") }}</th>
                <th>{{ 'Opeation' | trans ({}, "common") }}</th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <td>{{ entity.entadrs1 }}</td>
                <td>{{ entity.entadrs2 }}</td>
                <td>{{ entity.entadrs3 }}</td>
                <td>{{ entity.entNp }}</td>
                <td>{{ entity.entCity }}</td>
                <td>{{ entity.Country.Iso }}|{{ entity.Country.name}}</td>
                <td>
                    <a class="btn_actions" href="{{ path('Ent_Edit_Address',{'id':entity.id,'addrid':entity.id}) }}">{{ 'Edit' | trans ({}, "common") }}</a>
                </td>
            </tr>


            </tbody>
        </table>
</div>
    </div>


<hr>


    <div style="margin-top: 5px" class="tablediv">


        <div class="tab-content datatable">
            <table id="example" class="table postsend">
                <thead>
                <tr>
                    <th>{{ 'Id' | trans ({}, "common") }}</th>
                    <th>{{ 'DateChange' | trans ({}, "entity") }}</th>
                    <th>{{ 'Country' | trans ({}, "entity") }}</th>
                    <th>{{ 'City' | trans ({}, "entity") }}</th>

                    <th>{{ 'Adrs1' | trans ({}, "entity") }}</th>
                    <th>{{ 'Adrs2' | trans ({}, "entity") }}</th>
                    <th>{{ 'Adrs3' | trans ({}, "entity") }}</th>
                    <th>{{ 'NP' | trans ({}, "entity") }}</th>

                </tr>

                <tr class="input" >
                    <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                    <td><input type="text" id="search_DateChange" name="search_DateChange" value="Search DateChange" class="search_init" /></td>



                    <td><input type="text" name="search_Town" value="Search Town" class="search_init" /></td>
                    <td><input type="text" name="search_Street" value="Search Street" class="search_init" /></td>
                    <td><input type="text" name="search_Additional" value="Search Additional" class="search_init" /></td>
                    <td><input type="text" name="search_PostCode" value="Search PostCode" class="search_init" /></td>
                    <td><input type="text" name="search_City" value="Search City" class="search_init" /></td>
                    <td><input type="text" name="search_Country" value="Search Country" class="search_init" /></td>


                </tr>

                </thead>
                <tbody>

                {% for Address in pagination %}

                        <tr>

                            <td >{{ Address.id }}</td>
                            <td>{{ Address.adrsDate|date('Y/m/d') }}</td>
                            <td>{{ Address.Country.Iso }}|{{ Address.Country.name}}</td>
                            <td>{{ Address.adrsCity }}</td>
                            <td>{{ Address.adrs1 }}</td>
                            <td>{{ Address.adrs2 }}</td>
                            <td>{{ Address.adrs3 }}</td>
                            <td>{{ Address.adrsNp }}</td>


                        </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
<div style="display:none ">

    <form class="SearchForm" method="#" action="#">
        <input type="hidden" value="1" name="page" id="search_page" >
        <hr>
        <input  class="btn btn-primary" type="submit" value="{{ 'Search' | trans ({}, "common") }}">
    </form>
    <div>
{% endblock %}

{% block Link_Footer %}

    <script type="text/javascript">
        $(function(){
            //$('#search_DateChange').datepicker({ dateFormat: 'mm-yy-dd' });
        });
    </script>

{% endblock %}