{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('Ent_Main') }}">Entities</a>
    <a class="link" href="#">{{User.Entiti.entName }}</a>
    <span class="link">Users</span>
{% endblock Site_Map %}

{% block Tab %}

<div class="widget-header">
    <h3>Manage Users</h3>
</div> <!-- /widget-header --><br>

<form class="form-horizontal"  action="{{ path('EditUserEntities',{'id':User.id}) }}" method="post" >

    <div class="control-group">
        {{ form_label(form_edit.firstname) }}
        {{ form_widget(form_edit.firstname) }}
    </div>

    <div class="control-group">
    {{ form_label(form_edit.lastname) }}
    {{ form_widget(form_edit.lastname) }}
    </div>

    <div class="control-group">
    {{ form_label(form_edit.username) }}
    {{ form_widget(form_edit.username) }}
    </div>

    <div class="control-group">
    {{ form_label(form_edit.mobile) }}
    {{ form_widget(form_edit.mobile) }}
    </div>

    <div class="control-group">
    {{ form_label(form_edit.email) }}
    {{ form_widget(form_edit.email) }}
    </div>

    <div class="control-group">
    {{ form_label(form_edit.plainPassword) }}
    {{ form_widget(form_edit.plainPassword) }}
    </div>

    <div class="control-group">
        {{ form_label(form_edit.enabled) }}
        <div class="controls">
            {{ form_widget(form_edit.enabled) }}
        </div>

    <div class="control-group">
    {{ form_label(form_edit.language) }}
    <div class="controls">
        {{ form_widget(form_edit.language) }}
    </div>

        <div class="control-group">
            {{ form_label(form_edit.Account) }}
            <div class="controls">
                {{ form_widget(form_edit.Account) }}
            </div>

    </div>
   {#// <input type="hidden" value="{{ entity.id }}">#}
    {{ form_widget(form_edit._token) }}
    <div class="form-actions" style="margin-bottom: 0" >
        <input type="submit" class="btn btn-primary btn-medium" value="Edit">
        <a class="btn" onclick="GoWhere(1)"  >Back</a>
        <script type="text/javascript">
            function GoWhere(x)
            {
                if(x == 1)
                    $('form#usertab').submit();
                /*else
                 {
                 if(CheckData('.price input'))
                 $('addprice').submit();
                 }*/
            }
        </script>
    </div>
</form>
{% endblock %}