{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '4' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('Ent_Main') }}">Entities</a>
    <span class="link">Info</span>
{% endblock Site_Map %}

{% block Tab %}
    <div class="widget-header">
        <h3>Entity Info</h3>
    </div> <!-- /widget-header -->

    <form style="margin-top: 20px" action="{{ path('Ent_Info',{'id':entity.id}) }}" method="post" class="form-horizontal" >
        <fieldset>




            <div class="control-group">
                {{ form_label(edit_form.entName) }}
                {{ form_widget(edit_form.entName,{'attr':{'readonly':''}}) }}
            </div>

            <div class="control-group">
                {{ form_label(edit_form.entVatNumber) }}
                {{ form_widget(edit_form.entVatNumber,{'attr':{'readonly':''}}) }}
            </div>


            <div class="control-group">
            {{ form_label(edit_form.entTel1) }}
            {{ form_widget(edit_form.entTel1) }}
           </div>

            <div class="control-group">
            {{ form_label(edit_form.entTel2) }}
            {{ form_widget(edit_form.entTel2) }}
            </div>

            <div class="control-group">
            {{ form_label(edit_form.entFax) }}
            {{ form_widget(edit_form.entFax) }}
            </div>

            <div class="control-group">
            {{ form_label(edit_form.entWebsite) }}
            {{ form_widget(edit_form.entWebsite) }}
            </div>

            <div class="control-group">
            {{ form_label(edit_form.entAdrs1) }}
            {{ form_widget(edit_form.entAdrs1,{ 'attr' : { 'placeholder': 'important'}}) }}
            </div>

            <div class="control-group">
            {{ form_label(edit_form.entAdrs2) }}
            {{ form_widget(edit_form.entAdrs2) }}
            </div>

            <div class="control-group">
            {{ form_label(edit_form.entAdrs3) }}
            {{ form_widget(edit_form.entAdrs3) }}
            </div>

            <div class="control-group">
            {{ form_label(edit_form.entCity) }}
            {{ form_widget(edit_form.entCity,{ 'attr' : { 'placeholder': 'important'}}) }}
            </div>

            <div class="control-group">
            {{ form_label(edit_form.Country) }}
            {{ form_widget(edit_form.Country) }}
            {{ form_widget(edit_form._token) }}
                </div>

            <input type="hidden" name="entityid" value="{{ entityid }}"/>
            <div class="form-actions" style="margin-bottom: 0" >
                <button class="btn btn-primary" type="submit">{{'Entiti.Edit' | trans ({}, "entity")}}</button>
                <button type="reset" class="btn">Reset</button>
            </div>
        </fieldset>
    </form>


{% endblock %}