{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Distributors Management
{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}" xmlns="http://www.w3.org/1999/html">Home</a>
    <span class="link">Distributors Management</span>
{% endblock Site_Map %}

{% set MU = 'ent' %}

{% block Body %}
    <div class="span12">
        <div class="widget stacked">
            <div class="widget-header">
                <i class="icon-book"></i>
                <h3>All Entities</h3>
            </div>
            <div class="widget-content">
                <div class="tab-content">

                    <div class="form_search" >
                        <h5 style="cursor:pointer;" class="TitleShow1" >Filter Entity List</h5>


                        <form action="{{ path('Ent_Main',{}) }}" method="post" >

                            {{ form_label(formsearch.entName) }}
                            {{ form_widget(formsearch.entName) }}
                            </br>

                            {{ form_label(formsearch.HaveAccount) }}
                            {{ form_widget(formsearch.HaveAccount) }}
                            </br>

                            {{ form_label(formsearch.Country) }}
                            {{ form_widget(formsearch.Country) }}
                            </br>

                            <input type="submit" value="Search">
                        </form>

                        <script type="text/javascript">
                            $(function(){
                                $(".SearchForm1").hide();
                                $('.TitleShow1').click(function(){
                                    $('.SearchForm1').slideToggle();

                                });
                            });
                        </script>
                    </div>

                    <form class="form-horizontal SearchForm" action="{{ path('Ent_Accounts',{}) }}" method="post" >
                        <table style="margin-top: 20px" class="table table-bordered table-striped table-highlight postsend">
                            <thead>
                            <tr>
                                <th>{{'Entiti.Id' | trans ({}, "entity")}}</th>
                                <th>{{'Entiti.Manage' | trans ({}, "entity")}}</th>
                                <th>{{'Entiti.Name' | trans ({}, "entity")}}</th>
                                <th>{{'Entiti.Country' | trans ({}, "entity")}}</th>
                                <th>{{'Entiti.City' | trans ({}, "entity")}}</th>
                                <th>{{'Entiti.Distributors' | trans ({}, "entity")}}</th>
                                <th>{{'Entiti.Provider' | trans ({}, "entity")}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in pagination %}
                                {% set p,d=0,0  %}
                                <tr>
                                    <td style="font-weight: bold">{{ entity.id }}</td>

                                    <td class="td-actions" >
                                        {% if entity.parent==null %}
                                            <input type="submit" value="Manage" onclick="$('.entityid').val('{{ entity.id}}');" />
                                        {% else %}
                                            <input type="submit" value="Show" onclick="$('.entityid').val('{{ entity.id}}');" />
                                        {% endif %}
                                    </td>
                                    <td>{{ entity.entName }}</td>
                                    <td>
                                        {% if entity.Addresses.count!=0 %}
                                            {#{{ entity.Addresses[0].Country.iso }}#}
                                            {{ entity.Addresses[0].Country.iso }}
                                        {% else %}
                                            Null
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entity.Addresses.count!=0 %}
                                        {{ entity.Addresses[0].adrsCity }}</td>
                                    {% else %}
                                        Null
                                    {% endif %}
                                    <td>

                                        {% for EA in entity.Accounts %}
                                            {% if EA.accProv==1 %}
                                                {% set p=p+1 %}
                                            {% else %}
                                                {% set d=d+1 %}
                                            {% endif %}
                                        {% endfor %}

                                        {{ p }}
                                    </td>

                                    <td>
                                        {{ d }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <input type="hidden" name="entityid" value="" class="entityid" />
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
