{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Entities Management
{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}" xmlns="http://www.w3.org/1999/html">Home</a>
    <span class="link">Entities Management</span>
{% endblock Site_Map %}

{% set MU = 'ent' %}

{% block PageTitle %}
    <i class="icon-book"></i>
    Entities Management
{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked">

            <div class="widget-content">


                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Search Entities</p>
                        </span>
                    </h5>


                    <form class="form-horizontal SearchForm" action="{{ path('Ent_Main',{}) }}" method="post">
                        <fieldset>
                            <div class="control-group">
                                {{ form_label(formsearch.entName) }}
                                {{ form_widget(formsearch.entName) }}
                            </div>

                            <div class="control-group">
                                <label class="control-label">
                                    Have Account
                                </label>
                            </div>

                            {% for Acc in formsearch.HaveAccount %}
                            <div class="control-group">

                                {{ form_label(Acc) }}
                                <div class="controls" >{{ form_widget(Acc) }}</div>

                            </div>
                            {% endfor %}
                            <div class="control-group">
                                {{ form_label(formsearch.Country) }}
                                <div class="controls">{{ form_widget(formsearch.Country) }}</div>
                            </div>


                            <input type="hidden" value="1" name="page" id="search_page" >
                            <hr>
                           <input  class="btn btn-primary" type="submit" value="Search">
                        </fieldset>

                    </form>
                    <script type="text/javascript">
                        $(function () {
                            $(".SearchForm").hide();
                            $('.TitleShow1').click(function () {
                                $('.SearchForm').slideToggle();
                                $('#search_logo').removeAttr('class') ;

                                if($('.title_search').html() == 'Search Entities')
                                {
                                    $('.title_search').html('Close Search') ;
                                    $('#search_logo').attr('class','icon-remove') ;
                                }
                                else{
                                    $('.title_search').html('Search Entities') ;
                                    $('#search_logo').attr('class','icon-search') ;
                                }

                                var x = $('.form_search').offset().top - 20;
                                $('body,html').animate({
                                    scrollTop: x
                                }, 800);
                            });

                        });
                    </script>

                </div>

                <div class="tablediv" >
                    <div class="contenttitle">
                        <h4>Entities</h4>
                    </div>
                    {#<form  action="{{ path('Ent_Accounts',{}) }}" method="post">#}
                    <div class="tab-content">

                            <table style="margin-top: 20px" class="table table-bordered table-striped table-highlight postsend">
                                <thead>
                                <tr>
                                    <th>{{ 'Id' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Manage' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Name' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Country' | trans ({}, "entity") }}</th>
                                    <th>{{ 'City' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Count Distributors' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Count Provider' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Count Retailer' | trans ({}, "entity") }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    {% set p,d,r=0,0,0 %}
                                    <tr>
                                        <td style="font-weight: bold">{{ entity.id }}</td>

                                        <td class="td-actions">

                                            <a class="btn_actions" href="{{path('Ent_Accounts',{'id':entity.id})  }}" >Manage</a>

                                        </td>
                                        <td>{{ entity.entName }}</td>
                                        <td>
                                            {{ entity.Country.iso }}|{{ entity.Country.Name }}
                                        </td>
                                        <td>

                                            {{ entity.entCity }}

                                        <td>

                                            {% for EA in entity.Accounts %}
                                                {% if EA.accType==1 %}
                                                    {% set p=p+1 %}
                                                {% elseif EA.accType==0 %}
                                                    {% set d=d+1 %}

                                                {% elseif EA.accType==2 %}
                                                    {% set r=r+1 %}
                                                {% endif %}
                                            {% endfor %}

                                            {{ d }}

                                        </td>

                                        <td>
                                            {{ p }}
                                        </td>

                                        <td>
                                            {{ r }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>




                    </div>

                    </form>

                </div>

                <div class="navigation" style="text-align: center">
                    {{ knp_pagination_render(pagination) }}
                </div>


            </div>

        </div>

    </div>
{% endblock %}
