{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowEntityMaster.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('Ent_Main') }}">Entities</a>
    <a class="link" href="#">{{ entity.entName }}</a>
    <span class="link">Users</span>
{% endblock Site_Map %}

{% block Tab %}
    <div class="widget-header">
        <h3>Entity Users</h3>
    </div> <!-- /widget-header --><br>


    <a style="margin-bottom: 5px" class=" btn btn-primary btn-large" href="{{ path('AddNewUserEntiti',{id:entity.id}) }} ">
        {{ 'User.Add' | trans ({}, "user") }}
    </a>

    <div class="tablediv" >
        <div class="contenttitle">
            <h4>Users</h4>
        </div>
        <div class="tab-content">
            <table style="margin-top: 20px" class="table table-striped table-bordered postsend">
                <thead>
                <tr>
                    <th>{{ 'User.Id' | trans ({}, "user") }}</th>
                    <th>{{ 'User.Name' | trans ({}, "user") }}</th>
                    <th>{{ 'User.UserName' | trans ({}, "user") }}</th>
                    <th>{{ 'User.Account' | trans ({}, "user") }}</th>
                    <th>{{ 'User.Privilege' | trans ({}, "user") }}</th>
                    <th>{{ 'User.Modify' | trans ({}, "user") }}</th>
                    <th>{{ 'User.ChangeROLE' | trans ({}, "user") }}</th>
                </tr>
                </thead>
                <tbody>

                {% for User in pagination %}

                        <tr>

                            <td >{{ User.id }}</td>
                            <td>{{ User.firstName }}</td>
                            <td>{{ User.username }}</td>
                            <td>
                                {% if User.roles[0]=='ROLE_MASTER' or User.roles[0]=='ROLE_MASTER_ADMIN'  %}
                                    null
                                    {% else %}
                                {{ User.Account.accName }}
                                        {% endif
                                %}
                            </td>
                            <td>

                                {{ User.roles[0] }}

                            </td>
                            <td class="td-actions" >
                                <a class="btn_actions" href="{{ path('EditUserEntities',{'id':User.id}) }}">Manage</a>
                            </td>
                            <td class="td-actions" >
                                <a class="btn_actions" href="{{ path('ChangeRoleUserEntities',{'id':User.id}) }}">Change Role</a>
                            </td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
            {#{button pagination}#}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}