{% extends 'HelloDiDistributorBundle::menu.html.twig' %}

{% block title %}{{ 'CreateRetailerWithEntity' | trans ({}, "accounts") }}{% endblock title %}

{% block PageTitle %}<i class="icon-check"></i>{{ 'CreateRetailerWithEntity' | trans ({}, "accounts") }}{% endblock %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_distributor_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_distributor_retailer_index') }}">{{ 'Retailers' | trans ({}, "accounts") }}</a>
    <span class="link">{{ 'CreateRetailerWithEntity' | trans ({}, "accounts") }}</span>
{% endblock Site_Map %}

{% block Link_Head %}
    <link href="{{ asset('bundles/hellodi/css/smart_wizard.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/more/dist.retail.form.js') }}"></script>
{% endblock %}

{% set MU = 'retail' %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content">
            <form method="post" class="form-horizontal form-step">
                <fieldset>
                    <div id="wizard" class="swMain">
                        <ul class="anchor">
                            <li><a id="step1" rel="1" isdone="1" class="selected" onclick="go(1)">
                                    <label style="cursor:default" class="stepNumber">1</label>
                                    <span class="stepDesc">{{ 'Entity' | trans ({}, "entity") }}<br></span>
                                </a></li>
                            <li><a id="step2" rel="2" isdone="0" class="disabled" onclick="go(2)">
                                    <label style="cursor:default" class="stepNumber">2</label>
                                    <span class="stepDesc">{{ 'Account' | trans ({}, "accounts") }}<br></span>
                                </a></li>
                            <li><a id="step3" rel="3" isdone="0" class="disabled" onclick="go(3)">
                                    <label style="cursor:default" class="stepNumber">3</label>
                                    <span class="stepDesc">{{ 'User' | trans ({}, "user") }}<br></span>
                                </a></li>
                        </ul>

                        <div class="stepContainer">
                            <!-- Entity -->
                            <div style="display: block;position: absolute;z-index: 10" class="content" id="step-1">
                                <div class="widget-header"><h3>{{ 'Entity' | trans ({}, "entity") }}</h3></div>
                                {{ form_row(form.account.entity) }}
                            </div>

                            <!-- Account -->
                            <div style="display: none;position: absolute;z-index: 11" class="content" id="step-2">
                                <div class="widget-header"><h3>{{ 'Account' | trans ({}, "accounts") }}</h3></div>
                                {{ form_row(form.account.name) }}
                                {{ form_row(form.account.defaultLanguage) }}
                                {{ form_row(form.account.terms) }}
                            </div>

                            <!-- User -->
                            <div style="display: none;position: absolute;z-index: 11" class="content" id="step-3">
                                <div class="widget-header"><h3>{{ 'User' | trans ({}, "user") }}</h3></div>
                                {{ form_row(form.account.users[0]) }}
                            </div>

                            {{ form_widget(form._token) }}
                        </div>

                        <div class="form-actions" style="margin-bottom: 0">
                            <a class="btn btn-primary buttonPrevious" onclick="Prev()" style="display: none">{{ 'Previous' | trans ({}, "common") }}</a>
                            <a class="btn btn-primary buttonNext" onclick="Next()">{{ 'Next' | trans ({}, "common") }}</a>
                            <a class="btn btn-success finalsubmit" onclick="Done()"  style="display: none">{{ 'Create' | trans ({}, "common") }}</a>
                            <a class="btn" href="{{ path('hello_di_distributor_retailer_index') }}">{{ 'Cancel' | trans ({}, "common") }}</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <input type="hidden" class="step_number" value="1"/>
{% endblock Body %}