{% extends 'HelloDiDistributorBundle::menu.html.twig' %}

{% block title %}{{ 'Retailers' | trans ({}, "accounts") }}{% endblock title %}

{% block PageTitle %}<i class="icon-th-large"></i>{{ 'Retailers' | trans ({}, "accounts") }}{% endblock %}

{% set MU = 'retail' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_distributor_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Retailers' | trans ({}, "accounts") }}</span>
{% endblock Site_Map %}

{% block Link_Head %}
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Fix_Size();
            $('form').submit(function() {
                $('form input, form select, form button').filter(function() {return $(this).val() == ""}).attr('name', '');
            });
        });
    </script>
{% endblock %}

{% block Body %}
    <div class="widget stacked ">
        <div class="widget-content">
            <a class="btn-large button btn btn-primary" href="{{ path('hello_di_distributor_retailer_add') }}">{{ 'CreateRetailerWithEntity' | trans ({}, "accounts") }}</a>
            <a class="btn-large button btn btn-success" href="{{ path('hello_di_pricing_retailer_model_index') }}">{{ 'ManageRetailerModel' | trans ({}, "accounts") }}</a>

            <div class="form_search">
                <h5 style="cursor:pointer;" class="TitleShow1">
                    <span><i id="search_logo" class="icon-search"></i><span class="title_search">Search Retailer</span></span>
                </h5>

                {{ form(form) }}

                <script type="text/javascript">
                    $(function () {
                        Form_Search(0,"{{'Filter_List'|trans({},'js')  }}");
                    });
                </script>
            </div>

            <div style="margin-top: 5px" class="tablediv">
                <div class="tab-content datatable">
                    <table id="example" class="table postsend">
                        <thead>
                        <tr>
                            <th>{{ 'Id' | trans ({}, "common") }}</th>
                            <th>{{ 'Name' | trans ({}, "common") }}</th>
                            <th>{{ 'Entity' | trans ({}, "entity") }}</th>
                            <th>{{ 'Balance' | trans ({}, "accounts") }}</th>
                            <th>{{ 'CreditLimit' | trans ({}, "accounts") }}</th>
                            <th>{{ 'Operation' | trans ({}, "common") }}</th>
                        </tr>
                        <tr class="input">
                            <td><label><input type="text" name="search_Id" value="Search Id" class="search_init"/></label></td>
                            <td><label><input type="text" name="search_Name" value="Search Name" class="search_init"/></label></td>
                            <td><label><input type="text" name="search_Entity_Name" value="Search Entity Name" class="search_init"/></label></td>
                            <td><label><input type="text" name="search_Balance" value="Search Balance" class="search_init"/></label></td>
                            <td><label><input type="text" disabled="" name="search_Operation" value="" class="search_init"/></label></td>
                            <td><label><input type="text" disabled="" name="search_Operation" value="" class="search_init"/></label></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for retailer in retailers %}
                            <tr>
                                <td style="font-weight: bold">{{ retailer.account.id }}</td>
                                <td>{{ retailer.account.name }}</td>
                                <td>{{ retailer.account.entity.name }}</td>
                                <td>{{ retailer.account.balance }}|<b>{{ retailer.distributor.currency }}</b></td>
                                <td>{{ retailer.account.creditLimitAmount }}|<b>{{ retailer.distributor.currency }}</b></td>
                                <td class="td-actions">
                                    <a class="btn_actions" href="{{ path('hello_di_distributor_retailer_transaction',{'id':retailer.account.id}) }}">{{ 'Manage' | trans ({}, "common") }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
