{% extends 'HelloDiDistributorBundle::menu.html.twig' %}

{% block title %}{{ 'Retailers' | trans ({}, "accounts") }}{% endblock title %}

{% block PageTitle %}<i class="icon-briefcase"></i>{{ retailerAccount.name }}{% endblock %}

{% set MU = 'retail' %}

{% set hornav = '40px' %}

{% block Tabs %}
    <li {% if tab == '1' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_distributor_retailer_transaction',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Transaction' | trans ({}, "transaction") }}" >
        </a>
    </li>
    <li {% if tab == '2' %}class="active"{% endif %}  >
        <a href="{{ path('dist_RetailerItem',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Items' | trans ({}, "item") }}" >
        </a>
    </li>
    <li {% if tab == '3' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_distributor_retailer_user',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Users' | trans ({}, "user") }}" >
        </a>
    </li>
    <li {% if tab == '4' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_distributor_retailer_info',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Info' | trans ({}, "common") }}" >
        </a>
    </li>
    <li {% if tab == '5' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_distributor_retailer_entity',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Details' | trans ({}, "common") }}" >
        </a>
    </li>
{% endblock Tabs %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content">
            <div class="tab-content">
                <div class="tab-pane active" id="Info">
                    {% block Tab %}{% endblock Tab %}
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}