{% extends 'HelloDiDistributorBundle:retailer:tab.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_distributor_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_distributor_retailer_index') }}">{{ 'Retailers' | trans ({}, "accounts") }}</a>
    <a class="link" href="{{ path('hello_di_distributor_retailer_user',{'id':retailerAccount.id}) }}">{{ 'Users' | trans ({}, "user") }}</a>
    <span class="link">{{ 'EditUser' | trans ({}, "user") }}</span>
{% endblock Site_Map %}

{% block Tab %}
    <div class="widget-header">
        <h3>{{ 'EditUser' | trans ({}, "user") }}</h3>
    </div>

    {{ form(form) }}
{% endblock %}