{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Manage Items Distributor
{% endblock title %}

{% set MU = '' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">Manage Items Distributor</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-tags"></i>
    Manage Items Distributor
{% endblock %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.json-2.4.min.js') }}"></script>


    <script type="text/javascript">
        var oTable;
        $(document).ready(function() {

            var data = $.evalJSON('{{ json_data|raw }}');

            var result = "";
            for(var i=0; i<data.length; i++)
            {
                var row = data[i];
                result +=
                    "<tr>" +
                        "<td>"+(i+1)+"</td>" +
                        "<td>"+row['itemName']+"</td>" +
                        "<td>"+row['itemCode']+"</td>" +
                        "<td>"+row['price']+"</td>" +
                        "<td>"+row['amount']+"</td>" +
                        "<td>"+row['id']+"</td>" +
                    "</tr>";
            }

            $("#json-table").html(result);

            oTable = Fix_Size({
                "aLengthMenu": [[10, 20, 100, -1], [10, 20, 100, "All"]],
                "sPaginationType": "full_numbers",
                "aoColumnDefs": [
                    { "aTargets": [4], "sType": "numeric",
                        "mRender": function ( data, type ) {
                        if(type === 'display') {
                            return '<input class="price-input" type="text" value="' + data + '">';
                        }
                        return data;
                    } },
                    { "aTargets": [ 5 ], "sType": "numeric", "bVisible": false }
                ]
            });

            $(".price-input").live('blur',function(){
                oTable.fnUpdate( $(this).val(), oTable.fnGetPosition($(this).closest('tr')[0]), 4 , false , false );
            });
        } );

        function getJson()
        {
            var array = oTable.fnGetData(), result = [], i;

            for(i=0;i<array.length;i++)
            {
                if(array[i][4].trim() != "")
                    result.push({"PriceId":array[i][5],"Amount":array[i][4]});
            }

            return $.toJSON(result);
        }
    </script>

    <style>
        .price-input {
            font-size:12px !important;
            font-weight: bold;
        }
    </style>

{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked">

            <!-- /widget-header -->

            <div class="widget-content">

                <div style="color: red">
                    {{ form_errors(form) }}
                </div>
                <div style="margin-top: 5px" class="tablediv">

                    <div class="tab-content datatable">

                        <table id="example" class="table postsend">
                            <thead>
                            <tr>
                                <th>{{ 'Id' | trans ({}, "common") }}</th>
                                <th>{{ 'Name' | trans ({}, "item") }}</th>
                                <th>{{ 'ItemCode' | trans ({}, "item") }}</th>
                                <th>{{ 'Price' | trans ({}, "price") }}</th>
                                <th>{{ 'Amount' | trans ({}, "transaction") }}</th>
                            </tr>

                            <tr class="input" >
                                <td><label><input type="text" class="search_init" name="search_Id" value="Search Id"/></label></td>
                                <td><label><input type="text" class="search_init" name="search_Name" value="Search Name" /></label></td>
                                <td><label><input type="text" class="search_init" name="search_ItemCode" value="Search ItemCode" /></label></td>
                                <td><label><input type="text" class="search_init" name="search_Price" value="Search Price" /></label></td>
                                <td><label><input type="text" class="search_init" name="search_Amount" value="Search Amount" /></label></td>
                            </tr>

                            </thead>
                            <tbody id="json-table">
                            </tbody>
                        </table>

                    </div>
                </div>



                <form method="post" class="form-horizontal" style="margin-top: 5px">
                    <div class="control-group">
                        {{ form_label(form.name) }}
                        <div class="controls money">
                            {{ form_widget(form.name) }} <span class="icon-certificate"></span>
                        </div>
                    </div>
                    {{ form_widget(form.json, { 'id': 'json' }) }}
                    {{ form_widget(form._token) }}
                    <div class="form-actions" style="margin-bottom: 0">
                        <input type="submit" value="Save" class="btn btn-primary" onclick="$('#json').val(getJson());">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}