{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        {% if not compound or (expanded is defined and expanded) %}
            <div class="control-group">
                {{ form_label(form) }}{% if required %}<span class="icon-certificate" ></span>{% endif %}
                <div class="controls">
                    {{ form_widget(form) }}
                </div>
                {{ form_errors(form) }}
            </div>
        {% else %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% if attr.on_refresh_click is defined %}
            <div class="div_refresh_button" id="refresh_{{ id }}">
                <div class="refresh_button" onclick="{{ attr.on_refresh_click }}"></div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {{ parent() }}
{% endblock form_label %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <span class="choice_expanded" {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div>
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </span>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_widget_compound %}
    {% spaceless %}
        <div>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_start %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim}) %}
    {{ parent() }}
{% endblock form_start %}

{% block button_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn')|trim}) %}
    {{ parent() }}
{% endblock button_widget %}

{% block submit_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-primary')|trim}) %}
    {{ parent() }}
{% endblock submit_widget %}

{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif attrname != 'on_refresh_click' %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block button_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
        {% for attrname, attrvalue in attr %}
            {% if attrvalue != 'first-button' and attrvalue != 'last-button'%} {{ attrname }}="{{ attrvalue }}"{% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock button_attributes %}

{% block button_row %}
    {% spaceless %}
        {% if 'first-button' in attr %}
            <div class="form-actions">
        {% endif %}
            {{ form_widget(form) }}
        {% if 'last-button' in attr %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock button_row %}

{% block date_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' date_picker')|trim}) %}
    {{ parent() }}
{% endblock date_widget %}