
    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">
                <a class="btn-large button btn btn-primary " href="#">
                    Recharge
                </a>

                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
                    </h5>
                                  </div>

                <div class="tablediv">

                    <div class="contenttitle">
                        <h4>History</h4>
                    </div>
                    <form>
                        <div class="tab-content">

{% set sel=tran.tranAmount %}
{% set buy=BuPrice %}

                                    {{ 'id' | trans ({}, "account") }} :  {{ tran.id}}</br>
                                    {{ 'date' | trans ({}, "account") }}:  {{ tran.tranDate|date('y-M-d') }}</br>
                                    {{ 'itemneme' | trans ({}, "account") }}:  {{ tran.Code.Item.itemName}}</br>
                                    {{ 'bying price' | trans ({}, "account") }}: {{ BuPrice }}</br>
                                    {{ 'selling price' | trans ({}, "account") }}: {{ tran.tranAmount}}&nbsp;&nbsp;</br>
                                    {{ 'benefit' | trans ({}, "account") }}: {{ sel-buy }}</br>
                                    {{ 'accname' | trans ({}, "account") }}:  {{ tran.Account.accName }}</br>
                                    {{ 'username' | trans ({}, "account") }}:{{ tran.User.username }} </br>
                                    {{ 'code' | trans ({}, "account") }}: {{ tran.Code.id }} </br>










                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
