<h3> Fund distributors balance </h3></br>
Description 1: </br>
Avilable Balance {{ Account.Parent.accBalance }}|{{ Account.Parent.accCurrency }}
Retailer Balance:{{ Account.accBalance }}|{{ Account.accCurrency }}</br>

    {#//----Form Applay----//#}

    <form style="margin-top: 20px" action="{{ path('DistRetailerTransferFunding',{'id':Account.id}) }}" method="post" class="form-horizontal" >

        <fieldset>

            <div class="control-group">

                {{ form_label(formapplay.Amount) }}

                    {{ form_widget(formapplay.Amount)  }}

            </div>
            <div class="control-group">
                {{ form_label(formapplay.Description ) }}
                <div class="controls">
                    {{ form_widget(formapplay.Description )  }}
            </div>
            </div>


            <div class="form-actions" style="margin-bottom: 0" >
                <button class="btn btn-primary" type="submit">Transfer</button>
            </div>


        </fieldset>

    </form>


{#//----Form update----//#}
<h3> Update distributors Credit Limit </h3></br>
Description 1: </br>
Avilable Balance {{ Account.Parent.accBalance }}|{{ Account.Parent.accCurrency }}
Retailer Credit Limit:{{ Account.accCreditLimit }}|{{ Account.accCurrency }}</br>


    <form style="margin-top: 20px" action="{{ path('DistRetailerUpdateFunding',{'id':Account.id}) }}" method="post" class="form-horizontal" >

        <fieldset>

            <div class="control-group">

                {{ form_label(formupdate.Amount) }}

                {{ form_widget(formupdate.Amount)  }}

            </div>

            <div class="control-group">
                {{ form_label(formupdate.As) }}
                <div class="controls">
                    {{ form_widget(formupdate.As)  }}
                </div>
            </div>

            <div class="form-actions" style="margin-bottom: 0" >
                <button class="btn btn-primary" type="submit">Update</button>
            </div>


        </fieldset>

    </form>
