
{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('retailer_show') }}">Retailer</a>
    <span class="link">Transactions</span>
{% endblock Site_Map %}
{% block Tab %}
    <div class="row">
        <div class="span5">
            <div class="widget-header">
                <h3>
                    Fund retailer  balance
                </h3>
            </div> <!-- /widget-header -->
            <br>
<a href="#" name="Go elsewhere...">Go elsewhere...</a>
            Retailer Balance : <b>{{ Account.accBalance }}</b>
<hr>
            <form style="margin-top: 20px" action="{{ path('DistRetailerTransferFunding',{'id':Account.id}) }}" method="post" class="form-horizontal" >

                <fieldset>

                    <div class="control-group">

                        {{ form_label(formapplay.Amount) }}


                        {{ form_widget(formapplay.Amount)  }}|{{ Account.Parent.accCurrency }}


                    </div>


                    <div class="control-group ">
                        {{ form_label(formapplay.Communications ) }}
                        <div class="controls">
                            {{ form_widget(formapplay.Communications )  }}
                        </div>
                    </div>

                    <div class="control-group ">
                        {{ form_label(formapplay.Description ) }}
                        <div class="controls">
                            {{ form_widget(formapplay.Description )  }}
                        </div>
                    </div>


                    <div class="form-actions" style="margin-bottom: 0" >
                        <button class="btn btn-primary" type="submit">Transfer</button>
                    </div>


                </fieldset>

            </form>
        </div>
        <div class="span5 LeftSpan">
            {#//----Form update----//#}
            <div class="widget-header">
                <h3>
                    Update retailer Credit Limit
                </h3>
            </div> <!-- /widget-header --><br>

            Retailer CreditLimit : <b>{{ Account.accCreditlimit }}</b>
            <hr>


            <form style="margin-top: 20px" action="{{ path('DistRetailerUpdateFunding',{'id':Account.id}) }}" method="post" class="form-horizontal" >

                <fieldset>

                    <div class="control-group">

                        {{ form_label(formupdate.Amount) }}


                        {{ form_widget(formupdate.Amount)  }}|{{ Account.Parent.accCurrency }}


                    </div>

                    <div class="control-group">
                        {{ form_label(formupdate.As) }}
                        <div class="controls">
                            {{ form_widget(formupdate.As)  }}
                        </div>
                    </div>

                    <div class="form-actions" style="margin-bottom: 0" >
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>


                </fieldset>

            </form>
        </div>
    </div>
{% endblock %}