{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Items Per Retailers
{% endblock title %}

{% set MU = 'item' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">Home</a>
    <a class="link" href="{{ path('items_show') }}">Items</a>
    <span class="link">Item per list of retailers</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-tags"></i>
    Item per list of retailers
{% endblock %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget-content">


            <form action="#" method="post" class="form-horizontal">
                <div class="tablediv">


                    <div class="tab-content datatable">
                        <table id="example" class="table postsend">
                            <thead>
                            <tr>
                                <th>Retailer Account</th>
                                <th>Retailer Price</th>
                                <th>Status</th>
                                <th style="text-align: center" ><input onclick="CheckAll()" id="clickall" type="checkbox"/></th>
                            </tr>


                            <tr class="input" >
                                <td><input type="text" name="search_Account" disabled="" value="Search Account" class="search_init" />
                                    <input type="text" name="search_Account" disabled="" value="Search Account" class="search_init" />
                                    <input type="text" name="search_Account" disabled="" value="Search Account" class="search_init" />
                                    <input type="text"id="text_id2" placeholder="Search Account"  />
                                </td>
                                <td><input type="text" name="search_Account" disabled="" value="Search Account" class="search_init" /></td>
                                <td><input type="text" name="search_Account" disabled="" value="Search Account" class="search_init" /></td>
                                <td><input type="text" name="search_Account"  disabled="" value="Search Account" class="search_init" /></td>
                            </tr>


                            </thead>
                            <tbody>
                            {% for row in form.checks %}
                                {% set pricerow = null %}
                                {% for price in form.checks.vars.choices[row.vars.value].data.prices %}
                                    {% if price.item.id == itemid %}
                                        {% set pricerow = price %}
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td>
                                        {{ form.checks.vars.choices[row.vars.value].data.accName }}
                                    </td>
                                    <td>
                                        {% if pricerow is null %}
                                            N/A
                                        {% else %}
                                            {{ pricerow.price }}
                                        {% endif %}
                                        ({{ form.checks.vars.choices[row.vars.value].data.accCurrency }})
                                    </td>
                                    <td>
                                        {% if pricerow is null %}
                                            N/A
                                        {% else %}
                                            {% if pricerow.priceStatus==1 %}
                                                true
                                            {% else %}
                                                false
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="checkboxs">
                                        {{ form_widget(row) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>

                </div>




                <div style="margin-top: 15px" class="control-group">
                    {{ form_label(form.NewPrice) }}
                    <div class="controls money">
                        {{ form_widget(form.NewPrice, {'required':'' }) }} | {{ Account.accCurrency }}
                    </div>
                    {{ form_errors(form.NewPrice) }}
                </div>

                {{ form_rest(form) }}

                <input type="hidden" name="actiontype" id="actiontype" value="0"/>

                <div class="form-actions">
                    Apply the new price to the selected accounts:<br/>
                    <input type="submit" class="btn btn-primary" value="Approve"/><br/>
                    <br/>

                    Inactive the item on the selected accounts:<br/>
                    <input type="submit" class="btn btn-primary" onclick="$('#actiontype').val(1);" value="Inactive"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}