{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Items
{% endblock title %}

{% set MU = 'item' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">Home</a>
    <span class="link">Items</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-check"></i>
    List Of Items
{% endblock %}

{% block Link_Footer %}

{% endblock %}

{% block Body %}
    <div class="span">

        <div class="widget stacked">
            <div class="widget-content">
                <a class="btn-large button btn btn-primary " href="#">
                    New Request
                </a>
                <br>


                <div style="margin-top: 5px" class="tablediv">

                    <form>
                        <div class="tab-content datatable">
                            <table id="example" class="table postsend">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>name</th>
                                    <th>faceValue</th>
                                    <th>type</th>
                                    <th>Price(Currency)</th>
                                    <th>Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in pagination %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.itemName }}</td>
                                        <td>{{ item.itemFaceValue }}</td>
                                        <td>{% if item.itemType==0 %}Mobile{% elseif item.itemType==1 %}Internet{% else %}Tel{% endif %}</td>
                                        <td>{{ item.prices[0].price }}
                                            {{ item.prices[0].priceCurrency }}</td>
                                        <td>
                                            <a class="btn_actions"
                                               href="{{ path('items_item_per_retailers',{'id':item.id}) }}">See Price
                                                for retailers</a>
                                            <br/>
                                            <a class="btn_actions" href="#">details</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <input type="hidden" name="itemid" id="itemid" value=""/>
                    </form>
                </div>
                <div class="navigation" style="text-align: center">
                    {{ knp_pagination_render(pagination) }}
                </div>


                <script type="text/javascript"
                        src="{{ asset('bundles/hellodi/js/libs/jquery-1.9.1.min.js') }}"></script>

                <script type="text/javascript"
                        src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        Fix_Size();
                    });

                </script>
            </div>
        </div>
    </div>
{% endblock %}