{% extends 'HelloDiDiDistributorsBundle:Step:RetailDistAdd.html.twig' %}

{% block steps %}
    <div style="display: block;position: absolute;z-index: 10" class="content" id="step-1">
        <div class="widget-header">
            <h3>Create Entity</h3>
        </div>

        <div class="control-group">
            {{ form_errors(form_Relaited_New.entName) }}
            {{ form_label(form_Relaited_New.entName,'Name(Company):') }}
            <div class="controls money">
                {{ form_widget(form_Relaited_New.entName) }}
                <span class="icon-certificate"></span>
              </div>
        </div>
        <div class="control-group entVatNumber">
            {{ form_label(form_Relaited_New.entVatNumber) }}
            {{ form_widget(form_Relaited_New.entVatNumber) }}
            {{ form_errors(form_Relaited_New.entVatNumber) }}
        </div>
        <hr>
        <div class="widget-header">
            <h3>Address</h3>
        </div>
        <div class="control-group Country">

            {{ form_label(form_Relaited_New.Country) }}
            <div class="controls money">
                {{ form_widget(form_Relaited_New.Country) }}
                <span class="icon-certificate"></span>
            </div>
            {{ form_errors(form_Relaited_New.Country) }}
        </div>

        <div class="control-group">
            {{ form_label(form_Relaited_New.entCity) }}

            {{ form_widget(form_Relaited_New.entCity) }}

            {{ form_errors(form_Relaited_New.entCity) }}
        </div>

        <div class="control-group">
            <label class="control-label">
                Town
            </label>
            {{ form_widget(form_Relaited_New.entAdrs3) }}
            {{ form_errors(form_Relaited_New.entAdrs3) }}
        </div>

        <div class="control-group">
            <label class="control-label">
                Street
            </label>
            {{ form_widget(form_Relaited_New.entAdrs1) }}
            {{ form_errors(form_Relaited_New.entAdrs1) }}
        </div>
        <div class="control-group entAdrs2">
            <label class="control-label">
                Additional
            </label>
            {{ form_widget(form_Relaited_New.entAdrs2) }}
            {{ form_errors(form_Relaited_New.entAdrs2) }}
        </div>
        <div class="control-group entNP">
            <label class="control-label">
                Post Code
            </label>
            {{ form_widget(form_Relaited_New.entNP) }}
            {{ form_errors(form_Relaited_New.entNP) }}
        </div>



        <hr>
        <div class="widget-header">
            <h3>Additional Details</h3>
        </div>
        <div class="control-group entTel1">
            {{ form_label(form_Relaited_New.entTel1) }}
            {{ form_widget(form_Relaited_New.entTel1) }}
            {{ form_errors(form_Relaited_New.entTel1) }}
        </div>
        <div class="control-group entTel2">
            {{ form_label(form_Relaited_New.entTel2) }}
            {{ form_widget(form_Relaited_New.entTel2) }}
            {{ form_errors(form_Relaited_New.entTel2) }}
        </div>
        <div class="control-group entFax">
            {{ form_label(form_Relaited_New.entFax) }}
            {{ form_widget(form_Relaited_New.entFax) }}
            {{ form_errors(form_Relaited_New.entFax) }}
        </div>
        <div class="control-group entWebsite">
            {{ form_label(form_Relaited_New.entWebsite) }}
            {{ form_widget(form_Relaited_New.entWebsite) }}
            {{ form_errors(form_Relaited_New.entWebsite) }}
        </div>

    </div>

    <div style="display: none;position: absolute;z-index: 11" class="content" id="step-2">
        <div class="widget-header">
            <h3>Create Account</h3>
        </div>
        <div class="control-group accName">
            {{ form_label(form_Relaited_New.accounts[0].accName) }}
            {{ form_widget(form_Relaited_New.accounts[0].accName) }}
            {{ form_errors(form_Relaited_New.accounts[0].accName) }}
        </div>
        <div class="control-group accTerms">
            {{ form_label(form_Relaited_New.accounts[0].accTerms) }}
            {{ form_widget(form_Relaited_New.accounts[0].accTerms) }}
            {{ form_errors(form_Relaited_New.accounts[0].accTerms) }}
        </div>

        <div class="control-group accDefaultLanguage">
            {{ form_label(form_Relaited_New.accounts[0].accDefaultLanguage) }}
            <div class="controls">
                {{ form_widget(form_Relaited_New.accounts[0].accDefaultLanguage) }}
            </div>
            {{ form_errors(form_Relaited_New.accounts[0].accDefaultLanguage) }}
        </div>
    </div>

    <div style="display: none;position: absolute;z-index: 11" class="content" id="step-3">
        <div class="widget-header">
            <h3>Create User</h3>
        </div>
        <div class="control-group firstname">
            {{ form_label(form_Relaited_New.users[0].firstname) }}
            {{ form_widget(form_Relaited_New.users[0].firstname) }}
            {{ form_errors(form_Relaited_New.users[0].firstname) }}
        </div>

        <div class="control-group lastname">
            {{ form_label(form_Relaited_New.users[0].lastname) }}
            {{ form_widget(form_Relaited_New.users[0].lastname) }}
            {{ form_errors(form_Relaited_New.users[0].lastname) }}
        </div>

        <div class="control-group mobile">
            {{ form_label(form_Relaited_New.users[0].mobile) }}
            {{ form_widget(form_Relaited_New.users[0].mobile) }}
            {{ form_errors(form_Relaited_New.users[0].mobile) }}
        </div>

        <div class="control-group language">
            {{ form_label(form_Relaited_New.users[0].language) }}
            <div class="controls">
                {{ form_widget(form_Relaited_New.users[0].language) }}
            </div>
            {{ form_errors(form_Relaited_New.users[0].language) }}
        </div>


        <div class="control-group users">
            {{ form_label(form_Relaited_New.users[0].enabled) }}
            <div class="controls">
                {{ form_widget(form_Relaited_New.users[0].enabled) }}
            </div>
            {{ form_errors(form_Relaited_New.users[0].enabled) }}
        </div>

        <div class="control-group users">
            {{ form_label(form_Relaited_New.users[0].roles[0]) }}
            <div class="controls">
                {{ form_widget(form_Relaited_New.users[0].roles[0]) }}
            </div>
            {{ form_errors(form_Relaited_New.users[0].roles[0]) }}
        </div>



        <div class="control-group username">
            {{ form_label(form_Relaited_New.users[0].username) }}
            {{ form_widget(form_Relaited_New.users[0].username) }}
            {{ form_errors(form_Relaited_New.users[0].username) }}
        </div>

        <div class="control-group email">
            {{ form_label(form_Relaited_New.users[0].email) }}
            {{ form_widget(form_Relaited_New.users[0].email) }}
            {{ form_errors(form_Relaited_New.users[0].email) }}
        </div>

        <div class="control-group plainPassword1">
            {{ form_label(form_Relaited_New.users[0].plainPassword.first) }}
            {{ form_widget(form_Relaited_New.users[0].plainPassword.first) }}
            {{ form_errors(form_Relaited_New.users[0].plainPassword.first) }}
        </div>

        <div class="control-group plainPassword2">
            {{ form_label(form_Relaited_New.users[0].plainPassword.second) }}
            {{ form_widget(form_Relaited_New.users[0].plainPassword.second) }}
            {{ form_errors(form_Relaited_New.users[0].plainPassword.second) }}
        </div>


        {{ form_widget(form_Relaited_New._token) }}



    </div>



{% endblock %}