<form action="{{ path('NewRetailer') }}" method="POST">

     <table>


               <td>
            <div class="control-group entName">
                <p>Name(Company)*</p>
                {{ form_widget(form_Relaited_New.entName) }}
                {{ form_errors(form_Relaited_New.entName) }}
            </div>
            <div class="control-group entName">
                {{ form_label(form_Relaited_New.entVatNumber) }}
                {{ form_widget(form_Relaited_New.entVatNumber) }}
                {{ form_errors(form_Relaited_New.entVatNumber) }}
            </div>

                   <div class="control-group entName">
                       {{ form_label(form_Relaited_New.entCity) }}
                       {{ form_widget(form_Relaited_New.entCity) }}
                       {{ form_errors(form_Relaited_New.entCity) }}
                   </div>
                   <fieldset><legend>Address</legend>

                   <div class="control-group entName">
                       <p>Street*</p>
                       {{ form_widget(form_Relaited_New.entAdrs1) }}
                       {{ form_errors(form_Relaited_New.entAdrs1) }}
                   </div>
                   <div class="control-group entName">
                       <p>Aditional</p>
                       {{ form_widget(form_Relaited_New.entAdrs2) }}
                       {{ form_errors(form_Relaited_New.entAdrs2) }}
                   </div>
                   <div class="control-group entName">
                       <p>Post Code*</p>
                       {{ form_widget(form_Relaited_New.entNP) }}
                       {{ form_errors(form_Relaited_New.entNP) }}
                   </div>
                   <div class="control-group entName">
                       <p>Town*</p>
                       {{ form_widget(form_Relaited_New.entAdrs3) }}
                       {{ form_errors(form_Relaited_New.entAdrs3) }}
                   </div>
                   <div class="control-group entName">
                       {{ form_label(form_Relaited_New.Country) }}
                       {{ form_widget(form_Relaited_New.Country) }}
                       {{ form_errors(form_Relaited_New.Country) }}
                   </div>
                   </fieldset>
                   <fieldset><legend>Aditional Details</legend>
                   <div class="control-group entName">
                       {{ form_label(form_Relaited_New.entTel1) }}
                       {{ form_widget(form_Relaited_New.entTel1) }}
                       {{ form_errors(form_Relaited_New.entTel1) }}
                   </div>
                   <div class="control-group entName">
                       {{ form_label(form_Relaited_New.entTel2) }}
                       {{ form_widget(form_Relaited_New.entTel2) }}
                       {{ form_errors(form_Relaited_New.entTel2) }}
                   </div>
                   <div class="control-group entName">
                       {{ form_label(form_Relaited_New.entFax) }}
                       {{ form_widget(form_Relaited_New.entFax) }}
                       {{ form_errors(form_Relaited_New.entFax) }}
                   </div>
                   <div class="control-group entName">
                       {{ form_label(form_Relaited_New.entWebsite) }}
                       {{ form_widget(form_Relaited_New.entWebsite) }}
                       {{ form_errors(form_Relaited_New.entWebsite) }}
                   </div>

               </td>
                <td>
                    <div class="control-group entName">
                        {{ form_label(form_Relaited_New.accounts[0].accName) }}*
                        {{ form_widget(form_Relaited_New.accounts[0].accName) }}
                        {{ form_errors(form_Relaited_New.accounts[0].accName) }}
                    </div>
                    <div class="control-group entName">
                        {{ form_label(form_Relaited_New.accounts[0].accTerms) }}
                        {{ form_widget(form_Relaited_New.accounts[0].accTerms) }}
                        {{ form_errors(form_Relaited_New.accounts[0].accTerms) }}
                    </div>

                    <div class="control-group entName">
                        {{ form_label(form_Relaited_New.accounts[0].accDefaultLanguage) }}
                        {{ form_widget(form_Relaited_New.accounts[0].accDefaultLanguage) }}
                        {{ form_errors(form_Relaited_New.accounts[0].accDefaultLanguage) }}
                    </div>
                    {#<div class="control-group entName">#}
                        {#{{ form_label(form_Relaited_New.accounts[0].accCurrency) }}#}
                        {#{{ form_widget(form_Relaited_New.accounts[0].accCurrency) }}#}
                        {#{{ form_errors(form_Relaited_New.accounts[0].accCurrency) }}#}
                    {#</div>#}
                    {#<div class="control-group entName">#}
                        {#{{ form_label(form_Relaited_New.accounts[0].accTimeZone) }}#}
                        {#{{ form_widget(form_Relaited_New.accounts[0].accTimeZone) }}#}
                        {#{{ form_errors(form_Relaited_New.accounts[0].accTimeZone) }}#}
                    {#</div>#}

                </td>
         <td>
             <div class="control-group entName">

                 {{ form_widget(form_Relaited_New.users[0]) }}
                 {{ form_errors(form_Relaited_New.users[0]) }}
             </div>
         </td>
        {#<div class="control-group entVatNumber">#}
            {#{{ form_label(form2step.entVatNumber) }}#}
            {#{{ form_widget(form2step.entVatNumber) }}#}
            {#{{ form_errors(form2step.entVatNumber) }}#}
        {#</div>#}

        {#<div class="control-group">#}
            {#{{ form_label(form2step.entTel1) }}#}
            {#{{ form_widget(form2step.entTel1) }}#}
            {#{{ form_errors(form2step.entTel1) }}#}
        {#</div>#}

        {#<div class="control-group">#}
            {#{{ form_label(form2step.entTel2) }}#}
            {#{{ form_widget(form2step.entTel2) }}#}
            {#{{ form_errors(form2step.entTel2) }}#}
        {#</div>#}


        {#<div class="control-group">#}
            {#{{ form_label(form2step.entFax) }}#}
            {#{{ form_widget(form2step.entFax) }}#}
            {#{{ form_errors(form2step.entFax) }}#}
        {#</div>#}

        {#<div class="control-group entWebsite">#}
            {#{{ form_label(form2step.entWebsite) }}#}
            {#{{ form_widget(form2step.entWebsite) }}#}
            {#{{ form_errors(form2step.entWebsite) }}#}
        {#</div>#}
    {#</div>#}
{#yuyu#}
        {#<!-- Address -->#}
        {#<div style="display: none;position: absolute;z-index: 11" class="content" id="step-2">#}
            {#<div class="widget-header">#}
                {#<h3>Address Entity</h3>#}
            {#</div>#}
            {#<!-- /widget-header -->#}
            {#<div class="control-group entAdrs1">#}
                {#{{ form_label(form2step.entAdrs1) }}#}
                {#{{ form_widget(form2step.entAdrs1) }}#}
                {#{{ form_errors(form2step.entAdrs1) }}#}
            {#</div>#}
            {#<div class="control-group ">#}
                {#{{ form_label(form2step.entAdrs2) }}#}
                {#{{ form_widget(form2step.entAdrs2) }}#}
                {#{{ form_errors(form2step.entAdrs2) }}#}
            {#</div>#}


            {#<div class="control-group entCity">#}
                {#{{ form_label(form2step.entCity) }}#}
                {#{{ form_widget(form2step.entCity) }}#}
                {#{{ form_errors(form2step.entCity) }}#}
            {#</div>#}
            {#<div class="control-group entNP">#}
                {#{{ form_label(form2step.entNP) }}#}
                {#{{ form_widget(form2step.entNP) }}#}
                {#{{ form_errors(form2step.entNP) }}#}
            {#</div>#}

            {#<div class="control-group">#}
                {#{{ form_label(form2step.Country) }}#}
                {#<div class="controls">#}
                    {#{{ form_widget(form2step.Country) }}#}
                {#</div>#}
                {#{{ form_errors(form2step.Country) }}#}
            {#</div>#}

        {#</div>#}

        {#<!-- Account -->#}
        {#<div style="display: none;position: absolute;z-index: 11" class="content" id="step-3">#}
            {#<div class="widget-header">#}
                {#<h3>Create Account</h3>#}
            {#</div>#}
            <!-- /widget-header -->
            {#<div class="control-group accName">#}
                {#{{ form_label(form2step.accounts[0].accName) }}#}
                {#{{ form_widget(form2step.accounts[0].accName) }}#}
                {#{{ form_errors(form2step.accounts[0].accName) }}#}
            {#</div>#}


            {#<div class="control-group">#}
                {#{{ form_label(form2step.accounts[0].accTerms) }}#}

                {#{{ form_widget(form2step.accounts[0].accTerms) }}#}

                {#{{ form_errors(form2step.accounts[0].accTerms) }}#}
            {#</div>#}


            {#<div class="control-group">#}
                {#{{ form_label(form2step.accounts[0].accDefaultLanguage) }}#}

                    {#{{ form_widget(form2step.accounts[0].accDefaultLanguage) }}#}

                {#{{ form_errors(form2step.accounts[0].accDefaultLanguage) }}#}
            {#</div>#}

        {#</div>#}
     </table>
<button>Create</button>
</form>

