{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock title %}


{% block Link_Head %}

    <script type="text/javascript">

        function HideNotification(id)
        {
            $("#Notif"+id).hide('fast');

            $.post('{{ path("DistReadNotification") }}',{id: id},function(result){

            })
        }


    </script>
{% endblock %}


{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }} </a>
    <span class="link"> {{ 'Notifications' | trans ({}, "notification") }} </span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock %}

{% block Body %}

<div class="span">
    <div class="widget widget-nopad stacked">
        <div class="widget-content">
            <div class="alertdiv" >
<ul>
     {% for Notfi in Notifications %}

     <li id="Notif{{ Notfi.id }}">
         <small>{{ 'DateTimeCreate'|trans({},'notification') }}:{{ Notfi.Date|date('Y/m/d H:m:s') }}</small>
 <p>
      {% if Notfi.Type==21 %}
              {{ 'Added_user_with_username_%value%'|trans({'value':Notfi.Value},'notification') }}
     {% elseif Notfi.Type==22 %}
             {{ 'Balance_increased_%value%'|trans({'value':Notfi.Value},'notification') }}
     {% elseif Notfi.Type==23 %}
              {{ 'Balance_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}
     {% elseif Notfi.Type==24 %}
              {{ 'CreditLimit_increased_%value%'|trans({'value':Notfi.Value},'notification') }}
     {% elseif Notfi.Type==25 %}
              {{ 'CreditLimit_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}
     {% elseif Notfi.Type==26 %}
             {{ 'Edited_account'|trans({},'notification') }}
     {% elseif Notfi.Type==27 %}
             {{ 'Edited_entity'|trans({},'notification') }}
      {% elseif Notfi.Type==121 %}
             {{ 'Distributor_account_balance_is_lower_than_equal_%value%'|trans({'value':Notfi.Value},'notification') }}
     {% endif %}
         </p>
         <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
                {% endfor %}
</ul>
    </div>
        </div>
    </div>
</div>


{% endblock %}
