{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock title %}

{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }} </a>
    <span class="link"> {{ 'Notifications' | trans ({}, "notification") }} </span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock %}

{% block Body %}


     {% for Notfi in Notifications %}


        DateTimeCreate:{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
        Description:
      {% if Notfi.Type==21 %}
         <b>{{ 'Added_user_with_username_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
     {% elseif Notfi.Type==22 %}
         <b>{{ 'Balance_increased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
     {% elseif Notfi.Type==23 %}
         <b>{{ 'Balance_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
     {% elseif Notfi.Type==24 %}
         <b>{{ 'CreditLimit_increased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
     {% elseif Notfi.Type==25 %}
         <b>{{ 'CreditLimit_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
     {% elseif Notfi.Type==26 %}
         <b>{{ 'Edited_account'|trans({},'notification') }}</b>
     {% elseif Notfi.Type==27 %}
         <b>{{ 'Edited_entity'|trans({},'notification') }}</b>
      {% elseif Notfi.Type==121 %}
          <b>{{ 'Distributor_account_balance_is_lower_than_equal_%value%'|trans({'value':Notfi.Value},'notification') }}</b>

     {% endif %}


         <br>

               ===>             <a href="{{ path('DistReadNotification',{'id':Notfi.id}) }}">
                                    {{ 'Read' | trans ({}, "notification") }}
                            </a>
<br>

         <hr>

                {% endfor %}
    <a href="javascript:history.go(-1)" class="btn"> {{ 'Back' | trans ({}, "common") }}</a>

{% endblock %}
