{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock title %}


{% block Link_Head %}

    <script type="text/javascript">


        function HideNotification(id)
        {
            $("* #Notif" + id).hide('fast', function () {
                $("* #Notif" + id).remove();
            });

            NotificationCount();

            $.post('{{ path("DistReadNotification") }}',{id: id},function(result){

            })
        }


    </script>
{% endblock %}


{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">{{ 'Home' | trans ({}, "menu") }} </a>
    <span class="link"> {{ 'Notifications' | trans ({}, "notification") }} </span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock %}

{% block Body %}

<div class="span">
    <div class="widget widget-nopad stacked">
        <div class="widget-content">
            <div class="alertdiv NotiDiv" >
                <ul>
                    {% for Notfi in Notifications %}
                        <li id="Notif{{ Notfi.id }}" >
                            <div class="entity" >
                                <small>{{ 'DateTimeCreate'|trans({},'notification') }}:{{ Notfi.Date|date('Y/m/d H:m:s') }}</small>
                                <h4>
                                    {% if Notfi.Type==21 %}
                                        <b>{{ 'Added_user_with_username_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
                                    {% elseif Notfi.Type==22 %}
                                        <b>{{ 'Balance_increased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
                                    {% elseif Notfi.Type==23 %}
                                        <b>{{ 'Balance_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
                                    {% elseif Notfi.Type==24 %}
                                        <b>{{ 'CreditLimit_increased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
                                    {% elseif Notfi.Type==25 %}
                                        <b>{{ 'CreditLimit_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
                                    {% elseif Notfi.Type==26 %}
                                        <b>{{ 'Edited_account'|trans({},'notification') }}</b>
                                    {% elseif Notfi.Type==27 %}
                                        <b>{{ 'Edited_entity'|trans({},'notification') }}</b>
                                    {% elseif Notfi.Type==121 %}
                                        <b>{{ 'Distributor_account_balance_is_lower_than_equal_%value%'|trans({'value':Notfi.Value},'notification') }}</b>

                                    {% endif %}
                                </h4>





                            </div>
                            <a class="btn btn-info btn-large"   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
                        </li>

                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
