{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock title %}


{% block Link_Head %}

    <script type="text/javascript">

        function HideNotification(id)
        {
            $("#Notif"+id).hide('fast');

            $.post('{{ path("DistReadNotification") }}',{id: id},function(result){

            })
        }


    </script>
{% endblock %}


{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }} </a>
    <span class="link"> {{ 'Notifications' | trans ({}, "notification") }} </span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock %}

{% block Body %}

<ul>


     {% for Notfi in Notifications %}


      {% if Notfi.Type==21 %}
          <li id="Notif{{ Notfi.id }}">
              {{ 'DateTimeCreate'|trans({},'notification') }}::{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
              {{ 'Description'|trans({},'notification') }}:
              <b>{{ 'Added_user_with_username_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
              <br>
              <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
          </li>


     {% elseif Notfi.Type==22 %}
         <li id="Notif{{ Notfi.id }}">
             {{ 'DateTimeCreate'|trans({},'notification') }}::{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
             {{ 'Description'|trans({},'notification') }}:
             <b>{{ 'Balance_increased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
             <br>
             <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
         </li>

     {% elseif Notfi.Type==23 %}
          <li id="Notif{{ Notfi.id }}">
              {{ 'DateTimeCreate'|trans({},'notification') }}::{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
              {{ 'Description'|trans({},'notification') }}:
              <b>{{ 'Balance_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
              <br>
              <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
          </li>

     {% elseif Notfi.Type==24 %}
          <li id="Notif{{ Notfi.id }}">
              {{ 'DateTimeCreate'|trans({},'notification') }}::{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
              {{ 'Description'|trans({},'notification') }}:
              <b>{{ 'CreditLimit_increased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
              <br>
              <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
          </li>


     {% elseif Notfi.Type==25 %}
          <li id="Notif{{ Notfi.id }}">
              {{ 'DateTimeCreate'|trans({},'notification') }}::{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
              {{ 'Description'|trans({},'notification') }}:
              <b>{{ 'CreditLimit_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
              <br>
              <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
          </li>

     {% elseif Notfi.Type==26 %}
          <li id="Notif{{ Notfi.id }}">
              {{ 'DateTimeCreate'|trans({},'notification') }}::{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
              {{ 'Description'|trans({},'notification') }}:
              <b>{{ 'Edited_account'|trans({},'notification') }}</b>
              <br>
              <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
          </li>


     {% elseif Notfi.Type==27 %}
          <li id="Notif{{ Notfi.id }}">
              {{ 'DateTimeCreate'|trans({},'notification') }}::{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
              {{ 'Description'|trans({},'notification') }}:
              <b>{{ 'Edited_entity'|trans({},'notification') }}</b>
              <br>
              <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
          </li>


      {% elseif Notfi.Type==121 %}
          <li id="Notif{{ Notfi.id }}">
              {{ 'DateTimeCreate'|trans({},'notification') }}::{{ Notfi.Date|date('Y/m/d H:i:s') }} <br>
              {{ 'Description'|trans({},'notification') }}:
              <b>{{ 'Distributor_account_balance_is_lower_than_equal_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
              <br>
              <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>

          </li>


     {% endif %}

<br>

         <hr>

                {% endfor %}
</ul>
    <a href="javascript:history.go(-1)" class="btn"> {{ 'Back' | trans ({}, "common") }}</a>

{% endblock %}
