{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    {{ 'SalesReport' | trans ({}, "transaction") }}
{% endblock title %}

{% set MU = 'report' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'SalesReport' | trans ({}, "transaction") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-list-alt"></i>
    {{ 'SalesReport' | trans ({}, "transaction") }}
{% endblock %}

{% block Link_Footer %}

{% endblock %}

{% block Body %}

    <div class="span">
        <div class="widget stacked">
            <div class="widget-content">

                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
                    </h5>

                    <form class="form-horizontal SearchForm" action="{{ path('DistSale',{'id':Account.id}) }}"
                          method="POST">
                        <fieldset>

                            <div class="control-group datepicker1">
                                {{ form_label(form.DateStart) }}

                                    {{ form_widget(form.DateStart) }}

                            </div>

                            <div class="control-group datepicker2">
                                {{ form_label(form.DateEnd) }}

                                    {{ form_widget(form.DateEnd) }}

                            </div>
                            <div class="control-group">
                                {{ form_label(form.Account) }}
                                <div class="controls">
                                    {{ form_widget(form.Account) }}
                                </div>
                            </div>

                            <div class="control-group">
                                {{ form_label(form.ItemName) }}
                                <div class="controls">
                                    {{ form_widget(form.ItemName) }}
                                </div>
                            </div>


                            <div class="control-group">
                                {{ form_label(form.ItemType) }}
                                <div class="controls">
                                    {{ form_widget(form.ItemType) }}
                                </div>
                            </div>







                            <hr>
                            <input type="hidden" value="1" name="page" id="search_page" >
                            <input class="btn btn-primary" type="submit" value="{{ 'Search' | trans ({}, "common") }}">

                        </fieldset>

                    </form>
                    <script type="text/javascript">
                        $(function () {
                            Form_Search(1,"{{'Filter_List'|trans({},'js')  }}")

                        });
                    </script>
                </div>


                <div class="tablediv">
                    <div class="contenttitle">
                        <h4>{{ 'Sales' | trans ({}, "code") }}</h4>
                    </div>
                    <form>
                        <div class="tab-content">
                            <table style="margin-top: 20px"
                                   class="table table-bordered table-striped table-highlight postsend">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>{{ 'Date' | trans ({}, "transaction") }}</th>
                                    <th>{{ 'Item' | trans ({}, "item") }}</th>
                                    <th>{{ 'BuyingPrice' | trans ({}, "price") }}</th>
                                    <th>{{ 'SellingPrice' | trans ({}, "transaction") }}</th>
                                    <th>{{ 'Retailer' | trans ({}, "accounts") }}</th>
                                    <th>{{ 'Benefit' | trans ({}, "transaction") }}</th>
                                    <th>{{ 'Vat' | trans ({}, "vat") }}</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for Tr in pagination %}
                                    <tr>
                                        <td>{{ Tr.id}}</td>
                                        <td>{{ Tr.tranInsert|date('Y/m/d H:i:s') }}</td>
                                        <td>
                                            {{ Tr.Code.Item.itemName}}

                                        </td>

                                        <td>


            {% set com=render(controller('HelloDiDiDistributorsBundle:Distributors:GetCom', { 'id':Tr.id  }))   %}

                                 {% set BuyingPrice=Tr.tranAmount+com %}
                                               {{BuyingPrice|abs}}
                                        </td>

                                        <td>



                                                {{Tr.tranAmount|abs }}




                                        </td>


                                        <td>{{ Tr.User.username }}</td>

                                        <td>

                                            {{ com }}

                                        </td>

                                        <td>

                                            {% set vat=Tr.TaxHistory.vat %}{% set x=Tr.tranAmount|abs %}
                                            <span id='vat'>{{ (x/(100+vat)*vat) }}</span>



                                        </td>


                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                            {#{button pagination}#}
                        </div>
                    </form>
                </div>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}