{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('retailer_show') }}">Retailer</a>

    <span class="link">Add User</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>Add User</h3>
    </div> <!-- /widget-header -->
    <br>



    <form class="form-horizontal" action="{{ path('DistRetailerUserAdd',{'id':retailerAccount.id}) }}" method="post" >

        <div class="control-group">
            {{ form_errors(form.firstname) }}
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>

        <div class="control-group">
            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>
        <div class="control-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>

        <div class="control-group">
            {{ form_label(form.mobile) }}
            {{ form_widget(form.mobile) }}
        </div>

        <div class="control-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div class="control-group">
            {{ form_label(form.enabled) }}
            {{ form_widget(form.enabled) }}
        </div>

        <div class="control-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>

        <div class="control-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>

        <div class="control-group">
            {{ form_label(form.language) }}
            <div class="controls">
                {{ form_widget(form.language) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(formrole.roles) }}
            <div class="controls">
                {{ form_widget(formrole.roles) }}
            </div>
        </div>


        {{ form_widget(form._token) }}

        <div class="form-actions" style="margin-bottom: 0" >
            <input class="btn btn-primary" type="submit"  value="Create">
            <a href="{{ path('DistRetailerUser',{'id':retailerAccount.id}) }}" class="btn" >Back</a>
        </div>

    </form>


{% endblock %}