{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('retailer_show') }}">{{ 'Retailers' | trans ({}, "accounts")}}</a>
    <a class="link" href="{{ path('dist_RetailerItem',{'id':retailerAccount.id}) }}">{{ 'Items' | trans ({}, "item") }}</a>
    <span class="link">{{ 'AddItem' | trans ({}, "item") }}</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>{{ 'AddItem' | trans ({}, "item") }}</h3>
    </div> <!-- /widget-header -->

    <form id="addprice" action="{{ path('dist_RetailerItemAdd',{'id':retailerAccount.id}) }}" method="post" class="form-horizontal">

        <div class="control-group">
            {{ form_label(form.Item) }}
            <div class="controls money">
                <div class="controls">
                    {{ form_widget(form.Item) }}
                </div>
                <span class="icon-certificate"></span>
            </div>
            {{ form_errors(form.Item) }}
        </div>

        <div class="control-group">
            {{ form_label(form.price) }}
            <div class="controls money" >{{ form_widget(form.price) }} | {{ retailerAccount.accCurrency }}
            <span class="icon-certificate"></span>
            </div>
            {{ form_errors(form.price) }}
        </div>

        {{form_widget(form._token)}}

        <input type="hidden" name="accountid" value="{{  retailerAccount.id }}" />

        <div class="form-actions" style="margin-bottom: 0" >
            <input type="submit" class="btn btn-primary" value="{{ 'Add' | trans ({}, "common") }}" />
            <a class="btn" href="{{ path('dist_RetailerItem',{'id':retailerAccount.id}) }}" >{{ 'Cancel' | trans ({}, "common") }}</a>
        </div>

    </form>
{% endblock %}