{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('retailer_show') }}">Retailer</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Users</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>Users</h3>
    </div> <!-- /widget-header -->
    <br>
    <a class="button btn btn-primary btn-large" href="{{ path('DistRetailerUserAdd',{'id':retailerAccount.id}) }}" >Add New User</a>
    <div style="margin-top: 5px" class="tablediv">
        <form method="post">
            <div class="tab-content datatable">
                <table id="example" class="table postsend">
                    <thead>
                    <tr>
                        <th>{{ 'User.Id' | trans ({}, "user") }}</th>
                        <th>{{ 'User.Name' | trans ({}, "user") }}</th>
                        <th>{{ 'User.UserName' | trans ({}, "user") }}</th>
                        <th>{{ 'User.Role' | trans ({}, "user") }}</th>
                        <th>{{ 'User.Modify' | trans ({}, "user") }}</th>
                        <th>{{ 'User.ChangeRole' | trans ({}, "user") }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for User in pagination %}
                        <tr>

                            <td >{{ User.id }}</td>
                            <td>{{ User.firstName }}</td>
                            <td>{{ User.username }}</td>
                            <td>
                                {{ User.roles[0] }}
                            </td>

                            <td class="td-actions" >
                                <a class="btn_actions" href="{{ path('DistRetailerUserEdit',{'id':User.id}) }}">Edit</a>
                            </td>


                            <td class="td-actions" >
                                <a class="btn_actions" href="{{ path('DistRetailerUserChangeRole',{'id':User.id}) }}">ChangeRole</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery-1.9.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}