{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '3' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('retailer_show') }}">{{ 'Retailers' | trans ({}, "accounts") }}</a>

    <span class="link">{{ 'Users' | trans ({}, "user") }}</span>
{% endblock Site_Map %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Tab %}
    <div class="widget-header">
        <h3>{{ 'Users' | trans ({}, "user") }}</h3>
    </div> <!-- /widget-header -->
    <br>
    <a class="button btn btn-primary btn-large" href="{{ path('DistRetailerUserAdd',{'id':retailerAccount.id}) }}" >{{ 'AddNewUser' | trans ({}, "user") }}</a>
    <div style="margin-top: 5px" class="tablediv">
        <form method="post">
            <div class="tab-content datatable">
                <table id="example" class="table postsend">
                    <thead>
                    <tr>
                        <th>{{ 'Id' | trans ({}, "common") }}</th>
                        <th>{{ 'FullName' | trans ({}, "user") }}</th>
                        <th>{{ 'UserName' | trans ({}, "user") }}</th>
                        <th>{{ 'Role' | trans ({}, "user") }}</th>
                        <th>{{ 'Operation' | trans ({}, "common") }}</th>

                    </tr>

                    <tr class="input" >
                        <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                        <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
                        <td><input type="text" name="search_UserName" value="Search User Name" class="search_init" /></td>
                        <td><input type="text" name="search_Role" value="Search Role" class="search_init" /></td>
                        <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>

                    </tr>

                    </thead>
                    <tbody>

                    {% for User in Users %}
                        <tr>

                            <td >{{ User.id }}</td>
                            <td>{{ User.firstName }}&nbsp;{{ User.lastName }}</td>
                            <td>{{ User.username }}</td>
                            <td>
                                {{ User.roles[0] }}
                            </td>

                            <td class="td-actions" >
                                <a class="btn_actions" href="{{ path('DistRetailerUserEdit',{'id':retailerAccount.id,'userid':User.id}) }}">{{ 'Edit' | trans ({}, "common") }}</a>
                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </form>
    </div>


{% endblock %}