{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('retailer_show') }}">Retailer</a>
    <a class="link" href="#">Manage</a>
    <span class="link">Items</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>Items</h3>
    </div> <!-- /widget-header -->
    <br>
    <a class="button btn btn-primary btn-large" href="{{ path('dist_RetailerItemAdd',{'id':retailerAccount.id}) }}"
            >Add New Item</a>
    <div style="margin-top: 5px" class="tablediv">
        <form method="post">
            <div class="tab-content datatable">
                <table id="example" class="table postsend">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>faceValue</th>
                        <th>type</th>
                        <th>Price(Currency)</th>
                        <th>Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for price in prices %}
                        <tr>
                            <td>{{ price.item.id }}</td>
                            <td>{{ price.item.itemName }}</td>
                            <td>{{ price.item.itemFaceValue }}</td>
                            <td>{% if price.item.itemType==0 %}Mobile{% elseif price.item.itemType==1 %}Internet{% else %}Tel{% endif %}</td>
                            <td>{{ price.price }}
                                {{ price.priceCurrency }}</td>
                            <td>
                                <a class="btn_actions" href="{{ path('dist_RetailerItemEdit',{'id':retailerAccount.id,'priceid':price.id}) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery-1.9.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}