{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '1' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('retailer_show') }}">Retailer</a>

    <span class="link">Transactions</span>
{% endblock Site_Map %}


{% block Tab %}
    <div class="widget-header">
        <h3>Transactions</h3>
    </div> <!-- /widget-header -->
    <br>

    <a class="btn btn-primary btn-large" href="{{ path('DistRetailerFunding',{'id':retailerAccount.id}) }}">Fund Retailers</a>

    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Search Transactions</p>
                        </span>
        </h5>
        <form class="form-horizontal SearchForm" action="{{ path('Retailer_Transaction',{'id':retailerAccount.id}) }}"
              method="POST">
            <fieldset>
                <div class="control-group ">
                    {{ form_label(form.TypeDate[0],'Trade Date') }}
                    <div class="controls ">
                        {{ form_widget(form.TypeDate[0],{ 'attr': {'checked':'checked'}}) }}
                    </div>
                </div>


                <div class="control-group ">
                    {{ form_label(form.TypeDate[1],'Looking Date') }}
                    <div class="controls ">
                        {{ form_widget(form.TypeDate[1]) }}
                    </div>
                </div>


                <div class="control-group datepicker1">
                    {{ form_label(form.DateStart) }}

                        {{ form_widget(form.DateStart) }}

                </div>
                <div class="control-group datepicker2">
                    {{ form_label(form.DateEnd) }}

                        {{ form_widget(form.DateEnd) }}

                </div>

                <div class="control-group">
                    {{ form_label(form.Type) }}
                    <div class="controls">
                        {{ form_widget(form.Type) }}
                    </div>

                </div>

                <div class="control-group">
                    {{ form_label(form.Action) }}
                    <div class="controls">
                        {{ form_widget(form.Action) }}
                    </div>

                </div>

                <input type="hidden" value="1" name="page" id="search_page" >
                <hr>
                <input class="btn btn-primary" type="submit" value="Search">

            </fieldset>
        </form>
        <script type="text/javascript">


            $("#form_Type").change(function(){
                val= $("#form_Type").val();
                $("#form_Action").html('<option value="All">Please wait ...</option>');
                $.post('{{ path("DistLoadActionRetailer") }}',{id: val},function(result){
                    $("#form_Action").html(result);
                })
            });

            $(function () {

                val= $("#form_Type").val();
                $("#form_Action").html('<option value="All">Please wait ...</option>');
                $.post('{{ path("DistLoadActionRetailer") }}',{id: val},function(result){
                    $("#form_Action").html(result);
                });
               Form_Search(1,"Search Transactions");

            });
        </script>
    </div>


    <div class="tablediv">
        <div class="contenttitle">
            <h4>Transactions</h4>
        </div>
        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>

                        <th>{{ 'Date' | trans ({}, "account") }}</th>
                        <th>{{ 'Description' | trans ({}, "account") }}</th>
                        <th>{{ 'Credit' | trans ({}, "account") }}</th>
                        <th>{{ 'Debit' | trans ({}, "account") }}</th>
                        <th>{{ 'Balance' | trans ({}, "account") }}</th>
                        <th>{{ 'Manage' | trans ({}, "account") }}</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for tran in pagination %}
                        <tr>
                            <td>
                                {% if typedate==0 %}
                                {{ tran.tranDate|date('Y-m-d') }}</td>
                            {% else %}
                                {{ tran.tranInsert|date('Y-m-d H:i:s') }}</td>
                            {% endif %}
                              </td>

                            <td>{{ tran.tranDescription }}</td>

                            {% if tran.tranAmount>=0 %}

                                <td>{{ tran.tranAmount }}</td>
                                <td>------</td>

                            {% else %}
                                 <td>------</td>
                                 <td>

                                     <script type="text/javascript">
                                         document.write(Math.abs({{ tran.tranAmount }}));
                                     </script>
                                 </td>
                            {% endif %}

                            <td>


                                {% set balance=tran.tranBalance+tran.tranAmount %}


                                {{ balance }}
                            </td>

                            <td class="td-actions">

                                <a class="btn_actions showDetails">
                                    Details
                                <span>



                         <fieldset>

        <div class="control-group">
            <label class="control-label">
                {{ 'id' | trans ({}, "account") }}
            </label>
            <div class="controls">
                <input type="text" disabled="" value="{{ tran.id}}" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'Date' | trans ({}, "account") }}
            </label>
            <div class="controls">
                <input type="text" disabled="" value="{{ tran.tranDate|date('y-M-d H:m:s') }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                {{ 'Description' | trans ({}, "account") }}
            </label>
            <div class="controls">
                <input type="text" disabled="" value="{{ tran.tranDescription}}">
            </div>
        </div>

        {% set credit,debit='----------','-----------' %}

        {% if  tran.tranAmount>0 %}
            {% set credit=tran.tranAmount %}
        {% elseif  tran.tranAmount<0 %}
            {% set debit=tran.tranAmount %}
        {% endif %}
        <div class="control-group">
            <label class="control-label">
                {{ 'Credit' | trans ({}, "account") }}
            </label>
            <div class="controls">
                <input type="text" disabled="" value="{{ credit }}">
            </div>
        </div>



        <div class="control-group">
            <label class="control-label">
                {{ 'Debit' | trans ({}, "account") }}
            </label>
            <div class="controls">
                <input type="text" disabled="" value="{{ -debit }}">
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">
                {{ 'Balance' | trans ({}, "account") }}
            </label>
            <div class="controls">
                {% set balance=tran.tranBalance+tran.tranAmount %}
                <input type="text" disabled="" value=" {{ balance }}">
            </div>
        </div>

   <div class="control-group">
            <label class="control-label">
                {{ 'User' | trans ({}, "account") }}
            </label>
            <div class="controls">
                <input type="text" disabled="" value="{{ tran.User.username }}">
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">
                {{ 'Accountname' | trans ({}, "account") }}
            </label>
            <div class="controls">
                <input type="text" disabled="" value="{{ tran.Account.accName }}">
            </div>
        </div>

        {% if tran.code is not null %}

            <div class="control-group">
                <label class="control-label">
                    {{ 'Code' | trans ({}, "account") }}
                </label>
                <div class="controls">
                    <input type="text" disabled="" value="{{ tran.Code.id }}">
                </div>
            </div>

            <div class="control-group">
            <label class="control-label">
                {{ 'ItemName' | trans ({}, "account") }}
            </label>
            <div class="controls">
                <input type="text" disabled="" value="{{ tran.Code.Item.itemName }}">
            </div>
        </div>



{% endif %}

    </fieldset>




                                  </span>
                                </a>

                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                {#{button pagination}#}
            </div>
        </form>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}