{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowRetailDist.html.twig' %}

{% set tab = '5' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('retailer_show') }}">{{ 'Retailers' | trans ({}, "accounts") }}</a>
    <span class="link">{{ 'Details' | trans ({}, "accounts") }}</span>
{% endblock Site_Map %}


{% block Tab %}
<div class="widget-header">
    <h3>{{ 'Details' | trans ({}, "accounts") }}</h3>
</div> <!-- /widget-header -->
<br>

<form class="form-horizontal" action="{{ path('Retailer_details',{'id':retailerAccount.id}) }}" method="POST">


    <div class="control-group">

        {{ form_label(edit_form.entName) }}
        {{ form_widget(edit_form.entName) }}
        {{ form_errors(edit_form.entName) }}
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entVatNumber) }}
        {{ form_widget(edit_form.entVatNumber) }}
        {{ form_errors(edit_form.entVatNumber) }}
    </div>
<hr>
    <div class="control-group">
        <label class="control-label">
            {{ 'Address' | trans ({}, "entity") }}
            :
        </label>
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entAdrs1) }}
        {{ form_widget(edit_form.entAdrs1) }}

        {{ form_errors(edit_form.entAdrs1) }}
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entAdrs2) }}
        {{ form_widget(edit_form.entAdrs2) }}
        {{ form_errors(edit_form.entAdrs2) }}
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entAdrs3) }}
        {{ form_widget(edit_form.entAdrs3) }}
        {{ form_errors(edit_form.entAdrs3) }}
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entNp) }}
        {{ form_widget(edit_form.entNp) }}
        {{ form_errors(edit_form.entNp) }}
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entCity) }}
        {{ form_widget(edit_form.entCity) }}
        {{ form_errors(edit_form.entCity) }}
    </div>


    <div class="control-group">

        {{ form_label(edit_form.Country) }}
        <div class="controls">
            {{ form_widget(edit_form.Country) }}

        </div>
        {{ form_errors(edit_form.Country) }}
    </div>
    <hr>


    <div class="control-group">
        <label class="control-label">
            {{ 'AdditionalDetails' | trans ({}, "entity") }}
           :
        </label>
    </div>
    <div class="control-group">

        {{ form_label(edit_form.entTel1) }}
        {{ form_widget(edit_form.entTel1) }}
        {{ form_errors(edit_form.entTel1) }}
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entTel2) }}
        {{ form_widget(edit_form.entTel2) }}
        {{ form_errors(edit_form.entTel2) }}
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entFax) }}
        {{ form_widget(edit_form.entFax) }}
        {{ form_errors(edit_form.entFax) }}
    </div>

    <div class="control-group">

        {{ form_label(edit_form.entWebsite) }}
        {{ form_widget(edit_form.entWebsite) }}
        {{ form_errors(edit_form.entWebsite) }}
    </div>
    {{ form_widget(edit_form._token) }}

    <div class="form-actions">
        <input type="submit" value="{{ 'Save' | trans ({}, "common") }}" class="btn btn-primary" >
    </div>

    </form>

{% endblock %}