{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Retailers Accounts
{% endblock title %}

{% set MU = 'retail' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Retailer</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-th-large"></i>
    Retailer Management
{% endblock %}

{% block Link_Footer %}

{% endblock %}

{% block Body %}

    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">



                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search" ></i>
                            <p class="title_search" >Search Retailer</p>
                        </span>
                    </h5>

                    <form class="form-horizontal SearchForm" action="{{ path('retailer_show',{}) }}" method="post" >

                        <fieldset>


                            <div class="control-group">
                                {{ form_label(form_searchprov.retName) }}
                                {{ form_widget(form_searchprov.retName) }}
                            </div>

                            <div class="control-group">
                                {{ form_label(form_searchprov.retCityName) }}
                                {{ form_widget(form_searchprov.retCityName) }}
                            </div>

                            <div class="control-group">

                                {{ form_label(form_searchprov.retBalance) }}
                                {{ form_widget(form_searchprov.retBalance) }}
                             </div>
                            <div class="control-group">

                                {{ form_label(form_searchprov.retBalanceValue) }}
                                {{ form_widget(form_searchprov.retBalanceValue) }}
                            </div>
                             <div class="control-group">
                               {{ form_label(form_searchprov.retcurency) }}
                               {{ form_widget(form_searchprov.retcurency) }}
                              </div>

                            <hr>
                            <input class="btn btn-primary" type="submit" value="Search">
                        </fieldset>

                    </form>
                    <script type="text/javascript">
                        $(function () {
                            $(".SearchForm").hide();
                            $('.TitleShow1').click(function () {
                                $('.SearchForm').slideToggle();
                                $('#search_logo').removeAttr('class') ;

                                if($('.title_search').html() == 'Search Provider')
                                {
                                    $('.title_search').html('Close Search') ;
                                    $('#search_logo').attr('class','icon-remove') ;
                                }
                                else{
                                    $('.title_search').html('Search Provider') ;
                                    $('#search_logo').attr('class','icon-search') ;
                                }

                                var x = $('.form_search').offset().top - 20;
                                $('body,html').animate({
                                    scrollTop: x
                                }, 800);
                            });

                        });
                    </script>

                </div>
                <div>
                    <a href="{{ path('DistNewRetailer') }}">New Retailer</a>
                </div>

                <div class="tablediv">
                    <div class="contenttitle">
                        <h4>Retailer</h4>
                    </div>
                    <form action="{{ path('ManageItemsProv') }}" method="post">
                        <div class="tab-content">
                            <table style="margin-top: 20px" class="table postsend">
                                <thead>
                                <tr>
                                    <th  >Id</th>
                                    <th>Name</th>
                                    <th>Entity</th>
                                    <th>Balance</th>
                                    <th>Credit Limit</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for myAccount in pagination %}
                                    <tr>
                                        <td style="font-weight: bold" >{{ myAccount.id }}</td>

                                        <td>{{ myAccount.accName }}</td>
                                        <td>{{ myAccount.Entiti.entName }}</td>
                                        <td>{{ myAccount.accBalance }}</td>
                                        <td>{{ myAccount.accCreditLimit }}</td>
                                        <td><a href="{{ path('DistRetailerUser',{'id':myAccount.id}) }}">Open</a> </td>

                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                        <input type="hidden" name="accountid" class="accountid" value=""/>

                    </form>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
