{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Stuff
{% endblock title %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">Home</a>
    <span class="link">Stuff</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-th-large"></i>
    Account Stuff
{% endblock %}


{% block Link_Footer %}

{% endblock %}

{% block Body %}

    <div class="span">
        <div class="widget-content">

            <a class="btn-large button btn btn-primary " href="{{ path('DistStaffAdd') }}">Add New
                user</a><br>

            <div class="tablediv">
                <div class="contenttitle">
                    <h4>Accounts</h4>
                </div>
                <form>
                    <div class="tab-content">
                        <table style="margin-top: 20px" class="table postsend">
                            <thead>
                                <tr>
                                    <th>{{ 'Id' | trans ({}, "account") }}</th>
                                    <th>{{ 'Name' | trans ({}, "account") }}</th>
                                    <th>{{ 'Username' | trans ({}, "account") }}</th>
                                    <th>{{ 'Entiti' | trans ({}, "account") }}</th>
                                    <th>{{ 'Status' | trans ({}, "account") }}</th>
                                    <th>{{ 'Role' | trans ({}, "account") }}</th>
                                    <th>{{ 'Manage' | trans ({}, "account") }}</th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for user in Users %}
                                <tr>
                                    <td>{{ user.id }}</td>

                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.Entiti.entName }}</td>
                                    <td>
                                        {% if user.enabled==0 %}
                                            InActive
                                        {% else %}
                                            Active
                                        {% endif %}
                                    </td>
                                    <td>{{ user.roles[0] }}</td>

                                    <td class="td-actions">


                                        <a class="btn_actions" href="{{ path('DistStaffEdit',{'id':user.id }) }}">Modify</a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {#{button pagination}#}
                    </div>
                </form>
                {#<div class="navigation">#}
                    {#{{ knp_pagination_render(pagination) }}#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}