{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    {{ 'Staff' | trans ({}, "user") }}
{% endblock title %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Staff' | trans ({}, "user") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-th-large"></i>
    {{ 'Staff' | trans ({}, "user") }}
{% endblock %}

{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            Fix_Size();
            filterFunction($('#SelectFilter option:selected').text(),1);
        });

    </script>

{% endblock %}

{% block Link_Footer %}

{% endblock %}

{% block Body %}

    <div class="span">
        <div class="widget-content">

            <a class="btn-large button btn btn-primary " href="{{ path('DistStaffAdd') }}">
                {{ 'AddNewUser' | trans ({}, "user") }}
            </a><br>

            <form>
            <div style="margin-top: 5px" class="tablediv">


                <div class="tab-content datatable">
                    <table id="example" class="table postsend">
                            <thead>
                                <tr>
                                    <th>{{ 'Id' | trans ({}, "common") }}</th>
                                    <th>{{ 'FullName' | trans ({}, "user") }}</th>
                                    <th>{{ 'UserName' | trans ({}, "user") }}</th>
                                    <th>{{ 'Entity' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Status' | trans ({}, "user") }}</th>
                                    <th>{{ 'Role' | trans ({}, "user") }}</th>
                                    <th>{{ 'Operation' | trans ({}, "common") }}</th>

                                </tr>
                                <tr class="input" >
                                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                                    <td><input type="text" name="search_fullname" value="Search FullName" class="search_init" /></td>
                                    <td><input type="text" name="search_username" value="Search UserName" class="search_init" /></td>
                                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in Users %}
                                <tr>
                                    <td>{{ user.id }}</td>

                                    <td>{{ user.firstname }}&nbsp;{{ user.lastName }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.Entiti.entName }}</td>
                                    <td>
                                        {% if user.enabled==0 %}
                                            {{ 'InActive' | trans ({}, "user") }}

                                        {% else %}
                                            {{ 'Active' | trans ({}, "user") }}

                                        {% endif %}
                                    </td>
                                    <td>{{ user.roles[0] }}</td>

                                    <td class="td-actions">


                                        <a class="btn_actions" href="{{ path('DistStaffEdit',{'id':user.id }) }}">{{ 'Edit' | trans ({}, "common") }}</a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {#{button pagination}#}
                    </div>
            </div>
                </form>
                {#<div class="navigation">#}
                    {#{{ knp_pagination_render(pagination) }}#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}