{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    {{ 'EditUser' | trans ({}, "user") }}
{% endblock title %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('DistStaff') }}">{{ 'Staff' | trans ({}, "user") }}</a>
    <span class="link">{{ 'EditUser' | trans ({}, "user") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-check"></i>
    {{ 'EditUser' | trans ({}, "user") }}
{% endblock %}


{% block Link_Footer %}

{% endblock %}

{% block Body %}

<div class="span">
    <div class="widget-content" >
        <div class="widget-header">
            <h3>{{ 'EditUser' | trans ({}, "user") }}</h3>
        </div> <!-- /widget-header --><br>

        <form class="form-horizontal" action="{{ path('DistStaffEdit',{'id':userid}) }}" method="post" >

            <div class="control-group">
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
                {{ form_errors(form.firstname) }}
            </div>

            <div class="control-group">
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}
                {{ form_errors(form.lastname) }}
            </div>
            <div class="control-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>

            <div class="control-group">
                {{ form_label(form.mobile) }}
                {{ form_widget(form.mobile) }}
                {{ form_errors(form.mobile) }}
            </div>

            <div class="control-group">
                {{ form_label(form.enabled) }}
                <div class="controls">
                    {{ form_widget(form.enabled) }}
                    {{ form_errors(form.enabled) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="control-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="control-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>


            <div class="control-group">
                {{ form_label(form.language) }}
                <div class="controls">
                    {{ form_widget(form.language) }}
                    {{ form_errors(form.language) }}
                </div>
            </div>


            <div class="control-group">
                {{ form_label(form.roles[0]) }}
                <div class="controls">
                    {{ form_widget(form.roles[0]) }}
                    {{ form_errors(form.roles[0]) }}
                </div>
            </div>

            {{ form_widget(form._token) }}

            <div class="form-actions" style="margin-bottom: 0" >
                <input class="btn btn-primary" type="submit"  value="{{ 'Save' | trans ({}, "common") }}">
                <a href="javascript:history.go(-1)" class="btn">{{ 'Cancel' | trans ({}, "common") }}</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}