{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Tickets
{% endblock title %}

{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Tickets</span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    Tickets
{% endblock %}

{% block Body %}
    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">

                <div class="form_search"  style="border-bottom: 2px solid #a8d5f4;">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
                    </h5>

                    <form class="form-horizontal SearchForm" action="{{ path('DistTickets') }}" method="POST" >


                        <div class="control-group">
                            <label class="control-label" >
                            </label>
                            <div class="controls">Open:
                                {{ form_widget(form.Status[0]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" >
                            </label>
                            <div class="controls">Close:
                                {{ form_widget(form.Status[1]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.Type,'Type:') }}
                            <div class="controls">
                                {{ form_widget(form.Type) }}
                            </div>
                        </div>

                        <hr>
                        <input type="hidden" value="1" name="page" id="search_page" >
                        <input class="btn btn-primary" type="submit" value="search">

                    </form>
                    <script type="text/javascript">
                        $(function () {

                            Form_Search(0,"Filter List");

                        });
                    </script>
                </div>


                {% for Ticket in pagination %}

                    <div class=" container {% if Ticket.status==0 %}
                                    closet
                                    {% else %}
                                    opent
                                    {% endif %} Ticket">
                        <a {% if Ticket.status==1 %}
                            href="{{ path('DistTicketsNote',{'id':Ticket.id}) }}" {% endif %} >
                            <div class="head">
                                <div class="items">
                                    <div>
                                        <span class="new">
                    {% set i=0 %}
                                            {% for Note in Ticket.TicketNotes %}
                                                {% if Note.view==0 and Note.User!=app.user %}
                                                    {% set i=i+1 %}
                                                {% endif %}
                                            {% endfor %}

                                            {{ i }}
                </span>
                <span class="count">
                    {{ Ticket.TicketNotes.count }}
                </span>
                                        <b>
                                            <i class="{% if Ticket.status==0 %}
                                    icon-remove
                                    {% else %}
                                    icon-ok
                                    {% endif %}"></i>
                                        </b>
                                    </div>
                                </div>

                                <div class="header">
                                    <h1
                                            >{{ Ticket.subject }}</h1>
                                </div>

                            </div>

                            <div class="footer">
                                <div class="contact">
                                    {% if Ticket.Accountretailer is not null %}
                                        {{ Ticket.Accountretailer.accName }}
                                    {% else %}
                                        Master
                                    {% endif %}
                                </div>

                                <div class="detail">
                        <span> {% if Ticket.type==0 %}Payment
                            {% elseif Ticket.type==1 %}new item request
                            {% elseif Ticket.type==2 %}price change request
                            {% endif %}</span> |
                                    <span>{{ Ticket.ticketStart|date('y-M-d H:i:s') }}</span>
                                </div>
                            </div>
                        </a>

                        <div class="controler">
                            {% if Ticket.status==0 %}
                                Close
                            {% else %}
                                Open
                            {% endif %} Ticket -
                            <a href="{{ path('DistTicketsChangeStatus',{id:Ticket.id}) }}">
                                Click for Switch to {% if Ticket.status==0 %}
                                    Open
                                {% else %}
                                    Close
                                {% endif %}
                            </a>
                        </div>
                    </div>







                {% endfor %}


                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
