{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Transactions
{% endblock title %}

{% set MU = 'trans' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a href="{{ path('DistTickets') }}" class="link">Tickets</a>
    <span class="link">New</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-money"></i>
   New ticket
{% endblock %}

{% block Body %}
    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">




                    <form class="form-horizontal SearchForm" action="{{ path('DistTicketsNew') }}" method="POST" >


                        <div class="control-group">
                            {{ form_label(form.Subject) }}
                            <div class="controls money">
                                {{ form_widget(form.Subject) }}
                                <span class="icon-certificate"></span>
                            </div>
                        </div>


                        <div class="control-group">
                            {{ form_label(form.Type) }}
                            <div class="controls money">
                                {{ form_widget(form.Type) }}
                                <span class="icon-certificate"></span>
                            </div>
                        </div>




                        <div class="control-group">
                            {{ form_label(form.Description) }}
                            <div class="controls money">
                                {{ form_widget(form.Description) }}
                                <span class="icon-certificate"></span>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        <hr>
                   <input type="submit" value="Open" class="bt btn-primary">
                   <a href="javascript:history.go(-1)" class="btn">Cancel</a>
                    </form>

            </div>
        </div>
    </div>
{% endblock %}