{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Transactions
{% endblock title %}

{% set MU = 'trans' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" >Transaction</a>
    <span class="link">History</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-money"></i>
    Transaction History
{% endblock %}

{% block Body %}
    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">

{% if app.session.flashbag.get('sendcancel') %}
 <b style="color: red">This Ticket Is InActive!</b>
 {% endif %}
                <hr>
<br>

DateStart:{{ Ticket.ticketStart|date('y-M-d H:i:s') }}</br>
 {% if Ticket.ticketEnd is not null %}
DateEnd:{{ Ticket.ticketEnd|date('y-M-d H:i:s') }}</br>
{% endif %}
     Type:
    {% if Ticket.type==0 %}Payment Issue
    {% elseif Ticket.type==1 %}New Item Request
    {% elseif Ticket.type==2 %}Price Change Request
    {% elseif Ticket.type==3 %}

    {% endif %}
    </br>
Current Status:{% if Ticket.status==0 %}
        <a href="{{ path('DistTicketsStatus',{id:Ticket.id}) }}">Close</a>
       {% else %}
        <a href="{{ path('DistTicketsChangeStatus',{id:Ticket.id}) }}">Open</a>
       {% endif %}

                <hr>
                {% if Ticket.Status!=0 %}
                    <form action="{{ path('DistTicketsNote',{'id':Ticket.id}) }}" method="POST">

                        {{form_label(form.Description)}}
                        {{form_widget(form.Description)}}

                        <input type="submit" value="Send">
                    </form>
                {% endif %}
                <div class="tab-content">
                    <table style="margin-top: 20px"
                           class="table table-bordered table-striped table-highlight postsend">
                        <tbody>

                        {% for Note in Notes %}
                            <tr>
                                <td>
                                   Time: {{ Note.date|date('y-M-d  H:i:s') }}<br>
                                    User:{{ Note.User.username }}<br>
                                   Text: {{ Note.description }}</td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>




            </div>
        </div>
    </div>
{% endblock %}