{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Tickets
{% endblock title %}

{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Tickets</span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    Tickets
{% endblock %}

{% block Body %}
    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">

                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
                    </h5>

                    <form class="form-horizontal SearchForm" action="{{ path('DistTickets') }}" method="POST" >


                        <div class="control-group">
                            <label class="control-label" >Close
                            </label>
                            <div class="controls">
                                {{ form_widget(form.Status[0]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" >Open
                            </label>
                            <div class="controls">
                                {{ form_widget(form.Status[1]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.Type) }}
                            <div class="controls">
                                {{ form_widget(form.Type) }}
                            </div>
                        </div>

                        <hr>

                        <input class="btn btn-primary" type="submit" value="search">

                    </form>
                    <script type="text/javascript">
                        $(function () {
                            $(".SearchForm").hide();
                            $('.TitleShow1').click(function () {
                                $('.SearchForm').slideToggle();
                                $('#search_logo').removeAttr('class');

                                if ($('.title_search').html() == 'Filter List') {
                                    $('.title_search').html('Close Search');
                                    $('#search_logo').attr('class', 'icon-remove');
                                }
                                else {
                                    $('.title_search').html('Filter List');
                                    $('#search_logo').attr('class', 'icon-search');
                                }

                                var x = $('.form_search').offset().top - 20;
                                $('body,html').animate({
                                    scrollTop: x
                                }, 800);
                            });

                        });
                    </script>
                </div>

                <div class="tablediv">


                    <div class="tab-content">
                        <table style="margin-top: 20px"
                               class="table table-bordered table-striped table-highlight postsend">
                            <thead>
                            <tr>
                                <th>{{ 'Tickets.Date' | trans ({}, "account") }}</th>
                                <th>{{ 'Tickets.type' | trans ({}, "account") }}</th>
                                <th>{{ 'Tickets.Subject' | trans ({}, "account") }}</th>
                                <th>{{ 'Tickets.Contact' | trans ({}, "account") }}</th>
                                <th>{{ 'Tickets.Count Notread' | trans ({}, "account") }}</th>
                                <th>{{ 'Tickets.Change Status' | trans ({}, "account") }}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for Ticket in pagination %}
                                <tr>
                                    <td>{{ Ticket.ticketStart|date('y-M-d H:i:s') }}</td>

                                    <td>

                                        {% if Ticket.type==0 %}Payment
                                        {% elseif Ticket.type==1 %}new item request
                                        {% elseif Ticket.type==2 %}price change request
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if Ticket.status==1 %}
                                            <a href="{{ path('DistTicketsNote',{'id':Ticket.id}) }}">
                                                {{ Ticket.subject }}
                                            </a>
                                        {% else %}
                                            {{ Ticket.subject }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if Ticket.Accountretailer is not null %}
                                            {{ Ticket.Accountretailer.accName }}
                                        {% else %}
                                            Master
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% set i=0 %}
                                        {% for Note in Ticket.TicketNotes %}
                                            {% if Note.view==0 and Note.User!=app.user %}
                                                {% set i=i+1  %}
                                            {% endif %}
                                        {% endfor %}

                                        {{ i }}

                                    </td>


                                    <td>{% if Ticket.status==0 %}
                                            <a href="{{ path('DistTicketsChangeStatus',{id:Ticket.id}) }}">Open</a>
                                        {% else %}
                                            <a href="{{ path('DistTicketsChangeStatus',{id:Ticket.id}) }}">Close</a>
                                        {% endif %}</td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
