{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    Transactions
{% endblock title %}

{% set MU = 'trans' %}

{% block Site_Map %}
    <a class="link" href="{{ path('distributors_dashboard') }}">Home</a>
    <span class="link">Transactions</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-file"></i>
    Transactions
{% endblock %}

{% block Link_Footer %}

{% endblock %}

{% block Body %}
<div class="span">
    <div class="widget stacked">
        <div class="widget-content">
            <a class="btn btn-primary btn-large" href="#{#{{ path('') }}#}">Recharge</a>

            <div class="form_search">
                <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Search Transactions</p>
                        </span>
                </h5>
                <form class="form-horizontal SearchForm" action="{{ path('DistTransaction') }}"
                      method="POST">
                    <fieldset>
                        <div class="control-group ">
                            {{ form_label(form.TypeDate[0],'Trade Date') }}
                            <div class="controls">
                                {{ form_widget(form.TypeDate[0]) }}
                            </div>
                        </div>


                        <div class="control-group ">
                            {{ form_label(form.TypeDate[1],'Looking Date') }}
                            <div class="controls">
                                {{ form_widget(form.TypeDate[1],{'attr':{'checked':'checked'}}) }}
                            </div>
                        </div>


                        <div class="control-group datepicker1">
                            {{ form_label(form.DateStart,'From:') }}

                                {{ form_widget(form.DateStart) }}

                        </div>
                        <div class="control-group datepicker2">
                            {{ form_label(form.DateEnd,'To:') }}

                                {{ form_widget(form.DateEnd) }}

                        </div>

                        <div class="control-group">
                            {{ form_label(form.Type,'Type:') }}
                            <div class="controls">
                                {{ form_widget(form.Type) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.Action,'Action:') }}
                            <div class="controls">
                                {{ form_widget(form.Action) }}
                            </div>
                        </div>

                        <hr>
                        <input type="hidden" value="1" name="page" id="search_page" >
                        <input class="btn btn-primary" type="submit" value="Search">

                    </fieldset>
                </form>
                <script type="text/javascript">



                    $("#form_Type").change(function(){
                        val= $("#form_Type").val();
                        $("#form_Action").html('<option value="All">Please wait ...</option>');
                        $.post('{{ path("DistLoadActionOwn") }}',{id: val},function(result){
                            $("#form_Action").html(result);
                        })
                    });

                    $(function () {




                            val= $("#form_Type").val();
                            $("#form_Action").html('<option value="All">Please wait ...</option>');
                            $.post('{{ path("DistLoadActionOwn") }}',{id: val},function(result){
                                $("#form_Action").html(result);
                            });


                        Form_Search(1,"Search Transactions");

                    });
                </script>
            </div>

            <div class="tablediv">
                <div class="contenttitle">
                    <h4>Transactions</h4>
                </div>
                <form>
                    <div class="tab-content">
                        <table style="margin-top: 20px"
                               class="table table-bordered table-striped table-highlight postsend">
                            <thead>
                            <tr>
                                <th>{{ 'Date' | trans ({}, "account") }}</th>
                                <th>{{ 'Description' | trans ({}, "account") }}</th>
                                <th>{{ 'Credit' | trans ({}, "account") }}</th>
                                <th>{{ 'Debit' | trans ({}, "account") }}</th>
                                <th>{{ 'Balance' | trans ({}, "account") }}</th>
                                <th>{{ 'Manage' | trans ({}, "account") }}</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for tran in pagination %}
                                <tr>
                                    <td>
                                        {% if typedate==0 %}
                                        {{ tran.tranDate|date('Y-m-d') }}</td>
                                        {% else %}
                                            {{ tran.tranInsert|date('Y-m-d H:i:s') }}</td>
                                     {% endif %}
                                    <td>{{ tran.tranDescription}}</td>

                                    {% if tran.tranAmount>0 %}
                                    <td>
                                    {{ tran.tranAmount }}

                                    </td>
                                        <td>
                                          --------

                                        </td>
                                    {% elseif tran.tranAmount<0 %}

                                        <td>
                                            --------

                                        </td>
                                        <td>
                                            {{ -tran.tranAmount }}

                                        </td>
                                    {% endif %}

                                    <td>
                                        {% set balance=tran.tranBalance+tran.tranAmount %}
                                        {{ balance }}
                                    </td>

                                    <td class="td-actions">

                                            <a class="btn_actions" href="{{ path('DistDetailsTransaction',{'id':tran.id}) }}">

                                            Details


                                    </td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        {#{button pagination}#}
                    </div>
                </form>
            </div>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        </div>
    </div>
</div>
{% endblock %}