{% extends 'HelloDiDiDistributorsBundle:Tabs:ShowProfileMaster.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'AddressInfo' | trans ({}, "entity") }}</span>
{% endblock Site_Map %}


{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block Tab %}

    <div class="widget-header">
        <h3>{{ 'AddressInfo' | trans ({}, "entity") }}</h3>
    </div> <!-- /widget-header -->


    <form class="form-horizontal"  action="{{ path('MasterProfileAddress',{'id':entity.id,'addrid':entity.id}) }}" method="post" >



        <div class="control-group">
            {{ form_label(form_edit.entAdrs1) }}
            {{ form_widget(form_edit.entAdrs1) }}
        </div>

        <div class="control-group">
            {{ form_label(form_edit.entAdrs2) }}
            {{ form_widget(form_edit.entAdrs2) }}
        </div>

        <div class="control-group">
            {{ form_label(form_edit.entAdrs3) }}
            {{ form_widget(form_edit.entAdrs3) }}
        </div>

        <div class="control-group">
            {{ form_label(form_edit.entNp) }}
            <div class="controls money">
                {{ form_widget(form_edit.entNp,{ 'attr' :
                {'onkeydown' : 'return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )'}


                }



            ) }}

             </div>
        </div>


        <div class="control-group">
            {{ form_label(form_edit.entCity) }}
            {{ form_widget(form_edit.entCity) }}
        </div>

        <div class="control-group">
            {{ form_label(form_edit.Country) }}
            <div class="controls">
                {{ form_widget(form_edit.Country) }}
            </div>
        </div>
        </div>

        {#// <input type="hidden" value="{{ entity.id }}">#}
        {{ form_widget(form_edit._token) }}



        <div class="form-actions" style="margin-bottom: 0" >
            <input class="btn btn-primary" type="submit"  value="{{ 'Save' | trans ({}, "common") }}">
        </div>
    </form>


    <div style="margin-top: 5px" class="tablediv">


        <div class="tab-content datatable">
            <table id="example" class="table postsend">
                <thead>
                <tr>
                    <th>{{ 'Id' | trans ({}, "common") }}</th>
                    <th>{{ 'DateChange' | trans ({}, "entity") }}</th>
                    <th>{{ 'Country' | trans ({}, "entity") }}</th>
                    <th>{{ 'City' | trans ({}, "entity") }}</th>
                    <th>{{ 'Adrs1' | trans ({}, "entity") }}</th>
                    <th>{{ 'Adrs2' | trans ({}, "entity") }}</th>
                    <th>{{ 'Adrs3' | trans ({}, "entity") }}</th>
                    <th>{{ 'NP' | trans ({}, "entity") }}</th>


                </tr>

                <tr class="input" >
                    <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                    <td><input type="text" id="search_DateChange" name="search_DateChange" value="Search DateChange" class="search_init" /></td>



                    <td><input type="text" name="search_Town" value="Search Town" class="search_init" /></td>
                    <td><input type="text" name="search_Street" value="Search Street" class="search_init" /></td>
                    <td><input type="text" name="search_Additional" value="Search Additional" class="search_init" /></td>
                    <td><input type="text" name="search_PostCode" value="Search PostCode" class="search_init" /></td>
                    <td><input type="text" name="search_City" value="Search City" class="search_init" /></td>
                    <td><input type="text" name="search_Country" value="Search Country" class="search_init" /></td>


                </tr>

                </thead>
                <tbody>

                {% for Address in entity.detailHistories %}

                        <tr>

                            <td >{{ Address.id }}</td>
                            <td>{{ Address.adrsDate|date('m-Y-d') }}</td>
                            <td>{{ Address.Country.Iso }}|{{ Address.Country.name}}</td>
                            <td>{{ Address.adrsCity }}</td>

                            <td>{{ Address.adrs1 }}</td>
                            <td>{{ Address.adrs2 }}</td>
                            <td>{{ Address.adrs3 }}</td>
                            <td>{{ Address.adrsNp }}</td>

                        </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block Link_Footer %}

    <script type="text/javascript">
        $(function(){
            //$('#search_DateChange').datepicker({ dateFormat: 'mm-yy-dd' });
        });
    </script>

{% endblock %}