{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}



{% block title %}
    Profile
{% endblock title %}

{% set MU = 'home' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">User Profile</span>
{% endblock Site_Map %}


{% block PageTitle %}
    <i class="icon-user"></i>
    User Profile
{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked ">

            <div class="widget-content">
                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
                      id="edit-profile" class="form-horizontal">
                    <fieldset>
                        {{ form_widget(form) }}

                        <div class="form-actions">
                            <input class="btn btn-primary" type="submit"
                                   value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}"/>
                            <input type="reset" class="btn" value="Cancel"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('* #fos_user_profile_form>div').attr('class','control-group');
        });
    </script>

{% endblock Body %}