{% extends 'HelloDiRetailerBundle::menu.html.twig' %}

{% block title %}{{ 'EditUser' | trans ({}, "user") }}{% endblock title %}

{% block PageTitle %}<i class="icon-check"></i>{{ 'EditUser' | trans ({}, "user") }}{% endblock %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_retailer_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_retailer_setting_staff_index') }}">{{ 'Staff' | trans ({}, "user") }}</a>
    <span class="link">{{ 'EditUser' | trans ({}, "user") }}</span>
{% endblock Site_Map %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content" >
            <div class="widget-header">
                <h3>{{ 'EditUser' | trans ({}, "user") }}</h3>
            </div>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}