{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'Tax' | trans ({}, "vat") }}
{% endblock title %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Tax' | trans ({}, "vat") }}</span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-check"></i>
    {{ 'Tax' | trans ({}, "vat") }}
{% endblock %}


{% block Link_Footer %}

{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked">
            <div class="widget-content">

                <div class="widget-header">
                    <h3>{{ 'Tax' | trans ({}, "vat") }}</h3>
                </div>
                <!-- /widget-header --><br>

                <form class="form-horizontal SearchForm" action="{{ path('Tax') }}" method="post">


                    <div class="control-group">

                        {{ form_label(form.tax) }}

                            {{ form_widget(form.tax) }}
                            {{ form_errors(form.tax) }}

                    </div>

                    <div class="control-group">
                        {{ form_label(form.Country) }}
                        <div class="controls">
                            {{ form_widget(form.Country) }}
                            {{ form_errors(form.Country) }}
                        </div>
                    </div>

                    {{ form_widget(form._token) }}

                    <input type="hidden" value="1" name="page" id="search_page">

                    <div class="form-actions" style="margin-bottom: 0">
                        <input  onclick="Reset()" class="btn btn-primary" type="submit" value="{{ 'Save' | trans ({}, "common") }}">
                    </div>

                </form>


                <div class="tablediv">
                    <div class="contenttitle">
                        <h4>{{ 'Tax' | trans ({}, "vat") }}</h4>
                    </div>
                    <form>
                        <div class="tab-content">
                            <table style="margin-top: 20px"
                                   class="table table-bordered table-striped table-highlight postsend">
                                <thead>
                                <tr>
                                    <th>{{ 'id' | trans ({}, "common") }}</th>
                                    <th>{{ 'Rate' | trans ({}, "vat") }}</th>
                                    <th>{{ 'Country' | trans ({}, "entity") }}</th>
                                    <th>{{ 'DateEnd' | trans ({}, "vat") }}</th>

                                </tr>

                                </thead>
                                <tbody>

                                {% for tx in pagination %}
                                    <tr>
                                        <td>

                                            {{ tx.id }}

                                        </td>

                                        <td>
                                            {{ tx.vat }}
                                        </td>

                                        <td>
                                            {% if tx.Tax.Country is not null %}
                                            {{ tx.Tax.Country.iso}}. {{ tx.Tax.Country.name}}
                                            {% else %}
                                                ----
                                           {% endif %}
                                        </td>

                                        <td>
                                            {% if tx.taxend is not null %}
                                                {{ tx.taxend|date('Y/m/d')}}
                                            {% else %}
                                               <span class='icon-ok'>
                                            {% endif %}

                                        </td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>
        </div>

<script type="text/javascript">
 function Reset()
 {

    $('#Tax').val('');

 }

 </script>

    </div>

{% endblock %}