{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'Tickets' | trans ({}, "ticket") }}
{% endblock title %}

{% set MU = 'ticket' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>

    <span class="link">{{ 'Tickets' | trans ({}, "ticket") }}</span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    {{ 'Tickets' | trans ({}, "ticket") }}
{% endblock %}



{% block Body %}
    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">

                <div class="form_search" style="border-bottom: 2px solid #a8d5f4;">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
                    </h5>

                    <form class="form-horizontal SearchForm" action="{{ path('MasterTickets') }}" method="POST">


                        <div class="control-group">
                            <label class="control-label">
                                {{ 'Close' | trans ({}, "ticket") }}

                            </label>

                            <div class="controls">
                                {{ form_widget(form.Status[0]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">
                                {{ 'Open' | trans ({}, "ticket") }}

                            </label>

                            <div class="controls">
                                {{ form_widget(form.Status[1]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">

                                {{ form_label(form.Distributors) }}
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Distributors) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">

                                {{ form_label(form.Retailers) }}
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Retailers) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.Type) }}
                            <div class="controls">
                                {{ form_widget(form.Type) }}
                            </div>
                        </div>

                        <hr>
                        <input type="hidden" value="1" name="page" id="search_page" >
                        <input class="btn btn-primary" type="submit" value="{{'Search' | trans ({}, "common")}}">

                    </form>
                    <script type="text/javascript">
                        $(function () {

                            Form_Search(0,"Filter List");

                        });
                    </script>
                </div>




                {% for Ticket in pagination %}

                    <div class="{% if Ticket.inChange is not null %}Lock{% endif %} container {% if Ticket.status==0 %}
                                    closet
                                    {% else %}
                                    opent
                                    {% endif %} Ticket">
                        <a {% if Ticket.status==1 %}
                            href="{{ path('MasterTicketsNote',{'id':Ticket.id}) }}" {% endif %} >
                            <div class="head">
                                <div class="items">
                                    <div>
                                        <span class="new">
                                       {% set h,k=0,0 %}
                                            {% for Note in Ticket.TicketNotes %}
                                                {% set users=app.user.Entiti.Users %}
                                                {% if Note.view==0 %}
                                                    {% for user in users %}
                                                        {% if Note.User!=user %}
                                                            {% set k=k+1 %}
                                                        {% else %}
                                                            {% set k=k-1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if k==users|length %}
                                                     {% set h=h+1 %}
                                                {% endif %}
                                                {% set k=0 %}
                                            {% endfor %}

                                            {{ h }}

                </span>
                <span class="count">
                    {{ Ticket.TicketNotes.count }}
                </span>
                                        <b>
                                            <i class="{% if Ticket.status==0 %}
                                    icon-remove
                                    {% else %}
                                    icon-ok
                                    {% endif %}"></i>
                                        </b>
                                    </div>
                                </div>

                                <div class="header">
                                    <h1
                                            >{{ Ticket.subject }}</h1>
                                </div>

                            </div>

                            <div class="footer">
                                <div class="contact">
                                    {% if Ticket.Accountdist is  null %}
                                        {{ Ticket.Accountretailer.accName }}
                                    {% elseif Ticket.Accountretailer is  null %}
                                        {{ Ticket.Accountdist.accName }}
                                    {% endif %}
                                </div>

                                <div class="detail">
                        <span>
                            {% if Ticket.type==0 %}
                                {{ 'payment_issue' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==1 %}
                                {{ 'new_item_request' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==2 %}
                                {{ 'price_change_request' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==3 %}
                                {{ 'address_change' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==4 %}
                                {{ 'account_change_requests' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==5 %}
                                {{ 'bug_reporting' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==6 %}
                                {{ 'support' | trans ({}, "ticket") }}
                            {% endif %}
                        </span> |
                                    <span>{{ Ticket.ticketStart|date('y-M-d H:i:s') }}</span>
                                </div>
                            </div>
                        </a>

                        <div class="controler"  >
                            {% if Ticket.status==0 %}
                                {{ 'Close' | trans ({}, "ticket") }}
                            {% else %}
                                {{ 'Open' | trans ({}, "ticket") }}

                            {% endif %}
                            {{ 'Ticket' | trans ({}, "ticket") }}
                             -
                            <a href="{{ path('MasterTicketsChangeStatus',{id:Ticket.id}) }}">

                                {{ ' Click_for_Switch_to' | trans ({}, "ticket") }}
                                {% if Ticket.status==0 %}
                                    {{ 'Open' | trans ({}, "ticket") }}

                                {% else %}
                                    {{ 'Close' | trans ({}, "ticket") }}

                                {% endif %}

                            </a>

                            <div>

                                {{ 'Tickets_In_change' | trans ({}, "account") }} -
                                {% set j=0 %}
                                {% for user in usermaster %}
                                    {% if user.id==Ticket.inchange %}
                                        <b style="color:red ">{{ user.username }}</b>
                                        {% set j=1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if j==0 %}
                                    <a
                                       href="{{ path('MasterTakeTickets',{'id':Ticket.id}) }}"> {{ 'Take' | trans ({}, "account") }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}