{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Tickets
{% endblock title %}

{% set MU = 'ticket' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Tickets</span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    Tickets
{% endblock %}



{% block Body %}
    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">

                <div class="form_search" style="border-bottom: 2px solid #a8d5f4;">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
                    </h5>

                    <form class="form-horizontal SearchForm" action="{{ path('MasterTickets') }}" method="POST">


                        <div class="control-group">
                            <label class="control-label">Close:
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Status[0]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Open:
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Status[1]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Distributors:
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Distributors) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Retailers:
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Retailers) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.Type,'Type:') }}
                            <div class="controls">
                                {{ form_widget(form.Type) }}
                            </div>
                        </div>

                        <hr>

                        <input class="btn btn-primary" type="submit" value="search">

                    </form>
                    <script type="text/javascript">
                        $(function () {

                            Form_Search(0,"Filter List");

                        });
                    </script>
                </div>




                {% for Ticket in pagination %}

                    <div class=" container {% if Ticket.status==0 %}
                                    closet
                                    {% else %}
                                    opent
                                    {% endif %} Ticket">
                        <a {% if Ticket.status==1 %}
                            href="{{ path('MasterTicketsNote',{'id':Ticket.id}) }}" {% endif %} >
                            <div class="head">
                                <div class="items">
                                    <div>
                                        <span class="new">
                    {% set i,k=0,0 %}
                                            {% for Note in Ticket.TicketNotes %}
                                                {% set users=app.user.Entiti.Users %}
                                                   {% if Note.view==0 %}
                                                     {% for user in users %}
                                                          {% if Note.User!=user %}
                                                        {% set k=1 %}
                                                         {% else %}
                                                        {% set k=0 %}
                                                      {% endif %}
                                                 {% endfor %}
                                           {% endif %}

                                                    {% if k==1 %}
                                                       {% set i=i+1 %}
                                                  {% endif %}

                                           {% endfor %}

                                            {{ i }}


                </span>
                <span class="count">
                    {{ Ticket.TicketNotes.count }}
                </span>
                                        <b>
                                            <i class="{% if Ticket.status==0 %}
                                    icon-remove
                                    {% else %}
                                    icon-ok
                                    {% endif %}"></i>
                                        </b>
                                    </div>
                                </div>

                                <div class="header">
                                    <h1
                                            >{{ Ticket.subject }}</h1>
                                </div>

                            </div>

                            <div class="footer">
                                <div class="contact">
                                    {% if Ticket.Accountdist is  null %}
                                        {{ Ticket.Accountretailer.accName }}
                                    {% elseif Ticket.Accountretailer is  null %}
                                        {{ Ticket.Accountdist.accName }}
                                    {% endif %}
                                </div>

                                <div class="detail">
                        <span> {% if Ticket.type==0 %}Payment
                            {% elseif Ticket.type==1 %}new item request
                            {% elseif Ticket.type==2 %}price change request
                            {% elseif Ticket.type==3 %}Payment
                            {% elseif Ticket.type==4 %}Payment
                            {% endif %}</span> |
                                    <span>{{ Ticket.ticketStart|date('y-M-d H:i:s') }}</span>
                                </div>
                            </div>
                        </a>

                        <div class="controler">
                            {% if Ticket.status==0 %}
                                Close
                            {% else %}
                                Open
                            {% endif %} Ticket -
                            <a href="{{ path('MasterTicketsChangeStatus',{id:Ticket.id}) }}">
                                Click for Switch to {% if Ticket.status==0 %}
                                    Open
                                {% else %}
                                    Close
                                {% endif %}
                            </a>

                            <div>

                                {{ 'Tickets.In change' | trans ({}, "account") }} -
                                {% set j=0 %}
                                {% for user in usermaster %}
                                    {% if user.id==Ticket.inchange %}
                                        <b style="color:red ">{{ user.username }}</b>
                                        {% set j=1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if j==0 %}
                                    <a
                                       href="{{ path('MasterTakeTickets',{'id':Ticket.id}) }}">Take</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}