{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">

        <span><a
                {% if first is defined and current != first %}
                    href="{{ path(route, query|merge({(pageParameterName): first})) }}"
                    class=" btn"
                {% endif %}
                    class="btn dis">
                <span>First</span>
                <i class="icon-step-backward" ></i>
            </a></span>



        <span><a
                    {% if previous is defined %}
                        href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class=" btn"
                    {% endif %}
                    class="btn dis"
            >
                <span>Prev</span>
                <i class="icon-backward" ></i>
            </a></span>


    {% for page in pagesInRange %}
            <span>
                <a
                        {% if page != current %}
                            href="{{ path(route, query|merge({(pageParameterName): page})) }}"
                            class="btn"
                        {% else %}
                            class="btn btn-primary current"
                        {% endif %}
                >{{ page }}</a>
            </span>


    {% endfor %}


        <span><a
                    {% if next is defined %}
                        href="{{ path(route, query|merge({(pageParameterName): next})) }}"
                         class="btn"
                    {% endif %}
                    class="btn dis"
              >
                <span>Next</span>
                <i class="icon-forward" ></i>
              </a></span>



        <span><a
                    {% if last is defined and current != last %}
                        href="{{ path(route, query|merge({(pageParameterName): last})) }}"
                         class="btn"
                    {% endif %}
                    class="btn dis"
                    >
                <span>Last</span>
                <i class="icon-step-forward" ></i>
                    </a></span>

</div>
{% endif %}
