{% extends 'HelloDiDistributorBundle::menu.html.twig' %}

{% block title %}{{ 'Staff' | trans ({}, "user") }}{% endblock title %}

{% block PageTitle %}<i class="icon-th-large"></i>{{ 'Staff' | trans ({}, "user") }}{% endblock %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_distributor_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Staff' | trans ({}, "user") }}</span>
{% endblock Site_Map %}

{% block Link_Head %}
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Fix_Size();
            filterFunction($('#SelectFilter option:selected').text(),1);
        });
    </script>
{% endblock %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content">
            <a class="btn-large button btn btn-primary " href="{{ path('hello_di_distributor_setting_staff_add') }}">
                {{ 'AddNewUser' | trans ({}, "user") }}
            </a>
            <div style="margin-top: 5px" class="tablediv">
                <div class="tab-content datatable">
                    <table id="example" class="table postsend">
                        <thead>
                        <tr>
                            <th>{{ 'Id' | trans ({}, "common") }}</th>
                            <th>{{ 'FullName' | trans ({}, "user") }}</th>
                            <th>{{ 'UserName' | trans ({}, "user") }}</th>
                            <th>{{ 'Status' | trans ({}, "user") }}</th>
                            <th>{{ 'Role' | trans ({}, "user") }}</th>
                            <th>{{ 'Operation' | trans ({}, "common") }}</th>
                        </tr>
                        <tr class="input" >
                            <td><label><input type="text" name="search_Id" value="Search Id" class="search_init" /></label></td>
                            <td><label><input type="text" name="search_Name" value="Search Name" class="search_init" /></label></td>
                            <td><label><input type="text" name="search_Username" value="Search Username" class="search_init" /></label></td>
                            <td><label><input type="text" name="search_Status" value="Search Status" class="search_init" /></label></td>
                            <td><label><input type="text" name="search_Role" value="Search Role" class="search_init" /></label></td>
                            <td><label><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></label></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ (user.enabled ? 'Active' : 'InActive')| trans ({}, "user") }}</td>
                                <td>{{ user.role }}</td>
                                <td class="td-actions">
                                    <a class="btn_actions" href="{{ path('hello_di_distributor_setting_staff_edit',{'user_id':user.id }) }}">{{ 'Edit' | trans ({}, "common") }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}