{% extends 'HelloDiMasterBundle::menu.html.twig' %}

{% block title %}{{ 'Codes' | trans ({}, "code") }}{% endblock title %}

{% block PageTitle %}<i class="icon-list-alt"></i>{{ 'History' | trans ({}, "code") }}{% endblock %}

{% set MU = 'code' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_master_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_master_code_index') }}">{{ 'Codes' | trans ({}, "code") }}</a>
    <span class="link">{{ 'History' | trans ({}, "code") }}</span>
{% endblock Site_Map %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content">
            <div class="tablediv">
                <div class="contenttitle">
                    <h4>{{ 'Info' | trans ({}, "code") }}</h4>
                </div>
                <div class="tab-content">
                    <table style="margin-top: 20px" class="table postsend">
                        <thead>
                        <tr>
                            <th>{{ 'Item' | trans ({}, "item") }}</th>
                            <th>{{ 'ItemType' | trans ({}, "item") }}</th>
                            <th>{{ 'SerialNumber' | trans ({}, "code") }}</th>
                            <th>{{ 'Status' | trans ({}, "code") }}</th>
                            <th>{{ 'DateProduction' | trans ({}, "code") }}</th>
                            <th>{{ 'DateExpiry' | trans ({}, "code") }}</th>
                            <th>{{ 'Operator' | trans ({}, "operator") }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="font-weight: bold">{{ code.item.name }}</td>
                            <td style="font-weight: bold">
                                {% if code.item.type == constant("DMTU",code.item) %}
                                    {{ 'Mobile' | trans ({}, "item") }}
                                {% elseif code.item.type == constant("CLCD",code.item) %}
                                    {{ 'Calling_Card' | trans ({}, "item") }}
                                {% elseif code.item.type == constant("EPMT",code.item) %}
                                    {{ 'E-payment' | trans ({}, "item") }}
                                {% endif %}
                            </td>
                            <td style="font-weight: bold">{{ code.serialNumber }}</td>
                            <td style="font-weight: bold">{% if code.status==1 %}{{ 'Available' | trans ({}, "code") }}{% else %}{{ 'Unavailable' | trans ({}, "code") }}{% endif %}</td>
                            <td style="font-weight: bold">{{ code.input.dateProduction|date('Y/m/d') }}</td>
                            <td style="font-weight: bold">{{ code.input.dateExpiry|date('Y/m/d') }}</td>
                            <td style="font-weight: bold">{{ code.item.operator.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <div class="tablediv">
                <div class="contenttitle">
                    <h4>{{ 'History' | trans ({}, "code") }}</h4>
                </div>
                <div class="tab-content">
                    <table style="margin-top: 20px" class="table postsend">
                        <thead>
                        <tr>
                            <th>{{ 'Date' | trans ({}, "transaction") }}</th>
                            <th>{{ 'Account' | trans ({}, "accounts") }}<br/>({{ 'Name' | trans ({}, "accounts") }}/{{ 'Type' | trans ({}, "accounts") }})</th>
                            <th>{{ 'User' | trans ({}, "user") }}</th>
                            <th>{{ 'Amount' | trans ({}, "transaction") }}</th>
                            <th>{{ 'Description' | trans ({}, "transaction") }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.date|date('Y/m/d') }}</td>
                                <td>{{ transaction.name }} /
                                    {% if transaction.type == constant("HelloDi\\AccountingBundle\\Entity\\Account::DISTRIBUTOR") %}
                                        {{ 'Distributor' | trans ({}, "accounts") }}
                                    {% elseif transaction.type == constant("HelloDi\\AccountingBundle\\Entity\\Account::PROVIDER") %}
                                        {{ 'Provider' | trans ({}, "accounts") }}
                                    {% elseif transaction.type == constant("HelloDi\\AccountingBundle\\Entity\\Account::RETAILER") %}
                                        {{ 'Retailer' | trans ({}, "accounts") }}
                                    {% endif %}
                                </td>
                                <td>{{ transaction.firstName }} {{ transaction.lastName }}</td>
                                <td>{{ transaction.amount|number_format(2, '.') }} {{ AccountTypeFinder.currencyById(transaction.account_id is defined ? transaction.account_id : 0) }}</td>
                                <td>{{ transaction.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
