{% extends 'HelloDiMasterBundle::menu.html.twig' %}

{% block title %}{{ 'Codes' | trans ({}, "code") }}{% endblock title %}

{% block PageTitle %}<i class="icon-list-alt"></i>{{ 'Codes' | trans ({}, "code") }}{% endblock %}

{% set MU = 'code' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_master_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Codes' | trans ({}, "code") }}</span>
{% endblock Site_Map %}

{% block Link_Head %}
    <script type="text/javascript">
        $(function(){
            $('form').submit(function() {
                $('form input, form select, form button').filter(function() {return $(this).val() == ""}).attr('name', '');
            });
            Form_Search({{ codes|length == 0 ? '1' : '0' }},"{{ 'Search' | trans ({}, "common") }}");
        });
    </script>
{% endblock %}

{% block Body %}
        <div class="widget stacked ">
            <div class="widget-content">

                {% if codes is null %}
                    <a class="btn btn-success" href="{{ path('hello_di_master_code_index',{'last_search':''}) }}">Last Search</a>
                {% endif %}

                <div class="form_search">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i><span class="title_search"></span>
                        </span>
                    </h5>
                    {{ form(form) }}
                </div>

                {% if codes is not null %}
                <form id="form_select" method="post" action="{{ path('hello_di_master_code_dead_beat') }}" class="YesNoMessage" message="Are you sure you perform this operation?" header="DeadBeat">
                <a class="btn btn-success" href="{{ path('hello_di_master_code_index',{'last_search':'','csv':''}) }}">{{ 'ExportCSV' | trans ({}, "code") }}</a>
                <input class="btn btn-danger" type="submit" onclick="if($('input.checkbox_select:checked').length == 0) {alert('Please select at least one code.'); return false;}" value="{{ 'DeadBeat Checked Codes' | trans ({}, "code") }}" />
                <br/><br/>

                <div class="tablediv">
                    <div class="contenttitle">
                        <h4>
                            {{ 'Codes' | trans ({}, "code") }} ({{ 'Quantity' | trans ({}, "code") }}: {{ codes?codes.getTotalItemCount:0 }})<br>
                            <label><input type="checkbox" class="main_check" onclick="if($(this).prop('checked'))$('input.checkbox_select').prop('checked',true)" value="1"> Check in all pages</label>
                        </h4>
                    </div>
                    <div class="tab-content">
                        <table style="margin-top: 20px" class="table table-bordered table-striped table-highlight postsend">
                            <thead>
                            <tr>
                                <th><label><input class="main_check checkbox_select" type="checkbox" onclick="$('input.checkbox_select').prop('checked',$(this).prop('checked'))" style="width: 90%" title="Check all in this page"></label></th>
                                <th>{{ 'Name' | trans ({}, "item") }}</th>
                                <th>{{ 'SerialNumber' | trans ({}, "code") }}</th>
                                <th>{{ 'DateExpiry' | trans ({}, "code") }}</th>
                                <th>{{ 'Status' | trans ({}, "code") }}</th>
                                <th>{{ 'Provider' | trans ({}, "accounts") }}</th>
                                <th>{{ 'Operation' | trans ({}, "common") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for code in codes %}
                                    <tr>
                                        <td><label><input class="checkbox_select" type="checkbox" value="{{ code.id }}" name="{{ form_select.name }}[codes][]" onclick="if(!$(this).prop('checked'))$('input.main_check').prop('checked',false)"></label></td>
                                        <td>{{ code.item.name }}</td>
                                        <td>{{ code.serialNumber }}</td>
                                        <td>{{ code.input.dateExpiry|date('Y/m/d') }}</td>
                                        <td>{% if code.status == 1 %}{{ 'Available' | trans ({}, "code") }}{% else %}{{ 'Unavailable' | trans ({}, "code") }}{% endif %}</td>
                                        <td>{{ code.input.provider.account.name }}</td>
                                        <td>
                                            <a href="{{ path('hello_di_master_code_history',{'id':code.id}) }}" class="btn_actions">{{ 'History' | trans ({}, "code") }}</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr><td colspan="6" style="color: red;text-align: center">List is empty.</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </form>

                <div class="navigation" style="text-align: center">
                    {{ codes ? knp_pagination_render(codes) : "" }}
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}
