{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock title %}



    {% block Link_Head %}

        <script type="text/javascript">

            function HideNotification(id)
            {
                $("#Notif"+id).hide('fast');

                $.post('{{ path("MasterReadNotification") }}',{id: id},function(result){

                })
            }


        </script>
    {% endblock %}

{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }} </a>
    <span class="link"> {{ 'Notifications' | trans ({}, "notification") }} </span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock %}

{% block Body %}


<div class="span">
    <div class="widget widget-nopad stacked">
        <div class="widget-content">
            <div class="alertdiv" >
<ul>
     {% for Notfi in Notifications %}
    <li id='Notif{{ Notfi.id }}'>

        <small>{{ 'DateTimeCreate'|trans({},'notification') }}:{{ Notfi.Date|date('Y/m/d H:m:s') }}</small>
    <p>
                 {% if Notfi.Type==11 %}
                         <b >{{ 'Codes_for_this_%value%_is_very_low'|trans({'value':Notfi.Value},'notification') }}</b>
                 {% elseif Notfi.Type==12 %}
                         <b id="{{ Notfi.id }}">{{ 'Provider_account_balance_is_lower_than_equal_%value%'|trans({'value':Notfi.Value},'notification') }}</b>


                {% elseif Notfi.Type==13 %}
                     <div id="{{ Notfi.id }}">
                         <b id="{{ Notfi.id }}">{{ 'Retailer_created_an_account'|trans({},'notification') }}</b>



                {% elseif Notfi.Type==121 %}
                         <b id="{{ Notfi.id }}">{{ 'Distributor_account_balance_is_lower_than_equal_%value%'|trans({'value':Notfi.Value},'notification') }}</b>
                {% endif %}
      </p>
            <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>
            </li>
                {% endfor %}

            </ul>
    </div>
        </div>
    </div>
</div>
    <a href="javascript:history.go(-1)" class="btn"> {{ 'Back' | trans ({}, "common") }}</a>
{% endblock %}
