{% extends 'HelloDiDiDistributorsBundle:Menu:AdminDist.html.twig' %}

{% block title %}
    {{ 'Retailers' | trans ({}, "accounts") }}

{% endblock title %}


{% set MU = 'retail' %}

{% block PageTitle %}
    <i class="icon-briefcase"></i>
    {{ 'Retailers' | trans ({}, "accounts") }}

{% endblock %}

{% set hornav = '40px' %}
{% block Tabs %}

    <li {% if tab == '1' %}class="active"{% endif %} >
        <a href="{{ path('Retailer_Transaction',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Transaction' | trans ({}, "transaction") }}" >
        </a>
    </li>
    <li {% if tab == '2' %}class="active"{% endif %}  >
        <a href="{{ path('dist_RetailerItem',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="Items" >
        </a>
    </li>


    <li {% if tab == '3' %}class="active"{% endif %} >
        <a href="{{ path('DistRetailerUser',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Users' | trans ({}, "user") }}" >
        </a>
    </li>

    <li {% if tab == '4' %}class="active"{% endif %} >
        <a href="{{ path('DistRetailerSetting',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Setting' | trans ({}, "common") }}" >
        </a>
    </li>

<li {% if tab == '5' %}class="active"{% endif %} >
    <a>
        <a href="{{ path('Retailer_details',{'id':retailerAccount.id}) }}"  >
            <input type="submit" value="{{ 'Details' | trans ({}, "common") }}" >
        </a>
    </a>
</li>
{% endblock Tabs %}


{% block Body %}
    <div class="span">
        <div class="widget stacked">

            <div class="widget-content">


                <div class="tab-content">
                    <div class="tab-pane active" id="Info">
                        {% block Tab %}
                        {% endblock Tab %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}