{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Manage Distributor
{% endblock title %}

{% set MU = 'dist' %}

{% block PageTitle %}
    <i class="icon-briefcase"></i>
    Manage Distributor
{% endblock %}


{% block Dist1 %}
   <div class="pagedisc" >
       <i>Name :</i><span>{{ Account.accName }}</span><br>
       <i>Balance :</i><span>{{ Account.accBalance }}</span><br>
       <i>Credit Limit :</i><span>{{ Account.accCreditLimit }}</span>
   </div>
{% endblock %}

{% block Dist2 %}
    <div class="pagedisc" >
        <i>Name :</i><span>{{ Account.accName }}</span><br>
        <i>Balance :</i><span>{{ Account.accBalance }}</span><br>
        <i>Credit Limit :</i><span>{{ Account.accCreditLimit }}</span>
    </div>
{% endblock %}

{% set hornav = '38px' %}
{% block Tabs %}

    <li {% if tab == '3' %}class="active"{% endif %} >


        <a  href="{{ path('MasterDistTransaction',{'id':Account.id}) }}">
         <span>
           Transaction
         </span>
        </a>


    </li>


    <li {% if tab == '6' %}class="active"{% endif %} >
        <a>
            <form id="Item" action="{{ path('ManageItemsDist') }}" method="post">
                <input type="hidden" name="id" value="{{ Account.id }}">
                <input type="submit" value="Items">
            </form>

        </a>
    </li>

    <li {% if tab == '1' %}class="active"{% endif %} >



     <a  href="{{ path('MasterDistSale',{'id':Account.id}) }}">
         <span>
             Sales
         </span>
     </a>



    </li>

    <li {% if tab == '7' %}class="active"{% endif %} >


        <a  href="{{ path('MasterDistPurchases',{'id':Account.id}) }}">
         <span>
           Purchases
         </span>
        </a>


    </li>



    <li {% if tab == '4' %}class="active"{% endif %} >
        <a>
            <form action="{{ path('ManageDistUser') }}" method="post">
                <input type="hidden" name="id" value="{{ Account.id }}">
                <input type="submit" value="Users">
            </form>

        </a>
    </li>
    <li {% if tab == '5' %}class="active"{% endif %} >
        <a>
            <form action="{{ path('ManageDistSettings') }}" method="post">
                <input type="hidden" name="id" value="{{ Account.id }}">
                <input type="submit" value="Settings">
            </form>

        </a>
    </li>

    <li {% if tab == '2' %}class="active"{% endif %} >
        <a>
            <form action="{{path('ManageDistChildren') }}" method="post">
                <input type="hidden" name="id" value="{{ Account.id }}"/>
                <input type="submit" value="Sub Accounts"/>
            </form>
        </a>
    </li>

{% endblock Tabs %}

{% block Body %}
<div class="span">
    <div class="widget stacked">



        <div class="widget-content">
            <!--<div class="HeadTitle" >
                    <h1>{{ Account.accName }}</h1>
                    <div><span>Balance:</span><i>11000000000000</i></div>
                    <div><span>Entity Name:</span><i>{{ Account.Entiti.entName }}</i></div>
                </div>-->

            <div class="tab-content">
                <div class="tab-pane active" id="Info">
                    {% block Tab %}
                    {% endblock Tab %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}