{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Manage Entity
{% endblock title %}

{% block PageTitle %}
    <i class="icon-book"></i>
    {{ entity.entName }}
{% endblock %}





{% set MU = 'ent' %}

{% set hornav = '38px' %}
{% block Tabs %}
    <li {% if tab == '1' %}class="active"{% endif %}  >
        <a href=""  >
            <form id="accounts" action="{{ path('Ent_Accounts') }}" method="post">
                <input type="hidden" name="entityid" value="{{ entity.id }}"/>
                <input type="submit" value="Accounts"/>
            </form>
        </a>
    </li>
    <li {% if tab == '2' %}class="active"{% endif %} >
        <a>
            <form id="usertab" action="{{ path('Ent_Users') }}" method="post">
                <input type="hidden" name="entityid" value="{{ entity.id }}"/>
                <input type="submit" value="Users"/>
            </form>
        </a>
    </li>

    <li {% if tab == '3' %}class="active"{% endif %} >


<a href="{{ path('Ent_Address',{'id':entity.id}) }}">
    <span>
    Address </span>
</a>


    </li>

    <li {% if tab == '4' %}class="active"{% endif %} >
        <a>
            <form action="{{ path('Ent_Info') }}" method="post">
                <input type="hidden" name="entityid" value="{{ entity.id }}"/>
                <input type="submit" value="Info"/>
            </form>
        </a>
    </li>
{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked">
            <!-- /widget-header -->

            <div class="widget-content">

                <div class="tab-content">
                    <div class="tab-pane active" id="Info">
                        {% block Tab %}
                        {% endblock Tab %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}