{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Manage Distributor
{% endblock title %}

{% set MU = 'dist' %}

{% block PageTitle %}
    <i class="icon-briefcase"></i>
    Manage Distributor
{% endblock %}


{% block Dist1 %}
   <div class="pagedisc" >
       <i>Name :</i><span>{{ Account.accName }}</span><br>
       <i>Balance :</i><span>{{ Account.accBalance }}  {{ Account.accCurrency }}</span><br>
       <i>Credit Limit :</i><span>{{ Account.accCreditLimit }}  {{ Account.accCurrency }}</span>
   </div>
{% endblock %}

{% block Dist2 %}
    <div class="pagedisc" >
        <i>Name :</i><span>{{ Account.accName }}</span><br>
        <i>Balance :</i><span>{{ Account.accBalance }}  {{ Account.accCurrency }}</span><br>
        <i>Credit Limit :</i><span>{{ Account.accCreditLimit }}  {{ Account.accCurrency }}</span>
    </div>
{% endblock %}

{% set hornav = '38px' %}
{% block Tabs %}

    <li {% if tab == '3' %}class="active"{% endif %} >


        <a  href="{{ path('MasterDistTransaction',{'id':Account.id}) }}">
            <input type="submit" value="Transactions" >
        </a>
    </li>

    <li {% if tab == '6' %}class="active"{% endif %} >
        <a>
            <form id="Item" action="{{ path('ManageItemsDist') }}" method="post">
                <input type="hidden" name="id" value="{{ Account.id }}">
                <input type="submit" value="Items">
            </form>

        </a>
    </li>

    <li {% if tab == '1' %}class="active"{% endif %} >
        <a href="{{ path('MasterDistSale',{'id':Account.id}) }}">

            <input type="submit" value="Sales" >


        </a>
    </li>

    <li {% if tab == '7' %}class="active"{% endif %} >
        <a href="{{ path('MasterDistPurchases',{'id':Account.id}) }}">


            <input type="submit" value="Purchases" >


        </a>
    </li>



    <li {% if tab == '4' %}class="active"{% endif %} >

        <a href="{{ path('ManageDistUser',{'id':Account.id}) }}">


            <input type="submit" value="Users" >


        </a>

    </li>
    <li {% if tab == '5' %}class="active"{% endif %} >
        <a href="{{ path('ManageDistSettings',{'id':Account.id}) }}">


            <input type="submit" value="Settings" >


        </a>

    </li>

    <li {% if tab == '2' %}class="active"{% endif %} >
        <a href="{{ path('ManageDistChildren',{'id':Account.id}) }}">


            <input type="submit" value="Sub Accounts" >


        </a>

    </li>


    <li {% if tab == '8' %}class="active"{% endif %} >
        <a href="{{ path('MasterDistEntiti',{'id':Account.id}) }}">


            <input type="submit" value="Entity" >


        </a>

    </li>


{% endblock Tabs %}

{% block Body %}
<div class="span">
    <div class="widget stacked">



        <div class="widget-content">
            <!--<div class="HeadTitle" >
                    <h1>{{ Account.accName }}</h1>
                    <div><span>Balance:</span><i>11000000000000</i></div>
                    <div><span>Entity Name:</span><i>{{ Account.Entiti.entName }}</i></div>
                </div>-->

            <div class="tab-content">
                <div class="tab-pane active" id="Info">
                    {% block Tab %}
                    {% endblock Tab %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}