{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Manage Provider
{% endblock title %}


{% set MU = 'prov' %}

{% block PageTitle %}
    <i class="icon-th-large"></i>
    {{ Account.Entiti.entName }}
{% endblock %}

{% block Dist1 %}
    <div class="pagedisc">
        <i>{{ 'AccountName' | trans ({}, "accounts") }} :</i><span>{{ Account.accName }}</span><br>
        <i>{{ 'Balance' | trans ({}, "accounts") }} :</i><span>{{ Account.accBalance }} {{ Account.accCurrency }}</span><br>
    </div>
{% endblock %}

{% block Dist2 %}
    <div class="pagedisc">
        <i>{{ 'AccountName' | trans ({}, "accounts") }} :</i><span>{{ Account.accName }}</span><br>
        <i>{{ 'Balance' | trans ({}, "accounts") }} :</i><span>{{ Account.accBalance }} {{ Account.accCurrency }}</span><br>
    </div>
{% endblock %}

{% set hornav = '38px' %}
{% block Tabs %}

    <li {% if tab == '2' %}class="active"{% endif %} >
        <a href="{{ path('MasterProvTransaction',{id:Account.id}) }}" >
           
                <input type="submit" value="{{ 'Transactions' | trans ({}, "transaction") }}"/>

        </a>
    </li>

    <li {% if tab == '1' %}class="active"{% endif %}  >
        <a href="{{ path('ManageItemsProv',{id:Account.id}) }}">
                <input type="submit" value="{{ 'Items' | trans ({}, "item") }}"/>
        </a>
    </li>


    <li {% if tab == '3' %}class="active"{% endif %} >
        <a href="{{ path('ManageInputsProv',{id:Account.id}) }}">
                <input type="submit" value="{{ 'Inputs' | trans ({}, "code") }}"/>
        </a>
    </li>

    <li {% if tab == '6' %}class="active"{% endif %} >
        <a href="{{ path('MasterProvRemoved',{id:Account.id}) }}" >


                <input type="submit" value="{{ 'Removed' | trans ({}, "transaction") }}"/>

        </a>
    </li>

    <li {% if tab == '4' %}class="active"{% endif %} >

            <a href="{{ path('EditAccountProv',{'id':Account.id }) }}">

                <input type="submit" value="{{ 'Info' | trans ({}, "entity") }}" >
            </a>
    </li>


    <li {% if tab == '7' %}class="active"{% endif %} >

        <a href="{{ path('MasterProvEntiti',{'id':Account.id }) }}">

            <input type="submit" value="{{ 'Entity' | trans ({}, "entity") }}" >
        </a>
    </li>

{% endblock Tabs %}


{% block Body %}
    <div class="span">
        <div class="widget stacked">

            <div class="widget-content">
                <!--<div class="HeadTitle" >
                    <h1>{{ Account.accName }}</h1>
                    <div><span>Balance:</span><i>11000000000000</i></div>
                    <div><span>Entity Name:</span><i>{{ Account.Entiti.entName }}</i></div>
                </div>-->

                <div class="tab-content">
                    <div class="tab-pane active" id="Info">
                        {% block Tab %}
                        {% endblock Tab %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}