{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    {{ 'Entities' | trans ({}, "entity") }}

{% endblock title %}

{% block PageTitle %}
    <i class="icon-book"></i>
    {{ entity.entName }}
{% endblock %}





{% set MU = 'ent' %}

{% set hornav = '38px' %}
{% block Tabs %}
    <li {% if tab == '1' %}class="active"{% endif %}  >


        <a href="{{ path('Ent_Accounts',{'id':entity.id}) }}">

            <input type="submit" value="{{ 'Accounts' | trans ({}, "accounts") }}" >
        </a>


    </li>
    <li {% if tab == '2' %}class="active"{% endif %} >


        <a href="{{ path('Ent_Users',{'id':entity.id}) }}">

            <input type="submit" value="{{ 'Users' | trans ({}, "user") }}" >
        </a>


    </li>


    <li {% if tab == '3' %}class="active"{% endif %} >


        <a href="{{ path('Ent_Address',{'id':entity.id}) }}">

            <input type="submit" value="{{ 'Address' | trans ({}, "entity") }}" >
        </a>


    </li>


    <li {% if tab == '4' %}class="active"{% endif %} >


        <a href="{{ path('Ent_Info',{'id':entity.id}) }}">

            <input type="submit" value="{{ 'Info' | trans ({}, "entity") }}" >
        </a>

    </li>


{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked">
            <!-- /widget-header -->

            <div class="widget-content">

                <div class="tab-content">
                    <div class="tab-pane active" id="Info">
                        {% block Tab %}
                        {% endblock Tab %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}