{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Staff
{% endblock title %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Staff</span>
{% endblock Site_Map %}


{% block Link_Head %}

    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.nightly.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            Fix_Size();
        } );

    </script>

{% endblock %}

{% block PageTitle %}
    <i class="icon-th-large"></i>
    Account Staff
{% endblock %}


{% block Link_Footer %}

{% endblock %}

{% block Body %}



    <div class="span">
        <div class="widget-content">

            <a class="btn-large button btn btn-primary " href="{{ path('MasterStaffAdd') }}">Add New
                user</a><br>

            <div style="margin-top: 5px" class="tablediv">


                <div class="tab-content datatable">
                    <table id="example" class="table postsend">
                            <thead>
                            <tr>
                                <th>{{ 'Account.Id' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Name' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Username' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Status' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Role' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Manage' | trans ({}, "account") }}</th>

                            </tr>


                            <tr class="input" >
                                <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                                <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
                                <td><input type="text" name="search_Username" value="Search Username" class="search_init" /></td>
                                <td><input type="text" name="search_Status" value="Search Status" class="search_init" /></td>
                                <td><input type="text" name="search_Role" value="Search Role" class="search_init" /></td>
                                <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                            </tr>

                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>

                                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        {% if user.enabled==0 %}
                                            InActive
                                        {% else %}
                                            Active
                                        {% endif %}
                                    </td>
                                    <td>{{ user.roles[0] }}</td>

                                    <td class="td-actions">


                                        <a class="btn_actions" href="{{ path('MasterStaffEdit',{'id':user.id }) }}">Modify</a>

                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {#{button pagination}#}
                    </div>


            </div>
        </div>
    </div>


{% endblock %}
