
{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Staff
{% endblock title %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="#">Account Setting</a>
    <span class="link">Staff</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-th-large"></i>
    Account Staff
{% endblock %}


{% block Link_Footer %}

{% endblock %}

{% block Body %}



    <div class="span">
        <div class="widget-content">

            <a class="btn-large button btn btn-primary " href="{{ path('MasterStaffAdd',{'id':Entiti.id}) }}">Add New
                user</a><br>

            <div class="tablediv">
                <div class="contenttitle">
                    <h4>Accounts</h4>
                </div>
                <form>
                    <div class="tab-content">
                        <table style="margin-top: 20px" class="table postsend">
                            <thead>
                            <tr>
                                <th>{{ 'Account.Id' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Name' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Username' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Status' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Role' | trans ({}, "account") }}</th>
                                <th>{{ 'Account.Manage' | trans ({}, "account") }}</th>
                                <th>{{ 'Change Role' | trans ({}, "account") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in pagination %}
                                <tr>
                                    <td>{{ user.id }}</td>

                                    <td>{{ user.firstname }}.{{ user.lastname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        {% if user.enabled==0 %}
                                            InActive
                                        {% else %}
                                            Active
                                        {% endif %}
                                    </td>
                                    <td>{{ user.roles[0] }}</td>

                                    <td class="td-actions">


                                        <a class="btn_actions" href="{{ path('MasterStaffEdit',{'id':user.id }) }}">Modify</a>

                                    </td>
                                    <td class="td-actions">


                                        <a class="btn_actions" href="{{ path('MasterChangeRole',{'id': user.id }) }}">Change Role</a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {#{button pagination}#}
                    </div>
                </form>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}