{% extends 'HelloDiCoreBundle::Main.html.twig' %}

{% block Main_Menu %}
    <li class="{% if MU == 'home' %}active{% else %}dropdown{% endif %}">
        <a href="{{ path('hello_di_master_homepage') }}">
            <i class="icon-home"></i>
            <span id="user_pc_menu">{{ 'Home' | trans ({}, "menu") }}</span>
        </a>
    </li>
    <li class="{% if MU == 'prov' %}active dropdown{% else %}dropdown{% endif %}">
        <a href="{{ path('hello_di_master_provider_index') }}" class="dropdown-toggle">
            <i class="icon-th-large"></i>
            <span id="user_pc_menu">{{ 'Providers' | trans ({}, "accounts") }}</span>
        </a>
    </li>
    <li class="{% if MU == 'dist' %}active{% else %}dropdown{% endif %} ">
        <a href="{{ path('hello_di_master_distributor_index') }}" class="dropdown-toggle">
            <i class="icon-briefcase"></i>
            <span id="user_pc_menu">{{ 'Distributors' | trans ({}, "accounts") }}</span>
        </a>
    </li>
    <li class="{% if MU == 'ent' %}active{% else %}dropdown{% endif %}">
        <a href="{{ path('hello_di_master_entity_index') }}" class="dropdown-toggle">
            <i class="icon-book"></i>
            <span id="user_pc_menu">{{ 'Entities' | trans ({}, "entity") }}</span>
        </a>
    </li>
    <li class="{% if MU == 'code' %}active{% else %}dropdown{% endif %} ">
        <a href="{{ path('hello_di_master_code_index') }}" class="dropdown-toggle">
            <i class="icon-list-alt"></i>
            <span id="user_pc_menu">{{ 'Codes' | trans ({}, "code") }}</span>
        </a>
    </li>
    <li class="{% if MU == 'item' %}active{% else %}dropdown{% endif %}">
        <a href="{{ path('hello_di_master_item_index') }}" class="dropdown-toggle">
            <i class="icon-tags"></i>
            <span id="user_pc_menu">{{ 'Items' | trans ({}, "item") }}</span>
        </a>
    </li>
    <li class="{% if MU == 'operator' %}active{% else %}dropdown{% endif %}">
        <a href="{{ path('hello_di_master_operator_index') }}" class="dropdown-toggle">
            <i class="icon-align-justify"></i>
            <span id="user_pc_menu">{{ 'Operators' | trans ({}, "operator") }}</span>
        </a>
    </li>
    <li class=" {% if MU == 'report' %}active{% endif %} dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-list-alt"></i>
            <span id="user_pc_menu">{{ 'Report' | trans ({}, "transaction") }}</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="javascript:;">{{ 'Sales' | trans ({}, "code") }}</a></li>
            <li><a href="javascript:;">{{ 'Trends' | trans ({}, "code") }}</a></li>
            <li><a href="{{ path('b2breport') }}">{{ 'B2B_Server_Log' | trans ({}, "b2b") }}</a></li>
        </ul>
    </li>
    {% if is_granted('ROLE_MASTER_ADMIN') %}
        <li class=" {% if MU == 'setting' %}active{% endif %} dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-wrench"></i>
                <span id="user_pc_menu">{{ 'Setting' | trans ({}, "user") }}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('MasterProfileEntiti') }}">{{ 'Profile' | trans ({}, "user") }}</a></li>
                <li><a href="{{ path('MasterStaff') }}">{{ 'Staff' | trans ({}, "user") }}</a></li>
                <li><a href="{{ path('Tax') }}">{{ 'Tax' | trans ({}, "vat") }}</a></li>
            </ul>
        </li>
    {% endif %}
    <li class="{% if MU == 'ticket' %}active{% else %}dropdown{% endif %}">
        <a href="{{ path('MasterTickets') }}">
            <i class="icon-comment"></i>
            <span id="user_pc_menu">{{ 'Tickets' | trans ({}, "ticket") }}</span>
        </a>
    </li>
{% endblock Main_Menu %}

