{% extends 'HelloDiDiDistributorsBundle::Main.html.twig' %}

{% block Link_Head %}

{% endblock %}


{% block Dist1 %}
    <div class="pagedisc">
        <i>{{ 'AccountName' | trans ({}, "accounts") }}  :</i><span>{{ app.user.Account.accName }}</span><br>
        <i>{{ 'Balance' | trans ({}, "accounts") }} :</i><span>{{ app.user.Account.accBalance }} {{ app.user.Account.accCurrency }}</span><br>
        <i>{{ 'CreditLimit' | trans ({}, "accounts") }} :</i><span>{{ app.user.Account.accCreditLimit }}</span>
    </div>
{% endblock %}

{% block Dist2 %}
    <div class="pagedisc">
        <i>{{ 'AccountName' | trans ({}, "accounts") }}  :</i><span>{{ app.user.Account.accName }}</span><br>
        <i>{{ 'Balance' | trans ({}, "accounts") }} :</i><span>{{ app.user.Account.accBalance }} {{ app.user.Account.accCurrency }}</span><br>
        <i>{{ 'CreditLimit' | trans ({}, "accounts") }} :</i><span>{{ app.user.Account.accCreditLimit }}</span>
    </div>
{% endblock %}

{% block Main_Menu %}
    <li class=" {% if MU == 'home' %}active{% endif %} dropdown">
        <a href="{{ path('retailers_dashboard') }}">
            <i class="icon-home"></i>
            <span id="user_pc_menu" >{{ 'Home' | trans ({}, "menu") }}</span>
        </a>
    </li>
    <li class=" {% if MU == 'fav' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Shop_favourite') }}" class="dropdown-toggle">
            <i class="icon-star"></i>
            <span  id="user_pc_menu"  >{{ 'Favorites' | trans ({}, "item") }}</span>
        </a>
    </li>
    <li class=" {% if MU == 'dmtu' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Shop_dmtu') }}" class="dropdown-toggle">
            <i class="icon-mobile-phone"></i>
            <span  id="user_pc_menu"  >{{ 'Mobile' | trans ({}, "item") }}</span>
        </a>
    </li>


    <li class=" {% if MU == 'clcu' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Shop_callingCard') }}" class="dropdown-toggle">
            <i class="icon-credit-card"></i>
            <span  id="user_pc_menu"  >{{ 'Calling_Card' | trans ({}, "item") }}</span>
        </a>
    </li>

    <li class=" {% if MU == 'E-payment' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Shop_e-payment') }}" class="dropdown-toggle">
            <i class="icon-flag-alt"></i>
            <span  id="user_pc_menu"  >{{ 'E-payment' | trans ({}, "item") }}</span>
        </a>
    </li>

    <li class=" {% if MU == 'item' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Items_Show') }}" class="dropdown-toggle">
            <i class="icon-tags"></i>
            <span  id="user_pc_menu"  >{{ 'Items' | trans ({}, "item") }}</span>
        </a>
    </li>

    <li class=" {% if MU == 'trans' %}active{% endif %} dropdown">
        <a href="" class="dropdown-toggle"  data-toggle="dropdown" >
            <i class="icon-money"></i>
            <span  id="user_pc_menu"  >{{ 'Transactions' | trans ({}, "transaction") }}</span>
            <b class="caret"></b>
        </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('RetailerTransaction') }}">{{ 'History' | trans ({}, "transaction") }}</a></li>
                {% if is_granted('ROLE_RETAILER_ADMIN') %}
                <li><a href="{{ path('retailer_transactions_new') }}">{{ 'Recharge' | trans ({}, "transaction") }}</a></li>
                {% endif %}
            </ul>
    </li>

    <li class=" {% if MU == 'report' %}active{% endif %} dropdown">
        <a href="" class="dropdown-toggle"  data-toggle="dropdown" >
            <i class="icon-list-alt"></i>
            <span  id="user_pc_menu"  >{{ 'Report' | trans ({}, "transaction") }}</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('RetailerSale') }}">{{ 'Sales' | trans ({}, "code") }}</a></li>
        </ul>
    </li>



    {% if is_granted('ROLE_RETAILER_ADMIN') %}
    <li class=" {% if MU == 'setting' %}active{% endif %} dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-wrench"></i>
            <span  id="user_pc_menu"  >{{ 'AccountSetting' | trans ({}, "accounts") }}</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('RetailerProfile') }}">{{ 'Profile' | trans ({}, "user") }}</a></li>
            <li><a href="{{ path('RetailerStaff') }}">{{ 'Stuff' | trans ({}, "user") }}</a></li>
        </ul>
    </li>
    {% endif %}

    <li class=" {% if MU == 'support' %}active{% endif %} dropdown">
        <a href="{{ path('RetailerTicketsNew') }}" class="dropdown-toggle">
            <i class="icon-plus-sign"></i>
            <span  id="user_pc_menu"  >{{ 'Support' | trans ({}, "common") }}</span>
        </a>
    </li>

{% endblock Main_Menu %}



