{% extends 'HelloDiDiDistributorsBundle::Main.html.twig' %}

{% block Link_Head %}

{% endblock %}


{% block Dist1 %}
    <div class="pagedisc">
        <i>Name :</i><span>{{ app.user.Account.accName }}</span><br>
        <i>Balance :</i><span>{{ app.user.Account.accBalance }} {{ app.user.Account.accCurrency }}</span><br>
        <i>Credit Limit :</i><span>{{ app.user.Account.accCreditLimit }}</span>
    </div>
{% endblock %}

{% block Dist2 %}
    <div class="pagedisc">
        <i>Name :</i><span>{{ app.user.Account.accName }}</span><br>
        <i>Balance :</i><span>{{ app.user.Account.accBalance }} {{ app.user.Account.accCurrency }}</span><br>
        <i>Credit Limit :</i><span>{{ app.user.Account.accCreditLimit }}</span>
    </div>
{% endblock %}

{% block Main_Menu %}
    <li class=" {% if MU == 'home' %}active{% endif %} dropdown">
        <a href="">
            <i class="icon-home"></i>
            <span id="user_pc_menu" >Home</span>
        </a>
    </li>
    <li class=" {% if MU == 'fav' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Shop_favourite') }}" class="dropdown-toggle">
            <i class="icon-star"></i>
            <span  id="user_pc_menu"  >Favorites</span>
        </a>
    </li>
    <li class=" {% if MU == 'mob' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Shop_dmtu') }}" class="dropdown-toggle">
            <i class="icon-mobile-phone"></i>
            <span  id="user_pc_menu"  >Mobile</span>
        </a>
    </li>


    <li class=" {% if MU == 'cell' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Shop_callingCard') }}" class="dropdown-toggle">
            <i class="icon-credit-card"></i>
            <span  id="user_pc_menu"  >Celling Cards</span>
        </a>
    </li>

    <li class=" {% if MU == 'vou' %}active{% endif %} dropdown">
        <a href="" class="dropdown-toggle">
            <i class="icon-flag-alt"></i>
            <span  id="user_pc_menu"  >Vou</span>
        </a>
    </li>

    <li class=" {% if MU == 'item' %}active{% endif %} dropdown">
        <a href="{{ path('Retailer_Items_Show') }}" class="dropdown-toggle">
            <i class="icon-tags"></i>
            <span  id="user_pc_menu"  >Item</span>
        </a>
    </li>

    <li class=" {% if MU == 'trans' %}active{% endif %} dropdown">
        <a href="" class="dropdown-toggle"  data-toggle="dropdown" >
            <i class="icon-money"></i>
            <span  id="user_pc_menu"  >Transactions</span>
            <b class="caret"></b>
        </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('RetailerTransaction') }}">History</a></li>
                <li><a href="javascript:;">Recharge</a></li>
            </ul>
    </li>

    <li class=" {% if MU == 'report' %}active{% endif %} dropdown">
        <a href="" class="dropdown-toggle"  data-toggle="dropdown" >
            <i class="icon-list-alt"></i>
            <span  id="user_pc_menu"  >Report</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('RetailerSale') }}">Sales</a></li>
            <li><a href="javascript:;">Trends</a></li>
        </ul>
    </li>



    <li class=" {% if MU == 'setting' %}active{% endif %} dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-wrench"></i>
            <span  id="user_pc_menu"  >Account Setting</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('RetailerProfile') }}">Profile</a></li>
            {% if is_granted('ROLE_RETAILER_ADMIN') %}
            <li><a href="{{ path('RetailerStaff') }}">Stuff</a></li>
           {% endif %}
        </ul>
    </li>
    <li class=" {% if MU == 'support' %}active{% endif %} dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-plus-sign"></i>
            <span  id="user_pc_menu"  >Support</span>
        </a>
    </li>

{% endblock Main_Menu %}



