{% extends 'HelloDiDiDistributorsBundle::Main.html.twig' %}

{% block Dist1 %}
    <div class="pagedisc">
        <i>Name :</i><span>{{ Account.accName }}</span><br>
        <i>Balance :</i><span>{{ Account.accBalance }}</span><br>
        <i>Credit Limit :</i><span>{{ Account.accCreditLimit }}</span>
    </div>
{% endblock %}

{% block Dist2 %}
    <div class="pagedisc">
        <i>Name :</i><span>{{ Account.accName }}</span><br>
        <i>Balance :</i><span>{{ Account.accBalance }}</span><br>
        <i>Credit Limit :</i><span>{{ Account.accCreditLimit }}</span>
    </div>
{% endblock %}


{% block Main_Menu %}
    <li class=" {% if MU == 'home' %}active{% endif %} dropdown">
        <a href="{{ path('distributors_dashboard') }}">
            <i class="icon-home"></i>
            <span id="user_pc_menu" >Home</span>
        </a>
    </li>
    <li class=" {% if MU == 'retail' %}active{% endif %} dropdown">
        <a href="{{ path('retailer_show') }}" class="dropdown-toggle">
            <i class="icon-briefcase"></i>
            <span  id="user_pc_menu"  >Retailers</span>
        </a>
    </li>
    <li class=" {% if MU == 'item' %}active{% endif %} dropdown">
        <a href="{{ path('items_show') }}" class="dropdown-toggle">
            <i class="icon-tags"></i>
            <span  id="user_pc_menu"  >Items</span>
        </a>
    </li>

    <li class=" {% if MU == 'trans' %}active{% endif %} dropdown">
        <a href="{{ path('DistTransaction') }}" class="dropdown-toggle"  >
            <i class="icon-file"></i>
            <span  id="user_pc_menu"  >Transactions</span>

        </a>



    </li>

    <li class=" {% if MU == 'report' %}active{% endif %} dropdown">
        <a href="" class="dropdown-toggle"  data-toggle="dropdown" >
            <i class="icon-list-alt"></i>
            <span  id="user_pc_menu"  >Reports</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="javascript:;">Sales</a></li>
            <li><a href="javascript:;">Trends</a></li>
        </ul>
    </li>




    <li class=" {% if MU == 'setting' %}active{% endif %} dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-wrench"></i>
            <span  id="user_pc_menu"  >Account Setting</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('DistProfile') }}">Profile</a></li>
            <li><a href="{{ path('DistStaff') }}">Stuff</a></li>
        </ul>
    </li>
    <li class=" {% if MU == 'support' %}active{% endif %} dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-plus-sign"></i>
            <span  id="user_pc_menu"  >Support</span>
        </a>
    </li>

{% endblock Main_Menu %}

