{% extends "FOSUserBundle::Main0.html.twig" %}

{% block title %}
    Login
{% endblock title %}

{% block fos_user_content %}


    <form action="{{ path("fos_user_security_check") }}" method="post">
        <h1>Sign In</h1>

        <div class="login-fields" >

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="field">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}:</label>
                <input type="text" id="username" name="_username"  placeholder="Username" class="login username-field" value="{{ last_username }}" required="required" />
            </div> <!-- /field -->

            <div class="field">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}:</label>
                <input type="password" id="password" name="_password" value="" placeholder="Password" class="login password-field" required="required" />
            </div> <!-- /password -->

        </div>
        {% if error %}
            <div class="Login_error" >
                <i class="icon-ban-circle" ></i><span>{{ error|trans({}, 'FOSUserBundle') }}</span>
            </div>
        {% endif %}
        <div class="login-actions">

				<span class="login-checkbox">
					<input id="Field" name="_remember_me" type="checkbox" class="field login-checkbox" value="on" tabindex="4" />
					<label class="choice" for="Field">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
				</span>
            <input class="button btn btn-warning btn-large" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div> <!-- .actions -->




        <div style="" class="login_remind">
            <div   >
                <a style="width:auto;float:right" class="btn btn-primary" href="{{ path('fos_user_resetting_request') }}" >Remind Password</a>
            </div>


        </div>
        </div>




    </form>
{% endblock fos_user_content %}
