{% extends "HelloDiDiDistributorsBundle::Main0.html.twig" %}

{% block title %}
    Remind Passowrd
{% endblock title %}

{% block bodywidth %}login{% endblock %}

{% block header %}Remind Passowrd{% endblock %}

{% block MoreMenu %}
    <ul class="nav pull-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


            <li class="dropdown">

                <a style="font-size: 16px" href="#" id="user_info" class="dropdown-toggle" data-toggle="dropdown">


							<span >{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                <b class="caret"></b></span>
                </a>

                <ul style="font-size: 16px" class="dropdown-menu">
                    {% if is_granted("ROLE_MASTER") %}
                        <li><a href="{{ path('loginsuccess') }}">Dashboard</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_DISTRIBUTOR") %}
                        <li><a href="{{ path('distributors_dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_RETAILER") %}
                        <li><a href="{{ path('retailers_dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_profile_edit') }}">Setting</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                </ul>

            </li>

        {% else %}


            <li class="dropdown">
                <a style="font-size: 16px" href="{{ path('fos_user_security_login') }}" id="user_info" class="dropdown-toggle">
                                <span id="user_title_menu" style="display: block" >
                                   {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                 </span>
                </a>
            </li>


        {% endif %}
    </ul>
{% endblock %}

{% block fos_user_content %}





    <div class="login-fields">

        <div class="Login_error Comment"  style="padding-top: 0;margin-top: 0">
            <p style="font-size: 18px;line-height: 35px;text-align: center;" >
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </p>
        </div>


        <!-- /field -->


    </div>


    <!-- .actions -->



{% endblock %}





