{% extends 'HelloDiMasterBundle:distributor:tab.html.twig' %}

{% set tab = '8' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_master_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_master_distributor_index') }}">{{ 'Distributors' | trans ({}, "accounts") }}</a>
    <span class="link">{{ 'Entity' | trans ({}, "entity") }}</span>
{% endblock Site_Map %}

{% block Tab %}
    <div class="widget-header">
        <h3>{{ 'Info' | trans ({}, "entity") }}</h3>
    </div>

    <br/>
    <a class=" btn btn-primary btn-large" href="{{ path('hello_di_master_entity_info', {'id': entity.id}) }}">{{ 'Entity' | trans ({}, "entity") }}</a>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="name">{{ 'Name' | trans ({}, "common") }}</label>
            <div class="controls">
                <input id="name" type="text" disabled="" value="{{ entity.name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="vatNumber">{{ 'VatNumber' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="vatNumber" type="text" disabled="" value="{{ entity.vatNumber }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="NP">{{ 'Np' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="NP" type="text" disabled="" value="{{ entity.NP}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="tel1">{{ 'Tel1' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="tel1" type="text" disabled="" value="{{ entity.tel1 }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="tel2">{{ 'Tel2' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="tel2" type="text" disabled="" value="{{ entity.tel2 }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="fax">{{ 'Fax' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="fax" type="text" disabled="" value="{{ entity.fax }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="city">{{ 'City' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="city" type="text" disabled="" value="{{ entity.city }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="address">{{ 'Address' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="address" type="text" disabled="" value="{{ entity.address1 }} / {{ entity.address2 }} / {{ entity.address3 }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="country">{{ 'Country' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="country" type="text" disabled="" value="{{ entity.country.name}}({{ entity.country.iso }})">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="website">{{ 'WebSite' | trans ({}, "entity") }}</label>
            <div class="controls">
                <input id="website" type="text" disabled="" value="{{ entity.website }}">
            </div>
        </div>
    </form>
{% endblock Tab %}