{% extends 'HelloDiMasterBundle::menu.html.twig' %}

{% block title %}{{ 'Distributor' | trans ({}, "accounts") }}{% endblock title %}

{% set MU = 'dist' %}

{% block PageTitle %}<i class="icon-briefcase"></i>{{ account.name }}{% endblock %}

{% set hornav = '38px' %}

{% block Tabs %}
    <li {% if tab == '3' %}class="active"{% endif %} >
        <a  href="{{ path('hello_di_master_distributor_transaction',{'id':account.id}) }}">
            <input type="submit" value="{{ 'Transactions' | trans ({}, "transaction") }}" >
        </a>
    </li>
    <li {% if tab == '6' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_pricing_distributor_item_index',{'id':account.id}) }}">
            <input type="submit" value="{{ 'Items' | trans ({}, "item") }}">
        </a>
    </li>
    <li {% if tab == '1' %}class="active"{% endif %} >
        <a href="{{ path('MasterDistSale',{'id':account.id}) }}">
            <input type="submit" value="{{ 'Sale' | trans ({}, "code") }}" >
        </a>
    </li>
    <li {% if tab == '7' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_master_distributor_purchases',{'id':account.id}) }}">
            <input type="submit" value="{{ 'Purchases' | trans ({}, "transaction") }}" >
        </a>
    </li>
    <li {% if tab == '4' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_master_distributor_users',{'id':account.id}) }}">
            <input type="submit" value="{{ 'Users' | trans ({}, "user") }}" >
        </a>
    </li>
    <li {% if tab == '5' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_master_distributor_info',{'id':account.id}) }}">
            <input type="submit" value="{{ 'Info' | trans ({}, "entity") }}" >
        </a>
    </li>
    <li {% if tab == '2' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_master_retailer_index',{'id':account.id}) }}">
            <input type="submit" value="{{ 'Retailers' | trans ({}, "accounts") }}" >
        </a>
    </li>
    <li {% if tab == '8' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_master_distributor_entity',{'id':account.id}) }}">
            <input type="submit" value="{{ 'Entity' | trans ({}, "entity") }}" >
        </a>
    </li>
{% endblock Tabs %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content">
            <div class="tab-content">
                <div class="tab-pane active" id="Info">
                    {% block Tab %}{% endblock Tab %}
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}