<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Hello Di website
    </title>

    <link rel="shortcut icon" href="{{ asset('bundles/hellodi/img/favicon.ico.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href='http://fonts.googleapis.com/css?family=Quando|Carrois+Gothic+SC|Josefin+Slab|Quicksand|Didact+Gothic|Karla|Marcellus+SC|Oxygen|Julius+Sans+One|Viga' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans|Marcellus+SC|Cinzel|Holtwood+One+SC|Days+One|Archivo+Black|Quicksand|Julius+Sans+One|Varela+Round|Anton|Paytone+One|Oswald|Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>


    <link href="{{ asset('bundles/hellodi/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/hellodi/css/Main.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/hellodi/css/Responcive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/hellodi/css/Home.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/hellodi/css/responsiveslides.css') }}" rel="stylesheet">






    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="{{ asset('bundles/hellodi/js/libs/jquery-1.8.3.min.js') }}"></script>



</head>

<body>

<div class="BG" style="opacity: 0.5" >
    <div class="inner" >
        <div class="sun" >
            <img src="{{ asset('bundles/hellodi/img/my/sun.png') }}" >
        </div>
    </div>
</div>

<div class=" menubarhome" >
    <div class="menuhome">
        <a class="brand" id="brand" href="{{ path('layout') }}">
            Hello <span >Di</span>
        </a>

        <ul class="nav pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                <li class="dropdown">

                    <a style="font-size: 16px" href="#" id="user_info" class="dropdown-toggle" data-toggle="dropdown">


							<span >{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                <b class="caret"></b></span>
                    </a>

                    <ul style="font-size: 16px" class="dropdown-menu">
                        {% if is_granted("ROLE_MASTER") %}
                            <li><a href="{{ path('loginsuccess') }}">Dashboard</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_DISTRIBUTOR") %}
                            <li><a href="{{ path('distributors_dashboard') }}">Dashboard</a></li>
                        {% endif %}
                        {% if is_granted("ROLE_RETAILER") %}
                            <li><a href="{{ path('retailers_dashboard') }}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_profile_edit') }}">Setting</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>

                </li>

            {% else %}


                <li class="dropdown">
                    <a style="font-size: 16px" href="{{ path('fos_user_security_login') }}" id="user_info" class="dropdown-toggle">
                                <span id="user_title_menu" style="display: block" >
                                   {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                 </span>
                    </a>
                </li>


            {% endif %}
        </ul>
    </div>
</div>

<div >

</div>








<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/hellodi/js/libs/jquery-1.8.3.min.js') }}"></script>
<script src="{{ asset('bundles/hellodi/js/libs/jquery-ui-1.10.0.custom.min.js') }}"></script>
<script src="{{ asset('bundles/hellodi/js/libs/Slide/responsiveslides.js') }}"></script>
<script src="{{ asset('bundles/hellodi/js/libs/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/hellodi/js/more/home.js') }}"></script>
<script type="text/javascript">
    $('.menuhome').attr('isdone','0');
    $(function(){
        $(window).scroll(function(){
            var x = $('.menuhome').attr('isdone');

            if(x == 0)
            {
                if($(window).scrollTop() > 5)
                {
                    $('.menuhome').attr('style','border-right:0px;border-left:0px;border-radius:0px');
                    $('.menuhome').animate({
                        width:'100%',
                        margin:'0px'
                    });
                    $('.menuhome').removeAttr('isdone');
                    $('.menuhome').attr('isdone','1');
                }
            }
            else
            {
                if($(window).scrollTop() < 6)
                {


                    $('.menuhome').animate({
                        marginTop:'5px',
                        marginRight:'2%',
                        marginLeft:'29%',
                        borderRightWidth:'2px',
                        borderLeftWidth:'2px',
                        width:'70%'

                    },300,function()
                    {
                        $('.menuhome').removeAttr('style');
                    });

                    $('.menuhome').removeAttr('isdone');
                    $('.menuhome').attr('isdone','0');

                }
            }

        })  ;
    })

    $(document).ready(function(){

    });
</script>


</body>
</html>


