{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
{% endblock %}

{% block title 'Demo Bundle' %}

{% block body %}


    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                {#<li><a href="{{ path('_demo') }}">Demo Home</a></li>#}
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">

<b>hi</b>

    </div>


{% set lng='fr' %}
    {% if app.session.hasFlash('notice') %}
        <div class="flash-notice">
            {{ app.session.flash('notice') }}
        </div>
    {% endif %}

    <form action="{{path ('entity') }}" method="post" >

        {#{{form_label(formentity.entName,'enter.your.name'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formentity.entName) }}#}
        {#{{ form_widget(formentity.entName) }}</br>#}

        {#{{form_label(formentity.entVatNumber,'enter.your.entVatNumber'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formentity.entVatNumber) }}#}
        {#{{ form_widget(formentity.entVatNumber) }}</br>#}


        {#{{form_label(formentity.entTel1,'enter.your.entTel1'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formentity.entTel1) }}#}
        {#{{ form_widget(formentity.entTel1) }}</br>#}

        {#{{form_label(formentity.entTel2,'enter.your.entTel2'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formentity.entTel2) }}#}
        {#{{ form_widget(formentity.entTel2) }}</br>#}

        {#{{form_label(formentity.entFax,'enter.your.entFax'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formentity.entFax) }}#}
        {#{{ form_widget(formentity.entFax) }}</br>#}

        {#{{form_label(formentity.entWebsite,'enter.your.entWebsite'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formentity.entWebsite) }}#}
        {#{{ form_widget(formentity.entWebsite) }}</br>#}

        {#{{form_label(formentity.entRegistrationNumber,'enter.your.entRegistrationNumber'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formentity.entRegistrationNumber) }}#}
        {#{{ form_widget(formentity.entRegistrationNumber) }}</br>#}


        {#{{form_label(formentity.related_entity,'enter.your.related_entity'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formentity.related_entity) }}#}
        {#{{ form_widget(formentity.related_entity) }}</br>#}
        {#<hr>#}
        {#address 1:</br>#}

        {#{{form_label(formaddress1.adrsType,'enter.your.adrsType'|trans({},'entity',lng))  }}#}
            {#{{ form_errors(formaddress1.adrsType) }}#}
            {#{{ form_widget(formaddress1.adrsType) }}</br>#}

        {#{{form_label(formaddress1.adrsStart,'enter.your.adrsStart'|trans({},'entity',lng))  }}#}
            {#{{ form_errors(formaddress1.adrsStart) }}#}
            {#{{ form_widget(formaddress1.adrsStart) }}</br>#}


        {#{{form_label(formaddress1.adrsEnd,'enter.your.adrsEnd'|trans({},'entity',lng))  }}#}
            {#{{ form_errors(formaddress1.adrsEnd) }}#}
            {#{{ form_widget(formaddress1.adrsEnd) }}</br>#}

        {#{{form_label(formaddress1.adrsNp,'enter.your.adrsNp'|trans({},'entity',lng))  }}#}
            {#{{ form_errors(formaddress1.adrsNp) }}#}
            {#{{ form_widget(formaddress1.adrsNp) }}</br>#}

        {#{{form_label(formaddress1.adrsCountry,'enter.your.adrsCountry'|trans({},'entity',lng))  }}#}
            {#{{ form_errors(formaddress1.adrsCountry) }}#}
            {#{{ form_widget(formaddress1.adrsCountry) }}</br>#}


        {#{{form_label(formaddress1.adrsCity,'enter.your.adrsCity'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress1.adrsCity) }}#}
        {#{{ form_widget(formaddress1.adrsCity) }}</br>#}

        {#{{form_label(formaddress1.adrs1,'enter.your.adrs1'|trans({},'entity',lng))  }}#}
            {#{{ form_errors(formaddress1.adrs1) }}#}
            {#{{ form_widget(formaddress1.adrs1) }}</br>#}

        {#{{form_label(formaddress1.adrs2,'enter.your.adrs2'|trans({},'entity',lng))  }}#}
            {#{{ form_errors(formaddress1.adrs2) }}#}
            {#{{ form_widget(formaddress1.adrs2) }}</br>#}


        {#{{form_label(formaddress1.adrs3,'enter.your.adrs3'|trans({},'entity',lng))  }}#}
            {#{{ form_errors(formaddress1.adrs3) }}#}
            {#{{ form_widget(formaddress1.adrs3) }}</br>#}
{#<hr>#}

        {#address 2:#}

        {#{{form_label(formaddress2.adrsType,'enter.your.adrsType'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrsType) }}#}
        {#{{ form_widget(formaddress2.adrsType) }}</br>#}

        {#{{form_label(formaddress2.adrsStart,'enter.your.adrsStart'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrsStart) }}#}
        {#{{ form_widget(formaddress2.adrsStart) }}</br>#}


        {#{{form_label(formaddress2.adrsEnd,'enter.your.adrsEnd'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrsEnd) }}#}
        {#{{ form_widget(formaddress2.adrsEnd) }}</br>#}

        {#{{form_label(formaddress2.adrsNp,'enter.your.adrsNp'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrsNp) }}#}
        {#{{ form_widget(formaddress2.adrsNp) }}</br>#}

        {#{{form_label(formaddress2.adrsCountry,'enter.your.adrsCountry'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrsCountry) }}#}
        {#{{ form_widget(formaddress2.adrsCountry) }}</br>#}


        {#{{form_label(formaddress2.adrsCity,'enter.your.adrsCity'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrsCity) }}#}
        {#{{ form_widget(formaddress2.adrsCity) }}</br>#}

        {#{{form_label(formaddress2.adrs1,'enter.your.adrs1'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrs1) }}#}
        {#{{ form_widget(formaddress2.adrs1) }}</br>#}

        {#{{form_label(formaddress2.adrs2,'enter.your.adrs2'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrs2) }}#}
        {#{{ form_widget(formaddress2.adrs2) }}</br>#}


        {#{{form_label(formaddress2.adrs3,'enter.your.adrs3'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formaddress2.adrs3) }}#}
        {#{{ form_widget(formaddress2.adrs3) }}</br>#}
        {#<hr>#}

        <h3>The author has the following errors</h3>
        <ul>
            {% for errorent in errorsent %}
                <li style="color:red ">{{ errorent.message }}</li>
            {% endfor %}
        </ul>

        {{form_label(formmixture.entName,'enter.your.name'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.entName) }}
        {{ form_widget(formmixture.entName) }}</br>

        {{form_label(formmixture.entVatNumber,'enter.your.entVatNumber'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.entVatNumber) }}
        {{ form_widget(formmixture.entVatNumber) }}</br>

        {{form_label(formmixture.entTel1,'enter.your.entTel1'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.entTel1) }}
        {{ form_widget(formmixture.entTel1) }}</br>

        {{form_label(formmixture.entTel2,'enter.your.entTel2'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.entTel2) }}
        {{ form_widget(formmixture.entTel2) }}</br>

        {{form_label(formmixture.entFax,'enter.your.entFax'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.entFax) }}
        {{ form_widget(formmixture.entFax) }}</br>

        {{form_label(formmixture.entWebsite,'enter.your.entWebsite'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.entWebsite) }}
        {{ form_widget(formmixture.entWebsite) }}</br>

        {{form_label(formmixture.entRegistrationNumber,'enter.your.entRegistrationNumber'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.entRegistrationNumber) }}
        {{ form_widget(formmixture.entRegistrationNumber) }}</br>


        {#{{form_label(formmixture.entity.entidParent,'enter.your.identparent'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formmixture.entity.entidParent) }}#}
        {#{{ form_widget(formmixture.entity.entidParent) }}</br>#}
        <hr>
        <h3>The author has the following errors</h3>
        <ul>
            {% for erroradr in errorsadr %}
                <li style="color:red ">{{ erroradr.message }}</li>
            {% endfor %}
        </ul>
        address 1:</br>

        {{form_label(formmixture.adrs1Type,'enter.your.adrsType'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs1Type) }}
        {{ form_widget(formmixture.adrs1Type) }}</br>

        {{form_label(formmixture.adrs1Start,'enter.your.adrsStart'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs1Start) }}
        {{ form_widget(formmixture.adrs1Start) }}</br>


        {{form_label(formmixture.adrs1End,'enter.your.adrsEnd'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs1End) }}
        {{ form_widget(formmixture.adrs1End) }}</br>

        {{form_label(formmixture.adrs1Np,'enter.your.adrsNp'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs1Np) }}
        {{ form_widget(formmixture.adrs1Np) }}</br>

        {{form_label(formmixture.adrs1Country,'enter.your.adrsCountry'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs1Country) }}
        {{ form_widget(formmixture.adrs1Country) }}</br>


        {{form_label(formmixture.adrs1City,'enter.your.adrsCity'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs1City) }}
        {{ form_widget(formmixture.adrs1City) }}</br>

        {{form_label(formmixture.adrs11,'enter.your.adrs1'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs11) }}
        {{ form_widget(formmixture.adrs11) }}</br>

        {{form_label(formmixture.adrs12,'enter.your.adrs2'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs12) }}
        {{ form_widget(formmixture.adrs12) }}</br>


        {{form_label(formmixture.adrs13,'enter.your.adrs3'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs13) }}
        {{ form_widget(formmixture.adrs13) }}</br>
        <hr>

        address 2:

        {{form_label(formmixture.adrs2Type,'enter.your.adrsType'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs2Type) }}
        {{ form_widget(formmixture.adrs2Type) }}</br>

        {{form_label(formmixture.adrs2Start,'enter.your.adrsStart'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs2Start) }}
        {{ form_widget(formmixture.adrs2Start) }}</br>


        {{form_label(formmixture.adrs2End,'enter.your.adrsEnd'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs2End) }}
        {{ form_widget(formmixture.adrs2End) }}</br>

        {{form_label(formmixture.adrs2Np,'enter.your.adrsNp'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs2Np) }}
        {{ form_widget(formmixture.adrs2Np) }}</br>

        {{form_label(formmixture.adrs2Country,'enter.your.adrsCountry'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs2Country) }}
        {{ form_widget(formmixture.adrs2Country) }}</br>


        {{form_label(formmixture.adrs2City,'enter.your.adrsCity'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs2City) }}
        {{ form_widget(formmixture.adrs2City) }}</br>

        {{form_label(formmixture.adrs21,'enter.your.adrs1'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs21) }}
        {{ form_widget(formmixture.adrs21) }}</br>

        {{form_label(formmixture.adrs22,'enter.your.adrs2'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs22) }}
        {{ form_widget(formmixture.adrs22) }}</br>


        {{form_label(formmixture.adrs23,'enter.your.adrs3'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.adrs23) }}
        {{ form_widget(formmixture.adrs23) }}</br>

        <hr>
        accounts:
        <h3>The author has the following errors</h3>
        <ul>
            {% for erroracc in errorsacc %}
                <li style="color:red ">{{ erroracc.message }}</li>
            {% endfor %}
        </ul>
        {{form_label(formmixture.accBalance,'enter.your.accBalance'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.accBalance) }}
        {{ form_widget(formmixture.accBalance) }}</br>

        {{form_label(formmixture.accCurrency,'enter.your.accCurrency'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.accCurrency) }}
        {{ form_widget(formmixture.accCurrency) }}</br>


        {{form_label(formmixture.accCreditLimit,'enter.your.creditLimit'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.accCreditLimit) }}
        {{ form_widget(formmixture.accCreditLimit) }}</br>

        {{form_label(formmixture.accTerms,'enter.your.accTerms'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.accTerms) }}
        {{ form_widget(formmixture.accTerms) }}</br>

        {{form_label(formmixture.accCreationDate,'enter.your.accCreationDate'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.accCreationDate) }}
        {{ form_widget(formmixture.accCreationDate) }}</br>


        {{form_label(formmixture.accStatus,'enter.your.accStatus'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.accStatus) }}
        {{ form_widget(formmixture.accStatus) }}</br>

        {{form_label(formmixture.accTimeZone,'enter.your.accTimeZone'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.accTimeZone) }}
        {{ form_widget(formmixture.accTimeZone) }}</br>

        {{form_label(formmixture.accType,'enter.your.acctype'|trans({},'entity',lng))  }}
        {{ form_errors(formmixture.accType) }}
        {{ form_widget(formmixture.accType) }}</br>


        {#{{form_label(formmixture.entities,'enter.your.entities'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formmixture.entities) }}#}
        {#{{ form_widget(formmixture.entities) }}</br>#}

        {#{{form_label(formmixture.accidParent,'enter.your.idaccParent'|trans({},'entity',lng))  }}#}
        {#{{ form_errors(formmixture.accidParent) }}#}
        {#{{ form_widget(formmixture.accidParent) }}</br>#}


        {#&#123;&#35;{{form_label(formentity.entName,{{ 'your name'|trans(, "newentity",lng) }} )  }}&#35;&#125;#}
{#{{ form_widget(formentity.entName) }}#}


{#{{ form_lable(formentity.entTel1,) }}#}

        {##{{form_rest(formentity)  }}}
       {#{{  form_widget(formaddress.adrsEnd.day) }}#}
        {#&#123;&#35;'{{ month }}': formaddress_widget(formaddress.month),&#35;&#125;#}
        {#&#123;&#35;'{{ year }}': formaddress_widget(formaddress.year),&#35;&#125;#}
        {#{{form_rest(formaddress)  }}#}
        {#{{formaddress.adrsEnd|date('y\\\m\\\\d')  }}#}
        {#{{ formaddress.vars.value.adrsEnd }}#}



        <input type="submit"/>
    </form>



    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
