{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
{% endblock %}

{% block title 'Demo Bundle' %}

{% block body %}

{{ ent.entName }}</br>
    {{ ent.entVatNumber }}</br>
    {{ ent.entFax }}</br>
    {{ ent.entRegistrationNumber }}</br>
    {{ ent.entTel1 }}</br>
    {{ ent.entTel2 }}</br>
    {{ ent.entWebsite }}</br>
    account parent this is:   {{ ent.Parent.id }}</br>
    <hr>
    {{ adr1.adrsType}}</br>
    {{ adr1.adrsStart|date('Y\\\\m\\\\d') }}</br>
    {{ adr1.adrsEnd|date('Y\\\\m\\\\d') }}</br>
    {{ adr1.adrsCity }}</br>
    {{ adr1.adrsCountry }}</br>
    {{ adr1.adrs1}}</br>
    {{ adr1.adrs2 }}</br>
    {{ adr1.adrs3 }}
    <hr>
    {% if adr2.adrs1!='' %}
    {{ adr2.adrsType}}</br>
    {{ adr2.adrsStart|date('Y\\\\m\\\\d') }}</br>
    {{ adr2.adrsEnd|date('Y\\\\m\\\\d') }}</br>
    {{ adr2.adrsCity }}</br>
    {{ adr2.adrsCountry }}</br>
    {{ adr2.adrs1}}</br>
    {{ adr2.adrs2 }}</br>
    {{ adr2.adrs3 }}</br>
{% endif %}

    <hr>
    {{ acc.accBalance}}</br>
    {{ acc.accCurrency }}</br>
    {{ acc.accCreditLimit}}</br>
    {{ acc.accTerms }}</br>
    {{ acc.accCreationDate|date('Y\\\\m\\\\d') }}</br>
    {{ acc.accStatus}}</br>
    {{ acc.accTimeZone }}</br>
    {{ acc.accType }}</br>
  belong to this entity:  {{ acc.entities.entName}}</br>
   account parent this is: {{ acc.Parent.id }}</br>


    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('_demo') }}">Demo Home</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">

<b>hi</b>

    </div>




        <input type="submit"/>
    </form>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
