{% extends 'HelloDiDiDistributorsBundle:Menu:Master.html.twig' %}

{% block title %}
    Upload Codes File
{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('item') }}">Provider</a>
    <span class="link">upload</span>
{% endblock Site_Map %}

{% block Link_Head %}
    <link href="{{ asset('bundles/hellodi/css/smart_wizard.css') }}" rel="stylesheet">
{% endblock %}

{% set MU = 'Provider' %}

{% block Body %}
    <div class="span12">
        <div class="widget stacked">
            <div class="widget-header">
                <i class="icon-briefcase"></i>

                <h3>Upload</h3>
            </div>
            <!-- /widget-header -->

            <div class="widget-content">
                <div id="wizard" class="swMain">
                    <div class="stepContainer">
                        <h2 class="StepTitle">Upload</h2>
                        {% for error in errors %}
                            {{ error }} <br/>
                        {% endfor %}
                        <form action="{{ path("uploadOK") }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                            {{ form_label(form.File) }}
                            {{ form_widget(form.File) }}
                            <br/>
                            {{ form_label(form.Batch) }}
                            {{ form_widget(form.Batch) }}
                            <br/>
                            {{ form_label(form.Item) }}
                            {{ form_widget(form.Item) }}

                            <fieldset style="border: 1px solid gray; padding-top: 10px; margin-bottom: 10px; border-radius: 5px">
                                {{ form_label(form.SerialNumber) }}
                                {{ form_widget(form.SerialNumber) }}

                                {{ form_label(form.ProductionDate) }}
                                {{ form_widget(form.ProductionDate) }}

                                {{ form_label(form.ExpireDate) }}
                                {{ form_widget(form.ExpireDate) }}

                                {{ form_label(form.PinCode) }}
                                {{ form_widget(form.PinCode) }}
                            </fieldset>

                            {#<input type="hidden" name="accountid" value="{{ accountid }}">#}
                            {{ form_rest(form) }}

                            <div class="form-actions" style="margin-bottom: 0">
                                <input type="submit" class="btn btn-primary" value="Upload Document"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}