{% extends 'HelloDiDistributorBundle::menu.html.twig' %}

{% block title %}Edit Model{% endblock title %}

{% block PageTitle %}<i class="icon-th-large"></i>Edit Model{% endblock %}

{% set MU = 'retail' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_distributor_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_distributor_retailer_index') }}">{{ 'Retailers' | trans ({}, "accounts") }}</a>
    <a class="link" href="{{ path('hello_di_pricing_retailer_model_index') }}">Models</a>
    <span class="link">Edit Model</span>
{% endblock Site_Map %}

{% block Link_Head %}
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.json-2.4.min.js') }}"></script>
    <script type="text/javascript">
        var oTable;
        $(document).ready(function() {
            oTable = Fix_Size({
                "aLengthMenu": [[10, 20, 100, -1], [10, 20, 100, "All"]],
                "sPaginationType": "full_numbers",
                "aoColumnDefs": [
                    { "aTargets": [ 0 ], "sType": "numeric", "bVisible": false },
                    { "aTargets": [ 4 ], "sType": "numeric", "mRender": function ( data, type ) {
                        if(type === 'display')
                            return '<input class="price-input float_validation" type="text" value="' + data + '">';
                        return data;
                    } }
                ]
            });

            $(".price-input").live('blur',function(){
                oTable.fnUpdate( $(this).val(), oTable.fnGetPosition($(this).closest('tr')[0]), 4 , false , false );
            });
        } );

        function getJson() {
            var array = oTable.fnGetData(), result = {}, i;
            for(i=0;i<array.length;i++) {
                if(array[i][4].trim() != "")
                    result[array[i][0]] = array[i][4].trim();
            }
            return $.toJSON(result);
        }
    </script>

    <style>
        .price-input {
            font-size:12px !important;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content">
            <div style="margin: 5px 0" class="tablediv">
                <div class="tab-content datatable">
                    <table id="example" class="table postsend">
                        <thead>
                        <tr>
                            <th>{{ 'Id' | trans ({}, "common") }}</th>
                            <th>{{ 'Name' | trans ({}, "item") }}</th>
                            <th>{{ 'ItemCode' | trans ({}, "item") }}</th>
                            <th>{{ 'Price' | trans ({}, "price") }}</th>
                            <th>{{ 'Amount' | trans ({}, "transaction") }}</th>
                        </tr>
                        <tr class="input" >
                            <td><label><input type="text" class="search_init" name="search_Id" value="Search Id"/></label></td>
                            <td><label><input type="text" class="search_init" name="search_Name" value="Search Name" /></label></td>
                            <td><label><input type="text" class="search_init" name="search_ItemCode" value="Search ItemCode" /></label></td>
                            <td><label><input type="text" class="search_init" name="search_Price" value="Search Price" /></label></td>
                            <td><label><input type="text" class="search_init" name="search_Amount" value="Search Amount" /></label></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for price in prices %}
                            <tr>
                                <td>{{ price.id }}</td>
                                <td>{{ price.item.name }}</td>
                                <td>{{ price.item.code }}</td>
                                <td>{{ price.item.faceValue }} ({{ price.item.currency }})</td>
                                <td>{{ amounts[price.id] is defined ? amounts[price.id] : "" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}