<!DOCTYPE html>
<html>
<head>
    <title>Shop Code</title>
</head>
<body>

<p>Account Balance:{{ account.accBalance }}</p>
{% for opr in operator %}
    <p style="background:#6b9311">{{  opr.name }}</p>
<table>
    <tr>
        <td style="background: blanchedalmond" width =20%>Neme</td>
        <td style="background: blanchedalmond" width =20%>Face Value</td>
        <td style="background: blanchedalmond" width =20%>Curncy</td>
        <td style="background: blanchedalmond" width =30%>Link</td>
    </tr>
    {% for item in itemlist %}
    {% if( item.name == opr.name) %}
    <tr>
        <td >{{ item.itemName }}</td>
        <td >{{ item.itemFaceValue }}</td>
        <td >{{ item.itemCurrency }}</td>

        <td><form action="{{ path('Retailer_Shop_dmtu_code') }}" method="POST"><input type="text" name="numberOfsale">
                <input type="hidden" name="item_id" value="{{ item.id }}"><input type="hidden" name="price_id" value="{{ item.pid }}"><button>Go To Print</button> </form></td>
    </tr>
    {% endif %}
    {% endfor %}
 </table>

{% endfor %}

{#{% for item in itemlist %}#}
    {#{{ item.id }}---#}
    {#{{ item.name }}---#}
    {#{{ item.itemName }}#}
    {#<br>#}
{#{% endfor %}#}

{#{% for opr in operator %}#}
    {#{{ opr.id }}---#}
    {#{{ opr.name }}---#}

{#{% endfor %}#}
</body>
</html>