{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}

{% block title %}
    {{ 'Calling_Card' | trans ({}, "item") }}
{% endblock title %}

{% set MU = 'clcd' %}

{% block Site_Map %}
    <a class="link" href="{{ path('retailers_dashboard') }}">  {{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">  {{ 'Calling_Card' | trans ({}, "item") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-mobile-phone"></i>
    {{ 'Calling_Card' | trans ({}, "item") }}
{% endblock %}

{% block Link_Footer %}

{% endblock %}

{% block Body %}


    <!-- Modal -->
    <div id="popuptop" class="modal" >
        <div class="modal-header containerpop">
            <button type="button" class="close" onclick="PopuptopClose(event)">X</button>
            <h3 id="myModalLabel">  {{ 'BuyCard' | trans ({}, "item") }}</h3>
        </div>
        <form class="form-horizontal" action="{{ path('Retailer_Shop_buy') }}" method="POST">
            <div class="modal-body containerpop">
                <div class="control-group">
                    <label class="control-label">
                        {{ 'Operator' | trans ({}, "operator") }}
                    </label>

                    <div class="controls">
                        <input type="text" value="Irancell" id="operator" disabled class="input-large">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        {{ 'Item' | trans ({}, "item") }}
                    </label>

                    <div class="controls">
                        <input type="text" value="" id="itemname" disabled class="input-large">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">
                        {{ 'ItemType' | trans ({}, "item") }}
                    </label>

                    <div class="controls">
                        <input type="text" value="" id="itemtype" disabled class="input-large">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">
                        {{ 'FaceValue' | trans ({}, "item") }}
                    </label>

                    <div class="controls">
                        <input type="text" value="" id="facevalue" disabled class="input-large">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">
                        {{ 'Language' | trans ({}, "item") }}
                    </label>

                    <div class="controls">
                        <select id="language" name="language" required></select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">
                        {{ 'Count' | trans ({}, "code") }}
                    </label>

                    <div class="controls">
                        <select name="numberOfsale" onchange="count_value()" id="itemcount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                </div>

                <div class="control-group">
                    <label class="control-label">
                        {{ 'SumValues' | trans ({}, "price") }}
                    </label>


                    <div class="controls">
                        <input id="showsum" type="text" value="2100" disabled class="input-large">
                    </div>
                </div>
                <input  type="hidden" id="itemid" name="item_id" value="">

            </div>

            <div class="containerpop form-actions " style="padding-left: 0px">
                <button class="btn" onclick="PopuptopClose(event)">   {{ 'Close' | trans ({}, "common") }}</button>
                <input type="submit" class="btn btn-primary" value="   {{ 'Buy' | trans ({}, "common") }}">
            </div>

        </form>
    </div>



    <script type="text/javascript">
        function count_value() {
            var x = $('#itemcount').val();
            var y = $('#facevalue').val();
            x *= y;
            $('#showsum').val(x);
        }


    </script>

    <div class="span">
        <div class="widget stacked">
            <div class="widget-content itemshow">

                <div class="filter_Div filter_item" id="operatorslist">

                    <div class="filter" data-filter="all">
                        {{ 'AllOperators' | trans ({}, "operator") }}
                    </div>

                </div>


                <!--<div class="filter_Div sort_item">
                        <div class="sort active" data-sort="default" data-order="desc">Default</div>
                        <div class="sort" data-sort="sfield" data-order="desc">Descending</div>
                        <div class="sort" data-sort="sfield" data-order="asc">Ascending</div>

                </div> -->
                <script type="text/javascript">var operators = [];</script>

                <div class="list_items" >
                    <ul id="Grid" class="itemulshow">
                        {% for pr in Prices %}


                            <li id="item_buy" class="mix {{ pr.Item.operator.name }}" sfield="{{ pr.Item.itemFaceValue }}">
                                <a>
                                    <div style="background-image: url('{{ asset(pr.Item.operator.webPath) }}')"
                                         class="item_show">
                                        <div class="header">{{ pr.Item.itemName }}</div>
                                        <div class="body">
                                            <div class="price">
                                                {{ pr.Item.itemFaceValue }}

                                            </div>
                                            <div class="type">
                                                {{ pr.Item.itemCurrency }}
                                            </div>

                                        </div>
                                    </div>

                                    <input type="hidden" id="item_name1" value="{{ pr.Item.itemName }}">
                                    <input type="hidden" id="item_type1" value="{{ 'Calling_Card' | trans ({}, "item") }}">
                                    <input type="hidden" id="face_value1" value="{{ pr.Item.itemFaceValue }}">
                                    <input type="hidden" id="currency1" value="{{ pr.Item.itemCurrency }}">
                                    <input type="hidden" id="operator1" value="{{ pr.Item.operator.name }}">
                                    <input type="hidden" id="item_id1" value="{{ pr.Item.id }}">
                                    <input type="hidden" id="price_id1" value="{{ pr.Item.operator.id }}">

                                    {% for itemdesc in pr.Item.ItemDescs %}
                                        <input type="hidden" id="lang1" value="{{ itemdesc.desclang }}">
                                    {% endfor %}
                                </a>
                            </li>

                            <script type="text/javascript">
                                if($.inArray('{{ pr.Item.operator.name }}', operators) === -1)
                                {
                                    operators.push("{{ pr.Item.operator.name }}");
                                    $('#operatorslist').append('<div class="filter" data-filter="{{ pr.Item.operator.name }}">{{ pr.Item.operator.name }}</div>');
                                }
                            </script>


                            {#<p style="background: blanchedalmond">{{  item.itemName }} <a href="#" target="_blank">Go To Print</a> </p>#}


                        {% endfor %}
                    </ul>
                </div>

            </div>


            <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery-1.8.3.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('bundles/hellodi/js/libs/Slide/jquery.mixitup.js') }}"></script>

            <script type="text/javascript">
                $(function () {
                    $("* #item_buy").click(function () {
                        Popuptop('modal');

                        $('.popupshow #operator').val($(" #operator1", this).val());
                        $('.popupshow #itemname').val($(" #item_name1", this).val());
                        $('.popupshow #itemtype').val($(" #item_type1", this).val());
                        $('.popupshow #facevalue').val($(" #face_value1", this).val());
                        $('.popupshow #showsum').val($(" #face_value1", this).val());
                        $('.popupshow #itemcount').val(1);
                        $('.popupshow #itemid').val($(" #item_id1", this).val());
                        $('.popupshow #priceid').val($(" #price_id1", this).val());

                        $(" #lang1", this).each(function(){
                            $('.popupshow #language').append('<option>'+ $(this).val() +'</option>');
                        });
                    });


                    $('#Grid').mixitup({effects: ['fade', 'scale', 'blur']});

                });
            </script>
        </div>
    </div>


{% endblock %}

