{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}
{% if MU == 'epmt' %} {% set MU = 'E-payment' %}{% endif %}
{% block title %}
    {{ 'PrintLastSale' | trans ({}, "transaction") }}
{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('retailers_dashboard') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'PrintLastSale' | trans ({}, "transaction") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-check"></i>
    {{ 'PrintLastSale' | trans ({}, "transaction") }}
{% endblock %}

{% block Link_Head %}
    <style>
        .item
        {
            width: 10cm;
            margin: auto;
        }
        @media print
        {
            @page
            {
                margin: 0.5cm;
            }
            body *
            {
                display: none !important;
            }
            .print, .item, .item *
            {
                display: block !important;
            }
            .item
            {
                page-break-after: always;
            }
            .bordertop
            {
                border: 0  !important;
            }
            .item span
            {
                display: inline !important;
            }
        }
    {% if print == 'pdf' %}
        body *
        {
            display: none !important;
        }
        .print, .item, .item *
        {
            display: block !important;
        }
        .item
        {
            page-break-after: always;
        }
        .bordertop
        {
            border: 0  !important;
        }
        .item span
        {
            display: inline !important;
        }
    {% endif %}
    </style>
{% endblock %}

{% block Body %}

<div style="text-align: center;margin: 20px">
    <a type="button" class="btn btn-primary" href="javascript:window.print();">Print</a>
    <a type="button" class="btn btn-primary" href="{{ path('Retailer_Shop_print',{'print':'pdf'}) }}">Print As PDF</a>
</div>
<div class="print">
    {% for tran in trans %}

        <div class="item">
            {% if duplicate %}<div style="text-align: center;">Duplicate Print Code</div>{% endif %}

            {% if description is not null %}
                {{ include(template_from_string(description.descdesc),{"pin":tran.Code.pin, "serial":tran.Code.serialNumber , "expire":tran.Code.Input.dateExpiry|date('Y/m/d') }) }}
            {% else %}

                SerialNumber:{{ tran.Code.serialNumber }}<br><br>
                Code Secret:{{ tran.Code.pin }}<br><br>

            {% endif %}

        </div>
    {% endfor %}
</div>

{% endblock %}

{% block Link_Footer %}
    <script type="text/javascript">
        $(document).ready(function(){
            window.print();
        });
    </script>
{% endblock %}