<!DOCTYPE html>
<html>
<head>
    <title>Hello Di . Shop Code</title>

    <link rel="shortcut icon" href="{{ asset('bundles/hellodi/img/favicon.ico.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{{ asset('bundles/hellodi/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/hellodi/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        .item
        {
            width: 8.2cm;
            margin: auto;
        }
        .item
        {
            page-break-after: always;
        }
        @media print
        {
            @page
            {
                margin: 0.5cm;
            }
            body>*
            {
                display: none !important;
            }
            .print
            {
                display: block !important;
            }
        }
    </style>
</head>
<body>
{% if print == 'web' %}
<div id="notPrint" style="text-align: center;margin: 20px">
    <a type="button" class="btn" href="javascript:window.print();">Print</a>
    <a type="button" class="btn" href="{{ path('Retailer_Shop_print',{'print':'pdf'}) }}">Print As PDF</a>
    <a href="#" onclick="window.close()" class="btn">Close</a>
</div>
{% endif %}
<div class="print">
    {% for tran in trans %}

        <div class="item">
            {% if duplicate %}<div style="text-align: center;">Duplicate Print Code</div>{% endif %}

            {% if description is not null %}
                {{ include(template_from_string(description.descdesc),{
                    "pin":tran.Code.pin,
                    "serial":tran.Code.serialNumber,
                    "expire":tran.Code.Input.dateExpiry|date('Y/m/d'),
                    "printdate":tran.tranInsert|date('Y/m/d H:s:i'),
                    "duplicate": 'duplicate',
                    "entityname":tran.Account.Entiti.entName,
                    "operator":tran.Code.Item.operator.name,
                    "entityadrs1":tran.Account.Entiti.entAdrs1,
                    "entityadrs2":tran.Account.Entiti.entAdrs2,
                    "entityadrs3":tran.Account.Entiti.entAdrs3
                }) }}
            {% else %}

                SerialNumber:{{ tran.Code.serialNumber }}<br><br>
                Code Secret:{{ tran.Code.pin }}<br><br>

            {% endif %}

        </div>
    {% endfor %}
</div>

    {#<script type="text/javascript">#}
        {#$(document).ready(function(){#}
            {#window.print();#}
        {#});#}
    {#</script>#}
</body>
</html>