{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}

{% block title %}
    {{ 'Favourites' | trans ({}, "item") }}
{% endblock title %}

{% set MU = 'fav' %}

{% block Site_Map %}
    <a class="link" href="{{ path('retailers_dashboard') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link"> {{ 'Favourites' | trans ({}, "item") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-mobile-phone"></i>
    {{ 'Favourites' | trans ({}, "item") }}
{% endblock %}

{% block Link_Footer %}

{% endblock %}

{% block Body %}


    <!-- Modal -->
    <div id="popuptop" class="modal" >
        <div class="modal-header containerpop">
            <button type="button" class="close" onclick="PopuptopClose(event)">X</button>
            <h3 id="myModalLabel">{{ 'BuyCard' | trans ({}, "item") }}</h3>
        </div>
        <form class="form-horizontal" action="{{ path('Retailer_Shop_buy') }}" method="POST">
            <div class="modal-body containerpop">
                <div class="control-group">
                    <label class="control-label">
                        {{ 'Operator' | trans ({}, "operator") }}
                    </label>

                    <div class="controls">
                        <input type="text" value="Irancell" id="operator" disabled class="input-large">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        {{ 'Item' | trans ({}, "item") }}
                    </label>

                    <div class="controls">
                        <input type="text" value="" id="itemname" disabled class="input-large">
                    </div>
                </div>            <div class="control-group">
                    <label class="control-label">
                        {{ 'ItemType' | trans ({}, "item") }}
                    </label>

                    <div class="controls">
                        <input type="text" value="" id="itemtype" disabled class="input-large">
                    </div>
                </div>



                <div class="control-group">
                    <label class="control-label">
                        {{ 'FaceValue' | trans ({}, "itam") }}
                    </label>

                    <div class="controls">
                        <input type="text" value="" id="facevalue" disabled class="input-large">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">
                        {{ 'Count' | trans ({}, "code") }}
                    </label>

                    <div class="controls">
                        <input type="text"
                               onkeydown="return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode==8) || (event.keyCode==9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode==46) )"
                               name="numberOfsale" onchange="count_value()" id="itemcount">
                    </div>

                </div>

                <div class="control-group">
                    <label class="control-label">
                        {{ 'SumValues' | trans ({}, "price") }}
                    </label>

                    <div class="controls">
                        <input id="showsum" type="text" value="2100" disabled class="input-large">
                    </div>
                </div>
                <input  type="hidden" id="itemid" name="item_id" value="">
                <input type="hidden" id="priceid" name="price_id" value="">

            </div>

            <div class="containerpop form-actions " style="padding-left: 0px">
                <button class="btn" onclick="PopuptopClose(event)">   {{ 'Cancel' | trans ({}, "common") }}  </button>
                <input type="submit" class="btn btn-primary" value="   {{ 'Buy' | trans ({}, "common") }}  ">
            </div>

        </form>
    </div>



    <script type="text/javascript">
        function count_value() {
            var x = $('#itemcount').val();
            var y = $('#facevalue').val();
            x *= y;
            $('#showsum').val(x);
        }


    </script>

    <div class="span">
        <div class="widget stacked">
            <div class="widget-content itemshow">

                <div class="filter_Div filter_item">

                    <div class="filter" data-filter="all">
                        {{ 'AllOperators' | trans ({}, "operator") }}
                    </div>



                    {% for opr in Operators %}

                        <div class="filter" data-filter="{{ opr.oprname }}">
                            {{ opr.oprname }}
                        </div>
                    {% endfor %}
                </div>


                <!--<div class="filter_Div sort_item">
                        <div class="sort active" data-sort="default" data-order="desc">Default</div>
                        <div class="sort" data-sort="sfield" data-order="desc">Descending</div>
                        <div class="sort" data-sort="sfield" data-order="asc">Ascending</div>

                </div> -->


                <div class="list_items" >
                    <ul id="Grid" class="itemulshow">
                        {% for opritm in Operators %}


                            <li id="item_buy" class="mix {{ opritm.oprname }}" sfield="{{ opritm.itemfv }}" >
                                <a  >
                                    <div style="background-image: url('{{ asset('') }}uploads/logos/{{ opritm.oprlogo }}')" class="item_show">
                                        <div class="header">{{ opritm.itemname }}</div>
                                        <div class="body">
                                            <div class="price">
                                                {{ opritm.itemfv }}

                                            </div>
                                            <div class="type">
                                                {{ opritm.itemcur }}
                                            </div>

                                        </div>
                                    </div>

                                    <input type="hidden" id="item_name1" value="{{ opritm.itemname }}">
                                    <input type="hidden" id="item_type1"

                                  {% if opritm.itemtype=='dmtu'  %}
                                           value="{{ 'Mobile' | trans ({}, 'item') }}"
                                  {% elseif opritm.itemtype=='epmt'  %}
                                           value="{{ 'E-payment' | trans ({}, 'item') }}"
                                  {% elseif opritm.itemtype=='clcd'  %}
                                           value="{{ 'Calling_Card' | trans ({}, 'item') }}"
                                   {% endif %}

                                    ">
                                    <input type="hidden" id="face_value1" value="{{ opritm.itemfv }}">
                                    <input type="hidden" id="currency1" value="{{ opritm.itemcur }}">
                                    <input type="hidden" id="operator1" value="{{ opritm.oprname }}">
                                    <input type="hidden" id="item_id1" value="{{ opritm.itemid }}">
                                    <input type="hidden" id="price_id1" value="{{ opritm.priceid }}">

                                </a>
                            </li>




                            {#<p style="background: blanchedalmond">{{  item.itemName }} <a href="#" target="_blank">Go To Print</a> </p>#}


                        {% endfor %}
                    </ul>
                </div>

            </div>


            <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery-1.8.3.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('bundles/hellodi/js/libs/Slide/jquery.mixitup.js') }}"></script>

            <script type="text/javascript">
                $(function () {
                    $("* #item_buy").click(function () {
                        Popuptop('modal');

                        $('.popupshow #operator').val($(" #operator1", this).val());
                        $('.popupshow #itemname').val($(" #item_name1", this).val());
                        $('.popupshow #itemtype').val($(" #item_type1", this).val());
                        $('.popupshow #facevalue').val($(" #face_value1", this).val());
                        $('.popupshow #showsum').val($(" #face_value1", this).val());
                        $('.popupshow #itemcount').val(1);
                        $('.popupshow #itemid').val($(" #item_id1", this).val());
                        $('.popupshow #priceid').val($(" #price_id1", this).val());
                    });


                    $('#Grid').mixitup({effects: ['fade', 'scale', 'blur']});

                });
            </script>
        </div>
    </div>


{% endblock %}

