{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}

{% block title %}
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock title %}



{% block Link_Head %}

    <script type="text/javascript">

        function HideNotification(id)
        {
            $("#Notif"+id).hide('fast');

            $.post('{{ path("RetailerReadNotification") }}',{id: id},function(result){

            })
        }


    </script>
{% endblock %}


{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }} </a>
    <span class="link"> {{ 'Notifications' | trans ({}, "notification") }} </span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    {{ 'Notifications' | trans ({}, "notification") }}
{% endblock %}

{% block Body %}

<div class="span">
    <div class="widget widget-nopad stacked">
        <div class="widget-content">
    <div class="alertdiv" >
    <ul>
        {% for Notfi in Notifications %}
            <li id='Notif{{ Notfi.id }}'>
                <small>{{ 'DateTimeCreate'|trans({},'notification') }}:{{ Notfi.Date|date('Y/m/d H:m:s') }}</small>
                <p>
                    {% if Notfi.Type==31 %}
                        <b>{{ 'Retailer_account_balance_is_lower_than_equal_%value%'|trans({'value':Notfi.Value},'notification') }}</b>

                    {% elseif Notfi.Type==32 %}
                        <b>{{ 'Balance_increased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>

                    {% elseif Notfi.Type==33 %}
                        <b>{{ 'CreditLimit_increased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>

                    {% elseif Notfi.Type==34 %}
                        <b>{{ 'CreditLimit_decreased_%value%'|trans({'value':Notfi.Value},'notification') }}</b>

                    {% elseif Notfi.Type==35 %}
                        <b>{{ 'Edited_account'|trans({},'notification') }}</b>

                    {% elseif Notfi.Type==36 %}
                        <b>{{ 'Edited_entity'|trans({},'notification') }}</b>

                    {% elseif Notfi.Type==37 %}
                        <b>{{ 'Added_user_with_username_%value%'|trans({'value':Notfi.Value},'notification') }}</b>

                    {% endif %}

                </p>
                <a   onclick="HideNotification({{ Notfi.id }})" >{{ 'Read'|trans({},'notification') }}</a>

            </li>

        {% endfor %}

    </ul>
</div></div></div></div>


{% endblock %}
