<html>
<head>
    <title>
        Ogone Transaction New
    </title>
    <body>

<form action="https://secure.ogone.com/ncol/test/orderstandard.asp" method="POST">


    {{ values['ORDERID'] }}<br>
    {{ values['AMOUNT'] }}<br>
    {{ values['LANGUAGE'] }}<br>
    {{ values['CURRENCY'] }}<br>
    {#{{ values['ACCEPTURL'] }}#}
    <INPUT type="hidden" NAME="ACCEPTURL" value={{ values['ACCEPTURL'] }}>
    <INPUT type="hidden" NAME="AMOUNT" value={{ values['AMOUNT'] }}>
    <INPUT type="hidden" NAME="CANCELURL" value={{ values['CANCELURL'] }}>
    <INPUT type="hidden" NAME="CURRENCY" value={{ values['CURRENCY'] }}>
    <INPUT type="hidden" NAME="LANGUAGE" value={{ values['LANGUAGE'] }}>
    <INPUT type="hidden" NAME="ORDERID" value={{ values['ORDERID'] }}>
    <INPUT type="hidden" NAME="PSPID" value={{ values['PSPID'] }}>
    <INPUT type="hidden" NAME="SHASIGN" value= {{ signager }}>
    <br>
    <button>Validate</button><button>Cancel</button>
</form>
    </body>
</head>
</html>