<!DOCTYPE html>
<html>
<head>
    <title>Shop Dmtu</title>
</head>
<body>

<p>Account Balance:{{ account.accBalance }}</p>
{% for opr in operator %}

    <p style="background:#6b9311">{{  opr.name }}</p>
    <table>
    <tr>
    <td width =30%>Neme</td>
    <td width =30%>Face Value</td>
    <td width =30%>Curncy</td>
    <td width =30%>Link</td>
    </tr>
    {% for item in itemlist %}
        {% if( item.name == opr.name) %}
    <tr>
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemFaceValue }}</td>
        <td>{{ item.itemCurrency }}</td>
        <td><td><form action="{{ path('Retailer_Shop_dmtu_code') }}" method="POST"><input type="text" name="numberOfsale">
                <input type="hidden" name="item_id" value="{{ item.id }}"><input type="hidden" name="price_id" value="{{ item.pid }}"><button>Go To Print</button> </form></td></td>
    </tr>
            {#<p style="background: blanchedalmond">{{  item.itemName }} <a href="#" target="_blank">Go To Print</a> </p>#}
        {% endif %}
    {% endfor %}


    </table>

{% endfor %}

</body>
</html>