{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}

{% block title %}
    {{ 'AddUser' | trans ({}, "user") }}
{% endblock title %}

{% set MU = 'setting' %}

{% block Site_Map %}
    <a class="link" href="{{ path('retailers_dashboard') }}"> {{ 'Home' | trans ({}, "user") }}</a>
    <a class="link" href="{{ path('RetailerStaff') }}"> {{ 'Staff' | trans ({}, "user") }}</a>
    <span class="link"> {{ 'AddUser' | trans ({}, "user") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-check"></i>
    {{ 'CreateUser' | trans ({}, "user") }}
{% endblock %}


{% block Link_Footer %}

{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget-content" >
            <div class="widget-header">
                <h3> {{ 'CreateUser' | trans ({}, "user") }}</h3>
            </div> <!-- /widget-header --><br>

            <form class="form-horizontal" action="{{ path('RetailerStaffAdd',{'id':Account.id}) }}" method="post" >

                <div class="control-group">
                    {{ form_label(form.firstname) }}
                    <div class="controls money">
                    {{ form_widget(form.firstname) }}
                    <span class="icon-certificate"></span>
                        {{ form_errors(form.firstname) }}
                </div>
                    </div>

                <div class="control-group">
                    {{ form_label(form.lastname) }}

                    {{ form_widget(form.lastname) }}
                    {{ form_errors(form.lastname) }}
                </div>


                <div class="control-group">
                    {{ form_label(form.username) }}
                    <div class="controls money">
                    {{ form_widget(form.username) }} <span class="icon-certificate"></span>
                        {{ form_errors(form.username) }}
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(form.mobile) }}

                    {{ form_widget(form.mobile) }}
                    {{ form_errors(form.mobile) }}
                </div>

                <div class="control-group">
                    {{ form_label(form.email) }}

                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="control-group">

                    {{ form_label(form.plainPassword.first) }}
                    <div class="controls money">
                    {{ form_widget(form.plainPassword.first) }}
                        <span class="icon-certificate"></span>
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(form.plainPassword.second) }}
                    <div class="controls money">
                    {{ form_widget(form.plainPassword.second) }}
                        <span class="icon-certificate"></span>
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>

                <div class="control-group">

                    {{ form_label(form.language) }}
                    <div class="controls money">
                        {{ form_widget(form.language) }}
                        <span class="icon-certificate">

                        </span>
                        {{ form_errors(form.language) }}
                    </div>
                </div>
                <div class="control-group">

                    {{ form_label(form.enabled) }}
                    <div class="controls money">
                        {{ form_widget(form.enabled) }} <span class="icon-certificate"></span>
                        {{ form_errors(form.enabled) }}
                    </div>
                </div>


                <div class="control-group">

                    {{ form_label(form.roles[0]) }}
                    <div class="controls money">
                        {{ form_widget(form.roles[0]) }} <span class="icon-certificate"></span>
                        {{ form_errors(form.roles[0]) }}
                    </div>
                </div>


                {{ form_widget(form._token) }}


                <div class="form-actions" style="margin-bottom: 0" >
                    <input class="btn btn-primary" type="submit"  value=" {{ 'Create' | trans ({}, "common") }}">
                    <a href="javascript:history.go(-1)" class="btn">{{ 'Cancel' | trans ({}, "common") }}</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
