{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}

{% block title %}
    Tickets
{% endblock title %}

{% set MU = 'ok' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <span class="link">Tickets</span>

{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    Tickets
{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">

                <div class="form_search" style="border-bottom: 2px solid #a8d5f4;">
                    <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
                    </h5>

                    <form class="form-horizontal SearchForm" action="{{ path('RetailerTickets') }}" method="POST">

                        status:
                        <div class="control-group">
                            <label class="control-label">Close:
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Status[0]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Open:
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Status[1]) }}
                            </div>
                        </div>
<hr>
countact:
                        <div class="control-group">
                            <label class="control-label">Distributors:
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Contact[0]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Support Team:
                            </label>

                            <div class="controls">
                                {{ form_widget(form.Contact[1]) }}
                            </div>
                        </div>
<hr>
                        <div class="control-group">
                            {{ form_label(form.Type,'Type:') }}
                            <div class="controls">
                                {{ form_widget(form.Type) }}
                            </div>
                        </div>

                        <hr>

                        <input class="btn btn-primary" type="submit" value="search">

                    </form>
                    <script type="text/javascript">
                        $(function () {
                            $(".SearchForm").hide();
                            $('.TitleShow1').click(function () {
                                $('.SearchForm').slideToggle();
                                $('#search_logo').removeAttr('class');

                                if ($('.title_search').html() == 'Filter List') {
                                    $('.title_search').html('Close Search');
                                    $('#search_logo').attr('class', 'icon-remove');
                                }
                                else {
                                    $('.title_search').html('Filter List');
                                    $('#search_logo').attr('class', 'icon-search');
                                }

                                var x = $('.form_search').offset().top - 20;
                                $('body,html').animate({
                                    scrollTop: x
                                }, 800);
                            });

                        });
                    </script>
                </div>

                <div>


                    {% for Ticket in pagination %}

                        <div class=" container {% if Ticket.status==0 %}
                                    closet
                                    {% else %}
                                    opent
                                    {% endif %} Ticket">
                            <a {% if Ticket.status==1 %}
                                href="{{ path('RetailerTicketsNote',{'id':Ticket.id}) }}" {% endif %} >
                                <div class="head">
                                    <div class="items">
                                        <div>
                                            <span class="new">
                    {% set i=0 %}
                                                {% for Note in Ticket.TicketNotes %}
                                                    {% if Note.view==0 and Note.User!=app.user %}
                                                        {% set i=i+1 %}
                                                    {% endif %}
                                                {% endfor %}

                                                {{ i }}
                </span>
                <span class="count">
                    {{ Ticket.TicketNotes.count }}
                </span>
                                            <b>
                                                <i class="{% if Ticket.status==0 %}
                                    icon-remove
                                    {% else %}
                                    icon-ok
                                    {% endif %}"></i>
                                            </b>
                                        </div>
                                    </div>

                                    <div class="header">
                                        <h1
                                                >{{ Ticket.subject }}</h1>
                                    </div>

                                </div>

                                <div class="footer">
                                    <div class="contact">
                                        {% if Ticket.Accountdist is not null %}
                                            {{ Ticket.Accountdist.accName }}
                                        {% else %}
                                            Master
                                        {% endif %}
                                    </div>

                                    <div class="detail">
                        <span> {% if Ticket.type==0 %}Payment
                            {% elseif Ticket.type==1 %}new item request
                            {% elseif Ticket.type==2 %}price change request
                            {% elseif Ticket.type==3 %}Payment
                            {% elseif Ticket.type==4 %}Payment
                            {% endif %}</span> |
                                        <span>{{ Ticket.ticketStart|date('y-M-d H:i:s') }}</span>
                                    </div>
                                </div>
                            </a>

                            <div class="controler">
                                {% if Ticket.status==0 %}
                                    Close
                                {% else %}
                                    Open
                                {% endif %} Ticket -
                                <a href="{{ path('RetailerTicketsChangeStatus',{id:Ticket.id}) }}">
                                    Click for Switch to {% if Ticket.status==0 %}
                                        Open
                                    {% else %}
                                        Close
                                    {% endif %}
                                </a>
                            </div>
                        </div>







                    {% endfor %}

                </div>


            </div>
        </div>
    </div>
{% endblock %}