{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}


{% block title %}
    {{ 'Tickets' | trans ({}, "ticket") }}
{% endblock title %}

{% set MU = '0' %}

{% block Site_Map %}
    <a class="link" href="{{ path('retailers_dashboard') }}">{{ 'Home' | trans ({}, "menu") }}  </a>
    <a href="{{ path('RetailerTickets') }}" class="link">{{ 'Tickets' | trans ({}, "ticket") }}  </a>
    <span class="link">{{ 'TicketNote' | trans ({}, "ticket") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    {{ 'TicketNote' | trans ({}, "ticket") }}
{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">

                <ul class="TicketDetail">
                    <li>
                        <span>{{ 'DateStart' | trans ({}, "ticket") }}:</span><a>{{ Ticket.ticketStart|date('y-M-d H:i:s') }}</a>
                    </li>
                    {% if Ticket.ticketEnd is not null %}
                        <li>
                            <span>{{ 'DateEnd' | trans ({}, "ticket") }}:</span><a>{{ Ticket.ticketEnd|date('y-M-d H:i:s') }}</a>
                        </li>
                    {% endif %}
                    <li>
                        <span>{{ 'Type' | trans ({}, "ticket") }}:</span><a>

                            {% if Ticket.type==0 %}
                                {{ 'payment_issue' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==1 %}
                                {{ 'new_item_request' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==2 %}
                                {{ 'price_change_request' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==3 %}
                                {{ 'address_change' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==4 %}
                                {{ 'account_change_requests' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==5 %}
                                {{ 'bug_reporting' | trans ({}, "ticket") }}
                            {% elseif Ticket.type==6 %}
                                {{ 'support' | trans ({}, "ticket") }}
                            {% endif %}

                        </a>
                    </li>
                    <li>
                        <span>{{ 'Status' | trans ({}, "ticket") }}:</span>
                        {% if Ticket.status==0 %}

                            <a style="margin-right: 10px">{{ 'Close' | trans ({}, "ticket") }}</a><a class="btn btn-primary"
                                                                      href="{{ path('RetailerTicketsStatus',{id:Ticket.id}) }}">{{ 'Switch' | trans ({}, "ticket") }}</a>
                        {% else %}
                            <a style="margin-right: 10px">{{ 'Open' | trans ({}, "ticket") }}</a><a class="btn btn-primary"
                                                                     href="{{ path('RetailerTicketsChangeStatus',{id:Ticket.id}) }}">{{ 'Switch' | trans ({}, "ticket") }}</a>
                        {% endif %}
                    </li>
                </ul>


                {% if Ticket.Status!=0 %}
                    <div class="FormShow">
                        <form action="{{ path('RetailerTicketsNote',{'id':Ticket.id}) }}" class="form-horizontal"
                              method="POST">


                            <div class="control-group">
                                {{ form_label(form.Description) }}
                                <div class="controls">
                                    {{ form_widget(form.Description) }}
                                </div>
                            </div>


                            <div class="form_action1 form-actions">
                                <input class="btn btn-primary" type="submit" value="{{ 'Send' | trans ({}, "common") }}">
                                <a class="btn"
                                   onclick="$('.FormShow').slideToggle();$('.showt').slideToggle()">{{ 'Cancel' | trans ({}, "common") }}</a>
                            </div>

                        </form>
                    </div>
                    <a style="margin-top: 10px" class="showt btn btn-info"
                       onclick="$('.FormShow').slideToggle();$('.showt').slideToggle()">{{ 'AddNote' | trans ({}, "ticket") }}</a>
                {% endif %}

                <div>

                    {% for Note in pagination %}

                        <div class="Note {% if Note.user.Account == app.user.Account %}Me{% endif %}" >
                            <div >
                                <span>{{ 'From' | trans ({}, "transaction") }} <b>{{ Note.User.username }}</b></span>
                                <span>{{ Note.date|date('y-M-d  H:i:s') }}</span>
                            </div>
                            <div>
                                {{ Note.description }}
                            </div>
                        </div>


                    {% endfor %}

                </div>

                {#-------------------------#}
            </div>
        </div>
    </div>
{% endblock %}