{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}

{% block title %}
    Tickets
{% endblock title %}

{% set MU = '0' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a class="link" href="{{ path('RetailerTickets') }}">Tickets</a>
    <span class="link">New Ticket</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    New Ticket
{% endblock %}

{% block Body %}
    <div class="span" >
        <div class="widget stacked ">
            <div class="widget-content">




                    <form class="form-horizontal SearchForm" action="{{ path('RetailerTicketsNew') }}" method="POST" >

                         <div class="control-group">

                             <label class="control-label">
                                 <b>Attention To :</b>
                             </label>
                            <div class="controls money">

                                <span class="icon-certificate"></span>

                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.Contact[0],'Distributors:') }}
                            <div class="controls">
                                {{ form_widget(form.Contact[0]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.Contact[1],'Supoprt team:') }}
                            <div class="controls">
                                {{ form_widget(form.Contact[1]) }}
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.Subject,'Subject:') }}
                            <div class="controls money">
                                {{ form_widget(form.Subject) }}
                                <span class="icon-certificate"></span>
                            </div>
                        </div>


                        <div class="control-group">
                            {{ form_label(form.Type,'Type:') }}
                            <div class="controls money">
                                {{ form_widget(form.Type) }}
                                <span class="icon-certificate"></span>
                            </div>
                        </div>




                        <div class="control-group">
                            {{ form_label(form.Description,'Description:') }}
                            <div class="controls money">
                                {{ form_widget(form.Description) }}
                                <span class="icon-certificate"></span>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}

                        <div class="form-actions">
                            <input type="submit" value="Open" class="btn btn-primary">
                            <a href="javascript:history.go(-1)" class="btn">Back</a>
                        </div>
                    </form>

            </div>
        </div>
    </div>
{% endblock %}