{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}


{% block title %}
    Tickets
{% endblock title %}

{% set MU = '0' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">Home</a>
    <a href="{{ path('RetailerTickets') }}" class="link">Tickets</a>
    <span class="link">Ticket Note</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-comment"></i>
    Ticket Note
{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">

                <ul class="TicketDetail">
                    <li>
                        <span>Date</span><a>{{ Ticket.ticketStart|date('y-M-d H:i:s') }}</a>
                    </li>
                    {% if Ticket.ticketEnd is not null %}
                        <li>
                            <span>DateEnd</span><a>{{ Ticket.ticketEnd|date('y-M-d H:i:s') }}</a>
                        </li>
                    {% endif %}
                    <li>
                        <span>Type</span><a>
    {% if Ticket.type==0 %}payment issue
    {% elseif Ticket.type==1 %}new item request
    {% elseif Ticket.type==2 %}price change request
    {% elseif Ticket.type==3 %}address change
    {% elseif Ticket.type==4 %}account change requests
    {% elseif Ticket.type==5 %}bug reporting
    {% elseif Ticket.type==6 %}support
        {% endif %}
                        </a>
                    </li>
                    <li>
                        <span>Current Status</span>
                        {% if Ticket.status==0 %}

                            <a style="margin-right: 10px">Close</a><a class="btn btn-danger"
                                                                      href="{{ path('RetailerTicketsStatus',{id:Ticket.id}) }}">Switch</a>
                        {% else %}
                            <a style="margin-right: 10px">Open</a><a class="btn btn-danger"
                                                                     href="{{ path('RetailerTicketsChangeStatus',{id:Ticket.id}) }}">Switch</a>
                        {% endif %}
                    </li>
                </ul>


                {% if Ticket.Status!=0 %}
                    <div class="FormShow">
                        <form action="{{ path('RetailerTicketsNote',{'id':Ticket.id}) }}" class="form-horizontal"
                              method="POST">


                            <div class="control-group">
                                {{ form_label(form.Description) }}
                                <div class="controls">
                                    {{ form_widget(form.Description) }}
                                </div>
                            </div>


                            <div class="form_action1 form-actions">
                                <input class="btn btn-primary" type="submit" value="Send">
                                <a class="btn"
                                   onclick="$('.FormShow').slideToggle();$('.showt').slideToggle()">Cancel</a>
                            </div>

                        </form>
                    </div>
                    <a style="margin-top: 10px" class="showt btn btn-info"
                       onclick="$('.FormShow').slideToggle();$('.showt').slideToggle()">Add Note</a>
                {% endif %}

                <div>

                    {% for Note in pagination %}

                        <div class="Note {% if Note.user.Account == app.user.Account %}Me{% endif %}" >
                            <div >
                                <span>From <b>{{ Note.User.username }}</b></span>
                                <span>{{ Note.date|date('y-M-d  H:i:s') }}</span>
                            </div>
                            <div>
                                {{ Note.description }}
                            </div>
                        </div>


                    {% endfor %}

                </div>

                {#-------------------------#}
            </div>
        </div>
    </div>
{% endblock %}