{% extends 'HelloDiDiDistributorsBundle:Menu:AdminRetailer.html.twig' %}

{% block title %}
    {{ 'Transactions' | trans ({}, "transaction") }}
{% endblock title %}

{% set MU = 'trans' %}

{% block Site_Map %}
    <a class="link" href="{{ path('loginsuccess') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Transactions' | trans ({}, "transaction") }}</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-money"></i>
    {{ 'History' | trans ({}, "transaction") }}
{% endblock %}

{% block Body %}
    <div class="span">
    <div class="widget stacked ">
    <div class="widget-content">
    {% if is_granted('ROLE_RETAILER_ADMIN') %}
        <a class="btn-large button btn btn-primary " href="{{ path('retailer_transactions_new') }}">
            {{ 'Recharge' | trans ({}, "transaction") }}
        </a>
    {% endif %}

    <div class="form_search">
        <h5 style="cursor:pointer;" class="TitleShow1">
                        <span>
                            <i id="search_logo" class="icon-search"></i>
                            <p class="title_search">Filter List</p>
                        </span>
        </h5>

        <form class="form-horizontal SearchForm" action="{{ path('RetailerTransaction') }}" method="POST">


            <div class="control-group">
                <label class="control-label">
                    {{ 'TradeDate' | trans ({}, "transaction") }}
                </label>

                <div class="controls">
                    {{ form_widget(form.TypeDate[0]) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    {{ 'BookingDate' | trans ({}, "transaction") }}

                </label>

                <div class="controls">
                    {{ form_widget(form.TypeDate[1]) }}
                </div>
            </div>
            <div class="control-group datepicker1">
                {{ form_label(form.DateStart) }}

                {{ form_widget(form.DateStart) }}

            </div>
            <div class="control-group datepicker2">
                {{ form_label(form.DateEnd) }}

                {{ form_widget(form.DateEnd) }}

            </div>

            <div class="control-group">
                {{ form_label(form.Type) }}
                <div class="controls">
                    {{ form_widget(form.Type) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_label(form.Action) }}
                <div class="controls">
                    {{ form_widget(form.Action) }}
                </div>
            </div>


            <hr>
            <input type="hidden" value="1" name="page" id="search_page">
            <input class="btn btn-primary" type="submit" value=" {{ 'Search' | trans ({}, "common") }}">

        </form>
        <script type="text/javascript">

            $("#form_Type").change(function () {
                val = $("#form_Type").val();
                $("#form_Action").html('<option value="All"> {{ 'Pleasewait' | trans ({}, "transaction") }}</option>');
                $.post('{{ path("RetailerLoadActiowOwn") }}', {id: val}, function (result) {
                    $("#form_Action").html(result);
                })
            });

            $(function () {

                val = $("#form_Type").val();
                $("#form_Action").html('<option value="All"> {{ 'Pleasewait' | trans ({}, "transaction") }}</option>');
                $.post('{{ path("RetailerLoadActiowOwn") }}', {id: val}, function (result) {
                    $("#form_Action").html(result);
                });

                Form_Search(1,"{{'Filter_List'|trans({},'js')  }}");

            });
        </script>
    </div>

    <div class="tablediv">

        <div class="contenttitle">
            <h4>{{ 'History' | trans ({}, "transaction") }}</h4>
        </div>
        <form>
            <div class="tab-content">
                <table style="margin-top: 20px"
                       class="table table-bordered table-striped table-highlight postsend">
                    <thead>
                    <tr>
                        <th>{{ 'Date' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Description' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Credit' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Debit' | trans ({}, "transaction") }}</th>
                        <th>{{ 'Balance' | trans ({}, "accounts") }}</th>
                        <th>{{ 'Operation' | trans ({}, "common") }}</th>

                    </tr>

                    </thead>
                    <tbody>

                    {% for tran in pagination %}
                        <tr>
                            <td>

                                {% if typedate==0 %}
                                {{ tran.tranDate|date('Y/m/d') }}</td>
                            {% else %}
                                {{ tran.tranInsert|date('Y/m/d H:i:s') }}</td>
                            {% endif %}
                            </td>

                            <td>{{ tran.tranDescription }}</td>

                            {% if tran.tranAmount>0 %}
                                <td>{{ tran.tranAmount }}</td>
                                <td>------</td>
                            {% else %}
                                <td>------</td>
                                <td>


                                    {{ tran.tranAmount|abs }}


                                </td>
                            {% endif %}

                            <td>

                                {% set balance=tran.tranBalance+tran.tranAmount %}
                                {{ balance }}

                            </td>

                            <td class="td-actions">

                                <a class="btn_actions showDetails">
                                    {{ 'Details' | trans ({}, "common") }}
                                    <span>
                                         <fieldset>
                                             <div class="control-group">
                                                 <label class="control-label">
                                                     {{ 'Id' | trans ({}, "common") }}
                                                 </label>

                                                 <div class="controls">
                                                     <input type="text" disabled="" value="{{ tran.id }}">
                                                 </div>
                                             </div>
                                             <div class="control-group">
                                                 <label class="control-label">
                                                     {{ 'Date' | trans ({}, "transaction") }}
                                                 </label>

                                                 <div class="controls">
                                                     <input type="text" disabled=""
                                                            value="{{ tran.tranInsert|date('Y/m/d H:m:s') }}">
                                                 </div>
                                             </div>
                                             <div class="control-group">
                                                 <label class="control-label">
                                                     {{ 'Account' | trans ({}, "accounts") }}
                                                 </label>

                                                 <div class="controls">
                                                     <input type="text" disabled=""
                                                            value="{{ tran.Account.accName }}">
                                                 </div>
                                             </div>

                                             <div class="control-group">
                                                 <label class="control-label">
                                                     {{ 'Credit' | trans ({}, "transaction") }}
                                                 </label>

                                                 <div class="controls">
                                                     <input type="text" disabled=""
                                                         {% if tran.tranAmount>0 %}
                                                            value="{{ tran.tranAmount|abs }}"
                                                         {% elseif tran.tranAmount<0 %}
                                                            value="--------"
                                                     {% endif %}
                                                     " />
                                                 </div>
                                             </div>

                                             <div class="control-group">
                                                 <label class="control-label">
                                                     {{ 'Debit' | trans ({}, "transaction") }}
                                                 </label>

                                                 <div class="controls">

                                                     <input type="text" disabled=""

                                                             {% if tran.tranAmount>0 %}
                                                                 value="--------"
                                                             {% elseif tran.tranAmount<0 %}
                                                                 value="{{ tran.tranAmount|abs }}"
                                                             {% endif %} />
                                                 </div>
                                             </div>

                                             <div class="control-group">
                                                 <label class="control-label">
                                                     {{ 'Balance' | trans ({}, "accounts") }}
                                                 </label>

                                                 <div class="controls">
                                                     <input type="text" disabled="" value="{{ balance }}" />
                                                 </div>
                                             </div>

                                             <div class="control-group">
                                                 <label class="control-label">
                                                     {{ 'User' | trans ({}, "user") }}
                                                 </label>

                                                 <div class="controls">
                                                     <input type="text" disabled=""
                                                            value="{{ tran.User.username }}" />
                                                 </div>
                                             </div>

                                             {% if tran.Code is not null %}

                                                 <div class="control-group">
                                                     <label class="control-label">
                                                         {{ 'Item' | trans ({}, "item") }}
                                                     </label>

                                                     <div class="controls">
                                                         <input type="text" disabled=""
                                                                value="{{ tran.Code.Item.itemName }}" />
                                                     </div>
                                                 </div>

                                                 <div class="control-group">
                                                     <label class="control-label">
                                                         {{ 'Code' | trans ({}, "code") }}
                                                     </label>

                                                     <div class="controls">
                                                         <input type="text" disabled=""
                                                                value="{{ tran.Code.id }}" />
                                                     </div>
                                                 </div>

                                             {% endif %}

                                         </fieldset>
                                    </span>
                                </a>
                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </form>
    </div>

    </div>
    </div>
    </div>
{% endblock %}