{% extends 'HelloDiMasterBundle::menu.html.twig' %}

{% block title %}{{ 'Provider' | trans ({}, "accounts") }}{% endblock title %}

{% block PageTitle %}<i class="icon-th-large"></i>{{ 'Providers' | trans ({}, "accounts") }}{% endblock %}

{% set MU = 'prov' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_master_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Providers' | trans ({}, "accounts") }}</span>
{% endblock Site_Map %}

{% block Link_Head %}
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Fix_Size();
        });
    </script>
{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked ">
            <div class="widget-content">
                <a class="button btn btn-primary btn-large" href="{{ path('hello_di_master_provider_add') }}">
                    {{ 'CreateProviderWithEntity' | trans ({}, "accounts") }}
                </a>
                <div style="margin-top: 5px" class="tablediv">
                    <form method="post">
                        <div class="tab-content datatable">
                            <table id="example" class="table postsend">
                                <thead>
                                <tr>
                                    <th>{{ 'Id' | trans ({}, "common") }}</th>
                                    <th>{{ 'Name' | trans ({}, "common") }}</th>
                                    <th>{{ 'Balance' | trans ({}, "accounts") }}</th>
                                    <th>{{ 'Entity' | trans ({}, "entity") }}</th>
                                    <th>{{ 'Operation' | trans ({}, "common") }}</th>

                                </tr>
                                <tr class="input" >
                                    <td><input type="text" name="search_Id" value="Search Id" class="search_init" /></td>
                                    <td><input type="text" disabled="" name="search_Operation" value="" class="search_init" /></td>
                                    <td><input type="text" name="search_Name" value="Search Name" class="search_init" /></td>
                                    <td><input type="text" name="search_Balance" value="Search Balance" class="search_init" /></td>
                                    <td><input type="text" disabled="" name="search_Entity_Name" value="Search Entity Name" class="search_init" /></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for provider in providers %}
                                    <tr>
                                        <td style="font-weight: bold">{{ provider.id }}</td>
                                        <td>{{ provider.account.name }}</td>
                                        <td>{{ provider.account.balance }}|{{ provider.currency }}</td>
                                        <td>{{ provider.account.entity.name }}</td>
                                        <td class="td-actions">
                                            <a class="btn_actions" href="{{ path('MasterProvTransaction',{'id':provider.id}) }}">{{ 'Manage' | trans ({}, "common") }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
