{% extends 'HelloDiMasterBundle:provider:tab.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_master_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_master_provider_index') }}">{{ 'Providers' | trans ({}, "accounts") }}</a>
    <a class="link" href="{{ path('hello_di_master_provider_transaction',{'id':account.id}) }}">{{ 'Transactions' | trans ({}, "transaction") }}</a>
    <span class="link">{{ 'RegisterTransaction' | trans ({}, "transaction") }}</span>
{% endblock Site_Map %}

{% block Tab %}
    <div class="widget-header">
        <h3>{{ 'RegisterTransaction' | trans ({}, "transaction") }}</h3>
    </div>
    {{ form(form) }}
{% endblock %}