{% set duplicateText = duplicate? 'Duplicate Print Code':'<span class="duplicate"></span>' %}
<!DOCTYPE html>
<html>
<head>
    <title>Hello Di . Shop Code</title>

    <link rel="shortcut icon" href="{{ asset('bundles/hellodi/img/favicon.ico.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{{ asset('bundles/hellodi/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/hellodi/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/hellodi/js/libs/jquery-1.8.3.min.js') }}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <style>
        .item
        {
            width: 8.2cm;
            margin: auto;
            page-break-after: always;
            border-bottom: 1px dashed #000000;
        }
        @media print
        {
            @page
            {
                margin: 0.5cm;
            }
            body>*
            {
                display: none !important;
            }
            .print
            {
                display: block !important;
            }
            .item
            {
                border-bottom: none;
            }
        }
    </style>
</head>
<body onafterprint="$('.duplicate').html('Duplicate Print Code');">
{% if print == 'web' %}
<div id="notPrint" style="text-align: center;margin: 20px">
    <a type="button" class="btn" href="#" onclick="window.print();$('.duplicate').html('Duplicate Print Code');">Print</a>
    <a type="button" class="btn" href="{{ path('hello_di_retailer_sell_code_print',{'pin_id':pin.id, 'print':'pdf'}) }}">Print As PDF</a>
    <a href="#" onclick="window.close()" class="btn">Close</a>
</div>
{% endif %}
<div class="print">
    {% for code in pin.codes %}
        <div class="item">
            {% if description is not null %}
                {{ include(template_from_string(description),{
                    "pin": code.pin,
                    "serial": code.serialNumber,
                    "expire": code.input.dateExpiry|date('Y/m/d'),
                    "print_date": pin.date|date('Y/m/d H:s:i'),
                    "duplicate": duplicateText,
                    "entity_name": pin.user.entity.name,
                    "operator": code.item.operator.name,
                    "entity_address1": pin.user.entity.address1,
                    "entity_address2": pin.user.entity.address2,
                    "entity_address3": pin.user.entity.address3
                }) }}
            {% else %}
                SerialNumber: {{ code.serialNumber }}<br><br>
                Code Secret: {{ code.pin }}<br><br>
                expire: {{ code.input.dateExpiry|date('Y/m/d') }}<br><br>
                print date: {{ pin.date|date('Y/m/d H:s:i') }}<br><br>
                duplicate: duplicateText<br><br>
                entity name: {{ pin.user.entity.name }}<br><br>
            {% endif %}
        </div>
    {% endfor %}
</div>
</body>
</html>