{% extends 'HelloDiMasterBundle::menu.html.twig' %}

{% block title %}{{ 'Report' | trans ({}, "transaction") }}{% endblock title %}

{% block PageTitle %}<i class="icon-list-alt"></i>{{ 'Report' | trans ({}, "transaction") }}{% endblock %}

{% set MU = 'topup' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_master_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">{{ 'Report' | trans ({}, "transaction") }}</span>
{% endblock Site_Map %}

{% block Body %}
    <div class="widget stacked ">
        <div class="widget-content">
            <div class="form_search">
                <h5 style="cursor:pointer;" class="TitleShow1">
                    <span>
                        <i id="search_logo" class="icon-search"></i><span class="title_search"></span>
                    </span>
                </h5>

                {{ form(form) }}

                <script type="text/javascript">
                    $(function () {
                        Form_Search(0,"{{ 'Search' | trans ({}, "common") }}");
                        $('form').submit(function() {
                            $('form input, form select, form button').filter(function() {return $(this).val() == ""}).attr('name', '');
                        });
                    });
                </script>
            </div>

            <a class=" btn btn-primary btn-large" href="{{ path('hello_di_master_topup_report_update') }}">{{ 'Update' | trans ({}, "common") }}</a>
            <br/><br/>

            <div class="tablediv">
                <div class="contenttitle"><h4>{{ 'Report' | trans ({}, "transaction") }}</h4></div>
                <div class="tab-content">
                    <table style="margin-top: 20px" class="table postsend">
                        <thead>
                        <tr>
                            <th>{{ 'Provider' | trans ({}, "accounts") }}</th>
                            <th>{{ 'Name' | trans ({}, "item") }}</th>
                            <th>{{ 'UserName' | trans ({}, "user") }}</th>
                            <th>{{ 'clientTransactionId' | trans ({}, "b2b") }}</th>
                            <th>{{ 'serverTransactionId' | trans ({}, "b2b") }}</th>
                            <th>{{ 'Status' | trans ({}, "code") }}</th>
                            <th>{{ 'errorCode' | trans ({}, "b2b") }}</th>
                            <th>{{ 'mobileNumber' | trans ({}, "b2b") }}</th>
                            <th>{{ 'Date' | trans ({}, "transaction") }}</th>
                            <th>{{ 'amount' | trans ({}, "b2b") }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for topup in topup_s %}
                            <tr>
                                <td>{{ topup.providerTransaction.account.name }}</td>
                                <td>{{ topup.item.name }}</td>
                                <td>{{ topup.user.username }}</td>
                                <td>{{ topup.clientTransactionID }}</td>
                                <td>{{ topup.transactionID }}</td>
                                <td>
                                    {% if log.status is null %}
                                        Null
                                    {% elseif log.status == 1 %}
                                        Done
                                    {% else %}
                                        Error
                                    {% endif %}
                                </td>
                                <td>{{ log.statusCode }}</td>
                                <td>{{ log.mobileNumber }}</td>
                                <td>{{ log.date|date('Y/m/d') }}</td>
                                <td>{{ log.amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation" style="text-align: center">
                            {{ knp_pagination_render(topup_s) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
