{% extends 'HelloDiMasterBundle:entity:tab.html.twig' %}

{% set tab = '2' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_master_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_master_entity_index') }}">{{ 'Entities' | trans ({}, "entity") }}</a>
    <a class="link" href="{{ path('hello_di_master_entity_users_index',{'id':entity.id} ) }}">{{ 'Users' | trans ({}, "user") }}</a>
    <span class="link">{{ 'AddNewUser' | trans ({}, "user") }}</span>
{% endblock Site_Map %}

{% block Tab %}
    <div class="widget-header">
        <h3>{{ 'CreateUser' | trans ({}, "user") }}</h3>
    </div><br>

    {{ form(form) }}
{% endblock %}