{% extends 'HelloDiRetailerBundle::menu.html.twig' %}

{% block title %}{{ 'IMTU' | trans ({}, "item") }}{% endblock title %}

{% block PageTitle %}<i class="icon-mobile-phone"></i>{{ 'IMTU' | trans ({}, "item") }}{% endblock %}

{% set MU = 'imtu' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_retailer_homepage') }}">{{ 'Home' | trans ({}, "menu") }}  </a>
    <span class="link">{{ 'IMTU' | trans ({}, "item") }} </span>
{% endblock Site_Map %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content">
            {{ form_start(form, {'attr': {'id':'imtu'} }) }}
                <div class="widget-header"><h3>{{ 'Item' | trans ({}, "item") }}</h3></div>
                {{ form_row(form.receiverMobileNumber) }}
                {{ form_row(form.country) }}
                {{ form_row(form.operator) }}
                {{ form_row(form.denomination) }}
                <div class="widget-header"><h3>{{ 'Info' | trans ({}, "item") }}</h3></div>
                {{ form_row(form.senderMobileNumber) }}
                {{ form_row(form.senderEmail) }}
            {{ form_end(form) }}

            <!-- Modal -->
            <div id="loading_modal" style="display: none">
                <div id="loading_popup" style="position: absolute; width: 100%; height: 100%; text-align: center">
                    <span style="text-align: left; display: inline-block;position: relative; top: 40%; background: #ffffff; z-index:2000; border: 1px solid #777; border-radius: 5px; padding: 20px">
                        <img style="vertical-align: top; display: inline" src="{{ asset('bundles/hellodi/img/refresh/loading-l.gif') }}"/>
                        <span id="modal_message" style="display: inline-block; max-height: 100px; width: 200px; overflow-y: auto">
                            Loading... <span id="modal_message_timer"></span><br/>
                            <span id="modal_message_text"></span>
                        </span>
                    </span>
                </div>
                <div class="closedoor" style="cursor: progress"></div>
            </div>

            <script type="text/javascript">
                function readNumber(number)
                {
                    var operator = $("#operator");
                    var denomination = $("#denomination");
                    var operator_refresh = operator.next('.div_refresh_button');
                    if(number.length>6)
                    {
                        operator_refresh.addClass('refresh');
                        denomination.next('.div_refresh_button').addClass('refresh');

                        var old_operator = operator.val();
                        var old_denomination = denomination.val();

                        $("#country").val("Waiting...");
                        operator.html("<option value=''>Waiting...</option>").prop('disabled', true);
                        denomination.html("<option value=''>Waiting...</option>").prop('disabled', true);
                        $.ajax({
                            type: "Post",
                            url: "{{ path("hello_di_retailer_topup_read_number") }}",
                            data: {"receiver": number, "old_operator": old_operator},
                            cache: false,
                            success: function (result) {
                                var index = result.indexOf("<");
                                $("#countryIso").val(result.slice(0, 2));
                                $("#country").val(result.slice(2, index));
                                operator.html(result.slice(index)).prop('disabled', false);
                                operator_refresh.removeClass('refresh');
                                getItem(operator.val(), old_denomination);
                            }
                        });
                    }
                    else
                    {
                        $("#countryIso").val("");
                        $("#country").val("Invalid Mobile Number");
                        operator.html("<option value=''>Invalid Mobile Number</option>");
                        denomination.html("<option value=''>Invalid Mobile Number</option>");
                        operator_refresh.removeClass('refresh');
                        denomination.next('.div_refresh_button').removeClass('refresh');
                    }
                }

                function getItem(operatorID, old_denomination)
                {
                    var denomination = $("#denomination");
                    var denomination_refresh = denomination.next('.div_refresh_button');

                    if(operatorID != "") {
                        denomination_refresh.addClass('refresh');

                        denomination.html("<option value=''>Waiting...</option>").prop('disabled', true);
                        var country = $("#countryIso").val();
                        $.ajax({
                            type: "Post",
                            url: "{{ path("hello_di_retailer_topup_get_prices") }}",
                            data: {"operatorID": operatorID, "country": country, "old_denomination": old_denomination},
                            cache: false,
                            success: function (result) {
                                denomination.html(result).prop('disabled', false);
                                denomination_refresh.removeClass('refresh');
                            }
                        });
                    }
                    else
                    {
                        denomination.html("<option value=''>Not found Denomination.</option>");
                        denomination_refresh.removeClass('refresh');
                    }
                }

                $("form#imtu").submit(function (){
                    $('.popupshow').fadeIn();
                    var seconds = 0;
                    setTimeout(function () {
                        $("#modal_message_timer").html("(00:00)");
                        $("#modal_message_text").html("Request was sent. Waiting...");
                        setInterval(function () {
                            seconds++;
                            var minute = Math.floor(seconds / 60);
                            var second = seconds % 60;
                            $("#modal_message_timer").html( "("+(minute<10?"0"+minute:minute) +":"+ (second<10?"0"+second:second)+")" );

                            if(seconds == 60)
                                $("#modal_message_text").html("Request was not answered.<br>Check Request was sent.");
                        }, 1000);
                    }, 2000);
                });

                $(document).ready(function(){
                    $("#country").prop('disabled', true);
                    $("#operator").prop('disabled', true);
                    $("#denomination").prop('disabled', true);
                    var receiverMobileNumber = $("#receiverMobileNumber").val();
                    if(receiverMobileNumber != "") readNumber(receiverMobileNumber);
                    $('.popupshow').html($('#loading_modal').html());
                });
            </script>
        </div>
    </div>
{% endblock %}