<!DOCTYPE html>
<html>
<head>
    <title>Hello Di . Shop IMTU</title>

    <link rel="shortcut icon" href="{{ asset('bundles/hellodi/img/favicon.ico.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{{ asset('bundles/hellodi/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/hellodi/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/hellodi/js/libs/jquery-1.8.3.min.js') }}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <style>
        .item
        {
            width: 8.2cm;
            margin: auto;
            page-break-after: always;
            border-bottom: 1px dashed #000000;
        }
        @media print
        {
            @page
            {
                margin: 0.5cm;
            }
            body>*
            {
                display: none !important;
            }
            .print
            {
                display: block !important;
            }
            .item
            {
                border-bottom: none;
            }
        }
    </style>
</head>

<body>
{% if print == 'web' %}
<div id="notPrint" style="text-align: center;margin: 20px">
    <a type="button" class="btn" href="#" onclick="window.print();">Print</a>
    <a type="button" class="btn" href="{{ path('hello_di_retailer_topup_print',{'id':topup.id, 'print':'pdf'}) }}">Print As PDF</a>
    <a href="{{ path('hello_di_retailer_topup_imtu') }}" class="btn">Close</a>
</div>
{% endif %}
<div class="print">
        <div class="item">

            {% if description is not null %}
                {{ include(template_from_string(description),{
                    "print_date":topup.date|date('Y/m/d H:s:i'),
                    "entity_name":topup.user.entity.name,
                    "operator":topup.item.operator.name,
                    "entity_address1":topup.user.entity.address1,
                    "entity_address2":topup.user.entity.address2,
                    "entity_address3":topup.user.entity.address3,
                    "tran_id":topup.clientTransactionID,
                    "receiver_number":topup.mobileNumber,
                    "value_sent":topup.item.faceValue ~ " " ~ topup.item.currency,
                    "value_paid":denomination,
                }) }}
            {% else %}
                Print Date: {{ topup.date|date('Y/m/d H:s:i') }}<br><br>
                Entity Name: {{ topup.user.entity.name }}<br><br>
                Operator: {{ topup.item.operator.name }}<br><br>
                Transaction Id: {{ topup.clientTransactionID }}<br><br>
                Receiver Number: {{ topup.mobileNumber }}<br><br>
                Value Sent: {{ topup.item.faceValue ~ " " ~ topup.item.currency }}<br><br>
                Value Paid: {{ denomination }}<br><br>
            {% endif %}

        </div>
</div>
</body>
</html>