{% extends "HelloDiDiDistributorsBundle::Main0.html.twig" %}

{% block title %}
    {{ 'Validate'|trans({},'ogone') }}
{% endblock title %}

{% block bodywidth %}login{% endblock %}

{% block header %}Validate{% endblock %}

{% block MoreMenu %}
    <ul class="nav pull-right">



        <li class="dropdown">

            <a style="font-size: 16px" href="
                    {% if is_granted("ROLE_DISTRIBUTOR_ADMIN") %}
                    {{ path('distributors_dashboard') }}
                    {% elseif is_granted("ROLE_RETAILER_ADMIN") %}
                    {{ path('retailers_dashboard') }}
                    {% endif %}
                " id="user_info" class="dropdown-toggle">


                <span >Dashboard</span>
            </a>



        </li>


    </ul>
{% endblock %}

{% block fos_user_content %}





        <div class="login-fields">

            <div class="Login_error Comment"  >
                {{ 'are_you_sure_to_payment_%value%_%currency%'|trans({'value':ogonePayment.paymentAmount,'currency':ogonePayment.paymentCurrencyISO},'ogone') }}


            </div>


            <!-- /field -->


        </div>

        <div class="login-actions">

				<span class="login-checkbox">

				</span>
            {{ form | raw }}
            <input  class="button btn btn-primary btn-large"  type="submit"  value="{{ 'Accept'|trans({},'common')}}">
            </form>

        </div>
        <!-- .actions -->



{% endblock %}
