{% extends "HelloDiDiDistributorsBundle::Main0.html.twig" %}

{% block title %}
    Epayment
{% endblock title %}

{% block bodywidth %}login{% endblock %}

{% block header %}Epayment New{% endblock %}

{% block fos_user_content %}


    <form action="
        {% if is_granted('ROLE_RETAILER_ADMIN') %}
        {{ path('retailer_transactions_new') }}
        {% else %}
        {{ path('distributor_transactions_new') }}
        {% endif %}
        " method="post">

        <div class="login-fields">


            <div class="field Peyment">
                {{ form_label(form.paymentAmount) }}
                {{ form_widget(form.paymentAmount) }}
                {{ form_widget(form.PaymentCurrencyISO) }}
            </div>

            <!-- /field -->

            {{ form_widget(form._token) }}

        </div>

        {% if form_errors(form.paymentAmount) %}
            <div class="Login_error" >
                <span>{{ form_errors(form.paymentAmount) }}</span>
            </div>
        {% endif %}

        <div class="login-actions">

				<span class="login-checkbox">

				</span>
            <input class="button btn btn-warning btn-large" type="submit" id="submit" name="submit"
                   value="Next"/>
        </div>
        <!-- .actions -->


    </form>
{% endblock %}
