{% extends 'HelloDiMasterBundle::menu.html.twig' %}

{% block title %}
    Manage Items Distributor
{% endblock title %}

{% set MU = '' %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_distributor_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <span class="link">Manage Items Distributor</span>
{% endblock Site_Map %}

{% block PageTitle %}
    <i class="icon-tags"></i>
    Manage Items Distributor
{% endblock %}

{% block Link_Head %}
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColReorder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/DataTable/ColVis.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hellodi/js/libs/jquery.json-2.4.min.js') }}"></script>
    <script type="text/javascript">
        var oTable;
        $(document).ready(function () {
            $('.div_refresh_button .tooltip_button').tooltip();

            oTable = Fix_Size({
                "aLengthMenu": [[10, 20, 100, -1], [10, 20, 100, "All"]],
                "sPaginationType": "full_numbers",
                "aaData": $.evalJSON('{{ json_data|raw }}'),
                "aoColumns": [
                    { "mData": "id", "sType": "numeric", "bVisible": false },
                    { "mData": "name" },
                    { "mData": "code" },
                    { "mData": "faceValue", "sType": "numeric"},
                    { "mData": "price", "sType": "numeric", "mRender": function ( data, type ) {
                        if(data == null) data = "";
                        if(type === 'display') {
                            return '<input class="price-input" type="text" value="' + data + '">' +
                                    '<div class="div_refresh_button" id="refresh">'+
                                        '<div class="tooltip_button" title=""></div>' +
                                    '</div>';
                        }
                        return data;
                    } }
                ]
            });

            $(".price-input").live('blur',function(){
                var row = oTable.fnGetPosition($(this).closest('tr')[0]);
                oTable.fnUpdate( $(this).val(), row, 4);
                var rowData = oTable.fnGetData(row);

                var input = $(oTable.fnGetNodes(row)).find('input');
                var tooltip_button = input.next('.div_refresh_button');
                input.addClass('checking');
                tooltip_button.addClass('refresh');

                $.ajax({
                    type: "Post",
                    url: "{{ path("updatePrice") }}",
                    data: rowData,
                    cache: false,
                    success: function(result)
                    {
                        input.removeClass('checking');
                        tooltip_button.removeClass('refresh');

                        if(result[0] == '1') {
                            input.addClass('accepted');
                            tooltip_button.addClass('ok').children('.tooltip_button').prop("title",result.substr(2)).tooltip("show");
                        }
                        else if(result[0] == '0') {
                            input.addClass('rejected');
                            tooltip_button.addClass('warning').children('.tooltip_button').prop("title",result.substr(2)).tooltip("show");
                        }
                    }
                });
            });

            $(".div_refresh_button").tooltip();
        });

    </script>

    <style>
        .price-input {
            font-size:12px !important;
            font-weight: bold;
        }
        .price-input.accepted {
            background-color : #afa !important;
        }
        .price-input.rejected {
            background-color : #faa !important;
        }
        .price-input.checking {
            background-color : #eee !important;
        }
    </style>

{% endblock %}

{% block Body %}
    <div class="span">
        <div class="widget stacked">

            <!-- /widget-header -->
            <div class="widget-content">
                <div style="margin-top: 5px" class="tablediv">

                    <div class="tab-content datatable">
                        <table id="example" class="table postsend">
                            <thead>
                            <tr>
                                <th>{{ 'Id' | trans ({}, "common") }}</th>
                                <th>{{ 'ItemCode' | trans ({}, "item") }}</th>
                                <th>{{ 'Name' | trans ({}, "item") }}</th>
                                <th>{{ 'FaceValue' | trans ({}, "item") }}</th>
                                <th>{{ 'Price' | trans ({}, "price") }}</th>
                            </tr>

                            <tr class="input" >
                                <td><label><input type="text" class="search_init" name="search_Id" value="Search Id"/></label></td>
                                <td><label><input type="text" class="search_init" name="search_Name" value="Search Name" /></label></td>
                                <td><label><input type="text" class="search_init" name="search_ItemCode" value="Search ItemCode" /></label></td>
                                <td><label><input type="text" class="search_init" name="search_FaceValue" value="Search FaceValue" /></label></td>
                                <td><label><input type="text" class="search_init" name="search_Price" value="Search Price" /></label></td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
