{% extends 'HelloDiMasterBundle:item:tab.html.twig' %}

{% set tab = '4' %}

{% block title %}{{ 'Items' | trans ({}, "item") }}{% endblock title %}

{% block Site_Map %}
    <a class="link" href="{{ path('hello_di_master_homepage') }}">{{ 'Home' | trans ({}, "menu") }}</a>
    <a class="link" href="{{ path('hello_di_master_item_index') }}">{{ 'Items' | trans ({}, "item") }}</a>
    <span class="link">{{ 'denomination' | trans ({}, "price") }}</span>
{% endblock Site_Map %}

{% set MU = 'item' %}

{% block Link_Head %}
    <style type="text/css">
        .form-horizontal .controls {
            margin-left: 0;
        }
    </style>
{% endblock %}

{% block Tab %}
    <div class="widget-header">
        <h3>{{ 'denomination' | trans ({}, "price") }}</h3>
    </div>

    <br>
    <a class="btn btn-primary" onclick="Add_Row()">{{ 'Add' | trans ({}, "common") }}</a>
    <a class="btn btn-primary" onclick="removeLastRowIfEmpty()">check</a>

    {{ form_start(form) }}

        <table style="margin-top: 20px;max-width: 600px" class="table table-bordered table-striped table-highlight postsend">
            <thead>
            <tr>
                <th>{{ 'denomination' | trans ({}, "price") }}</th>
                <th>{{ 'Currency' | trans ({}, "item") }}</th>
            </tr>
            </thead>
            <tbody id="denomination_table">
            {% for denomination in form.denominations %}
                <tr>
                    <td>
                        {{ form_widget(denomination.denomination) }}
                        {{ form_errors(denomination.denomination) }}
                    </td>
                    <td>
                        {{ form_widget(denomination.currency) }}
                        {{ form_errors(denomination.currency) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {{ form_end(form) }}

    <script type="text/javascript">
        var prototype = '<tr><td><input id="hellodi_master_bundle_item_denomination_type_denominations___index___denomination" name="hellodi_master_bundle_item_denomination_type[denominations][__index__][denomination]" required="required" class="float_validation" value="" type="text"></td><td><select id="hellodi_master_bundle_item_denomination_type_denominations___index___currency" name="hellodi_master_bundle_item_denomination_type[denominations][__index__][currency]" required="required"><option value="" selected="selected">--</option><option value="CHF">CHF</option><option value="USD">USD</option><option value="EUR">EUR</option></select></td></tr>';

        function Add_Row() {
            if(checkIsValidLastRow())
                $("#denomination_table").append(prototype.replace(/__index__/g, rowCount()));
            else
                alert("last row isn't valid.");
        }

        function rowCount() {
            return $("#denomination_table").children().length;
        }

        function removeLastRowIfEmpty() {
            if(!checkIsValidLastRow())
                $('#denomination_table').find('tr:last-child').remove();
        }

        function checkIsValidLastRow() {
            var result = true;

            $('#denomination_table').find('tr:last-child').find('input, select').each(function(){
                if($(this).val() == "")
                    return result = false;
            });
            return result;
        }
    </script>

{% endblock %}
