{% set duplicateText = duplicate? 'Duplicate Print Code':'<span class="duplicate"></span>' %}

<!DOCTYPE html>
<html>
<head>
    <title>Hello Di . TestPrint</title>

    <link rel="shortcut icon" href="{{ asset('bundles/hellodi/img/favicon.ico.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{{ asset('bundles/hellodi/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/hellodi/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/hellodi/js/libs/jquery-1.8.3.min.js') }}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        .item {
            width: 8.2cm;
            margin: auto;
            page-break-after: always;
            border-bottom: 1px dashed #000000;
        }
        @media print {
            @page {
                margin: 0.5cm;
            }
            body>* {
                display: none !important;
            }
            .print {
                display: block !important;
            }
            .item {
                border-bottom: none;
            }
        }
    </style>
</head>

<body onafterprint="$('.duplicate').html('Duplicate Print Code');">

{% if print == 'web' %}
<div id="notPrint" style="text-align: center;margin: 20px">
    <a type="button" class="btn" onclick="window.print();$('.duplicate').html('Duplicate Print Code');">Print</a>
    <a type="button" class="btn" href="{{ path('hello_di_master_item_desc_print',{'id':item_id,'desc_id': desc_id,'print':'pdf'}) }}">Print As PDF</a>
    <a type="button" class="btn" onclick="window.close()">Close</a>
</div>
{% endif %}

<div class="print">
    {% for tran in trans %}
        <div class="item">
                {{ include(template_from_string(description),{
                    "pin":tran['pin'],
                    "serial":tran['serial'],
                    "expire":tran['expire'],
                    "print_date":tran['print_date'],
                    "duplicate": duplicateText,
                    "entity_name":tran['entity_name'],
                    "operator":tran['operator'],
                    "entity_address1":tran['entity_address1'],
                    "entity_address2":tran['entity_address2'],
                    "entity_address3":tran['entity_address3']
                }) }}
        </div>
    {% endfor %}
</div>

</body>
</html>