{% extends 'HelloDiMasterBundle::menu.html.twig' %}

{% block title %}{{ 'Items' | trans ({}, "item") }}{% endblock title %}

{% block PageTitle %}<i class="icon-tags"></i>{{ item.name }}{% endblock %}

{% set MU = 'item' %}

{% set hornav = '38px' %}

{% block Tabs %}
    <li {% if tab == '1' %}class="active"{% endif %}  >
        <a href="{{ path('hello_di_master_item_details',{'id':item.id}) }}"  >
            <input type="submit" value="{{ 'Details' | trans ({}, "item") }}" >
        </a>
    </li>
    <li {% if tab == '2' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_master_item_desc_index',{'id':item.id}) }}"  >
            <input type="submit" value="{{ 'Description' | trans ({}, "item") }}" >
        </a>
    </li>
    <li {% if tab == '3' %}class="active"{% endif %} >
        <a href="{{ path('hello_di_master_item_per_dist',{'id':item.id}) }}"  >
            <input type="submit" value="{{ 'ItemPerDist' | trans ({}, "item") }}" >
        </a>
    </li>
{% endblock Tabs %}

{% block Body %}
    <div class="widget stacked">
        <div class="widget-content">
            <div class="tab-content">
                <div class="tab-pane active" id="Info">
                    {% block Tab %}
                    {% endblock Tab %}
                </div>
            </div>
        </div>
    </div>
{% endblock Body %}