<li class="dropdown">
    <a href="#" id="lang_ico" class="dropdown-toggle lang_ico" style="font-weight:bold"
       data-toggle="dropdown">
        <i class="icon-comment">

            {% if app.user.roles[0]=='ROLE_RETAILER_ADMIN' or app.user.roles[0]=='ROLE_RETAILER' %}
                {% if render(controller('HelloDiDiDistributorsBundle:Retailers:countnote')) != 0 %}
                    <span>
                                {{ render(controller('HelloDiDiDistributorsBundle:Retailers:countnote')) }}
                            </span>
                {% endif %}



            {% elseif app.user.roles[0]=='ROLE_DISTRIBUTOR_ADMIN' or app.user.roles[0]=='ROLE_DISTRIBUTOR' %}
                {% if render(controller('HelloDiDiDistributorsBundle:Distributors:countnote')) != 0 %}
                    <span>
                                {{ render(controller('HelloDiDiDistributorsBundle:Distributors:countnote')) }}
                            </span>
                {% endif %}



            {% else %}
                {% if render(controller('HelloDiDiDistributorsBundle:Tickets:countnote')) != 0 %}
                    <span>
                                {{ render(controller('HelloDiDiDistributorsBundle:Tickets:countnote')) }}
                            </span>
                {% endif %}
            {% endif %}
        </i>
    </a>
    <ul class="dropdown-menu">
        {% if app.user.roles[0]!='ROLE_MASTER_ADMIN' and app.user.roles[0]!='ROLE_MASTER' %}
            <li><a
                        {% if app.user.roles[0]=='ROLE_DISTRIBUTOR_ADMIN' or app.user.roles[0]=='ROLE_DISTRIBUTOR'  %}

                            href="{{ path('DistTicketsNew') }}"

                        {% elseif app.user.roles[0]=='ROLE_RETAILER_ADMIN' or app.user.roles[0]=='ROLE_RETAILER' %}

                            href="{{ path('RetailerTicketsNew') }}"
                        {% endif %}
                        >
                    {{ 'NewTicket' | trans ({}, "ticket") }}


                </a></li>
        {% endif %}
        <li><a
                    {% if app.user.roles[0]=='ROLE_DISTRIBUTOR_ADMIN' or app.user.roles[0]=='ROLE_DISTRIBUTOR' %}

                        href="{{ path('DistTickets') }}"

                    {% elseif app.user.roles[0]=='ROLE_RETAILER_ADMIN' or app.user.roles[0]=='ROLE_RETAILER' %}
                        href="{{ path('RetailerTickets') }}"


                    {% else %}
                        href="{{ path('MasterTickets') }}"

                    {% endif %}


                    >

                {{ 'Tickets' | trans ({}, "ticket") }}

            </a></li>
    </ul>
</li>