
<a href="#{#{{ path('') }}#}">Recharge</a>
<form action="{{ path('RetailerTransaction') }}" method="POST">




    <div class="form-actions" style="margin-bottom: 0" >
        <input class="btn btn-primary" type="submit"  value="Search">
    </div>
</form>
<form>
    <div class="tab-content">
        <table style="margin-top: 20px" class="table postsend">
            <thead>
            <tr>
                <th>{{ 'Transaction.Date' | trans ({}, "account") }}</th>
                <th>{{ 'Transaction.Description' | trans ({}, "account") }}</th>
                <th>{{ 'Transaction.Credit' | trans ({}, "account") }}</th>
                <th>{{ 'Transaction.Debit' | trans ({}, "account") }}</th>
                <th>{{ 'Transaction.Balance' | trans ({}, "account") }}</th>
                <th>{{ 'Transaction.Action' | trans ({}, "account") }}</th>
                <th>{{ 'Transaction.Manage' | trans ({}, "account") }}</th>

            </tr>
            </thead>
            <tbody>

            {% for tran in pagination %}
                <tr>
                    <td>{{ tran.tranDate|date('y-M-d') }}</td>

                    <td>{{ tran.tranDescription}}</td>
                    <td>{{ tran.tranCredit}}</td>
                    <td>{{ tran.tranDebit }}</td>
                    <td>{{ tran.Account.accBalance }}</td>
                    <td>

                        {% if tran.tranAction=='Sale' %}Sale
                        {% elseif tran.tranAction=='Transfer' %}Transfer
                        {% elseif tran.tranAction=='Payment' %}Payment
                        {% elseif tran.tranAction=='CreditNote' %}CreditNote
                        {% endif %}</td>

                    <td class="td-actions">


                        <a class="btn_actions" href="#{#{{ path('RetailerStaffEdit',{'id':user.id }) }}#}">Modify</a>

                    </td>

                </tr>

            {% endfor %}

            </tbody>
        </table>
        {#{button pagination}#}
    </div>
</form>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
</div>
