<div class="control-group">
    {{ form_label(form.itemName) }}
    {{ form_widget(form.itemName) }}
    {{ form_errors(form.itemName) }}
</div>
<div class="control-group">
    {{ form_label(form.itemFaceValue) }}
    {{ form_widget(form.itemFaceValue) }}
    {{ form_errors(form.itemFaceValue) }}
</div>
<div class="control-group">
    {{ form_label(form.itemCurrency) }}
    <div class="controls">
        {{ form_widget(form.itemCurrency) }}
    </div>
    {{ form_errors(form.itemCurrency) }}
</div>
<div class="control-group">
    {{ form_label(form.itemType) }}
    <div class="controls">
        {{ form_widget(form.itemType) }}
    </div>
    {{ form_errors(form.itemType) }}
</div>
<div class="control-group">
    {{ form_label(form.alertMinStock) }}
    {{ form_widget(form.alertMinStock) }}
    {{ form_errors(form.alertMinStock) }}
</div>
<div class="control-group">
    {{ form_label(form.operator) }}
    <div class="controls">
        {{ form_widget(form.operator) }}
    </div>
    {{ form_errors(form.operator) }}
</div>

<div class="control-group">
    {{ form_label(form.Country) }}
    <div class="controls">
        {{ form_widget(form.Country) }}
    </div>
    {{ form_errors(form.Country) }}
</div>

<div class="control-group">
    {{ form_label(form.itemCode) }}
    {{ form_widget(form.itemCode) }}
    {{ form_errors(form.itemCode) }}
</div>

<div class="control-group">
    {{ form_label(form.ItemDescs[0].desclang) }}
    <div class="controls">
        {{ form_widget(form.ItemDescs[0].desclang) }}
    </div>
    {{ form_errors(form.ItemDescs[0].desclang) }}
</div>


{{ form_rest(form) }}