<tr>
    <th>{{ 'Retailers' | trans ({}, "accounts") }}</th>
    <th>{{ 'Price' | trans ({}, "price") }}</th>
    <th>{{ 'Status' | trans ({}, "price") }}</th>
    <th style="text-align: center" ><input onclick="CheckAll()" id="clickall" type="checkbox"/></th>
</tr>


<tbody>
{% for row in form.checks %}
    {% set pricerow = null %}
    {% for price in form.checks.vars.choices[row.vars.value].data.prices %}
        {% if price.item.id == itemid %}
            {% set pricerow = price %}
        {% endif %}
    {% endfor %}
    <tr>
        <td>
            {{ form.checks.vars.choices[row.vars.value].data.accName }}
        </td>
        <td>
            {% if pricerow is null %}
                N/A
            {% else %}
                {{ pricerow.price }}
            {% endif %}
            ({{ form.checks.vars.choices[row.vars.value].data.accCurrency }})
        </td>
        <td>
            {% if pricerow is null %}
                N/A
            {% else %}
                {% if pricerow.priceStatus==1 %}
                    true
                {% else %}
                    false
                {% endif %}
            {% endif %}
        </td>
        <td class="checkboxs">
            {{ form_widget(row) }}
        </td>
    </tr>
{% endfor %}
</tbody>